[2022-03-10 22:14] ajohnson commented on #1162
@robsonsobral Just catching up with this one. Let me put some thought into this one. I might have an idea that could help.

[2022-03-10 22:48] ajohnson commented on #1317
@robsonsobral This is a tricky one. I don't think we should put that kind explicit info within the placeholder itself, especially since during many searches the character requirement will be a non-issue.

But I can see using something similar to EE's standard validation message placement under the Search input to communicate the requirement. It could look something like this:
<img width="509" alt=

[2022-03-10 22:54] robsonsobral commented on #1317
Your suggestion is perfect for me.

[2022-03-11 06:47] jaysavage83 opened #1885 "Slideshow not working on EE 6 demo theme/ clean install (pr coming)"
When installing EE 6 using the demo theme, The slideshow does not load on the home/index page template.
After some digging it appears to be a simple issue with the image directory id.  Changing the directory_id on line 37
in the home/index template from 8 to 7 appears to be the fix for my home lab install.

[2022-03-11 15:44] jamesseavers opened #1887 "Channel Form errors are created twice for custom fields"
It's my first bug squash attempt, so I thought I would post here and then branch as per Contributions.md.

Channel Form errors are being created twice, once for the field_id, and once for the field_name. For example, one validation error for a field labelled 'Content' and had a field_id of 9 would look like this when returned:

field_id_9 is required
Content is required

This happens whether error

[2022-03-11 17:02] jamesseavers commented on #1887
When debugging this I found that the code above just needs to be removed as field matching happens later in the method.

[2022-03-11 18:32] 620studio opened #1889 "Relationship {parents} tag not filtering out 'closed' entries - even if status="not closed" is added"
EE 6.2.6

Here's the full tag I'm using:

`{parents field="project_company" status="not closed|Initial Contact" limit="1000" orderby="project_paid_date|project_release_date"}`

Entries with Initial Contact aren't shown but closed are. I've attached a screenshot of the front-end displaying statuses with closed included.

<img width="185" alt="Screen Shot 2022-03-11 at 12 30 36 PM" src="https://user

[2022-03-11 20:56] litzinger commented on #1882
I'm going to try to get a PR submitted in the next few days for this:

https://user-images.githubusercontent.com/53965/157963909-a7090085-819e-4b81-98a1-9885bb5d29ac.mp4

[2022-03-12 01:07] robsonsobral opened #1891 "`exp:channel:entries` breaks when without categories"
In case `exp:channel:entries` has a `{categories}` tag, but no entries, the SQL gives an error:

[code]

A quick and dirty fix is to replace [this](https://github.com/ExpressionEngine/ExpressionEngine/blob/8d254789042f9ea1423c1984e018e3468b0765ad/system/ee/ExpressionEngine/Addons/channel/mod.channel.php#L419):

[code]

By:

[code]

I think it's enough until we reafactor this part.

[2022-03-12 17:08] silenz88 commented on #1623
I still have problems with this.
I created a new site. Exported a channel from a different site. Tried to import it on the new site and:
![Zwischenablage01](https://user-images.githubusercontent.com/6132998/158027614-f96f6aaa-f8ef-4261-aeb0-9ba4a8e3f0b8.jpg)

EE 6.2.7

[2022-03-12 21:22] #1181 closed, assigned to nobody

[2022-03-12 21:51] #1214 closed, assigned to nobody

[2022-03-13 20:07] robsonsobral commented on #1751
`{channel_url}` is already available, however undocumented.

[2022-03-13 20:07] #1751 closed, assigned to nobody

[2022-03-14 11:43] intoeetive commented on #1891
@robsonsobral can you tell more about how to replicate this? I tried and I could not - I think these lines prevents the error already (but looks like not in your case) https://github.com/ExpressionEngine/ExpressionEngine/blob/8d254789042f9ea1423c1984e018e3468b0765ad/system/ee/ExpressionEngine/Addons/channel/mod.channel.php#L415-L417

[2022-03-14 12:57] robsonsobral commented on #1891
@intoeetive , using the database for tests, try to access `http://localhost:8888/index.php/cats/entry` without any categories associated yet.

[2022-03-14 15:23] #1686 closed, assigned to nobody

[2022-03-14 16:33] ops-andy commented on #1887
related Slack discussion: https://eecms.slack.com/archives/C04L896K4/p1646736479603529

[2022-03-14 16:33] ops-andy commented on #1887
@intoeetive can you review this and let me know your thoughts or open an internal ticket to resolve.

[2022-03-14 18:28] #1880 closed, assigned to nobody

[2022-03-14 20:24] #1874 closed, assigned to nobody

[2022-03-14 20:25] #1861 closed, assigned to nobody

[2022-03-14 20:26] #1867 closed, assigned to nobody

[2022-03-14 20:27] #1849 closed, assigned to nobody

[2022-03-14 20:28] #1858 closed, assigned to intoeetive

[2022-03-14 21:00] #1758 closed, assigned to nobody

[2022-03-14 21:19] jamesseavers commented on #1887
@ops-andy @intoeetive I have forked EE and coded a fix to the non-inline duplicate error issue here [jamesseavers](https://github.com/jamesseavers)
/
[ExpressionEngine](https://github.com/jamesseavers/ExpressionEngine)

How do I merge it into the dev?

[2022-03-14 21:32] jamesseavers commented on #1887
Pull request done.

[2022-03-15 10:35] #1814 closed, assigned to nobody

[2022-03-15 10:35] #1787 closed, assigned to nobody

[2022-03-15 10:47] #1346 closed, assigned to nobody

[2022-03-15 21:08] murtaugh opened #1897 "Indicate when you're looking at an entry version"
At the moment, click on "view" to see an entry version takes you to a page that is totally indistinguishable from the normal edit view. There's no indication that you're looking at a version that doesn't represent the latest version of an entry.

Adding text to the main nav title area would be sufficient, I think:

<img width="471" alt="image" src="https://user-images.githubusercontent.com/308752/

[2022-03-15 21:30] robinsowell commented on #1844
You're right that adding $config['ignore_member_stats'] = 'n'; fixed it- yay!  But I think that should be the default, correct?  I can't find anywhere I was setting.  I think it's defaulting to 'y' aka ignore.

Without digging, I don't see where a default is set- so would it come back as false?  And everywhere it's checking, it's using ee()->config->item('ignore_member_stats') != 'y', so it's not

[2022-03-16 15:08] murtaugh commented on #807
This is starting to feel like a huge missed opportunity.

[2022-03-16 17:39] murtaugh opened #1899 "Does the "link" HTML button work as intended?"
The value of the "opening tag" for the link button reads as follows:

`<a href="[![Link:!:http://]!]"(!( title="[![Title]!]")!)>`

To me this reads as prompting the user to add a value for the `href` attribute, and then prompting the user to add a value for the `title` attribute. When using the button, the second prompt doesn't happen.

If I'm wrong and the second prompt isn't expected, why is the

[2022-03-16 18:19] #1246 closed, assigned to nobody

[2022-03-17 09:18] intoeetive commented on #1897
@ajohnson what are your thoughts? (we also could style it similar to "auto saved" message )
![image](https://user-images.githubusercontent.com/752126/158777361-e0fc6e4a-fd7f-4241-b2ad-56ad4bd23ba4.png)

[2022-03-17 20:51] robsonsobral commented on #1899
(a plus: I'm not sure, but `title` isn't recommend to links.)

[2022-03-18 05:37] gb-lin opened #1901 "Add-on with inverse relationships uninstall creates a problem when dropping the table"
Working on a custom add-on (fieldtype and extension and module) here and I have a model with inverse relationships to ChannelEntry and ChannelField. When I uninstall, I'm also dropping the custom table that the model saves to. However, I tired putting the drop table sequence in the ft. and the upd. and both places will result in SQLSTATE[42S02]: Base table or view not found: 1146 Table 'playground

[2022-03-18 19:00] litzinger commented on #1882
<img width="997" alt="Screen Shot 2022-03-18 at 1 54 05 PM" src="https://user-images.githubusercontent.com/53965/159067644-d9360262-c3a1-4487-b01c-b96739c460eb.png">

[2022-03-20 06:07] gb-lin commented on #1901
Here's an example fieldtype that I made to demonstrate: https://github.com/gb-lin/Example-Fieldtype/

[2022-03-21 09:42] intoeetive commented on #1901
Looking at associated EE code, I see that the module is getting uninstalled prior to the fieldtype. Which might be what is expected - if the fieldtype is using custom table, it probably should exists when fieldtype is getting removed.

So maybe you need to have `uninstall()` function in your `ft.` file that will remove the table, not in the `upd.` file

[2022-03-21 12:46] intoeetive commented on #1891
@robinsowell can you help replicating this? I am not able to

[2022-03-21 18:28] gb-lin commented on #1901
Hey @intoeetive I actually tried putting the drop_table sequence in the `ft.` uninstall() and it also shows the same error. I tested in both `6.2.3` and `6.2.7`. This happens when `models.dependencies` is defined in `addon.setup.php`.

[2022-03-22 09:44] dougblackjr opened #1903 "EE Pro Styling Issues"
**Description of the problem**

Minor EE Pro styling issues.

EE Pro icons do not have max width set, so they grow infinitely in some circumstances:

![Screenshot from 2022-03-22 05-31-35](https://user-images.githubusercontent.com/6020323/159451845-d4ad8757-9500-4fb2-bf1c-9c42bc91173f.png)

In addition, the headers of the modals can have an `:after` attached, which may display ugly stuff:

![Scree

[2022-03-22 12:39] #1856 closed, assigned to nobody

[2022-03-22 18:46] Yulyaswan commented on #1903
@dougblackjr could you please give me a little bit more info, what kind of fields did you use, how you got that `:after `element
Because fo now it's hard to reproduce your work and issue. Thanks!

[2022-03-23 09:31] dougblackjr commented on #1903
@Yulyaswan Sure, no problem!

It is unrelated to fields, more related to the CSS that's laid out on the page of a site.

## Image Size

If the selector applies a width to an image where the frontedit icons would be, the images inside of those get the width in the cascade.

![Screenshot from 2022-03-23 05-23-06](https://user-images.githubusercontent.com/6020323/159666563-346b65c0-3b31-4d5a-837f-3eb

[2022-03-23 12:32] jcogs-design opened #1914 "mal-formed key giving warning at ee/legacy/libraries/Cache/drivers/Cache_file.php, line 266"
Noticed that a notice is being generated. The notice is:
[code]
The line referenced is in the method `_namespaced_key($key, $scope = Cache::LOCAL_SCOPE)` and is being triggered by the `$key` value `/addons-status` which ultimately comes from line 158 of `legacy/libraries/CP.php` vis:
[code]
Using EE 6.2.7 on php 7.4.27.

[2022-03-23 18:30] ajohnson commented on #1897
@intoeetive Using the same "auto saved" component should work nicely, especially the new header design on the publish form.

The copy in the component could be formatted as follows:

(Where the "**Revision #3**" is bold, and without making the number a link. That's just GitHub.)

[2022-03-23 18:52] mcfarlandonline commented on #1852
I'm seeing this again in EE 6.2.7, too. (PHP 7.4)
(I think it was fixed for a time... https://github.com/ExpressionEngine/ExpressionEngine/issues/1495)

[2022-03-25 20:48] mcfarlandonline commented on #1679
I second this! And it's still an issue in EE 6.2.7

It's super annoying to not have another "Upload New File" button right here...

Someone less tech savvy could get really lost in this process. It's still catching me off guard!

There's already a precedent for a button (at both top & bottom), with the screen/window that comes _**after**_ you select the bottom "Upload New File" button...

[2022-03-26 17:57] benya opened #1930 "Error with fluid field. The data is no longer displayed."
There is a fluid field to which 2 fields are attached: file grid and Rich Text Editor.

When I went into the settings of the fluid field and unchecked one of the fields https://prnt.sc/1Sbx78B2uWdN (without even saving these changes), the data was no longer displayed on the site and in the admin panel. When trying to edit a material, this data is no longer displayed. The previously filled fields a

[2022-03-26 18:09] intoeetive commented on #1930
Unfortunately we are only able to accept bug reports in English language. Please edit your post.

Please also note that we can't provide support on GitHub - we only use it for bug reports and feature requests. You can subscribe to one of our [support plans](https://expressionengine.com/support) or seek community support in Slack or in Forums.

[2022-03-26 18:18] benya commented on #1930
Hi @intoeetive

Isn't this a mistake?

[2022-03-26 18:22] intoeetive commented on #1930
I think this might be expected behaviour - once the field is removed from Fluid, it should not be displayed anywhere (even if it contains data)

What is probably no correct is that the data stopped being displayed before field saving - we'll need to check that

What happens if you just select the field again in Fluid field settings? (make sure you have a backup)

[2022-03-26 18:28] benya commented on #1930
Nothing has happened. The data is not displayed :(

[2022-03-26 20:45] litzinger opened #1931 "Parens in custom field name exhibits odd behavior"
Found a strange and very specific behavior where creating a new custom field with the name of `File (basic)` results in the name actually being saved as `File &#9001;basic&#9002;`. I tried other combinations of wrapping text in parens, but it seems very oddly specific to the word file and basic.

I'm running 6.3.0dp btw. I have not tested this in 6.2.x

<img width="385" alt="Screen Shot 2022-03-26

[2022-03-26 20:51] litzinger opened #1932 "Fancy quotes in an entry Title field gets replaced with "a" in the URL Title field."
If I'm calling `ee('Format')->make('Text', '“Some” Text')->urlSlug()->compile()` and fancy quotes are present, those quotes don't get stripped, instead they get replaced with an `a`, so the URL Title value ends up being `asomea-text`.

This came from one of my beta testers for DataGrab, and to confirm the issue I called the code above in a separate add-on in the core_boot hook and sure enough it's

[2022-03-28 05:58] intoeetive commented on #1120
[Button to invoke upload dialog directly in modal when browsing the files in directory](https://github.com/ExpressionEngine/ExpressionEngine/issues/1679)

[2022-03-28 07:33] intoeetive commented on #1914
@jcogs-design looking at the code, it's clearly passing string...

Can you provide a path on how to reproduce the error?

[2022-03-28 11:06] intoeetive commented on #1930
I was able to replicate the issue and am working on a fix.

Thank you for the report!

[2022-03-28 11:54] benya commented on #1930
@intoeetive Tell me, the data that is lost can I return or not already?

[2022-03-28 11:58] intoeetive commented on #1930
If you don't have a backup, there is a "combined" represenation of data in `exp_channel_data_field_X` table, where X stands for Fluid field ID, which can be used to restore the data manually. It does not seem to be possible to restore with SQL or PHP script

[2022-03-28 12:55] intoeetive commented on #1930
Another thing you may try is loading revision (if revisions are enabled) or auto-saved version (if it exists)

[2022-03-28 13:04] benya commented on #1930
when I try to do this I get an error:
https://prnt.sc/jgs0ELcUUtgS

[2022-03-28 14:04] #1930 closed, assigned to nobody

[2022-03-29 12:32] jeremydye opened #1939 "Matrix 3.4.0 not placing files in the correct place."
Having an issue where the content manager tried to upload a file into one column of a matrix field but doesn't get placed in the intended column.  It places the file in a completely different column.
![intended_place](https://user-images.githubusercontent.com/94487095/160611679-b3b9cae8-8fc9-4ffc-836d-9ce1f71118ac.jpg)
![where_it_ends_up](https://user-images.githubusercontent.com/94487095/16061170

[2022-03-29 15:57] murtaugh opened #1944 "Add count indication of installed addons"
This is a fairly minor problem, but I think it has a very simple solution: Sometimes when I'm working with multiple installations of a site (local/remote), I lose track of whether the installed addons are in sync. (I know this is dumb.)

I feel like it would be useful, even when I'm not being dumb, to add a count of installed addons, like so:

<img width="324" alt="image" src="https://user-images.

[2022-03-29 19:25] swierczek opened #1946 "Inconsistent default option between Radio Buttons and Select Dropdown fields"
`Select Dropdown` fields don't use the first value as the Default when adding a new entry. I think this used to work in a previous EE version - maybe EE5?

Regardless, the `Select Dropdown` currently functions differently than `Radio Buttons`, which automatically "checks" the first radio input.

Radio Buttons:
<img width="266" alt="image" src="https://user-images.githubusercontent.com/2423727/1606

[2022-03-29 19:46] PaulBaileyAtChan commented on #1946
Selecting the first value in a list as a default isn't appropriate behaviour. There's no reason to assume in the general case that the first item is a suitable default, and an arbitrary default makes it much more likely that an incorrect item will be inadvertently chosen. For consistency, leaving *both* select and radio items unselected by default is the right approach here, until/unless at some p

[2022-03-29 19:46] murtaugh commented on #1946
~~I would agree these should behave the same, but would strongly disagree that they need to automatically select the first option. This would prevent you from using these fields as optional, and they would never be empty.~~

~~Edit: @PaulBaileyAtChan said it better, and the ability to define a default would be a welcome addition.~~

My opinion has changed after some research, [see my comment below

[2022-03-29 20:08] swierczek commented on #1946
My ideal implementation of this would allow us to define a default option for the field. My suggestion to have the first be default was just to align the functionality between these two field types. I would love to use a required `Select Dropdown` field with a defined default to save our content editors from having to set it to the most common option for every new entry. So maybe the functionality

[2022-03-29 20:19] bakin1999 commented on #1939
Thank you for reporting this!

[2022-03-29 20:23] PaulBaileyAtChan commented on #1946
Agree that allowing a default to be defined is a good solution here — in which case defining the first option as the default is just one option among others, and doesn't have any special significance. But in the absence of that, and for consistency, selects and radios should default to completely unselected. Using the fact that EE currently selects the first radio option by default is a hack, not

[2022-03-29 20:25] swierczek commented on #1946
https://xkcd.com/1172/ 😛

[2022-03-30 12:33] jeremydye commented on #1939
Is this still open?  I noticed you sent a solution but I get a 404.

[2022-03-30 14:57] bakin1999 commented on #1939
Hey! I believe Robin has reached out and got you my fix for this. Let us know if not. This will also be addressed for next release of matrix, but you can use the fixes Robin sent out and let us know if that works out.

[2022-03-30 14:57] jeremydye commented on #1939
Yup, we got the fixes.  working on applying them now.  Thanks!

[2022-03-30 15:19] jeremydye commented on #1939
Is this a replacement file or a new file.  Where’s the best place to put it?

[2022-03-30 15:24] jeremydye commented on #1939
nevermind, Robin helped us.

[2022-03-30 15:58] jeremydye commented on #1939
We've applied the new file but it still doesn't seem to be working.

[2022-03-30 16:04] jeremydye commented on #1939
OK, I just created a new entry and it seems to work, but when updating an existing entry, I still get the problem.

[2022-03-30 16:12] jeremydye commented on #1939
OK, I deleted an existing entry to recreate it.  It was going fine until the 4th column.  Placed the file in there and it placed it at the end.
![Screen Shot 2022-03-30 at 12 10 15 PM](https://user-images.githubusercontent.com/94487095/160881560-5db9778e-1fed-417b-b53d-529bea6f472b.png)

[2022-03-30 17:16] jeremydye commented on #1939
Looks like we're good with the latest .js file.  Thanks!

[2022-03-30 17:19] bakin1999 commented on #1939
Great to hear! Glad it is up and working now.

[2022-03-30 17:19] #1939 closed, assigned to nobody

[2022-03-31 13:09] intoeetive commented on #1944
@ajohnson FYI

[2022-03-31 14:34] ajohnson commented on #1944
@murtaugh @intoeetive That would come in handy.

Yuri, I can't remember if we already indicate when/if add-on updates are available via the Updates tab? If so, we should style this new "installed" count in the same way we're already styling the "updates" count.

If not, I have an idea for how we can style this.

[2022-03-31 14:37] intoeetive commented on #1944
yes we have counter on "updates" tab (is basically same that's on screenshot proposed)

[2022-03-31 14:45] ajohnson commented on #1944
@intoeetive OK, cool. In that case let's just use that same counter design on the Installed tab.

I can add this to the Core team's issue queue, unless @murtaugh you've already coded this up and have a PR.

[2022-03-31 15:16] robsonsobral opened #1959 "Boolean submitted as string to `get_bool_from_string()`"
I'm no PHP expert!

Shouldn't `"true"` and `"false"` be added to [get_bool_from_string()](https://github.com/ExpressionEngine/ExpressionEngine/blob/90008705c8378e6a7a715d62509e892d95d5ad7c/system/ee/ExpressionEngine/Boot/boot.common.php#L300)?

[code]

I'm thinking on the case of a boolean being submitted as string.

[2022-03-31 15:52] murtaugh commented on #1944
I don't have a PR, but I took a look at the current design just to see:

<img width="270" alt="image" src="https://user-images.githubusercontent.com/308752/161090178-4024f849-e37c-4d17-ad5b-e2cedd5f7197.png">

Reusing an element is always ideal, but I've thought about this for a moment and there are a couple issues I see, first that this particular element is red, implying urgency, which is not wh

[2022-03-31 19:54] matthewjohns0n commented on #1885
Hi @JayGreentree! Thanks for jumping in and fixing this, and sorry for the delayed reply. We're reviewing this and planning on getting it into the 6.3.x release schedule.

[2022-04-01 09:21] jcogs-design opened #1960 "Shared Form View: Bug in EE5 results in inconsistent behaviour from same code between EE5 and EE6"
**Description of the problem**
Code in the file `ExpressionEngine/View/_shared/form/fieldset.php` was changed between EE5 and EE6.
In EE5 there is this code beginning line 28 of that file:
[code]

In EE6 the equivalent block of code traps for non-set array variables:
[code]

As a result it is possible to have mcp definitions that 'work' in EE6 fail noisily in EE5; any element definition that does

[2022-04-01 16:53] murtaugh commented on #1946
I've been doing a little more reading on this, and it appears that the intent of the HTML specifications is that a set of radio buttons _always has a selected option_; a radio button is meant to represent a boolean choice (even if the choice is non-binary) — something is always being selected.

That said, as far as I can tell, *none* of the current browsers actually handle radio buttons this way.

[2022-04-01 20:46] robsonsobral commented on #1944
(The pill shape can be achieved using a `border-radius` greater than possible. For example, `border-radius: 999em;`.)

[2022-04-01 23:36] PaulBaileyAtChan commented on #1946
Using the first option as the default still bothers me, whatever W3 says. The thing about the situation a browser is in is that it's right at the end of the process, so if it's committed to always having a value (per W3), and no information is available, it has to guess, and while selecting the first option *might* be right, it's still just a guess, and more likely to result in the wrong option be

[2022-04-04 04:42] intoeetive commented on #1946
@ajohnson just letting you know about this discussion happening here

[2022-04-05 09:03] intoeetive commented on #1554
This feature will be included in `6.3.0` release

[2022-04-05 09:03] #1554 closed, assigned to nobody

[2022-04-05 10:05] intoeetive commented on #304
As of today, the issue is resolved

[2022-04-05 10:28] #1631 closed, assigned to nobody

[2022-04-05 12:51] intoeetive commented on #1806
@mcfarlandonline you're aware about [Allow dictionary words in passwords?](https://docs.expressionengine.com/latest/control-panel/settings/security-privacy.html#allow-dictionary-words-in-passwords) setting, right?

[2022-04-05 15:40] #1844 closed, assigned to nobody

[2022-04-06 08:56] #1830 closed, assigned to nobody

[2022-04-06 08:57] #1794 closed, assigned to nobody

[2022-04-06 09:01] #1689 closed, assigned to nobody

[2022-04-06 10:04] #1628 closed, assigned to nobody

[2022-04-06 12:16] #1468 closed, assigned to Yulyaswan

[2022-04-06 12:44] #1531 closed, assigned to nobody

[2022-04-06 13:29] #1681 closed, assigned to nobody

[2022-04-06 13:49] robinsowell commented on #1544
Just to close the loop, this should be fixed in the latest release of Low Search.  If you still have any issues, let us know at help@eeharbor.com

[2022-04-06 13:49] #1544 closed, assigned to nobody

[2022-04-06 13:59] #1687 closed, assigned to nobody

[2022-04-06 15:57] ajohnson commented on #1944
@murtaugh Yes indeed, didn't realize a red beacon was being used for Updates. Definitely would not be appropriate for the Installed count.

I'll add this to our issue queue and we'll get it implemented for a future release. Thanks!

[2022-04-07 01:56] blue-dreamer commented on #1946
I've always used the logic of a Radio group where one option is always selected, and a Select where an option is optional. In that respect the way EE works is fine for me.

I do however think that adding the ability to assign a "default" value would be a positive change. For instance where you had a Radio group you could specify that the last item is selected by default if that suited your needs.

[2022-04-07 05:51] tyssen commented on #576
I've just come across this one too. In my case, my grid field doesn't contain that many columns, but one of them is a Structure field whose list of pages includes some whose titles are very long.

The select expands to the width of the longest title which forces the grid field off-page, even before you open the preview. With preview open, you can see the whole of the grid field because the left me

[2022-04-07 07:49] AhmadXotox opened #1981 "RTE Text Direction Removed IN EE6"
hi all,

I'm not able to change the text direction in RTE fields in EE6 , however in EE5 i can do that.

Can you add text direction to RTE fields in EE6.

Best Regards

[2022-04-07 08:29] intoeetive commented on #793
This will be resolved with adding "Notes" fieldtype in EE 6.3.0

[2022-04-07 08:29] #793 closed, assigned to nobody

[2022-04-07 09:17] #1315 closed, assigned to nobody

[2022-04-07 09:18] #1549 closed, assigned to nobody

[2022-04-07 20:07] mcfarlandonline commented on #1806
Hi @intoeetive,
We tried installing that, too, but don't see that it's making any difference. I've tried a bunch of combinations with:
- Allowing and disallowing dictionary words
- removing "password" from the dictionary.txt file
- Using capitals and lowercase versions

It doesn't appear that this setting is having any effect on our end. We also checked the wizard just in case a module on our serv

[2022-04-08 05:21] intoeetive commented on #1806
I think I know why you are experiencing this. Using the dictionary file is only performing "full match" check.
It does probably make sense to check for partial match.
We'll discuss this internally and maybe we might have some better solution indeed,
Thank you for reporting!

[2022-04-08 05:43] #40 closed

[2022-04-08 08:16] #367 closed

[2022-04-08 12:22] intoeetive commented on #767
I think we should only allow fields that hold text-like data to be used as search excerpt. Not ones that hold array-like data, such as Fluid, Grid, Relationship, or even Checkboxes.

And maybe just the ones that are marked as searchable.

@bryannielsen I'd like to hear your thoughts on this too

[2022-04-08 12:23] #762 closed, assigned to nobody

[2022-04-08 12:53] intoeetive commented on #1851
@PaulBaileyAtChan what field type is the referenced `326` field? Just noting that I wasn't able to replicate the issue using textarea field.

Also just making sure you're running both tests on the same form and it has `search_in="everywhere"` parameter set

[2022-04-08 18:45] PaulBaileyAtChan commented on #1851
Yes, the tests are using exactly the same form. For what it's worth, it uses `search_in="entries"` (there are no comments), but I just tried with `search_in="everywhere"` and the behaviour is the same.

Field 326 is a textarea. I've just checked, and the other searchable fields in the same field group are also missing from the search. Fields 323 (textarea) and 324 (text input) are also both search

[2022-04-08 18:56] intoeetive commented on #1851
Are these fields assigned to the channel as part of field group, or individually?

[2022-04-08 19:58] PaulBaileyAtChan commented on #1851
The fields are assigned as part of a field group.

I do think the key here is comparing the example SQL queries that I attached. Large sections are missing from the query for the quoted search that are present in the query for the unquoted search. The code which generates the missing parts of the query looks to run between lines 752 and 777 of mod.search.php. Note that the query fragment `CAST(CON

[2022-04-09 12:07] litzinger commented on #1946
Can confirm, this is definitely regression in EE select menu. They all default to "Choose wisely" now, where as they used to default to the first option in the list. We use the select field heavily, and relied on the first option as being the default option without having to make the field required, and without requiring the content editor to make a decision on things that should be... default. To

[2022-04-10 20:02] PaulBaileyAtChan commented on #1946
For what it's worth:

The last change to EE's behaviour here was at my suggestion (in #1172), and was implemented in [EE6.1.2](https://docs.expressionengine.com/latest/installation/changelog.html#version-612-release-october-13-2021). That just brought select sub-fields in grid and file grid fields in line with standalone select fields, which had been using the "Choose wisely" meta-option for quite

[2022-04-11 00:47] litzinger commented on #1946
I agree setting a default option somehow is preferred. I still think it's a regression in that a ton of select fields on our site suddenly started behaving differently after an upgrade. Right or wrong, it's different and introduced side effects. The only clear solution for us is to review a ton of templates and add conditionals for default values or make a bunch of select fields required that were

[2022-04-11 05:35] intoeetive commented on #1851
I am testing this in EE6, so there's a chance this has been fixed without proper record in changelog...

Can you post the template code for the form that you use?

[2022-04-11 05:58] intoeetive commented on #93
This has been implemented in EE 6.2.0
https://docs.expressionengine.com/latest/installation/changelog.html#version-620-release-january-13-2022

[2022-04-11 05:58] #93 closed

[2022-04-11 06:01] intoeetive commented on #83
Just noting that this is part of larger issue with Fluid fields being used for search excerpt:
https://github.com/ExpressionEngine/ExpressionEngine/issues/767

[2022-04-11 06:42] intoeetive commented on #766
This has been fixed in EE6

[2022-04-11 06:42] #766 closed, assigned to nobody

[2022-04-11 06:46] intoeetive commented on #1236
Since EE5 has reached end of life, I am closing this out.
Please open new issue if you face same problem in EE6

[2022-04-11 06:46] #1236 closed, assigned to nobody

[2022-04-11 13:03] #873 closed, assigned to nobody

[2022-04-11 15:08] eric-lamb62 opened #1993 "Member Login Ajax Validation"
**Is your feature request related to a problem? Please describe.**
When users log in via the `member:login_form` template tag and `member_login` Action, it's not possible to do inline error messages to the user. This isn't ideal.

Digging into the code makes it obvious this isn't something that can "just be done"; there are lots of peccadillos that have to be taken into account due to the logic ch

[2022-04-11 15:38] eric-lamb62 commented on #1376
@jaredchesebro this is very interesting. I worry about the precedent, but it's an itchy request. I kinda like the idea tbh,

I can just so very easily see how this could escalate into the same for Channel Entries, and Roles, and Sites, and on (not that those are bad ideas, it's just we'd be adding another input layer). So would be smart to start (lol) with an execution abstraction so there's unifo

[2022-04-11 16:55] TomJaeger commented on #1684
Closing this as it shipped with 6.3.0

[2022-04-11 16:55] #1684 closed, assigned to nobody

[2022-04-11 18:30] PaulBaileyAtChan commented on #1851
The template code is pretty standard:

[code]

But I really don't want to be wasting your time here. I'm not in a position to test with EE6 at the moment, but I should be in a few weeks. If things look to be fixed for me in EE6, I'll close this. If not, I'll try to dig a little deeper. Either way, it's probably best to leave it for now. But thanks for looking!

[2022-04-11 23:43] PDXMan1 commented on #1120
When we switch to file_id could we have two "slugs" please when they show in a text-area:  {filedir_##}/{file_##}  That will give us max flexibility during the transition for older sites and long-time EE clients (we've had some of same our clients in EE for over 18 years).

Also, if there could be a "file-info" dot or icon that shows the actual URI/path of/to the file in EE fields (like a hover-st

[2022-04-11 23:47] aasun opened #1994 "Templates with certain types of relationships error array_slice(): Argument #2 ($offset) must be of type int, string given"
We have lots of different relationship fields.  All of them are limited to 1 child channel. However, we have 1 that has 2 child channels.  And when this field was called on a template, we got the PHP error:

array_slice(): Argument #2 ($offset) must be of type int, string given

We traced through code and found that this commit on line 80 is what changed from EE 6.2.7 to EE 6.3.0
https://github.co

[2022-04-12 05:22] intoeetive commented on #1376
@matthewjohns0n would know better on the CLI front here

[2022-04-12 05:43] intoeetive commented on #1994
@aasun what's the template tag that you use for that relationship field?

[2022-04-12 09:52] litzinger opened #1996 "Slider fieldtype rendering incorrectly as CP component"
I just noticed in 6.3 that the slider field, when used inside a settings array on a fieldtype settings page does not render correctly. This is the code I've been using for quite awhile, and it renders the field as seen in the screenshot below, but it does not indicate to the user what the value is. Screenshots are from Safari, but I tested in Chrome too, same issue.

[code]

<img width="245" alt="

[2022-04-12 13:15] intoeetive commented on #518
We could hide the setting with JS, same as we do in https://github.com/ExpressionEngine/ExpressionEngine/pull/1984

[2022-04-12 15:17] litzinger opened #1998 "EE6.3: Undefined hidden_fields variable error"
<img width="683" alt="Screen Shot 2022-04-12 at 10 14 19 AM" src="https://user-images.githubusercontent.com/53965/162995529-e917d63b-f0eb-4397-a124-244c626eaa4a.png">

This happens in the CP sometimes. In my case it appears to be happening when the field validation is getting called? Based on the line of code its happening on checking for the variable first would fix it.

[code]

[2022-04-12 16:44] ajohnson commented on #1946
Just catching up on this conversation...

@litzinger That's interesting that you're experiencing a difference in behavior with the default value of the Select fieldtype in EE6 vs. EE5. I'm looking at a few EE5 sites and the default on my end is always "Choose wisely" the same as it is in EE6. Might be worth digging into why we're experiencing different defaults. Also wondering why more people have

[2022-04-12 17:43] DalizPR opened #2000 "Member Role can not upload SVG images"
As a Superadmin I can upload all type of images including SVG in to a File Upload Destination. When a 'member' whith certain permissions coming from Roles wants to upload a SVG file there is an error: 'The file could not be written to disk.'

The File Upload Directory accepts all files, and the Role is set to 'Allowed upload directory access' . Other files such as PNG, JPG and PDF can be uploaded

[2022-04-12 20:28] aasun commented on #1994
It's a standard relationship tag.

The one thing that is different on this, is that since the children related entries that can be selected in the CP belong to one of 2 different channels, I have a conditional in here to manage some output based on that channel.

I do 4 different relationships in this site that are the same as this (different channels, though, and some slightly different HTML for

[2022-04-12 20:29] aasun commented on #1994
Hmm. that code snippet didn't format how I wanted.. it removed line breaks and tab indents..

[2022-04-13 13:15] #1994 closed, assigned to nobody

[2022-04-13 13:15] #1998 closed, assigned to nobody

[2022-04-13 13:16] #1996 closed, assigned to nobody

[2022-04-13 13:19] #1037 closed, assigned to nobody

[2022-04-13 13:21] #1885 closed, assigned to nobody

[2022-04-13 13:23] #1624 closed, assigned to nobody

[2022-04-13 16:10] creativearc-paul opened #2009 "Visual cue for Template Permissions"
I have a site with dozens of templates. Some templates are internal for logged-in users, with varying levels of confidentiality needed. I'm not aware of a grid or list view of template permissions. Something in the template overview listing would be helpful. Perhaps just an icon to indicate 'custom permissions' compared to default, wide-open permissions.

Hunting down the template permissions thro

[2022-04-13 20:11] cjgyt opened #2011 "Empty Grid Fields and Conditionals"
I've been trying to build two conditionals with a File Grid field (which itself just has a field fieldtype in it, nothing else). One of the conditionals is set up to show a slider if one or more images are present, and the other is supposed to show a fallback image if none are present in the File Grid field. I've run into a glitch: if a file was present and removed, ExpressionEngine still sees the

[2022-04-13 21:56] murtaugh opened #2012 "New Selectable Buttons field does not behave in Publish Layouts"
When you try to edit the position of a Selectable Buttons field in a Publish Layout, the new field type always defaults to the last position in the first tab. If you try and drag it elsewhere, upon saving you'll find that the position of the field above the Selectable Buttons field has changed instead.

I thought it might be due to the new field being part of a conditional setup, but I created a n

[2022-04-13 22:10] matthewjohns0n commented on #1376
We havent discussed the member side of things, but we have definitely talked about managing other things via the CLI like channels, fields, etc.

I definitely understand the desire for this, and if you have CLI access you are essentially already a super admin, but it gives enough access that I would want to discuss internally whether this would be desired for a core feature.

[2022-04-13 23:06] PaulBaileyAtChan commented on #1851
@intoeetive Okay, I have some more information. I was able to run EE6.3.1 and EE5.4.3 side by side, with the same databases, and the same queries.

In EE6.3.1, quoting a search query doesn't seem to make a difference to the results (at least with my search tag). This is a change from EE5. *But*, the results aren't correct. Either way (quoted or unquoted), the results I get in EE6 match those in EE

[2022-04-14 01:13] eric-lamb62 commented on #1376
This may be the worst idea ever, but Tinker with/for EE Model objects?
https://github.com/laravel/tinker

[2022-04-14 01:14] eric-lamb62 commented on #1376
But, I mean, native.

[2022-04-14 01:44] PaulBaileyAtChan commented on #1862
To add a bit of flesh here: my own use-case is that I'm taking search results from simple search, and post-processing to present them in a more user-friendly way. Because of how I'm doing this, I have no need for pagination. But if I don't use pagination, the maximum number of results I can have is fixed in the code at 100. So my only option to increase this limit is to hack the EE code — which I'

[2022-04-14 05:09] intoeetive commented on #2012
@murtaugh I wasn't able to replicate this with a quick generic test - could be something specific to fields setup that you have?

I know drag & drop in layouts does not always work 100% well, so maybe you should try once again.

If the problem persists, any chance that you could record a screencast? Also, any javascript errors in the developer console?

[2022-04-14 14:27] #1556 closed, assigned to nobody

[2022-04-14 14:27] #799 closed, assigned to nobody

[2022-04-14 15:00] murtaugh commented on #2012
I'm certain it's not drag and drop being annoying, I'm very familiar with how it likes to misbehave :)

Yesterday I tested it on a publish layout with a lot of fields, as well as a brand new channel with only the new field, and it was behaving the same.

I tested those two again just now, and the issues persisted, but, of course, as soon as I set up for a screencast, it started behaving, without c

[2022-04-14 15:07] intoeetive commented on #2012
Oh yes, these things are scared of recording!

I'll close the issue for now, if you see it again - please reopen

[2022-04-14 15:07] #2012 closed, assigned to nobody

[2022-04-14 20:49] hopDrew opened #2017 "Comments not added to Spam Trap when changing their status to SPAM"
**Description of the problem**
EE Spam is detecting that there are comments in moderation that do not exist.
This is a bit of a shot in the dark considering that there is no supporting information that I was able to find.

- Developer console provided no feedback
- I was unable to find a log that provided any information.

**How To Reproduce**
N/A

**Error Messages**
See Below

**Screenshots / Vid

[2022-04-15 05:27] intoeetive commented on #2017
@hopDrew is that what you seen when you click "need moderation" link or when vising the Spam addon directly from Add-ons page?

Also, any chance someone else cleared up spam que while you were browsing? :)

[2022-04-15 23:17] PDXMan1 opened #2026 "[EE v6.3.2] /group/## being appended to Categories link in the CP"
Log into the CP. Click on the Categories link in the left sidebar. EE appears to have some javascript appending a URI segment called /group/ and a group_id number to the end of the link.

My URI is: /edit.php?/cp/categories/group/12

The challenge is that I don't have a group ID of 12 in this install, so instead of erroring out, EE incorrectly states that this install doesn't have any category gro

[2022-04-15 23:19] PDXMan1 commented on #2026
So I did some digging and /group/12 does exist in another MSM site within the same install. For some reason, the scrip didn't notice I had switched sites.

[2022-04-17 16:34] jcogs-design opened #2027 "CP masked URL with no content generates inappropriate warning and uses EE5 styling"
If you include a masked URL in an add-on control panel and do not provide it with a URL value, the resulting use warning generated by EE is both inappropriate and styled using EE5 styling.

A link was generated in the following way:
[code]
When it was loaded into the a page and where the value for `docs_url` had not been set, a click on the link generated the following response (using EE 6.2.7)

!

[2022-04-18 13:29] litzinger opened #2028 "Installer/Updater does not respect the theme"
Minor issue, but if my CP theme is set to Dark, then I go to upgrade EE, the updater is in light mode. It looks like the updater does look good in dark mode if I manually set data-theme="dark"

<img width="814" alt="Screen Shot 2022-04-18 at 8 27 33 AM" src="https://user-images.githubusercontent.com/53965/163815173-c7d2fc18-4502-4650-afc1-91eef213d637.png">

[2022-04-18 16:22] hopDrew commented on #2017
@intoeetive, this happens when clicking on need moderation.

This message has been displaying for a while now and there were no other users signed in at the time I recorded the screenshot.

[2022-04-19 08:53] intoeetive commented on #1740
FWIW, ExpressionEngine has (undocumented) support of non-cached comment form within cached template.
`'{NOCACHE_COMMENT_FORM="' . $nc . '"}' . ee()->TMPL->tagdata . '{/NOCACHE_FORM}'`
It might be worth to expand that to other forms and / or specific markup as suggested above

[2022-04-19 14:46] bakin1999 commented on #949
Thanks for the report. This is working fine in the latest release of Matrix. If you still have any issues, let us know at [help@eeharbor.com](mailto:help@eeharbor.com). In future all Add-Ons support should be sent there.

[2022-04-19 14:46] #949 closed, assigned to nobody

[2022-04-19 18:11] litzinger commented on #2028
Same with the login screen.

<img width="520" alt="Screen Shot 2022-04-19 at 1 10 50 PM" src="https://user-images.githubusercontent.com/53965/164068652-ac8d939d-5b37-4839-8fa8-7a6de4ea23e6.png">

[2022-04-19 20:22] murtaugh opened #2032 "Allow for the duplication of publish layouts"
Often I'd like to only slightly modify a publish layout for a user type, but the work involved in re-creating a layout is just too much.

[2022-04-20 06:15] mhdh3lmi opened #2034 "Illegal string offset error in ft.file.php when using fieldtype file modifier - EE6.3.2"
Hi,

I upgraded a site from 5.4.2 to 5.4.3 and then to 6.3.2

Templates that use `{fieldname:modifier wrap="image"}` will give out error message "Illegal string offset error in ft.file.php"

I trace it to this line 739:

`return $this->_wrap_it($data, $params['wrap'], $data);`

Mitigation:

Replace the offending _$data_ with _$file_info_

[code]

EE 6.3.2 / PHP 7.4.26

[2022-04-20 13:43] #745 closed, assigned to ops-andy

[2022-04-20 17:45] ShayneSmithZak opened #2035 "Email Class SMTP Crypto Method Broken / Newline Values Not Saving"
All email features across my website suddenly stopped working a few months back, this included order confirmations, contact forms, password reset requests, everything. I hadn't updated EE to version 6 because I had concerns with addons not being compatible with the new major version, but when all email across the website broke I decided to run the update. After updating, the issue was still there,

[2022-04-20 21:03] mcfarlandonline commented on #1467
The combined-count of members assigned to roles still seems glitchy in v6.3.2, (example below).

Anyone else?

<img width="441" alt="Screen Shot 2022-04-20 at 1 56 04 PM" src="https://user-images.githubusercontent.com/20441129/164322526-dd45cdae-f6bc-4d4a-88a2-610a8e42f95f.png">

[2022-04-20 22:01] PaulBaileyAtChan commented on #1467
+1 Yep, not working for me in EE6.3.2. I'm getting all zeroes. I've been away from EE6 for a while, so I've no idea if this was working earlier and then not, but it seems glitchy now. FWIW, this is a site that was upgraded from EE5, with all of the members & roles pulled across.

[2022-04-21 07:53] intoeetive commented on #2035
@ShayneSmithZak are you using custom add-on for sending the mail?
By the email library itself, the newline character is being set at the start of library initialization, line 423
`$config['newline'] = ee()->config->item('email_newline');`
So either your setting is incorrect (maybe config file overriding what you set as CP preference), or an add-in is somehow sending wrong value to `set_newline` fu

[2022-04-21 11:56] bytebaby opened #2037 "It still says there's a "new version"."
After updating to version 6.3.2, the following error message appears when I click on the button for "Automatically check for new version" under "Settings"

{"isVitalUpdate":false,"isMajorUpdate":false,"newVersionMarkup":"<b><b>6<\/b>.3.2<\/b><em>Build: 15-4-2022<\/em>\n"}

Problem: Even though I've updated to version 6.3.2, it still says there's a "new version".

<img width="343" alt="image" src="

[2022-04-21 12:08] bytebaby opened #2038 "Very irritating usability issue when uploading images"
If a customer wants to upload an image, then he has to scroll down (if many images have already been uploaded) to reach the "Upload new file" button. See screen:

<img width="674" alt="image" src="https://user-images.githubusercontent.com/21154749/164454302-62a77d2f-da2d-42ec-a2f2-1668d6d9fe7b.png">

If he then clicks on the button, the modal for uploading has disappeared, see screen:

<img width=

[2022-04-24 01:30] jcogs-design opened #2041 "Improve differentiation between selected and unselected "selectable buttons""
**Is your feature request related to a problem? Please describe.**
Currently it is difficult to see whether a selectable button has been selected or not...
Here is an example:
![image](https://user-images.githubusercontent.com/13821249/164951820-c33fe3a1-0603-46cc-9ae0-cc392300a91d.png)

**Describe the solution you'd like**
Revision to the button CSS to make the selected status more strongly diffe

[2022-04-25 04:37] intoeetive commented on #2041
@ajohnson FYI

[2022-04-25 08:43] intoeetive commented on #656
@ajohnson what do you think about this?

I think we could implement it similarly to how we do it when clicking "new entry" button in relationship selection dropout.

[2022-04-25 08:44] #1077 closed, assigned to ops-andy

[2022-04-25 18:16] meatpaste opened #2045 "EE Pro Front End Edit CSS conflict"
My website has some CSS, which causes the front-end editor buttons to fall of the bottom of the screen and become unuseable. I think the CSS in Pro should be specific enough for this not to happen or make use of [shadow DOM](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM) (recommended by 'mithra62' on the slack channel!)

The CSS:

`footer>div {
    background: #96d5e

[2022-04-25 19:03] litzinger opened #2046 "Module sidebar sub-pages are not indented"
Something changed between v6.2.2 and v6.3.2 that is causing the sidebar__links that are children of a section to not be indented.

6.3.2
<img width="325" alt="Screen Shot 2022-04-25 at 1 59 13 PM" src="https://user-images.githubusercontent.com/53965/165156450-01dbd568-3d1b-45ae-95ea-ba0c79626ad8.png">

Different site running 6.2.2, but same add-on code
<img width="326" alt="Screen Shot 2022-04-25

[2022-04-26 04:06] chenchen2003 opened #2047 "name attribute replaced with filed name in grid field name with fluid"
**Description of the problem**

When rendering grid field in the publish form, the namespaceInputs function replace name attribute of the content as well.
example:
 <a name="link-name">example</a>
replaced with <a name name="field1[field2][link-name]">example</a>
If saving multiple times without removing, it becomes <a name name="field1[field2][field1][field2][field1][field2][link-name]">example</

[2022-04-26 04:54] intoeetive commented on #2047
@chenchen2003 looks like some error message / images did not come though.

Also can you specify in more details, what is the template code that you are using and what is the output that you get. It's not really clear from your post as it is now

[2022-04-26 17:49] chenchen2003 commented on #2047
![Screen Shot 2022-04-22 at 5 43 19 PM 64](https://user-images.githubusercontent.com/2659954/165360958-9aa0bf8b-720f-4445-9cc4-a1784168c462.jpg)
The content was an anchor link and when editing the page, it replace the name attribute in <a name="coastal-region" with field_id_7[fields][field_id-5......[row_id_17].

[2022-04-26 19:53] 5BYFIVE opened #2048 "Error on front-end when image is added to an additional file field column in File Grid field"
Site Running on development server
EE version 6.3.2
PHP 7.4.16

I'm getting this error on the front-end on a page that is displaying content from a File Grid field. The file grid field has the "File" column, a "Title" column, and a File "Thumbnail" column. If the image is removed from the Thumbnail file column, the error disappears on the front-end. Maybe an issue having 2 file fields in a file gr

[2022-04-27 11:38] jcogs-design opened #2049 "Toggle control in fluid field can trigger deprecation warning due to php changes in php 7.3 and later"
Since php 7.3 passing a integer as a needle to the [strpos()](http://www.php.net/manual/en/function.strpos.php) method has been deprecated.

If you add a 'toggle' field to a channel and include this within a fluid field, the value given to the field to indicate selected status is the integer value 1.

During the parsing of a template that looks for this value the integer value is passed to the `st

[2022-04-27 13:47] intoeetive commented on #2049
@jcogs-design I'm unable to replicate this on my tests. Is there anything else that needs to be in the template? Or an extension installed etc.

[2022-04-27 13:53] intoeetive commented on #2048
@5BYFIVE I wasn't able to replicate it so far.
Any chance you can `var_dump` what you have in `Grid_parser.php, line 497`?

[2022-04-27 13:54] #852 closed, assigned to nobody

[2022-04-27 14:02] jcogs-design commented on #2049
@intoeetive Thanks for looking. Not sure about add-ons etc - it is a fairly simple site it is happening on.  The site has been updated a few times so maybe some legacy stuff lurking that is influencing. I will dig into again and see if I can work out whether it is an anomalous set up.

[2022-04-27 14:12] #860 closed, assigned to nobody

[2022-04-27 14:20] #2046 closed, assigned to nobody

[2022-04-27 14:56] 5BYFIVE commented on #2048
@intoeetive I apologize, I'm no PHP developer, can you show me what and where to add to that section to get an output?

 // Finally, do the replacement
            $grid_row = str_replace(
                $match[0],
                (string) $replace_data,    /// Line 497
                $grid_row
            );

[2022-04-27 15:01] 5BYFIVE commented on #2048
I added `var_dump($replace_data);` a little lower down the file and got a big output, not sure if this is what you are looking for...

Severity: E_NOTICE
array(34) { ["file_id"]=> int(124) ["site_id"]=> int(1) ["title"]=> string(25) "disinfectant-types@1x.jpg" ["upload_location_id"]=> int(1) ["mime_type"]=> string(10) "image/jpeg" ["file_name"]=> string(27) "disinfectant-types%401x.jpg" ["file_siz

[2022-04-27 15:28] intoeetive commented on #2048
Thank you. I will try to replicate this once again. Can you also post the template code that you use to display this field on front-end?

[2022-04-27 16:01] 5BYFIVE commented on #2048
yes, thanks!

        <div class="sidebar">
            {if document_thumbnail}
            <div class="sidebar_chunk">
                {document_thumbnail}
                    <h2>{document_thumbnail:title}</h2>
                    <a target="_blank" href="{document_thumbnail:file}">
                        <img src="{document_thumbnail:thumbnail}" alt="{document_thumbnail:thumbnail:title}" />

[2022-04-28 04:13] rogaland123 opened #2054 "Error when submitting file field with channel form as a guest"
This was meant to be solved in 6.1 version (ref to Request #4312) and I was given a quick fix last year from support.

Today, after upgrading to EE6.3.3, I get this error when submitting guest entry **with image** front end of the website:
----
Unable to load the requested class: api_channel_form_channel_entries
----
Hope this can be fixed quickly

[2022-05-02 10:12] bytebaby opened #2055 "Problem with the update function"
If I click on settings <index.php?/cp/settings/general> then a white page appears with the following line:
{"error":""}
If I reload this page in the browser, the line disappears again. At the same time, a new update is displayed, but I cannot import it because version 6.3.2 is not displayed. See the screenshots:

<img width="196" alt="image" src="https://user-images.githubusercontent.com/21154749/

[2022-05-02 11:30] bytebaby commented on #2055
Addendum: The developer logs reports:
"To fetch templates from database is usually faster than from file cache driver."

[2022-05-02 14:01] robinsowell commented on #2055
Can you open up your browser debugger, go to the 'Network' tab- then navigate to settings where you get the error.  If you look in the XHR responses, is there anything there?  That looks like a json response to something, but I'm not getting anything loaded when I do the same.

Also- if you click the version number on any other page, does it say you're on the latest or does it come up with the new

[2022-05-02 16:54] bytebaby commented on #2055
Nothing appears for me with the browser developer tool either.

But I just disabled the cache once with the browser developer tool. And suddenly I get the current version displayed

<img width="338" alt="image" src="https://user-images.githubusercontent.com/21154749/166289110-980ac183-2f66-4777-b159-9d25bd4e19ca.png">

After that I was able to import the update to 6.3.3 without any problems. After

[2022-05-02 17:00] bytebaby commented on #2055
Interesting: If I reactivate the cache with the browser developer tool and then click on "Basic settings" in the backend and then on the "Check again" button, the line ["up-to-date"] appears again.

[2022-05-02 17:29] bytebaby commented on #2055
It appears to be a Chrome cache issue as it doesn't show up in Firefox. I cleared the Chrome cache and there were no error messages after that. I'm curious if it stays that way with the next update. :-) Thank you

[2022-05-02 18:01] robinsowell commented on #2055
HRM!  Weird one.  Well, especially that error message.  I don't recall seeing prior reports of that happening.  We'll keep an eye out and if it happens again, we'll at least have a good starting point!

[2022-05-02 18:01] #2055 closed, assigned to nobody

[2022-05-02 19:16] ajohnson commented on #2041
This is currently using EE's default active button state for selected buttons. But we can probably add extra emphasis to that state targeted at just this fieldtype. I'll put this in the Core team's queue. Thanks!

[2022-05-02 19:26] ajohnson commented on #656
@intoeetive Good idea. I added this to the Core team's queue.

[2022-05-03 08:23] intoeetive commented on #2048
@5BYFIVE `:title` is not available as modifier on file fields; instead it is available as variable when field is being used as tag pair.
So your code should look like
[code]

[2022-05-03 08:23] #2048 closed, assigned to nobody

[2022-05-04 11:30] bytebaby opened #2063 "CSS templates are synchronized only when visiting CP -> Templates"
Summary: If I edit the style.css in the template folder ("/templates/default_site/mydirectory/de/style.css") remotely via FTP/SFTP, the changes are no longer transmitted/displayed after a (hard) reload .

When I load the "style.css" file from the template folder with my CSS editor "Nova" and make changes, the browser does not accept these changes. It doesn't matter whether I work on my provider's

[2022-05-04 13:06] intoeetive commented on #2063
@bytebaby Looking at the sample folder structure you provided, it does not look right to me.

It should be something like `templates/default_site/mydirectory.group/style.css`. An extra level of `/de` will not be recognized by EE.

I would also double check your `config.php` to contain `$config['save_tmpl_files'] = 'y';`

If you can confirm that,

[2022-05-05 07:20] #1318 closed, assigned to nobody

[2022-05-05 07:21] #1889 closed, assigned to nobody

[2022-05-05 07:22] #1875 closed, assigned to nobody

[2022-05-05 07:24] #1870 closed, assigned to nobody

[2022-05-05 07:30] #1734 closed, assigned to nobody

[2022-05-05 07:35] #2000 closed, assigned to nobody

[2022-05-05 07:38] #2054 closed, assigned to nobody

[2022-05-05 07:47] #1522 closed, assigned to nobody

[2022-05-05 07:47] #1083 closed, assigned to nobody

[2022-05-05 07:47] #1852 closed, assigned to nobody

[2022-05-05 08:44] bytebaby commented on #2063
The direcotory "en" is a simple template group folder like "Products" or "Services". The index.html and style.css for the start page are in the "de" directory, which has always worked without problems over the years. :)

<img width="280" alt="image" src="https://user-images.githubusercontent.com/21154749/166887568-79e5bb27-7909-4c7b-89ac-3d343c3b98a8.png">

The $config['save_tmpl_files'] = 'y' opt

[2022-05-05 08:52] intoeetive commented on #2063
Ok, so can you confirm I understand you correctly:

- if you make changes to files for web pages templates, the changes are reflected in browser immediately
- if you make changes to files for CSS templates, the changes are displayed only after you visit the appropriate section of Control Panel

[2022-05-05 09:02] bytebaby commented on #2063
It is exactly like that.

[2022-05-05 09:29] #384 closed

[2022-05-05 14:03] #1808 closed, assigned to nobody

[2022-05-05 16:45] #1467 closed, assigned to nobody

[2022-05-06 02:53] robsonsobral commented on #2063
I gonna take a look on that.

---

I didn't known templates 2 levels down on groups are supported.

[2022-05-06 03:10] robsonsobral commented on #2063
Please, @bytebaby , help me here.

Does the structure of the directories of templates looks like this?

[code]

Is `/de.group` the only nested group you have?

[2022-05-06 05:56] bytebaby commented on #2063
Not quite. I see only now, there is a mistake, sorry. Correct

/templates
     /segert-tmps   <- instead of default_site
         /de.group
              /style.css

<img width="193" alt="image" src="https://user-images.githubusercontent.com/21154749/167075533-cffe02b5-bbc0-4241-9ead-d6586f2fa0f0.png">

[2022-05-06 08:46] robsonsobral commented on #2063
Thank you!

One more thing. What do you mean by this?

How this new arrangement looks like, please?

[2022-05-06 09:50] bytebaby commented on #2063
With pleasure.
That means: not referencing the style.css via the template group, but via a directory in the root (/css):

`<link rel="stylesheet" href="https://mydomain.com/css/style.css" media="screen" />`

I hope I could help :)

[2022-05-06 11:34] robsonsobral commented on #2063
Sooooooo... `de.group` is the main group, the one which stores the site homepage, and to call for the css only by its name used to work, but not anymore. Is it?

[2022-05-06 13:57] bytebaby commented on #2063
Yes, it worked like this for 9 years.

[2022-05-06 14:08] robsonsobral commented on #2063
Summarizing, the file is loaded and served, but using the link without the main group doesn't trigger the update from the file.

@bytebaby , in case the group is named anything else than `css`, let's say `foobar.group`:

- the file is served?
- the file served is updated from the edited on disk version?

(Please, forgive all these questions! I'm trying to narrow down the scope of the tests I need

[2022-05-07 03:04] robsonsobral commented on #2063
@bytebaby , I did some tests. We are talking about 2 things here:

1. the CSS file could be served from the default group using only the first segment;
2. the file isn't updated from the disk on request, which is a bug I find by myself many times on previous versions.

## The first

Testing whether the file `news.group/foobar.css` is served, being `news.group` the default group.

|

[2022-05-07 07:19] bytebaby commented on #2063
I tried the following. Template group "news" set as default group and converted the style.css to foobar.css. In the source code, the line looks like this (regardless of whether strict URLs are enabled or disabled):

`https://mydomain.com/?css=news/foobar`

Result: The CSS file is no longer loaded. Only the bare markup is displayed in the browser :)

If I convert foobar.css back to style.css, the C

[2022-05-07 09:02] robsonsobral commented on #2063
So, you're using the `{stylesheet}` variable! Can you show me this line of your code, please? The old and the new line, please.

(I can't understand the reason it stopped to work just by renaming the file. Hmmmmmnnnn...)

[2022-05-07 09:25] bytebaby commented on #2063
Sorry, I guess I wasn't fully awake yet :)
It also works with a filename like foobar:

`<link href="{stylesheet=de/style}" type="text/css" rel="stylesheet">`
or
`<link href="{stylesheet=en/foobar}" type="text/css" rel="stylesheet">`

One of these lines is contained in
includes.group/head.html

(I'm trying it out on the live system of my site segert.net ;)

[2022-05-07 15:20] robsonsobral commented on #2063
I guess I know what happened. Please, look for me in the [Slack Channel](https://expressionengine.com/blog/join-us-in-slack#join-us-on-slack). Let's move this conversation before all the devs go crazy.

[2022-05-09 21:04] PaulBaileyAtChan commented on #1467
I'm afraid I'm still seeing issues in 6.3.4. Results of some quick testing:

I created a new member role, "Silly Role", and assigned two members to this role (in addition to some other, secondary roles). Listing this role in "All Members" correctly shows both members:

<img width="839" alt="Screen Shot 2022-05-09 at 1 40 49 PM" src="https://user-images.githubusercontent.com/46760375/167497167-b4ae

[2022-05-09 21:07] robsonsobral commented on #2063
I misunderstood what happened here. The problem 1 doesn't exist:

I couldn't reproduce the second.

I'm sorry.

[2022-05-09 22:21] robsonsobral commented on #2063
Bug found! Working on it!

[2022-05-10 02:29] robsonsobral commented on #2063
@bytebaby , can you, please, give this PR a try? It fixes a bug I found while trying to help you. However, I'm not sure the bug you found is the same I found.

[2022-05-10 06:20] bytebaby commented on #2063
@robsonsobral – I'm not on Github very often, what does "PR" mean? –
That's exactly the bug! :) And if your solution is implemented in the next EE update, I will start a test immediately. Or can I test it beforehand?

[2022-05-10 12:45] robsonsobral commented on #2063
From [Github docs](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests):

---

You can test right now and I need you to do it!

I ask that you, please, backup and replace the file `system/ee/ExpressionEngine/Library/Resource/Request.php` by the [version available](https://github.com/ExpressionEngine/Express

[2022-05-10 17:13] bytebaby commented on #2063
I'm sorry, but unfortunately it still doesn't work. See the short screencast below:

https://download.segert.net/eebug.mp4
ID: kunden
PW: kunden

I could set up temporary FTP and admin access for you.

[2022-05-10 17:30] robsonsobral commented on #2063
You're using the same version suffix, @bytebaby . After you update the file, is the link generated by the `{stylesheet}` the same?! Please, check.

[2022-05-10 18:39] mcfarlandonline commented on #2038
Agreed! This issue is also mentioned here: https://github.com/ExpressionEngine/ExpressionEngine/issues/1679

[2022-05-11 21:58] digicali opened #2076 "Wrong label for templates route button"
There is a little visual glitch with version 6.3.4. When you update or create a new route, you get this wrong button labelling. Only happens when you select a template. "undefined" button label.

![image](https://user-images.githubusercontent.com/36820800/167954409-e772913b-06e9-4d85-ba3e-824e4ad745be.png)

[2022-05-12 01:19] PaulBaileyAtChan opened #2077 "[EE6] Continued issues with member counts in EE6.3.4"
EE6.3.4 contains a fix for incorrect display of member counts in the CP ("Resolved [#1467](https://github.com/ExpressionEngine/ExpressionEngine/issues/1467) where member count for roles could be incorrect when using secondary roles"). But there look to be continued issues with member counts in 6.3.4, especially where members have a combination of primary and secondary/additional roles. Below are t

[2022-05-12 01:57] robsonsobral commented on #2063
@bytebaby , wait for a new testing version soon!

[2022-05-12 02:40] robsonsobral commented on #2063
Done, @bytebaby !

[2022-05-12 08:42] andruskalkun commented on #867
Same issue – we have site with extra wide images (like banners) with logotypes on right edge. No way to see if right one has been uploaded

[2022-05-12 09:15] bytebaby commented on #2063
Yes.
In the Template:
` <link href="{stylesheet=de/style}" type="text/css" rel="stylesheet"  media="screen">`
Source-Code:
`<link href="https://mydomain.net/?css=de/style.v.1652209588" type="text/css" rel="stylesheet"  media="screen">`

[2022-05-12 13:38] ic360-com opened #2078 "Sticky Entry Search"
When editing lots of Entries, and needing to Search for specific Entries every time using the Filter, it can get very time consuming (and painful!).

It would be great if the Search terms used in the Entry Search fields are Sticky.
This would include the keywords and all the dropdown menus (eg. Status, Category).

So when Saving the changes in an Entry and returning to the Entry Listing, the previ

[2022-05-12 15:29] ic360-com opened #2080 "Comments Setting Off, still shows Comments column in Entries Listing"
When switching off Comments in the overall CP Settings... I would expect the Comments column in the Entries Listings to disappear.
But maybe keep it as a toggled option to enable historical Comments to be displayed if required.

[2022-05-12 17:31] PaulBaileyAtChan commented on #2078
I think this is essentially the same as https://github.com/ExpressionEngine/ExpressionEngine/issues/111. It's been an issue for a *very* long time, and IMO is absolutely a basic feature which should be a priority to fix. How old that other issue is gives a sense of how long it's been needed.

[2022-05-12 21:04] ic360-com commented on #2078
You're right Paul, it is the same Request, well spotted - and I've even commented on that old request myself!
I tried searching for an existing request, but didn't find one.
Thanks for highlighting.  :-)

[2022-05-12 21:18] robinsowell commented on #2080
I'm thinking I wouldn't want to automatically have it toggle of myself.  But if there are no comments, none in spam, and it's disabled?  I think it shouldn't be available to toggle at all and if it had been showing, remove it.

Which is pretty close, behavior wise.  And I agree, it's a nice UI enhancement.

[2022-05-12 21:50] #2078 closed, assigned to nobody

[2022-05-12 21:51] robinsowell commented on #2078
I did 'bump' this internally, but closing this one as a duplicate.

[2022-05-14 23:53] nickpuglisi opened #2081 "Field Names Showing DB Columns?"
6.3.4 (PRO) - noticing that in the latest update the field names in many Channel Fields are not calling the default field names and instead are calling the database column names (ig field_id_6) instead of what was called upon for Member & other fields?

[2022-05-15 12:23] avnerw opened #2082 "Date formatting bug from Relationship field in Grid field"
On the front-end, this following template code skips the `relationship_field` altogether when the `entry_date` includes the `format='....'` part, but works if `entry_date:relative`, or just `entry_date` is used.

Here is the complete code block.

[code]

Version: EE Pro 6.3.4
Hope this is enough information to reproduce, if this is a bug.
https://eecms.slack.com/archives/C04L896K4/p165261190157510

[2022-05-16 10:28] ic360-com commented on #2080
Yes, it needs some kind of 'overall' control I think. I'm sure this used to be included in the CP somewhere / somehow pre-V6.

eg. If you have 100 channels, then setting the Entries List view manually, to remove the Comments column, will be a pain, if you decide not to be using Comments on the site anymore... whether there are Entries with pre-existing Comments or not.

[2022-05-18 14:08] avnerw opened #2085 "Selectable Button Field outputs Label instead of Value"
For the new Selectable Button field, when I use this code  {button_field} , it  outputs the Label instead of the Value.

![Screen Shot 2022-05-18 at 4 54 47 PM](https://user-images.githubusercontent.com/17215743/169059916-d23d16aa-4a51-4603-9ad5-26284cdc86f9.png)

[code]

_Output from above:_

One
1
One

_Instead of_

1
1
One

So, also `{if button_field == 1} ... {/if}` won't work because the Labe

[2022-05-18 21:17] ErhanGuneyKaradag opened #2087 "In Edit Profile Data Tag -> Custom Profile Field Variable Pair How can i add class to {form:custom_profile_field}"
{custom_profile_fields}
        <div class="form-group">
            <label>{lang:profile_field}</label>
            {form:custom_profile_field}   **--> I need to add class to this field like form-control**
        </div>
    {/custom_profile_fields}

Thank You..

[2022-05-19 21:51] mcfarlandonline opened #2090 "Annoying and inaccurate warning when uploading images/files while publishing"
When uploading a new file from within an entry, you must first select which directory to store the file in. The modal then takes you to that directory, but half the time, before I can continue, I get overzealous browser warnings like these...

<img width="856" alt="Screen Shot 2022-05-19 at 2 44 26 PM" src="https://user-images.githubusercontent.com/20441129/169410215-9c8a5dd5-d8c8-463a-984f-dc8e95

[2022-05-19 22:17] PaulBaileyAtChan commented on #2090
+1 Was just about to suggest (wrongly!) that this is coming from the browser itself, rather than EE. Just tested in EE6.3.4 using (Mac) Safari, Firefox and Chrome, and I see the message on all of them when I choose an upload directory in the modal. It's clearly firing at an inappropriate time, and is definitely confusing.

[2022-05-19 22:33] PaulBaileyAtChan commented on #1851
Without intending to nag, if just changing the custom field array chunk size (as shown above) changes the search results, as it seems to, this looks enough to at least flag the issue as a significant bug.

[2022-05-19 22:38] PaulBaileyAtChan commented on #1869
A late addition here to note that I clearly missed the fact that the "sanitzation" looks like it's mainly to remove characters with special meaning in regular expressions (presumably to avoid borking the search). The issue still remains that such characters should be suitably *escaped*, rather than removed, so that the original search term is respected.

[2022-05-21 14:15] jcogs-design opened #2093 "Parsing issue, select statements, active record"
Adding this construction to an active record triggers a SQL error
[code]
The error comes because the select string is wrongly parsed by Active Record - the SQL generated contains this construction
[code]
Notice that the final quote mark is placed the wrong side of the closing parenthesis which borks MySQL.

EE 6.3.4, php 7.24.8, MySQL 5,7.23

[2022-05-22 12:08] jcogs-design commented on #2093
Did some digging and this error is being introduced by the method `escape_identifiers()` in `source/system/ee/legacy/database/DB_driver.php` (the file for the `CI_DB_driver` class).

AR breaks up the select into fragments based on the location of `,` (so `IF(code = 'NO'`, `1`, `0) as out`).

When the actual SQL query is constructed these fragments are passed through the `_protect_identifiers()` me

[2022-05-23 02:30] robsonsobral commented on #2063
Thank you, @bytebaby , for reporting this. While I tried to reproduce this bug, I found some edge cases. The code is now more robust and the tests cover more situations.

[2022-05-23 13:39] intoeetive commented on #2090
That is an interesting case, thanks for reporting!

Is the site using MSM, or set up using multiple subdomains?

[2022-05-23 15:20] creativearc-paul opened #2095 "Grid Field, better visual cues for missing grid columns"
Consider a grid for vehicles with Make/Module/Year.

If 'Year' is required, there's currently no visual that column is required.

Also, if a submit attempt is made where Year is missing, the error is not clear enough to isolate what is missing.

"Cannot Update Entry
We were unable to update this entry, please review and fix errors below."

Might be better as:

"Cannot Update Entry
We were unable t

[2022-05-23 18:18] mcfarlandonline commented on #2090
No MSM or multiple subdomains over here in this instance.

[2022-05-24 12:20] jcogs-design opened #2096 "Add the ability to define join aliases in Active Record"
**Describe the solution you'd like**
Sometimes it is necessary to use an alias in a JOIN - when you want to make two separate table joins to the same column for example. Active Record does not support this, nor does it support the addition of aribtrary SQL to a query it is building, so currently you cannot (for example) use a lookup table multiple times in the same request. For example (from the [

[2022-05-24 15:59] liamcrean opened #2098 "Server error — spam referral urls with parsed spaces (xss filtering issue?)"
This URL structure (note spaces) triggers server errors (on some builds runnig EE latest but not all..? - see attached error message) which show up in Google Search Console as indexing issues — Google tries to crawl and fails.

**my-ee-site.com/?url=somespamsite.com/results/spam spam**
**my-ee-site.com/?url=somespamsite.com/results/spam%20spam**

These do not trigger server error messaging(404 as

[2022-05-25 08:10] lilywhiteweb opened #2099 "Adding a Relationship Field shows alert without any message"
This problem was happening on 6.3.3 so I updated to 6.3.4 to see if it would fix it and it didn't. When I try to add a relationship field, the form fields show the warning and highlight the form entry, but there is no alert message. Also the 'Save' button becomes an 'Errors Found' button and again no message associated with it (checked for tooltips as well). What is strange is that is saves the re

[2022-05-25 19:50] robinsowell commented on #1370
You're probably not really logged in to the frontend.  Try putting a {member_id} tag on it to see.

If you login to the cp, you are only setting the cookie for the url you're on.  So if you visit a url on a different domain, the logged in cookies aren't going to be set.  I think that's what's going on.

When you switch sites in the cp, it doesn't actually change the domain, just the msm site displ

[2022-05-25 19:52] robinsowell commented on #2099
So- that is super weird!  If you open up browser tools, are you getting a javascript error at any point?  And if you can, does disabling all extensions resolve the issue?  Note- this may well break things, so be careful if it's a live site.

[2022-05-26 17:05] PDXMan1 commented on #2090
My clients are seeing this too. Sometimes, after dismissing the EE alert, then a seperate browser alert pops up. In this case, I have an entry open, then navigate to a channel within the entries menu. We have to dismiss both alerts just to get to the table of the entries page.
<img width="300" alt="zalert1" src="https://user-images.githubusercontent.com/6145078/170538596-cee57853-12d0-4f04-8d54-e2

[2022-05-27 16:14] robinsowell commented on #576
I believe this was fixed in 6.3:

I definitely don't replicate the tiny preview screen with big grids anymore.  But if anyone is still running into an issue with it, I'd say probably good to start a new report unless there's something I'm missing in my tests.  And I did replicate the issue prior to 6.3.

[2022-05-27 16:14] #576 closed

[2022-05-31 02:36] eric-lamb62 opened #2101 "Shared Form View But With Objects"
**Is your feature request related to a problem? Please describe.**
Would make things more fun if we could build forms programmatically.

**Describe the solution you'd like**
Something like this:

[code]

**Describe alternatives you've considered**
Not writing it, I guess?

**Teachability, Documentation, Adoption, Migration Strategy**
Docs should be written, yes, I agree. The implementation will be

[2022-05-31 07:21] lilywhiteweb commented on #2099
Hey. Yeah I get this error when I select the Relationship Field.

![image](https://user-images.githubusercontent.com/38029048/171114802-36f12675-0d7e-4341-8d1c-129c26f4e2d2.png)

Looking at the network requests, it seems like the response from selecting the Relationship field yields a html error page instead of JSON formatted result

Selecting Rich Text Editor Field
![image](https://user-images.gi

[2022-05-31 17:48] murtaugh opened #2103 "Conditional field UI returning values for the wrong field"
I'm trying to update a field that has existing conditions. I want to switch it from "all" to "any", using additional values from the same Selectable Buttons field.

The values in the second instance of the button field are pulling from the wrong field.

<img width="1079" alt="image" src="https://user-images.githubusercontent.com/308752/171245757-269e768d-2e94-4228-aa43-da7ccb51a007.png">

The "the

[2022-06-01 18:31] murtaugh commented on #2103
Brief update on this: I tried using "contains" in the second column, manually entering the item I was looking for in the "Type {widget_type}" field, which doesn't work:

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/308752/171477120-f1d88bb4-2cfc-4056-af0b-6d46dfabcd4e.png">

That said, I tried again, using the *value* I'm looking for, which *does* work.

<img width=

[2022-06-01 20:32] murtaugh opened #2104 ""Data will be lost warning" triggered on command-click"
The "data will be lost" warning alert triggers when you command click on a link, meaning the page you're on isn't going to be navigated away from, and no data is going to be lost.

<img width="481" alt="image" src="https://user-images.githubusercontent.com/308752/171496082-86d8c163-1d81-4ef6-9183-401d4e84034d.png">

Mac OS, Safari 15.5

[2022-06-01 22:51] jejuna opened #2105 "Updating grid field with radio field. Nope."
We have several grid fields used in a fluid field. This site has been working perfectly for nearly 2 years.
Recently upgraded to EE 6.3.4. PHP is 8.02.

Now, anytime the client adds a row to an existing entry that has a radio fieldtype in a grid field, it won't save.

I thought it might be a corrupted entry, so I made a new one, and still, same error.

I made a new test grid field with a radio but

[2022-06-02 09:01] andruskalkun commented on #2105
I have seen the same issue. Unclear what made it go away.

[2022-06-02 16:58] murtaugh opened #2106 "Title field instructions"
Along with the ability to change the title field label, it would be great to be able to add title field instructions.

<img width="489" alt="image" src="https://user-images.githubusercontent.com/308752/171683694-36afa006-75f1-427b-8d2f-9392c0aaabfb.png">

[2022-06-02 19:09] murtaugh commented on #2104
FWIW, I also just got this warning in the file chooser modal, after I clicked the button switch views.

[2022-06-02 20:41] robinsowell commented on #2081
Hi Nick,

I'm a little fuzzy on this one.  Do  you mean if you use {field:my_custom_field} the parsed output  uses the db name rather than the field shortname in the rendered html form?  Walk me through it a bit.

And is it messing up posting/editing/existing forms, or is it just weird?

[2022-06-02 20:44] nickpuglisi commented on #2081
Hey Robin,

On my EE version if I create a custom Member Field in the Admin Console, then go to the front-end and use the Edit Member Profile tags it displays the database name of each field rather than the key fieldname given in the database. This _does_ work the correct way in templates (ig if I do a textarea called "about" and add {about} in a profile that will work, however when they go to edi

[2022-06-02 20:52] robinsowell commented on #2105
It's quirky to reproduce, but I am seeing the same thing.  Let me see if I can spot why.

[2022-06-02 21:14] robinsowell commented on #2105
Annnnd now it's gone away and I can't trigger it again.  But I definitely DID trigger it.  I'm going to see if someone else has a better idea as to what's up.

[2022-06-02 21:35] jejuna commented on #2105
Thank you!

On Thu, Jun 2, 2022 at 5:14 PM robinsowell ***@***.***> wrote:

--
Best--
—Debra

Debra Weiss
drw Design
434.293.2468

[2022-06-03 14:45] robinsowell commented on #2104
Hrm, I'm not able to replicate.  Tried on Mac FF, Chrome and Safari.  I tried swapping between list view and thumbs in the file model on an entry edit page and tried cmd+click on the link in
<img width="991" alt="Screen Shot 2022-06-03 at 10 40 51 AM" src="https://user-images.githubusercontent.com/1181219/171877323-380c3934-1869-4ec8-a146-3b23bc48db41.png">

Are you on 6.3.4?

If so, wonder if the

[2022-06-03 15:10] murtaugh commented on #2104
(This obviously isn't critical, just an annoyance.)

Did you make any change to the publish form? I wasn't thorough with my report. The alert only triggers if the form isn't in the same state it was when the page first loaded.

I just confirmed this in my install by doing the following:

1. Create a new entry, don't do anything yet
2. Command-click in the left column to open the File Manager, the

[2022-06-03 15:13] robinsowell commented on #2099
Hrm, ok, I think this is probably installation specific rather than a generic bug.  It might even be an issue coming from a different field.  Do you see any PHP errors in those xhr responses?

Can you flip on logging PHP errors- you need to ftp in and put this in system/user/config/config.php:

[code]
And create a folder system/user/logs/ that's writable.  Go to add a new relationship field and th

[2022-06-03 15:44] robinsowell commented on #2093
Ack- really appreciate the nice debugging.  I can follow along and everything including the fix makes sense, but I'd definitely like one of the developers to eyeball it as well.  I've got an internal report in on it to make that happen.

[2022-06-03 18:58] erinathop opened #2107 "EE2 to EE6 Upgrade Breaking Member Consent Page"
After upgrading from `EE v2.10.1` to `EE v6.3.4` with the single update, we ran into an issue where the Member Consent page would throw errors as noted below. To fix the issue i had to copy the content in `Functionality Cookies -> Request` from another site freshly updated to EE6 into my project site and hit save, which fixed the issue.

Make sure to mention what page you are on, if this is issue

[2022-06-03 21:37] lilywhiteweb commented on #2099
<img width="713" alt="image" src="https://user-images.githubusercontent.com/38029048/171957220-2ab05341-1269-4b94-8cd5-9713ae494e91.png">

[2022-06-06 08:11] liamcrean commented on #2098
Any news on this one please? Would be great if I had some kind of timeline so we can contact our EE clients and let them know.

[2022-06-06 15:01] robinsowell commented on #2099
Hrm, nothing useful there.  If you're able to get us superadmin access, drop a line to support@expressionengine.com and we can take a closer look.  I don't THINK this is a bug, since I can't duplicate it and I'm not getting other reports of it.  But we can take a closer look and see what jumps out.

[2022-06-06 17:31] robinsowell commented on #2107
Ah- I replicate.  It looks like the problem is, in the update, it only creates the 'Functional' request and when it does, in exp_version_requests, the consent_request_version_id goes in as NULL.

It does create a matching record in exp_consent_request_versions, but it's not associating that with the record in exp_consent_requests and so basically, it's as if a request version doesn't exist and all

[2022-06-06 19:26] jejuna commented on #2105
Robin, any update on this? My client is concerned!

[2022-06-07 15:36] robinsowell commented on #2049
@jcogs-design, if you get a chance, can you include the stack trace when you post back?  Wonder if that might reveal something.  Seems like it should have been easy to replicate.  Oh- and if you can, test on 6.3.4 as well.  That could be in play.

[2022-06-07 15:41] jcogs-design commented on #2049
Haven't been back to that site in a while and changed design to remove issue - will see if I can scroll back to the version running at time and reproduce / get stack trace. May take a few days...

[2022-06-07 16:49] robinsowell commented on #2085
Unfortunately, this is actually a documentation bug.  It's not a behavior we can alter now, as too many sites are relying on current behavior.

I have put in a PR to make sure the docs are correct on value/label display: https://github.com/ExpressionEngine/ExpressionEngine-User-Guide/pull/465

The lack of consistency isn't what we'd prefer, but altering the behavior isn't a good option.

[2022-06-07 16:52] #2085 closed, assigned to nobody

[2022-06-07 16:55] robinsowell commented on #2037
I'm thinking this was probably a cache issue.  But if it is STILL showing an update available while you know you're on the latest, let me know.  First thing I'd do is go in via ftp and manually delete system/user/cache/current_version and see if that matters.

[2022-06-07 17:00] tsamoudakis commented on #1826
I've been using the Spam Add-on a lot lately and in addition to the above improvements, I would like to add one more.

### Mark all as Spam with a single button (kind of like "Empty Trash")
There are days that one of my sites receives A LOT of spam comments and in order for me to remove them I have to select the `Show all spam` option from the dropdown, then select them all and then hit submit on

[2022-06-08 20:02] jejuna commented on #2105
So, actually, it seems like it's not the radio buttons. It's more of a grid, that's a fluid field, that has an image in it. Adding a row is making it bork.

[2022-06-09 16:46] swierczek opened #2109 ""Class name must be a valid object or a string" on DashboardWidget.php::172"
I'm getting an error `Class name must be a valid object or a string` from `/system/ee/ExpressionEngine/Addons/pro/Model/Dashboard/DashboardWidget.php:172` when trying to view my dashboard (`/admin.php?/cp/homepage`) in the CP as a non-superadmin. For some reason, it works fine as a superadmin.

I have a 3rd party add-on (Publisher) and 2 of its Widgets installed and configured on my dashboard (`pe

[2022-06-15 19:44] PaulBaileyAtChan opened #2112 "[EE6] Deleting large system logs can produce insufficient memory errors"
In recent months, I've hit memory errors when deleting large system logs using the EE control panel, and have seen similar reports on Slack. A couple of example screenshots from Slack discussion follow.

<img width="708" alt="Screen Shot 2022-06-15 at 12 07 19 PM" src="https://user-images.githubusercontent.com/46760375/173907934-7e743c2e-09a8-49b9-9ec5-cea24df54c87.png">

<img width="557" alt="Scr

[2022-06-21 16:57] HopStudios-Development opened #2115 "Menu Manager - Single Link Menu Item Editing Errors"
URL: ?/cp/settings/menu-manager/edit-set/1

**Issue:** Editing single link menu items will intermittently fail due to a required field prompt being displayed despite valid content being in both the name and url field

The image below is a screenshot of the results I received after attempting to save a menu item "edit" that has had no modifications to it. Both fields need to be modified, even if it

[2022-06-21 17:47] HopStudios-Development opened #2116 "Login page caught in a redirect loop when EE Pro's Multi-Factor Auth is turned off but profile MFA is active"
### Steps to reproduce:
Enable MFA in EE Pro Addon
Enable MFA on a member profile that has access to the CP
Disable MFA in EE Pro Addon
Sign out the member that has MFA enabled
Try to log in

Attached below is a screenshot of the network tab in developer tools showing a large number of redirects occurring while trying to login with global MFA disabled
![35e786d927daba999bc229cbf056592b](https://us

[2022-06-21 18:10] litzinger opened #2117 "Calling the ChannelEntry model within a ft file while editing an entry causes havoc"
In my Advanced Categories field I need to figure out what categories are assigned to the current channel, so I end up making this call within an ft file:

`$entry = ee('Model')->get('ChannelEntry', $entryId)->first();`

but in doing so, it _really_ messes up the current context of `$this`, as it in nullifies basically everything if I try to reference something like `$this->content_id` - it's just

[2022-06-21 18:31] pyrobob83 opened #2118 "FR: Change standard Status field type to radio buttons offering immediate view of options (including colors)"
Started from a thread from Slack - the desire is to update the standard Status dropdown when editing entries be inline radio buttons that immediately show all options and their corresponding color schemes instead of the current dropdown which adds an unnecessary second click and obscures the options/colors until that first click.

![image](https://user-images.githubusercontent.com/8193519/17487235

[2022-06-21 19:14] TomJaeger commented on #2117
Any chance you happen to know if this came up in a specific version or anything along those lines?

[2022-06-21 20:16] litzinger commented on #2117
I don't have specifics. I just know that I'm pretty confident this wasn't an issue when I first created at the add-on, then recently it was very easy to replicate. I upgraded to 6.3.4 just a couple weeks ago. I don't recall the version I had before 6.3.4, but I might have skipped a few versions.

I have not gotten around to trying to replicate this in a fresh EE install either.

[2022-06-21 20:24] TomJaeger commented on #2117
Solid, thank you!

Was it EE 6 before the upgrade to 6.3.4 though?

[2022-06-21 23:37] robinsowell commented on #1644
AHHHHHH!  This happened again and I finally figured out how to trigger it.  It happens if your member field has the same id as a grid field.  I basically deleted member fields and added new ones until they no longer matched up to a grid field and it got rid of the problem.

Obscure bug is obscure.

I'm ... going to open this one back up and tweak the description so it's clear it's still an issue.

[2022-06-22 20:17] octopusxl commented on #2105
I might be having the same issue with File grid within fluid field. My set-up has been working for years, but recently (post EE6.3.3?) I can't add any new rows to the File grid, get the error "Cannot Update Entry". There's a message below the fluid field "There was a problem processing your submission, please check below and fix all errors." but nothing else is highlighted. Remove the new row, and

[2022-06-22 20:48] jejuna commented on #2105
Yep, that's me, too. The folks at EE do know about it.

[2022-06-23 19:17] murtaugh opened #2121 "Hitting escape in the New Entry modal causes you to lose your inputs"
In what is the opposite of my last issue (#2104), you don't get any warning at all when you escape out of the New Entry modal, meaning you can easily lose work.

1. Find a relationship field
2. Click "new entry"
3. Enter some data in the fields
4. Hit escape
5. Mourn for your lost work

EE 6.3.4

[2022-06-23 21:11] hopDrew opened #2122 "Previewing an entry with grid shows incorrect data when applying `search` parameter to checkboxes column"
![image](https://user-images.githubusercontent.com/102068794/175399614-3960f9ea-246e-4d7e-9037-90b155ad2a2e.png)

In the image attached, we have an entry with multiple images with additional corresponding content and attributes in a grid. When previewing the entry (and regardless of what other images are present) the first image is being used for all of the images in the preview pane.

This only h

[2022-06-24 14:34] afifa-glowlogix opened #2123 "Update Grid Fields data Programmatically"
I have a channel entry with the "images" field.

The field type is Grid.

What I'm trying to do is add a few pictures in the field through PHP.

I'm using this query to fetch the entry:

[code]

The issue is, that I can access simple fields but the grid is always empty.

I'm not sure how can I access the images in the field or add new images in the field.

Is there any better documentation on mode

[2022-06-24 18:51] TomJaeger commented on #2123
I think I replied on the stack-exchange question along these lines as well... copied for anyone following along.

Few notes / comments on this one.

Firstly, this is an area we need to get better docs around as a whole..

The following thread has a working example in it that may be of use for you.

https://expressionengine.com/forums/topic/253398

When saving images specifically, I would just conf

[2022-06-24 18:52] TomJaeger commented on #2123
Also might be worth jumping into slack to see if anyone else has input.

Closing thread here, as it's more of a how to.

[2022-06-24 18:52] #2123 closed, assigned to nobody

[2022-06-24 18:57] TomJaeger commented on #2122
@hopDrew Thanks for submitting this.  Just to confirm, the file here is a standard EE File field?

[2022-06-24 18:59] TomJaeger commented on #2121
Thanks for submitting this @murtaugh

From a UX standpoint, any thoughts around an optimal experience?

[2022-06-24 19:03] hopDrew commented on #2122
Hi Tom,

Yes, that is correct.

Thanks,
Drew.

On Fri, Jun 24, 2022 at 11:57 AM Tom Jaeger ***@***.***>
wrote:

[2022-06-24 19:05] TomJaeger commented on #2122
Awesome,

With a quick test we were not able to replicate it... Any chance you can post a simple example for replication?   (Also any other add-ons at play here?..)

Thanks,
-Tom

[2022-06-24 20:31] hopDrew commented on #2122
Here is the field list for our project images file grid
![image](https://user-images.githubusercontent.com/102068794/175658527-ccd130e3-6429-4875-a9c7-da0133f77f77.png)

Here are our project entries fields
![image](https://user-images.githubusercontent.com/102068794/175658621-baa16eaf-8971-424c-aff1-f16f66a8ed85.png)

From what I can tell, none of our addons would be interfering with this:
![image

[2022-06-26 11:37] litzinger commented on #2117
I tested this in a separate EE environment in 6.3.4 with the following code. If I'm editing entry #80678, the second var_dump has null values for all the keys. If I choose another random entry id, such as #80682,  as the parameter in the get() function while still viewing #80678, the second var_dump is identical to the first. So by calling ChannelEntry model with the same ID as the currently viewe

[2022-06-26 11:59] litzinger commented on #2117
I tried the same thing in a 6.2.2 version of the same environment, and the issue didn't happen. So something changed between 6.2.2 and 6.3.4 to introduce this behavior.

[2022-06-29 06:26] jelle-burodeng opened #2125 "Link to database backup"
**Is your feature request related to a problem? Please describe.**
When running the database backup utility, provide a download link to the just generated backup

**Describe the solution you'd like**
Not just displaying the name/path of the file, but just a clickable link

[2022-06-29 12:54] jcogs-design opened #2126 "Add new field is enabled but does not work for an unsaved Field Group"
If you create a new field group (EE 6.3.4) the 'Add Field' button is shown and is active.
If you click on the add field button the modal opens and is populated, but the content of the field is broken - it looks like you get all the component elements that would make up the modal content, but none of them are hidden and things like the "type" select field are non-functioning.
Close modal, save fiel

[2022-06-30 00:25] blairliikala opened #2127 "Model Validation Typo?"
https://github.com/ExpressionEngine/ExpressionEngine/blob/6.dev/system/ee/ExpressionEngine/Model/Addon/Extension.php#L25

in the Extension model, the validation rule is set to:
[code]

And should likely be
[code]

There is no csrf_exempt property in this model, but there is in the previous file, so possibly a copy/paste typo from long ago?

Can make the pull request if need be, but wanted a double

[2022-06-30 16:21] hopDrew commented on #2122
Hi @TomJaeger,

If you haven't been able to replicate this issue yet, can you please let me know if there's any further information I can provide?

Thanks,
Drew.

[2022-06-30 16:55] TomJaeger commented on #2122
Hi @hopDrew,

I've been out of the office a good bit here recently, so haven't had a chance to dig in beyond the initial testing mentioned above.

Few thoughts on this one as a whole.

1. Any chance you can put together the most simplistic example to replicate the issue?  (anything to simplify the replication of the bug will greatly expedite us in replicating it and working towards a fix).... Migh

[2022-07-03 02:09] gb-lin opened #2128 "Checkboxes in grid field settings not working"
I noticed this while developing a fieldtype add-on. If the field is used in a grid field, the "checkboxes" field settings will not save when being created. I verified this by testing EE native "URL" fieldtype.

Steps to reproduce:
1. Create a grid field
2. Select URL as the first column
3. Change the **Allowed URL Schemes** settings
4. Save
5. You'll see that the **Allowed URL Schemes** is not sav

[2022-07-07 09:03] ic360-com opened #2129 "Redactor RTE field links default to 'New Tab'"
When creating / editing text links in a Redactor RTE field, the Checkbox for "Open link in New Tab" is always selected, regardless.
Can this be defaulted to Off please, unless it's previously been set to On?
Thanks.

[2022-07-07 15:15] melbazany opened #2131 "Saving New Channel Layout rearranges fields on Publish tab and newly created tab"
_EE 6.3.4, PHP Version 7.3.23, Google Chrome Version 103.0.5060.114_

When logged into EE and creating a new Channel Layout, I add a new tab to the layout setup. Drag and drop fields (textareas and text inputs) from the Publish tab over to the newly created tab. When I click Save for the New Publish Layout, I receive the confirmation/success that it's been created, but the ordering of the fields o

[2022-07-08 01:28] hopDrew commented on #2122
Hi @TomJaeger,

Sorry for the delay on this. I'm still figuring my way around EE a bit.

I've been able to reproduce this issue on one of our experimental sites. Here's what I did.

**1. Create a new template group and template (our_work/item) (Apologies about the image, github was not playing nice with the pasted content)**

<img width="1214" alt="image" src="https://user-images.githubusercontent

[2022-07-08 01:39] tyssen opened #2132 "preg_match_all(): Passing null to parameter #2 ($subject) of type string is deprecated error with RTE fields in in PHP 8.1"
This is appearing when publishing new entries on a site running PHP 8.1. It doesn’t appear when editing existing entries.

I've created a test channel with only a RTE field on it, and the error still occurs.

The field is using the basic CKeditor configuration but the error is still there when using any of the other options too, full, Redactor basic, and Redactor full.

[2022-07-08 16:35] murtaugh commented on #2121
At the least it should offer the same "data will be lost" warning as clicking away from the main edit form.

[2022-07-09 17:17] nickpuglisi opened #2134 "Edit Profile - Dropdown/Select Field Not Working"
Attempting to use the 'new' Edit:Profile field on our site. I want to manually construct the Select field from the Member Fields section, I understand that there's a bug where I can't call the field_name like normal and have to resort to `m_field_id_6` for each, but nothing I've tried has allows me to actually display the field properly. I've tried:

## Opener

{exp:member:edit_profile
    return=

[2022-07-10 14:39] wardourdigital opened #2135 "The related_categories_mode does not return category data"
When I use the related category mode, there is no category data returned.

[code]

**Describe the solution you'd like**
The category data to be returned when using the standard `{categories}` tag.

**Describe alternatives you've considered**
I have used the Query add-on to generate the query needed to pull in the category data.

[code]

This is very verbose!

**Possible solution**

I have seen in

[2022-07-11 20:12] jakecovert opened #2136 "Duration format options %h / %m reversed"
Running latest version.

Duration field, type set to hours.

When using the format specifiers, the %h variable is reversed with the %m variable.  Had to reverse them to get them to display successfully.

[2022-07-12 18:56] #1370 closed, assigned to nobody

[2022-07-14 02:44] tyssen opened #2138 "FR: Include title, url_title, Structure fields in conditional fields conditions"
I'm working on a site that uses Structure and a lot of the site's pages are built with a single `content` channel using a page builder field. Different templates can be assigned with Structure's settings.

Sometimes, a need comes up for just one page to have a single different field from all the rest. At the moment, the options for implementing this are either:

- Add the field to the `content` ch

[2022-07-14 16:47] brentcwilson commented on #694
Adding my support to this request. The horizontal squishing of fields significantly degrades the authoring experience, and thus detracts from the usability of Grid fields.

[2022-07-14 16:52] TomJaeger commented on #694
Figure I'll just drop this here.... Coming in V7
![Screen Shot 2022-07-14 at 12 50 31 PM](https://user-images.githubusercontent.com/422821/179036625-bcfa399e-5732-4e68-8209-d896deca05a7.png)

[2022-07-14 16:58] brentcwilson commented on #694
I appreciate the update, @TomJaeger!

[2022-07-14 21:49] studionigh commented on #1851
I am having a very similar problem.  I have set the parameter: search_in="everywhere". however, it is only searching the entry titles. I noticed I did not have a custom field {sub_title} set to "Include in search?" so I activated that, and the simple search still doesn't search that field. I have also reindexed the search in the utilities.

[2022-07-15 16:40] studionigh commented on #1851
WOW! This was a fix for me too!  Changed the 50 to 500, and now the search works correctly!

[2022-07-15 17:39] acalvino4 opened #2139 "EE (and plugins) as a composer dependency"
**Is your feature request related to a problem? Please describe.**
Currently all EE core and plugin code gets committed to one's repository. This is a problem because
* It fails to treat dependencies as such by including them with _your_ code [violating 12 factor app principles](https://12factor.net/dependencies)
* The work of updating is monotonous and lengthy, having to go to several different w

[2022-07-15 20:06] PaulBaileyAtChan commented on #1851
Great. Glad it's not just me! Will try to push for a fix to this, because it definitely looks like a bug.

[2022-07-16 11:08] jcogs-design opened #2141 "Have keyboard save enabled for CP page for Template Routes"
**Describe the solution you'd like**
Add the facility to 'save' the Template Routes page by hitting the keyboard 'save' key combination (similar to what happens when you hit return)

[2022-07-16 11:12] jcogs-design opened #2142 "'Undefined' button appears in Template Routes screen"
Open Template Routes page that has at least one rule define in CP, or refresh such page while there.
Initially all buttons are sensibly worded: button in bottom right says "update"
Click into template route entry (i.e. the text in column marked "Route") and then click away (e.g. in space immediately below the 'route' text input).
The label on the button in bottom right changes to say "undefined".

[2022-07-16 15:46] digicali opened #2143 "Member fields and checkbox - Value cannot update properly"
When you send value of checkbox for a member field, the value is always on and cannot be changed.
To reproduce:
Create a form for member field where a field is a checkbox.
Sending the value to on when the checkbox is checked always works
But if you uncheck the checkbox, the value of the field is never updated in the table. it stay with on value
The value return off when we test on the console befo

[2022-07-20 16:08] areynold opened #2144 "Possible regression: javascript in templates triggers php strpos error"
After upgrading from EE5 to EE6 (v6.3.4 running on an apache server with php 7.3.33), I started seeing the following error on some of our pages

[code]

The warnings were triggered by a bit of javascript in an old partial, and can be reproduced as follows:
[code]

I was able to work around the issue by restructuring the script:
[code]

This looks very similar to #1083.

_edit: corrected EE version

[2022-07-21 19:51] murtaugh opened #2145 "Unexplained errors with fluid grids & file fields, can't save entries"
I've been getting an unspecified error when submitting entries, and I think I've nailed the problem down to an issue with fluid image grids.

1. Create a new entry.
2. In a fluid fieldtype, insert either a file grid field or a grid field with a file field in it. Make sure there's at least one row of content.
3. Add another grid field. As far as I can tell the content of this second grid field does

[2022-07-21 22:48] jejuna commented on #2145
Yeah, me too. I reported this June 1, here:
[https://github.com/ExpressionEngine/ExpressionEngine/issues/2105](url)

It seems to be some odd validation bug. At least I'm not the only one who's got this issue, as it's driving my client insane.

[2022-07-22 14:56] murtaugh commented on #2105
I posted an issue that seems to be related to this here: #2145

As @jejuna sussed out, it's not related to the radio buttons, although when radio buttons (or another "grouped" field type) are involved, that's the only time you get any visual feedback, even though it's erroneous.

[2022-07-22 21:49] matthewjohns0n commented on #2145
Just wanted to give a little update on this one. We're making progress on this. I've figured out part of this issue, but not exactly why it's happening yet. We'll get this fixed soon though!

[2022-07-23 10:56] litzinger opened #2146 "Calling markFieldValid messes up the display of the Preview button"
I have the following line in my Bloqs code, which is a public method, and when it is called it messes up the Preview button text.

```EE.cp.formValidation.markFieldValid(blocksAtomContainer.find("input, select, textarea"));```

I've double checked that `blocksAtomContainer.find("input, select, textarea")` is returning the expected fields in the entry, and not accidentally targeting invalid element

[2022-07-25 20:48] PaulBaileyAtChan opened #2148 "[EE6] Channel entry status organization is inefficient and is easily broken"
EE6 stores channel entry status in several places. The statuses themselves are stored in the `exp_statuses` table, with columns for `status_id`, `status` (name), `status_order`, and `highlight` (colour).

Each channel entry stores its status in the `exp_channel_titles` table. Both `status` (name) and `status_id` are stored. Storing the status name here, in addition to the ID, might be convenient i

[2022-07-25 20:59] matthewjohns0n commented on #2145
@murtaugh @jejuna I believe this PR fixes the grid validation issue you're running into. We should be getting this fix into an upcoming release. If you're able to, it would be great to verify this fixes the issues you're running into.

[2022-07-25 21:02] jejuna commented on #2145
Thanks, I will report back!

[2022-07-26 14:40] #2146 closed, assigned to nobody

[2022-07-26 15:02] #2037 closed, assigned to nobody

[2022-07-26 21:13] robinsowell commented on #2145
Worst bug EVER!  But Matt's fix killed it in my tests.

[2022-07-27 18:33] shbchk commented on #653
Still nothing on this? I've seen [this PR](https://github.com/ExpressionEngine/ExpressionEngine/pull/1526), but I do not see anything new in my CP

[2022-07-28 10:29] shbchk opened #2151 "404 after click on notification in CP"
I got this notification message after my Mastercard failed:
![image](https://user-images.githubusercontent.com/12234507/181484246-7afcdd5f-7db9-4091-900d-0f17e1ac1a09.png)

But it leads to 404:
![image](https://user-images.githubusercontent.com/12234507/181484125-263ad0e0-619c-45c2-8f97-2cc23ac14382.png)

[2022-07-28 20:40] aasun opened #2153 "Add the ability to display the edit date in the CP entry list table."
**Is your feature request related to a problem? Please describe.**
Similar to the display and sort-ability of the Date (entry_date) field in the CP entry list, I'd like to have a display and sort-ability of the Last Edit Date (edit_date) field in the CP entry list.

[2022-07-29 01:32] murtaugh commented on #2145
I won’t be able to test until next week, but I’ll let you know. Thanks!

[2022-07-31 10:28] wardourdigital opened #2157 "Color picker field panel, hidden inside of grid field"
**Description of the problem**
When using the color picker as a field in the grid field, the actual color picker panel is hidden by the grid.

**How To Reproduce**
1. Create a grid field
2. Add a color picker as a grid field
3. Create a new entry and add a row to your grid
4. See that the color picker is hidden by the grid field

**Screenshots / Videos / Template Code**
<img width="938" alt="Scree

[2022-08-01 19:39] tommymcgahee opened #2162 "Native implementation of Math features within EE's templating language"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A native implementation of Math features within EE's templating language, similar to what's already offered through conditionals: https://docs.expressionengine.com/latest/templates/conditionals.html#mathematic-operators

**Describe alternatives you've considered**
Multiple add-ons exist that

[2022-08-02 22:56] jcogs-design opened #2173 "Relationship dialog loads partially off-screen within Grid"
The Relationship field within a grid pops up a dialog box to allow choice of entry to relate to (EE6.3.4).
If this field is too close to the RH window edge when it first loads the dialog is partially off-screen, hiding the action buttons.
A bit of fiddling around sometimes can get the dialog to relocate to be fully within the window, but really it should load this way from the outset.
![image](htt

[2022-08-03 09:01] shbchk opened #2178 "Pagination in CP works even when there is no entries to show"
Here is how newly registered author sees the CP:

![image](https://user-images.githubusercontent.com/12234507/182568169-55b27490-15ae-4366-b3a2-192c0eae1fc5.png)

There are no entries to edit, but pagination suggests that there are plenty of them.

[2022-08-03 11:41] TomJaeger commented on #2178
Thanks for submitting this... Few quick questions.

1. What version of EE 6 is this in?
2. Are there existing entries in the system that this user doesn't have access to?

[2022-08-03 11:43] shbchk commented on #2178
1. Latest, 6.3.4

2. Yes, there are several thousands entries, but this user group can view and edit only their own entries

[2022-08-03 11:44] TomJaeger commented on #2178
Thank you!

[2022-08-03 19:55] murtaugh commented on #2145
It looks like it works! Phew!

[2022-08-04 16:51] shbchk opened #2199 "EE7 with .ENV: Exception Caught"
Hi there!

Just installed a fresh copy of EE7 on my local computer to test ENV file and other stuff.

ENV is on.

Sometimes in CP I get this:

[code]

![image](https://user-images.githubusercontent.com/12234507/182907042-af0ff3c3-55d1-407a-bff3-df6f509a5583.png)

Refreshing helps, but not for long.

PHP Version 7.4.21
MariaDB 10.4

[2022-08-04 17:10] shbchk commented on #2199
Updated to EE7.0.1 - same story. Without ENV everything is okay

[2022-08-04 20:12] litzinger opened #2201 "EE7 Buttons text inside of alerts are difficult to read"
Probably a low priority issue, but thought I'd point it out, and this probably affects EE6 too. When a link or button is inside of an alert box I'm not sure they have enough of a contrast ratio on the text, and the orange text inside of the button, especially if the button has `button--primary` or `button--secondary` classes on them, is hard to read.

<img width="147" alt="Screen Shot 2022-08-04 a

[2022-08-05 18:11] Caleydon opened #2207 "EE7 update "Report bug" link"
"Report bug" link in the notification panel is leading to the old EE6 bug report form
https://github.com/ExpressionEngine/ExpressionEngine/issues/new?template=1-EE6-bug-report.md

It should get an updated.

[BTW Thanks for EE7 and your hard work]

![EE7-report-link-u](https://user-images.githubusercontent.com/2806752/183138795-a0ad047c-1568-43fb-834a-17fbc7e1b117.png)

[2022-08-05 18:53] Caleydon opened #2208 "EE7 - EE update remove translated files"
When I want to load translations for Pro and Moblog built-in addons, I need manually upload translated files into Addons folder (in the EE core folder).

Path example for Slovak
/system/ee/ExpressionEngine/Addons/pro/language/slovak/pro_lang.php
/system/ee/ExpressionEngine/Addons/moblog/language/slovak/moblog_lang.php

After EE upgrade is whole "system/ee" folder replaced by the new EE version so

[2022-08-08 13:30] #2208 closed, assigned to nobody

[2022-08-08 14:23] litzinger opened #2220 "Consider saving entry revisions on the file system, instead of database"
The exp_entry_versioning table, in large sites, can often account for half or more than half of the overall database size. For example we have one site that has 500+ mb database, but 250mb of it is the exp_entry_versioning table alone.

Now that Flysystem is native to EE 7, it should be easier to implement such a feature. Could possibly keep the exp_entry_versioning table as is, but instead of sav

[2022-08-08 23:58] rowansentesy commented on #364
I'm not sure if my current interest is related to the OP's post above, but it is the most similar so I'll start here.

I would like to see the Grid functionality exposed via Model Services. I have found working within the model services for most things to be awesome and very helpful for a lot of addon development work, however I ran into some snags when trying to generate a new Grid field, and set

[2022-08-09 09:23] jcogs-design opened #2228 "Add New option in relationship fields - modal dialog hard to use"
If you click on "new" in the "Relate" dialog box associated with a Relationship field, the dialog that appears is very difficult to navigate - it would appear all the column widths are fixed and too small.

![image](https://user-images.githubusercontent.com/13821249/183613740-b83ce130-9ccc-4c5c-88a8-de7069a61c79.png)

EE6.3.4

[2022-08-09 12:32] intoeetive commented on #867
In ExpressionEngine 7 image thumbs are displayed in original ration. Closing this issue

[2022-08-09 12:32] #867 closed, assigned to nobody

[2022-08-09 12:35] intoeetive commented on #2087
Late to the party, but please head over to [Forums](https://expressionengine.com/forums) or [EE Slack](https://expressionengine.com/blog/join-us-in-slack#join-us-on-slack) if you're looking for community help.

We tend to keep GitHub issues for bug reports and feature requests

[2022-08-09 12:35] #2087 closed, assigned to nobody

[2022-08-09 12:44] clifavenu opened #2233 "PHP 8.1.8 Warning with EE7.03 on Timestamp column"
Using current version of EE7.0.3 and PHP 8.1.8 throwing warnings when cloning an entry. Full warnings below

Deprecated
strtotime(): Passing null to parameter #1 ($datetime) of type string is deprecated

ee/ExpressionEngine/Service/Model/Column/ColumnObject/Timestamp.php, line 52

    Severity: E_DEPRECATED

Deprecated
strtotime(): Passing null to parameter #1 ($datetime) of type string is depreca

[2022-08-09 12:44] bryannielsen commented on #2199
Hi @shbchk, thanks for letting us know about this issue!

Could you share what your `.env.php` file looks like (please make sure to remove sensitive data) and also how you're using these values in your `system/user/config/config.php` file.

Also would you mind sharing the operating system and web server being used?

[2022-08-09 12:47] intoeetive commented on #2233
Hi @clifavenu

what fields (fieldtypes) do you have in the entry that's being cloned?

[2022-08-09 12:57] clifavenu commented on #2233
Hi Yuri,

  First noticed it with an entry with relationship, select, grid, fluid,
wygwam, radio and files fields.

Just checked another channel with just a textarea field type with the
same warning.

Thanks,
clif
***@***.***

On 8/9/2022 8:47 AM, Yuri Salimovskiy wrote:

[2022-08-09 13:17] intoeetive commented on #2233
Do you have any custom tabs or anything? Mostly interested in the fields that involve date inputs

[2022-08-09 13:25] clifavenu commented on #2233
The only add-ons at this time are wygwam and safeharbor. Otherwise all
core, and all are current releases.

As mentioned in the last email, it's throwing the warning on a channel
with only a textarea field type. That's the simplest input, but all our
channel entries have the same results regardless of field types.

It does create the clone, but with warnings.

On 8/9/2022 9:17 AM, Yuri Salimovskiy

[2022-08-09 13:27] clifavenu commented on #2233
I can give you access if you want. If so, please contact me directly.

On 8/9/2022 9:17 AM, Yuri Salimovskiy wrote:

[2022-08-09 14:14] intoeetive commented on #2118
@ajohnson FYI

[2022-08-09 15:21] intoeetive commented on #2098
@liamcrean

The message on screenshots will only appear in two cases: if you are logged in to Control Panel or you have `$config['allow_url_redirects_from_site'] = 'y';` set in your config file. For the general public and the default setup, 404 is thrown before XSS check

But also if you're logged in or have that config override set, 404 is not shown at all - you get Redirect warning interstitial

[2022-08-10 05:10] tyssen opened #2241 "Error when upgrading from 6.3.4 to 6.3.5"
I wanted to test upgrading our site to EE7. I ran the process locally and upgraded from 6.3.4 to 6.3.5 first and then to 7.0.3 no problem.

But when I attempted the same thing on our staging server, the updater failed at the 6.3.4–6.3.5 stage with:

Locally I'm running PHP 8.0.0. Staging is on 8.0.21. MySQL is 8.0.16 locally and 8.0.21 staging.

[2022-08-10 12:22] bryannielsen commented on #2241
@tyssen thanks for letting us know about this issue!  It seems like your staging environment may have `exec()` listed as a `disable_functions` in your `php.ini` file.  Do you have control over the PHP configuration or is this a shared host?  Ideally you will want to allow the `exec()` function to run because it is also being used for image manipulations (crop, resize, etc...).

Also if it's easier

[2022-08-10 13:29] intoeetive commented on #2142
Closing as duplicate of #2076

[2022-08-10 13:29] #2142 closed, assigned to nobody

[2022-08-10 23:55] tyssen commented on #2241
@bryannielsen I found in cPanel where to remove `exec` from `disable_functions` and have been able to complete the upgrade to 6.3.5 on staging. I'm not able to authenticate with the licence key on staging to be able to update to 7.x, but that's a separate issue.

[2022-08-11 02:51] PaulBaileyAtChan opened #2248 "[EE6] Minor glitch in rendering of markdown in Notes fieldtype"
A small apparent glitch with the Notes fieldtype in EE6.3.5. When text is italicised using markdown, it seems to be rendered with a line-break before and after. For example:

<img width="506" alt="Screen Shot 2022-08-10 at 7 27 55 PM" src="https://user-images.githubusercontent.com/46760375/184056257-26676e04-2afc-4baf-8459-837bb189a001.png">

renders as expected:

<img width="349" alt="Screen Shot

[2022-08-11 13:17] jcogs-design commented on #2103
Just a bump on this - I've got the same issue (6.3.5) and have found that if you add the conditional you initially get the wrong drop-down values as noted in the original post - however if you then save the field and do the update conditional logic thing,  the field reloads and when the field reloads you get the correct fields in the dropdown.
HTH

[2022-08-11 19:48] bryannielsen commented on #2241
Thanks for the update @tyssen, I'm glad you were able to finish the update with that change!

If you're having issues with a license key please send an email to support@expressionengine.com with the details and we should be able to get that sorted out for you.

[2022-08-11 19:48] #2241 closed, assigned to nobody

[2022-08-11 20:36] ops-andy opened #2255 "PHP Notice When selecting to anonymize IP address in consent logs"
In EE7 with PHP 8.1.
* Navigate to Settings -> Logging
* Select "IP Address"
* Click on "Save Settings"

The following PHP Notice is displayed:
[code]
![image](https://user-images.githubusercontent.com/55093827/184237548-44265cbc-21de-444f-a175-df9817f5db35.png)

[2022-08-12 12:24] clifavenu opened #2260 "SEEO - Existing File"
Hi,
We've run into a minor bug using SEEO 1.7.1, EE7.0.3 and php 8.1.8.

SEEO => Settings => OG or Twitter. Uploading an image from an existing opens the file mgr. Upon selecting a sub-folder, thrown to Files and no way back to the SEEO setup. Looks like sub-folders not working with the seeo.

Thanks,
clif

[2022-08-12 20:21] robinsowell commented on #2131
It also looks like it goobers category groups if you pull them over and save (along with not saving all of them and goofing up the ordering:

<img width="939" alt="Screen Shot 2022-08-12 at 4 21 04 PM" src="https://user-images.githubusercontent.com/1181219/184436720-149c89e5-1d67-4371-9d19-19637b3c7438.png">

[2022-08-14 22:03] PaulBaileyAtChan opened #2263 "[EE6/7] Instructions in CP for using IP wild-cards in Block / Allow add-on are incorrect"
This is an issue with instructions in the EE Control Panel, which can cause unexpected behaviour.

The CP page for the Block / Allow add-on gives the following instruction for adding to the list of blocked IP addresses:

But this appears not to be the behaviour of the add-on (see lines 207–239 of system/ee/legacy/libraries/Blockedlist.php, in the _check_blockedlist() function). Asterisks to identi

[2022-08-15 13:11] #2228 closed, assigned to Yulyaswan

[2022-08-15 13:12] #2103 closed, assigned to nobody

[2022-08-15 13:12] #2248 closed, assigned to nobody

[2022-08-15 13:13] #2127 closed, assigned to nobody

[2022-08-15 13:14] #2136 closed, assigned to nobody

[2022-08-15 13:18] #2157 closed, assigned to Yulyaswan

[2022-08-15 13:19] #1850 closed, assigned to nobody

[2022-08-15 15:50] #1561 closed, assigned to nobody

[2022-08-15 19:02] #1944 closed, assigned to nobody

[2022-08-16 15:44] intoeetive commented on #2143
@digicali I presume you are talking about front-end forms and creating the input manually.

If you just add checkbox input to the form, deselecting it will make not change (it will act the same as if it wasn't present on the form)

You need to have hidden input of the same name placed before the checkbox to have it reset when unchecked.

I am closing the issue now, if you still believe this is a b

[2022-08-16 15:44] #2143 closed, assigned to nobody

[2022-08-16 15:55] intoeetive commented on #2144
Noting that I wasn't able to replicate this in EE 6.3.5

[2022-08-17 05:35] #2063 closed, assigned to nobody

[2022-08-17 05:37] #2145 closed, assigned to nobody

[2022-08-17 05:37] #2105 closed, assigned to nobody

[2022-08-17 09:47] karlosb opened #2279 "EE7.0.3 -> Color Picker Field not displaying correct in entry"
Color Picker Field is not displaying correct in entry.

The field does not display a colour swatch icon or a drop down colour pallette, and appears to be a blank unformatted field.

**How To Reproduce**
Steps to reproduce the behavior:

**Environment Details:**
 - Version: ee 7.0.3
 - PHP Version 7.4 (or 8.1)
 - MySQL Version [e.g. 5.7]
 - OS: macOS
 - Web Server: Local DDEV nginx-fpm

[2022-08-17 11:40] intoeetive commented on #2093
Just noting that possible workaround for this is adding `false` as second parameter for `select()`
[code]

[2022-08-17 13:10] #1358 closed, assigned to nobody

[2022-08-17 15:04] freaksarise2 opened #2285 "Exception shown after creating select field populating from other field, but no source field selected"
Hi. I was in the process of making a new field (single selection pulldown type). I was about to prepopulate the field's options with another channel and remembered that I had yet to make the channel. I went over to a new tab to make the channel and then came back. In order to see the new channel as an option, I refreshed the browser and since that step, I can no longer access any fields in the CP.

[2022-08-17 15:24] TomJaeger commented on #2285
Thanks for passing this along.

Any chance you know what version of ExpressionEngine and PHP your running?

[2022-08-17 16:23] freaksarise2 commented on #2285
Oh Jesus, I was just sitting here and realized I forgot to include that. Sorry. Its EE Pro v6.3.4. In case it matters I have query installed, and low search installed. And PHP Version 7.4.30. Thanks!

[2022-08-18 12:51] 10on12 opened #2292 "Upgrading from 6.3 to V7 - error"
V6.3 PHP 7.4 – atempting to upgrade to V7

• Safari only displaying this error.

• Firefox displaying this error at the top of the control panel - control panel displayed below with version 7.0 listed as installed.

Notice
unserialize(): Error at offset 0 of 42 bytes

ee/ExpressionEngine/Service/Model/Column/Serialized/Native.php, line 27

    Severity: E_NOTICE

Warning
Cannot modify header infor

[2022-08-18 13:24] intoeetive commented on #2292
This should be fixed with the referenced PR once EE 7.1 is out (really soon!)

[2022-08-18 13:24] #2292 closed, assigned to nobody

[2022-08-18 18:33] litzinger opened #2296 "EE7.1 Structure missing some dark theme styles"
The Structure module is missing a few dark theme styles:

<img width="1242" alt="Screen Shot 2022-08-18 at 1 07 44 PM" src="https://user-images.githubusercontent.com/53965/185468672-38eb08fd-0081-493b-bd05-58fde3c65f85.png">

Would be nice to see this use the native modal styles:

<img width="350" alt="Screen Shot 2022-08-18 at 1 42 26 PM" src="https://user-images.githubusercontent.com/53965/18547

[2022-08-18 18:35] litzinger opened #2297 "EE7.1 Deferred Relationships not working as expected"
I'm not entirely sure this is working as expected. Below is a video of my CP page loading, and it's hard to tell exactly when the page render is done, but you can see "Edit Relationships" pop up for a quick second, then it turns into the "Relate Entry" button, but I had not clicked on "Edit Relationships" yet and the React field is immediately initialized.

https://user-images.githubusercontent.co

[2022-08-18 19:03] mcfarlandonline opened #2298 "Channels' Publish Layouts don't respect non-Primary member roles"
EE 6.3.5
PHP 7.3.33

I have a website where all the members need to have the same Primary role so they can access a front-facing intranet. However, some of those members also need Site Admin clearance, so they're assigned those roles, too. (But only the minimum access role as their "Primary" role).

I just noticed today, that the channel Publish Layouts don't honor the secondary member roles when

[2022-08-18 19:25] TomJaeger commented on #2298
Just to make sure we follow, users with the Super Admin role are getting the Super Admin publish layout, even if that's NOT their primary role?

[2022-08-18 20:44] mcfarlandonline commented on #2298
No, it seems even for the Super Admins, that if they're Primary Role is something else, they don't get the Super Admin publish layout.

So, for example, this is my Super Admin's role setting...

<img width="952" alt="Screen Shot 2022-08-18 at 1 39 58 PM" width="500" src="https://user-images.githubusercontent.com/20441129/185490592-866e175a-b282-4337-9e06-3de27824735d.png">

And this is the channel

[2022-08-19 03:42] ymhuka opened #2299 "Chmod/File Upload issue in EE version 7.1.0"
Getting the following error when trying to upload a file: **_Cannot create a temp file from path: chrootmaritime-connectivity_10.jpg_**

- The name of the file is "maritime-connectivity.jpg"
- It looks like EE is trying to save different versions. I tried uploading this file 10 times when trying to troubleshoot the issue; hence the "maritime-connectivity_10.jpg"
- This issue didn't appear when upd

[2022-08-19 03:45] ymhuka commented on #2299
Also, I
<img width="404" alt="Screen Shot 2022-08-18 at 10 44 04 PM" src="https://user-images.githubusercontent.com/5405983/185538502-53e9b6b3-38b5-445b-9398-43225bc659aa.png">
noticed that EE had added "/chroot" to the "Themes Path" in "Settings."

[2022-08-19 07:43] intoeetive commented on #2298
I can confirm that the layouts are assigned based on primary role (as the member can have multiple roles and we don't have system which would allow selection of layouts for member)

However it makes sense to pick the layout from secondary role, if the primary one does not have layout assigned

[2022-08-19 09:48] jcogs-design opened #2302 "Selectable Buttons - default tag / single value returns label not value"
If you define a selectable button field, limit it to a single value, and then access this field value within a template, the default response appears to be the button label rather than the button value.

So - if a field `animal_characteristics` is defined with an option pair
`cats -> cats eat chicken`

When the value is accessed in a template, the tag `{animal_characteristics}` returns `cats eat c

[2022-08-19 10:04] bytebaby opened #2303 "EE 7.0.3 and 7.1: Cannot upload files anymore."
I can no longer upload files (graphics), neither with the file manager nor via the icon in the button bar (text field). EE reports: "The root path /tmp is not readable" (see screenshot) But the file permissions of the directories are correct, the server path is also correct (the affected website has existed since EE 4xx)

![error01](https://user-images.githubusercontent.com/21154749/185595107-82ca

[2022-08-19 10:46] intoeetive commented on #2303
@bytebaby is this dedicated server / droplet or managed hosting of some kind?

Also, is your system folder above web root?

[2022-08-19 11:21] intoeetive commented on #2082
@avnerw I guess I'm late here, but looks like your code us missing the wrapping `{grid_field:relationship_field}` field tag pair. When using it, everything was parsed fine on my test

[2022-08-19 13:37] #2296 closed, assigned to nobody

[2022-08-19 13:38] #2263 closed, assigned to nobody

[2022-08-19 15:04] litzinger commented on #2297
I still don't see this working as expected. I updated to 7.1.1, cleared cache, and I tested in Safari and Chrome. Re-saved the field's settings so the deferred toggle is on, and the field always loads the React component immediately. The Edit Relationships button is never present.

[2022-08-19 16:32] karlosb commented on #2279
Hi Guys, the color picker still has the correct formatting now and displays a pop colour pallete. But the existing entry hexadecimal values in the color picker field do not show and still show a blank field.

[2022-08-19 17:00] ic360-com opened #2311 "Channel Form not processing changes in Default Template Group index"
I have a Channel Form in the 'index' template of the site's Default Template Group.
It submits and reloads the page okay, but the changes are not being made to the Entry.
However, if I try either of the following it works fine:
1) Adding "index.php" to the "URL and Path Settings > Website Index Page" field in the CP Settings.
....or...
2) Trying the same Channel Form code on another Template.

EE

[2022-08-20 00:33] PhilBrienesse opened #2312 "Conditional Field starting status with radio buttons"
Simple channel set up with a radio button field and 2 conditional fields which show or hide based on the value of the radio button.
radio button field with two values 'basic' or 'complex'
Their are 2 conditional fields on the entry one shows when the radio button is basic and the other shows when it is complex.
When the edit entry page first loads neither conditional field is displayed. You have t

[2022-08-20 07:34] Caleydon opened #2313 "Can't install Structure addon"
Sorry, please ignore and close this report.

[2022-08-20 07:37] #2313 closed, assigned to nobody

[2022-08-20 07:41] bytebaby commented on #2303
No, as always, the EE system directory is under the web root.

[2022-08-21 00:30] bici commented on #1851
i implemented this fix posted by Bailey on the latest  Version 7 of EE. I am surprised that this has not been addressed as it seems to be a relatively easy code fix. I say easy but there may be other underlying reasons why it has not been addressed.
**NOTE**: only by implementing this fix have i been able to successfully search all entires in all channels. without the code fix searching was broken

[2022-08-21 15:38] dankingsley commented on #1465
@TomJaeger Any update on this or #1425? Would really enable me to move a few of my sites over from Wygwam... thanks.

[2022-08-22 06:09] intoeetive commented on #2297
@litzinger This is how it worked in the original PR. However I think I know what has caused that, and I believe that's kind of "big typo" - block of the code that should not be there. Referenced commit should be fixing it.

@Yulyaswan please review, if all is good - then we need same change in the PR for 6.x #1882

[2022-08-22 06:53] intoeetive commented on #2312
@PhilBrienesse can you post a screenshot of how the field conditionals look like?

[2022-08-22 08:55] intoeetive commented on #2303
@bytebaby do you have a way to test using file in this PR to see if that solves your issue?
https://github.com/ExpressionEngine/ExpressionEngine/pull/2291/files

[2022-08-22 08:56] intoeetive commented on #2299
@ymhuka  do you have a way to test using file in this PR to see if that solves your issue?
https://github.com/ExpressionEngine/ExpressionEngine/pull/2291/files

[2022-08-22 10:48] intoeetive commented on #1981
If you set the EE language to RTE language (such as Arabic) the CKEditor text is changing the direction automatically.

However this does not happen with Redactor

(There is no official or complete language pack for Arabic, but the direction change can be achieved by just placing empty `arabic` folder under `system/user/languages`)

[2022-08-22 10:50] litzinger commented on #2297
I need to go back and update my original PR? At this point though it's extremely outdated.

[2022-08-22 10:56] intoeetive commented on #2297
@litzinger do not worry, we'll do that (and hopefully merge into 6.x soon)

[2022-08-22 10:58] litzinger commented on #2297
Deleted last comment, I misread it and realized it wasn't addressed to me and got really confused. Sorry about that.

[2022-08-22 11:07] bytebaby commented on #2303
Yes. I've replaced the three snippets in the two files exactly, but I get the following error:

<img width="297" alt="image" src="https://user-images.githubusercontent.com/21154749/185906436-cc2020ff-0e20-4b93-b401-dcc9f2a6da20.png">

The error immediately appears on the homepage of the website.

[2022-08-22 11:11] intoeetive commented on #2303
Interesting. Can you share some info about your environment?
(OS, PHP version, server path to the site, hosting type, any other useful info...)

[2022-08-22 13:50] #2279 closed, assigned to nobody

[2022-08-22 13:50] #2297 closed, assigned to nobody

[2022-08-22 13:50] #2255 closed, assigned to nobody

[2022-08-22 13:51] #2109 closed, assigned to nobody

[2022-08-22 15:09] bytebaby commented on #2303
Mac OS 12.5.1
PHP 7.4
/www/htdocs/xxxxxxx/mydoman.tld/mySystemFolder/
Image-Path: /www/htdocs/xxxxxxx/mydomain.tld/images/bilder/
Apache HTTP Server
MariaDB

I will also test the website locally.

[2022-08-22 16:54] #2076 closed, assigned to nobody

[2022-08-22 16:54] #2126 closed, assigned to nobody

[2022-08-22 20:25] robinsowell commented on #1581
I think re CartThrob, you can't currently make anything from Tabs a column.  It's only custom fields.  But we have that as a feature request (internally).

I was thinking what might also be nice- to me, if you include it as a column?  I'd ALSO like it to show up as a filter.  If you care enough about the data to want to show it in a column, you'd probably find it useful to be able to filter on it.

[2022-08-22 20:36] litzinger commented on #2297
I just updated to 7.1.2, and I'm still seeing the same behavior. An existing entry with a field with an already assigned relationship immediately loads React instead of displaying the related entries and the Edit Relationships button. A field with no assigned entries, e.g. when creating a new entry, does show the Edit Relationships button.

[2022-08-22 20:47] litzinger commented on #2297
If I remove the `&& empty($selected)` in the conditional that was added recently I can see the field displaying on page load as expected. It shows a related entry, and the Edit Relationships button, but the React is still immediately taking over and making the field active without getting a chance to click on Edit Relationships.

[2022-08-23 05:53] intoeetive commented on #2297
No idea how that happened ;(

The change was in https://github.com/ExpressionEngine/ExpressionEngine/commit/f66c8b2cb092fc7b9269590eeb2f1a71b05cb583 but did not make it through in the merge commit.

Thank you for bringing attention, we'll have this included (once again!) in 7.1.3

[2022-08-23 06:07] intoeetive commented on #2153
This has also been requested in #1850

Is implemented in EE7, implementation for EE6 is pending release

#2212 #1975

[2022-08-23 06:07] #2153 closed, assigned to nobody

[2022-08-23 06:42] intoeetive commented on #2034
This has been fixed in EE 6.3.4
https://docs.expressionengine.com/v6/installation/changelog.html#version-634-release-may-6-2022

[2022-08-23 06:42] #2034 closed, assigned to nobody

[2022-08-23 06:57] intoeetive commented on #1993
Yeah this looks like really nice to have.

I wonder if the best approach is to submit extra field which would trigger "validation only" mode (like this is done with `ee_fv_field` in CP).

But - if you already have the code that is working, maybe you could just submit the PR, and that would be it.

[2022-08-23 07:14] intoeetive commented on #2026
Just nothing that I wasn't able to replicate this so far. Perhaps certain combination of user actions is needed

[2022-08-23 10:35] ic360-com commented on #1581
Yes, it would be nice to be able to add any Field (where possible) into the Entry Listing columns. And then additionally provide a Filter for every column.
I used to like how Magento provided that feature - when I was working with Magento - for every column filterable.
More complex to set up initially... but powerful for the user.  :-)

![attribute-search](https://user-images.githubusercontent.com

[2022-08-23 13:28] intoeetive commented on #1623
Confirming the errors reporting here is not very useful.
This is what I got on my test:
![image](https://user-images.githubusercontent.com/752126/186170449-cf74c7de-655f-42d7-acb2-50d6f562655e.png)
We'll see what we can do to improve it

[2022-08-23 13:30] intoeetive commented on #2009
@ajohnson FYI

[2022-08-23 13:35] intoeetive commented on #2011
In this code, you're checking whether `guided_experience_slider` (Grid field) evaluates to empty string - which is not the case if Grid was manipulated indeed.

Instead, you should check whether it's not empty, e.g. `guided_experience_slider:total_rows`

[2022-08-23 13:35] #2011 closed, assigned to nobody

[2022-08-23 13:50] eric-lamb62 commented on #1993
Oh nice; tbh, I don't follow you on the `ee_fv_field` but I can put a PR together for this, no problem.

[2022-08-23 13:58] intoeetive commented on #1993
If you blur the entry field (or almost any field) in CP, you'll notice the ajax request going out; it submits all the same data and goes to same endpoint, but also adds that `ee_fv_field` variable with the name of the field that's currently validated. That tells the backend that this is validation request, and entry should not be saved.

Here's random example of this in action
[code]
`ee()->form_v

[2022-08-23 14:04] eric-lamb62 commented on #1993
Oh! That's pretty neat; haven't done much CP Entry "stuff" outside FieldTypes so that's handy to know. Agreed though likely not related to front end use. Mostly, for this, am thinking a simple module method should do the trick (or at least get the discussion started for that tool).

[2022-08-23 14:09] eric-lamb62 commented on #1993
... should i do this in 6 or 7 @intoeetive?

[2022-08-23 14:12] intoeetive commented on #1993
That's up to you. I think the same code could be PRed into both 6 and 7... Or we can cherry pick if it's one or two commits

[2022-08-23 14:13] eric-lamb62 commented on #1993
Cool. Will do in 6 first then copy/paste into 7 once we iron out the implementation in 6.

[2022-08-23 15:27] mattrandles commented on #2279
Hi, i'm still seeing this on 7.1.2 when the color picker field is in a grid as a fluid field. Additionally, when added to the entry in a fluid field, the color picker in the grid fails to open until the entry has been saved.

**How To Reproduce**
Steps to reproduce the behavior:
Create a grid field, displayed vertically that has a color picker in it (not a required field).
Allow a fluid field to u

[2022-08-23 16:07] cjgyt commented on #2011
Thank you! I've resolved the issue another way. Very much appreciate your help!

[2022-08-23 16:50] eric-lamb62 commented on #1993
Got the PR up :)

[2022-08-24 07:49] #1473 closed, assigned to nobody

[2022-08-24 07:52] intoeetive commented on #2132
Thank you for the report.
I have passed this on to Assets team so closing the issue

[2022-08-24 07:52] #2132 closed, assigned to nobody

[2022-08-24 08:00] #671 closed, assigned to nobody

[2022-08-24 08:03] intoeetive commented on #1679
With the release of ExpressionEngine 7 and the new File Manager there is no intermediate screen for upload, so this is not relevant anymore.

[2022-08-24 08:03] #1679 closed, assigned to nobody

[2022-08-24 08:04] intoeetive commented on #2038
With the release of ExpressionEngine 7 and the new File Manager there is no intermediate screen for upload, so this is not relevant anymore.

[2022-08-24 08:04] #2038 closed, assigned to nobody

[2022-08-24 08:05] intoeetive commented on #1120
New File Manager has been released in ExpressionEngine 7.

Thank you everyone for the contributions. Without your participation and feedback, we would never be able to get where we are now.

[2022-08-24 08:05] #1120 closed, assigned to ajohnson, ops-andy

[2022-08-24 08:20] andysh-uk opened #2326 "Color picker does not reload saved value"
I have added a color picker to a field group, which is assigned to a few channels.

Choosing a colour and saving it is fine - the colour shows up on the website correctly.

However when I edit the entry again, the existing saved colour does not load, so when the content item is re-saved, the colour is lost.

My colour picker is set to "Any" and this happens whether I choose a colour from the picke

[2022-08-24 13:16] captainFishcake opened #2329 "Outgoing Email SSL failure warnings EE 6.3.5"
Bug report with regard to outgoing email. PHP version 8.0.22. I recently changed the outgoing email settings from PHP mail to SMTP with connection type SSL. It was working fine with no errors with earlier EE version 6.3.x. But since upgrading to version 6.3.5 when I send a test message from the website contact form the message goes through, as before, but I get SSL failure warnings along with the

[2022-08-24 16:03] ymhuka commented on #2299
@intoeetive. Thank you for your response. We followed your directions, and I'm not sure if we did something wrong, but this is the error we got after applying the changes: "The root path is not readable." See attached.

![image](https://user-images.githubusercontent.com/5405983/186466343-7eae9e53-3e91-49d3-9bfc-e4c0347a8927.png)

On a separate note (maybe it should be a separate bug), we ran into

[2022-08-24 16:29] dankingsley opened #2330 "Add a link to open up a child related entry from the parent edit entry screen"
**Is your feature request related to a problem? Please describe.**
When editing an entry which has child related entries, it's a pain to be able to get into one of those entries to edit them.

**Describe the solution you'd like**
Being able to jump across either with a modal window, or just a link to open the entry itself from the parent entry to a child related entry would be great!

**Describe a

[2022-08-25 00:24] jubjubinc opened #2331 "item_table field in revision_tracker table is not long enough for table names"
We are using ExpressionEngine 6.3.5. PHP 7.4.30, MySQL 10.4.25-MariaDB

When turning on template revision tracking in template preferences and trying to save a template, we got the attached error. I looked at the database, and the item_table field in the database looks like it's set to 20 characters, but our table name is 31 characters long.

Let me know if you need any more info.
![Screen Shot 20

[2022-08-25 05:33] intoeetive commented on #2326
@andysh-uk would you be able to pick up the files from this PR, replace the files on your system and check whether that solves your issue?

[2022-08-26 00:10] studionigh opened #2335 "Error adding a File field or image field to the custom columns on the entries list."
**Description of the problem**
I have a channel for Apps, and within the channel, I have a field for the apps logo. I thought it would be great to see the logo as part of the columns on the listing view of the entries. I have tried this on two different sites, and one has a warning but shows the URL to the image:

[code]
And the other site shows an error, and now I am not able to see any entries i

[2022-08-26 05:55] intoeetive commented on #2335
@studionigh thank you for the report.

This seems to be related to the fact that at least in one entry the fields are pointing to the files that do not exist. The pull request referenced here will fix the issue

[2022-08-27 09:48] appricosa commented on #2303
I am experiencing a similar error after upgrading to EE 7 (now 7.1.2). But my error message is a little different:
<img width="962" alt="Bildschirmfoto 2022-08-27 um 11 41 42" src="https://user-images.githubusercontent.com/49977166/187024845-d1f53f25-4019-4d53-8ab8-6cab979da0a2.png">
I had followed the instructions to migrate to the new file manager, synched all files and also created a new upload

[2022-08-28 13:23] appricosa opened #2337 "Don't make EE7 upgrade look like a critical update."
I am running 6.5.3 and when someone clicks on the update/version badge in the bottom left corner, they get alerted by a very aggressive upgrade notice.

<img width="433" alt="Bildschirmfoto 2022-08-28 um 15 17 55" src="https://user-images.githubusercontent.com/49977166/187075930-d5c9adf0-d028-4d09-b2e3-a0e59850a245.png">

Since EE6 is LTS, it does not make sense to have the upgrade to EE7 message

[2022-08-30 12:46] shbchk opened #2338 "Pro Variables: can not save Grid's "Always use a vertical grid layout?" setting"
Added new Grid variable, toggle "Always use a vertical grid layout?" returns to OFF after saving variable settings.

EE 7.1.2
Pro Variables 5.0.2

![5fc7d1e3-aef9-4a23-b83b-4dc6fcc0b570](https://user-images.githubusercontent.com/12234507/187440029-64ccc595-f836-4ef2-8050-4f8b4dd03109.png)

![b7e02600-f178-4aba-9853-890fae70d8bb](https://user-images.githubusercontent.com/12234507/187440074-f5885e3f

[2022-08-30 13:04] shbchk commented on #2338
And also I can not save Color Picker value in this Grid field variable. Both default value in settings and value in field

[2022-08-30 14:29] shbchk opened #2340 "Getting warnings when using Pro Variables"
[code]

There are two Pro Variables on the page and both of them are Grid type.

First one:

[code]

Second variables pair tag:

[code]

EE 7.1.2
Pro Variables 5.0.2

[2022-08-30 14:38] intoeetive commented on #2340
What is your PHP version?

[2022-08-30 14:39] shbchk commented on #2340
Hi Yuri!
PHP Version 7.4.21

[2022-08-30 15:22] intoeetive commented on #2340
Grid variable type requires using `{exp:pro_variables:parse}` tag:
https://eeharbor.com/low-variables/documentation/tags#tag-{exp:low_variables:parse}

Can you make the change and see if it fixes the things for you?

[2022-08-30 15:29] bryannielsen commented on #2303
@appricosa I definitely understand the frustration and we do apologize for this issue you've encountered when upgrading to EE7.  I realize you've already spent a lot of time upgrading and discovering this issue and then reverting to EE6 so I hate to take up more of your time.  But if it's possible to get a little more information on your setup it may help us reproduce the issue and get a fix for y

[2022-08-30 15:37] shbchk commented on #2340
Nope :(

[2022-08-30 15:53] shbchk commented on #2340
Looks like it isn't required after all:

[{exp:low_variables:pair var="my_var"}{/exp:low_variables:pair}](https://eeharbor.com/low-variables/documentation/tags#tag-exp_)

In order to avoid conflicts with multiple instances of the Parse tag, both single and paired, you can use the alias {exp:low_variables:pair} for tag pair use. **It is identical to the Parse tag, but meant for tag pair use only.**

[2022-08-30 15:59] intoeetive commented on #2340
I wasn't able to replicate this so far.

Can you narrow it down to one of the variables that are being used (as the error seems to be caused by just one of those)? And what are the column types in that Grid?

[2022-08-30 16:03] intoeetive commented on #2337
@appricosa thank you for the feedback

Upgrading to v7 is only possible if you are running the latest (for the current moment) version of EE6

That means, as soon as new version of EE6 will be released, you will it as available update (and not v7)

[2022-08-30 16:47] shbchk commented on #2340
I just replicated it on a clean EE 7.1.2 install.

So, we need to create two Grid-type variables:

First grid, two columns: textarea, toggle
Second, three columns: text input, file (image), URL

index/index template contents:

[code]

Variables:
![c366e891-0f37-4f5a-a920-07722f3abe3c](https://user-images.githubusercontent.com/12234507/187493896-cf3e1245-d9de-4335-81b9-e908849517f9.png)

Result:
![

[2022-08-31 08:32] intoeetive commented on #50
This has been added in ExpressionEngine 7: https://docs.expressionengine.com/latest/fieldtypes/relationships.html#optimizing-relationships-performance

[2022-08-31 08:32] #50 closed

[2022-08-31 08:34] intoeetive commented on #65
This has been implemented for the new File Manager in ExpressionEngine 7

[2022-08-31 08:34] #65 closed

[2022-08-31 12:16] intoeetive commented on #259
The Last Modified date is shown in CP with the new File Manager that's included in ExpressionEngine 7 release.

[2022-08-31 12:16] #259 closed

[2022-08-31 12:17] intoeetive commented on #300
The thumbnails are respecting the original ratio in ExpressionEngine 7.

[2022-08-31 12:17] #300 closed

[2022-08-31 12:18] intoeetive commented on #301
Subfolders supported added in ExpressionEngine 7

[2022-08-31 12:18] #301 closed

[2022-08-31 12:29] intoeetive commented on #485
In ExpressionEngine 7 is it possible to select allowed file types for each Upload Directory, as well as define custom file types.

I believe this is covering this need, so closing

[2022-08-31 12:29] #485 closed

[2022-08-31 12:40] intoeetive commented on #608
The UI for this has changed in EE7 so I believe the issue can be marked as resolved

[2022-08-31 12:46] #694 closed, assigned to nobody

[2022-08-31 12:47] intoeetive commented on #751
The performance issues with duplicate queries have been addressed in ExpressionEngine 7. The changes will also be backported to 6.4.0

[2022-08-31 12:47] #751 closed, assigned to nobody

[2022-08-31 12:48] intoeetive commented on #752
I believe this is not relevant anymore with the new File Manager in EE7. Feel free to reopen if you face the issue again

[2022-08-31 12:48] #752 closed, assigned to nobody

[2022-08-31 12:49] intoeetive commented on #755
The Sync UI has changed in ExpressionEngine 7, so this issue is no longer relevant

[2022-08-31 12:49] #755 closed, assigned to nobody

[2022-08-31 12:54] intoeetive commented on #843
Starting with EE 6.3, you can use Notes fieldtype for this

[2022-08-31 13:17] #2121 closed, assigned to nobody

[2022-08-31 13:18] #2338 closed, assigned to nobody

[2022-08-31 13:18] #2340 closed, assigned to nobody

[2022-08-31 13:28] intoeetive commented on #1074
This has been fixed in EE6

[2022-08-31 13:28] #1074 closed, assigned to nobody

[2022-08-31 13:28] #1071 closed, assigned to nobody

[2022-08-31 13:29] #1098 closed, assigned to nobody

[2022-08-31 13:33] #1279 closed, assigned to nobody

[2022-08-31 13:39] intoeetive commented on #1220
@robsonsobral now that we have merged #1259, should we consider this as done and close the issue?

[2022-08-31 13:40] #1195 closed, assigned to nobody

[2022-08-31 13:41] intoeetive commented on #1193
@robsonsobral thanks for implementing this!

[2022-08-31 13:41] #1193 closed, assigned to nobody

[2022-08-31 13:51] pyrobob83 commented on #843
@intoeetive I don't see how Notes solves this issue as a 'Notes' field would insert any content above the entire File Grid field.  The request I had was to allow us to add instructions specific to the 'File' column under the word "File", eg:
![image](https://user-images.githubusercontent.com/8193519/187694574-b9ee3eec-8e9b-48c3-915e-42c961002aa0.png)

I understand you wouldn't see that if the File

[2022-08-31 14:09] intoeetive commented on #843
@pyrobob83 sorry, I probably did not read your description well enough.

My suggestion was to use Notes as column in Grid, but when I went to make a screenshot I realized that it's not available as Grid column. This is probably something that we need to work on.

But I also see that your request is about a different things. Thanks for the explanation - and reopening

[2022-08-31 14:10] #2335 closed, assigned to nobody

[2022-08-31 14:12] #1359 closed, assigned to nobody

[2022-08-31 14:15] robsonsobral commented on #485
Does eecms7 allow filter files by extension?

[2022-08-31 14:16] intoeetive commented on #1369
This has been implemented for EE 7 and will also be backported into 6.4.0

[2022-08-31 14:16] #1369 closed, assigned to nobody

[2022-08-31 14:18] robsonsobral commented on #1220
Per topic:

**Manipulated images always have the same name**

I've no idea. I haven't tested eecms 7 yet.

**Assets management and cache busting**

Yes! It's done!

**Search by POST and non cacheable URLs**

I don't know. I haven't tested the Search Pro module.

[2022-08-31 14:21] pyrobob83 commented on #843
Thanks @intoeetive  - yes, adding a Notes field as a column in the grid wouldn't help either.

I can't think of a single instance where I'd use a Notes field as one of the File Grid (or regular Grid) columns though since each column already has the Instructions available (except the File column in a File Grid, which is my issue)... so I wouldn't say you need to worry about making Notes available t

[2022-08-31 14:28] intoeetive commented on #485
EE7 supports filtering by File Type: https://docs.expressionengine.com/latest/control-panel/file-manager/upload-directories.html#allowed-file-types

There are several types built in, and you can also create custom types: https://docs.expressionengine.com/latest/config/config-files.html#allowed-mime-types

[2022-08-31 14:35] intoeetive commented on #2141
Implemented in EE7, will also be backported to 6.4.0

[2022-08-31 14:35] #2141 closed, assigned to nobody

[2022-08-31 14:42] intoeetive commented on #2106
This has been also requested in #1790 - closing this one as duplicate

[2022-08-31 14:42] #2106 closed, assigned to nobody

[2022-08-31 14:43] intoeetive commented on #2090
This has been fixed in EE7 and the fix is getting backported into 6.4.0

[2022-08-31 14:43] #2090 closed, assigned to Yulyaswan

[2022-08-31 14:51] intoeetive commented on #1565
Support for `.env` files have been included with ExpressionEngine 7: https://docs.expressionengine.com/latest/advanced-usage/env-support.html#env-file-support

[2022-08-31 14:51] #1565 closed, assigned to nobody

[2022-08-31 15:46] #2131 closed, assigned to nobody

[2022-08-31 16:00] studionigh opened #2343 "File field not loading in the CP"
I am running ee 6.3.5 and have a field named "File Download". This field is used in two channels. In one of the channels, when I create a new entry, the field does not load.
<img width="588" alt="Screen Shot 2022-08-31 at 10 55 18 AM" src="https://user-images.githubusercontent.com/182628/187723767-3059720b-a206-4e37-94ff-2e40ff90b274.png">

My first thought was that the field somehow got disconnec

[2022-08-31 16:29] studionigh commented on #2343
Fixed!  There was another field in that channel that somehow got disconnected from the directory.

[2022-09-01 06:15] #2343 closed, assigned to nobody

[2022-09-01 06:36] intoeetive commented on #2047
This seems to be same as https://github.com/ExpressionEngine/ExpressionEngine/issues/185
Closing as duplicate

[2022-09-01 06:36] #2047 closed, assigned to nobody

[2022-09-01 07:05] intoeetive commented on #1657
Moving the files is now possible in ExpressionEngine 7

[2022-09-01 07:05] #1657 closed, assigned to nobody

[2022-09-01 14:18] intoeetive commented on #1901
@gb-lin unfortunately the "fix" we made was not right. We have to revert it because it causes issues with other add-ons.

Re-opening the issue until we get better fix for add-ons that use the (almost not documented) `models.dependencies` feature (can't yet provide any ETA for it)

[2022-09-01 15:37] dankingsley opened #2347 "File used for "Branding" doesn't count usage"
**Description of the problem**
Uploading a logo for use on the login screen in EE7, obviously adds the file to the file manager, but this doesn't count towards it's usage.

**How To Reproduce**
Steps to reproduce the behavior:
- Upload a file
- Go to the branding section of the control panel
- Add the file as the logo to show on the login screen
- Check to see that usage hasn't changed on this fil

[2022-09-01 15:54] #2326 closed, assigned to nobody

[2022-09-01 16:10] dankingsley opened #2348 "preg_split error message with php 8.1"
**Description of the problem**
On saving an entry with php 8.1 I get a preg_split depreciated error message

**Error Messages**
preg_split(): Passing null to parameter #3 ($limit) of type int is deprecated
ee/ExpressionEngine/Service/Formatter/Formats/Text.php, line 51

Severity: E_DEPRECATED

**Environment Details:**
 - Version: 7.1.2
 - PHP Version 8.1

[2022-09-01 16:12] dankingsley opened #2349 "Structure php deprecated error with php 8.1"
**Description of the problem**
With the latest version of EE 7 with Structure I get a deprecated error message when saving an entry.

**Error Messages**
Automatic conversion of false to array is deprecated
ee/ExpressionEngine/Addons/structure/sql.structure.php, line 1188

Severity: E_DEPRECATED

**Environment Details:**
 - Version: 7.1.2
 - PHP Version 8.1

[2022-09-01 16:17] shbchk opened #2350 "Ability to reorder fields in Fluid field"
Alphabetic order is not always good. It would be nice to have ability to reorder fields in Fluid field. Like categories, for example.

[2022-09-01 16:19] #2116 closed, assigned to nobody

[2022-09-01 16:20] #2331 closed, assigned to nobody

[2022-09-01 16:23] #1901 closed, assigned to nobody

[2022-09-01 19:31] shbchk commented on #2340
Updated to 7.1.3, but warnings is still there. Am I missing something?

[2022-09-01 19:40] shbchk commented on #2340
Well, git tells me that Pro Variables files haven't been changed by this update. Is it possible?

[2022-09-02 00:46] studionigh opened #2353 "ExpressionEngine 7 error on upgrade"
I updated a site from 6.3.5 to 7.1.2 and started to notice some of the toggles and other elements of the control panel do not work. I looked and the browser is logging some warnings:

[code]

and  errors:
[code]

I also noticed that when I close the message block at the top of the control panel, and then refresh the page, the panel comes back. I have uploaded and replaced all files in /system/ee a

[2022-09-02 04:31] intoeetive commented on #2353
It looks like some of your javascript files were not updated properly (namely `themes\ee\asset\javascript\src\cp\global_start.js` in this case) or you it cached in browser and it did not update for some reason.

Please double check the themes files were updated, clear browser cache and try again

[2022-09-02 05:00] intoeetive commented on #2340
It looks like we had some glitch with the release. Can you please re-download the files and try again? (1-click update should also work if you set version back to 7.1.2 in your config.php)

[2022-09-02 08:44] ic360-com opened #2356 "Entry Preview still available when switched off"
Even though I have the "Allow Preview" option switched off and the "Preview URL" blank in the Channel Settings, the Preview button is still available when editing an Entry.
EE 6.3.4
EE 6.3.5

[2022-09-02 10:35] intoeetive commented on #2348
Hi @dankingsley , what fieldtypes (or tabs provided by addons) do you have in that entry?

[2022-09-02 10:38] dankingsley commented on #2348
I've got it happening on a couple of simple sites I've just upgraded to EE7 and it's happening across all channels and entries.

- I expect it might be Structure since that has tabs/fields etc and would explain the universal issue.
- Fields are just fairly standard - RTE, Files, Text

[2022-09-02 11:24] intoeetive commented on #2348
(marking as possibly related to https://github.com/ExpressionEngine/ExpressionEngine/issues/2349 )

What is the channel type for this entry as set in Structure settings? Also maybe you could make a screenshot of how Structure tab looks for this entry? I'm unable to replicate this so far

[2022-09-02 11:36] intoeetive commented on #484
I think we could pull in the extra toggle, same way that we do for the files that are assigned to entries in EE7

[2022-09-02 11:47] dankingsley commented on #2348
The channel is a Page type within Structure. Although I've also just tried saving a listing type entry too and it's happening there too - basically every entry where Structure is managing the channel. I've just tried creating a new channel not managed by Structure and oddly this error doesn't occur, but #2349 still does!

And I've attached a screenshot of what is in a Structure tab - the only thin

[2022-09-02 12:26] bakin1999 commented on #2356
tagged the wrong issue on my fix, this is for issue 2348

[2022-09-02 12:27] dankingsley commented on #2348
Yep that fixes it @bakin1999

[2022-09-02 12:34] bryannielsen commented on #2199
It's possible that you are using names in your `.env.php` file that are conflicting with system environment variables and causing a problem. https://github.com/vlucas/phpdotenv/issues/523

Please feel free to reopen the issue if you have more details that can help us reproduce.

[2022-09-02 12:34] #2199 closed, assigned to bryannielsen

[2022-09-02 12:37] shbchk commented on #2340
Done. Thank you, Yuri!

[2022-09-02 12:45] dankingsley opened #2360 "Upgrading from EE 7.1.2 to 7.1.3 fails"
**Description of the problem**
Upgrading from 7.1.2 to 7.1.3 fails on multiple sites of mine via the 1 click upgrade, with no error message on php 8.1. Switching back to php 7.4 says there is an error with the root path not being readable. Since I had only just upgraded to 7.1.2 I didn't think this could possibly be the case since my server config hasn't changed. I tried upgrading manually and get

[2022-09-02 12:59] bakin1999 commented on #2349
@dankingsley I am not able to replicate this one at all, so this happening when you save an entry managed by structure.  When you go to the channel settings of that channel in the structure addon settings is the channel set to listings? Page? I have tried both but so far have not had this one come up.

[2022-09-02 13:09] dankingsley commented on #2349
It's happening on all entries - both pages and listings.

The only thing to add which may help in replicating was that the couple of sites where this is happening were previously EE 6 sites with the Structure addon installed. Having migrated to EE 7 with the addon now part of core, I obviously upgraded from Structure 5 to the in-built Structure 6 and removed the third party addon files.

More than

[2022-09-02 13:16] shbchk opened #2361 "Redactor toolbar hides behind entry tabs when sticked to the top of the screen"
When I have a lot of text in RTE field and scroll down to edit it, Redactor toolbar sticks to the top of the screen and that is great.

But entry tabs are also sticked to the top with higher z-index - so I can't use RTE toolbar :)

![ec8d6aad-6c24-4704-956b-9f080f3093c6](https://user-images.githubusercontent.com/12234507/188153863-a6719aef-36a3-44a2-b0a6-246ceb2e73b1.png)

EE 7.1.3

[2022-09-02 13:20] intoeetive commented on #2361
While not real fix, for the time being you can limit the max-height for Redactor fields in toolbar settings

[2022-09-02 13:37] intoeetive commented on #2360
@dankingsley we potentially have a fix for this, but having hard time to replicate the exact issue.

Can you help us test this? Replace the file with these changes and hopefully this will just work:
https://github.com/ExpressionEngine/ExpressionEngine/commit/f19d8e903ff44d7de41afdf2d4c9d2ce52318984

[2022-09-02 13:41] dankingsley commented on #2360
Yes @intoeetive - that fixes it!

[2022-09-02 13:41] intoeetive commented on #2360
Great, thank you!

[2022-09-02 14:32] studionigh commented on #2353
I have updated all files in the \system\ee and \themes\ee, I again updated: \ee\asset\javascript\compressed\cp\global_start.js
I get the same error in different browsers.
error from Firefox:
![2022-09-02_09-30-15](https://user-images.githubusercontent.com/182628/188171795-a074cc70-6d6b-46eb-b8e3-221d5f7e42b7.png)
error from Safari:
![2022-09-02_09-25-08](https://user-images.githubusercontent.com/1

[2022-09-02 14:57] DesignWorkshop opened #2362 "Fluid field last variable not working on relationship field"
EE 6.3.5

Team member is a relationship field.
When used within a fluid field the last variable is not working.

`{page_content:team_member}
{if ! page_content:team_member:last}
Not last field
{if:else}
Last field
{/if}
{/page_content:team_member}`

When the team member field is the last field in an entry the code above outputs 'Not last field'.

[2022-09-02 15:20] litzinger commented on #2348
FWIW I had a customer using DataGrab report the same thing, and I could replicate it myself.

[2022-09-03 08:52] Sungodragon commented on #508
Hi is there any alternative to achieve this? i.e. outside the scope of EE which can be implemented.

Will a forum post help better or on Discord?
Just for reference, this kind of feature is available in WordPress, Craftcms to name a few.
This feature will be a Game Changer for EE, especially for Global Companies and Enterprises.

[2022-09-03 10:28] builtbyryde2022 opened #2363 "Channel Layouts"
Channel layouts not working. Have created a new tab for META and tried moving three custom fields to the tab but they are not saving on save.

[2022-09-03 10:52] intoeetive commented on #508
Yes - if you post on EE [Forums](https://expressionengine.com/forums) or [Slack](https://expressionengine.com/blog/join-us-in-slack), there's a chance someone in the community could have done it before and can help.

[2022-09-03 18:34] studionigh commented on #2353
When I click "check for updates" in the lower left of the CP. It throws another error:
![Screen Shot 2022-09-03 at 1 31 40 PM](https://user-images.githubusercontent.com/182628/188283820-de3a12e1-8466-4cfc-afad-07bb9d543853.png)
which references this:
![Screen Shot 2022-09-03 at 1 32 21 PM](https://user-images.githubusercontent.com/182628/188283838-1cbc4dd1-4214-4403-a918-934ad96d2234.png)

[2022-09-04 23:23] studionigh commented on #2353
As it turns out. I deleted and reuploaded the front end folders: /public_html/css and /public_html/js/ and this fixed the issue.  Weird!

[2022-09-04 23:23] #2353 closed, assigned to nobody

[2022-09-05 12:30] intoeetive commented on #310
I have investigated this and appears that unlike fields, which have `field_ft_X` column in database to store formatting preference, Grid columns only have `col_id_X` and no formatting column. So adding this would be not just UI change, but an update to how data are stored

[2022-09-05 15:43] intoeetive commented on #491
It's two years since this has been reported, but I just had a deeper look into it and have something to say.

The documentation piece @robinsowell is quoting is referring specifically to add-on and actions provided by those add-ons.

If you send AJAX request to a page, the CSRF token is required (and this is also [in the docs](https://docs.expressionengine.com/latest/development/guidelines/securit

[2022-09-05 15:43] #491 closed

[2022-09-05 15:54] intoeetive commented on #2363
@builtbyryde2022 which EE version were you on?

[2022-09-05 16:45] CreativePoweredGeek opened #2366 "search:title="=xx" does not seem to work in EE7"
**Description of the problem**
When using the search parameter in an {exp:Channel:entries} tag, I expected it to be able to search the "title" field, what I got instead were inaccurate results.

**How To Reproduce**
Steps to reproduce the behavior:
1. Create a channel with a few fields.
2. in the title, use simple text like "AAS01, HE01, BP01, AS01" and then varying data in the other fields
3. Cre

[2022-09-06 08:26] intoeetive commented on #1541
Noting that the referenced PRs are only addressing issue # 2  reported here

[2022-09-06 13:18] #2360 closed, assigned to nobody

[2022-09-06 13:18] #2303 closed, assigned to bryannielsen

[2022-09-06 13:19] #2128 closed, assigned to nobody

[2022-09-06 13:20] #185 closed

[2022-09-06 13:22] #2135 closed, assigned to nobody

[2022-09-06 13:23] #2104 closed, assigned to nobody

[2022-09-06 13:41] intoeetive commented on #2362
@DesignWorkshop I don't think you're doing this right. `:last` is valid modifier for Fluid field (which is `page_content` I assume) but you are trying to apply it to `page_content:team_member` (which is Relationships field)

I am not sure what exact are your needs here, but feel free to post to [Forums](https://expressionengine.com/forums) or [EE Slack](https://expressionengine.com/blog/join-us-in

[2022-09-06 13:41] #2362 closed, assigned to nobody

[2022-09-06 14:21] #2298 closed, assigned to nobody

[2022-09-06 15:34] #2285 closed, assigned to nobody

[2022-09-06 15:35] #2122 closed, assigned to nobody

[2022-09-06 20:49] igreil opened #2375 "Hardcoded English artifacts in the CP"
In Performance.php, line 56, the word "of" is hardcoded instead of using `lang('of')`. This only becomes apparent when using a separate language pack.

Also, the words "Total Execution Time" seem to be hardcoded. I have not been able to find a corresponding language string to translate. I am running EE 7.1.12 on a local staging server.

[2022-09-06 20:50] igreil commented on #2375
Easy to fix, though: https://github.com/ExpressionEngine/ExpressionEngine/commit/e858542729886a685fbddc2bf57fa5ed90fad033

[2022-09-07 05:09] intoeetive commented on #2375
@igreil thanks for reporting this! Do you want to open the pull request with a fix?

[2022-09-07 06:15] igreil commented on #2375
I did open a pull request (https://github.com/ExpressionEngine/ExpressionEngine/pull/2376), hope this went well. My Git skills still aren't anywhere near where I'd like them to be :-)

[2022-09-07 06:25] intoeetive commented on #2375
Yes, all good, thank you!
(next time you might want to create new branch, just in case you'll want to make additional changes in your `7.dev`, but that's not critical)

[2022-09-07 09:50] shbchk opened #2377 "Add validation for image manipulation names to not be numeric"
I prefer to name my image manipulations by size. Like, `1600` for 1600px width.

![13e59f1d-f93a-4416-9ad2-f5168076d423](https://user-images.githubusercontent.com/12234507/188845707-f6ff3f91-15f2-4eb3-a508-5dbea1812618.png)

But in some cases (I'm not sure how to reproduce) they just do not work in templates.
I mean, `{meta_ogimage:1600}` in template renders as `{meta_ogimage:1600}` in html.

I tr

[2022-09-07 09:58] intoeetive commented on #2377
Using  numbers as modifier (in this case, manipulation name) is not recommended - is there is overlap with entry ID or some other ID, the system might behave in an unexpected way. Always use a non-numeric prefix (I'll classify this issue as feature request to add validation for this)

And correct, there is no way to rename the manipulation and keep the files, - it's a filesystem-based thing, so th

[2022-09-07 10:01] shbchk commented on #2377
Okay, thanks, Yuri!

[2022-09-07 11:28] shbchk commented on #2363
Sometimes it is not working for me too. Last time I wasn't able to un-hide the Channel selector in Options tab. And to move category to another tab.

Removing old layout and adding new one helps.

EE 7.1.3

[2022-09-07 12:47] builtbyryde2022 commented on #2363
@intoeetive the latest version.

[2022-09-07 13:31] robinsowell commented on #2329
Hrm- haven't seen that one before.  In a search, it typically looks like a bad setting.

Do this- I always test in the CP Communicate page, it's simplifies things.  Make sure you set the 'from' email with something from the domain you're sending for.  See if using tls works better in the settings.  Triple check your password, etc.  If that doesn't work- what host/mail server?

[2022-09-08 09:27] captainFishcake commented on #2329
Hi Robin,

Thanks for your message. Problem solved – I cleared all browser cached data
which seems to have fixed the problem. Must have been some cookie settings
were causing the problem.

Best regards,
Ben Plewes

Cogito Creative Ltd is a company registered in England and Wales
Registered number: 07757347 Registered office: 20 - 22 Wenlock Road,
London, England, N1 7GU

On Wed, 7 Sept 2022 at 14:

[2022-09-08 11:08] #2329 closed, assigned to nobody

[2022-09-08 12:24] Sungodragon commented on #508
I have asked this in Slack but no response. So I have following questions

1) Do we need this functionality in Core EE to achieve this?

2) Can one develop a plugin to achieve this?

[2022-09-08 12:53] intoeetive commented on #508
Well, so far you have been the only person to request this. If no one is also requesting this in Slack... well, IDK

I don't think this can be achieved with a plugin. The database function are loaded early, so this needs to be core component

[2022-09-08 19:12] clifavenu opened #2384 "ee 7.1.4"
Not sure if this belongs here or with TripleNerd. Just updated to 7.1.4 and  Bones broke:
Error Caught
Failed opening required '[path]system/user/addons/bones/FieldFormatters/BloqsFieldFormatter.php' (include_path='.:/opt/sp/php8.1/lib/php')

user/addons/bones/Services/DataService.php:479
Stack Trace: Please include when reporting this error

    #0 user/addons/bones/Services/DataService.php(98):

[2022-09-09 04:34] intoeetive commented on #2384
This seems to be caused by the Bones add-on (looks like just missing file). Please contact the add-on developer

[2022-09-09 04:34] #2384 closed, assigned to nobody

[2022-09-09 14:37] #1651 closed, assigned to nobody

[2022-09-09 14:37] #2366 closed, assigned to nobody

[2022-09-09 14:38] #2375 closed, assigned to nobody

[2022-09-13 09:37] Caleydon opened #2387 "EE 7.1.3: Warning: Could not be converted to int"
EE 7.1.3
PHP 8.0

In back ofiice I see following warning

![Alert](https://user-images.githubusercontent.com/2806752/189866160-4b776225-4be8-4c0f-aa13-670de221f811.png)

When I want to upgrade CMS, the "Checking for updates.. " message appear a few minutes and then I get "Up to date! " message that I am using latest version. So I can't upgrade to 7.1.4 via upgrade system.

[2022-09-13 12:32] intoeetive commented on #2387
@Caleydon thank you for reporting!

Can you try changing line 333 in `system\ee\ExpressionEngine\Service\Alert\AlertCollection.php` to `$url = ee('CP/URL', 'logs/developer')->compile();` and see if that fixes the issue?

As of upgrade issue, can you check for updates manually from settings page? See if you get any errors, otherwise this might be just temporary network issue

[2022-09-14 14:53] Caleydon opened #2388 ".phar files in Add-ons - antivirus alert: JS/Packed.Agent.Q suspicious application"
EE 7.1.5
PHP 8.1

When I upload any add-on with .phar file included and when I want to enter on Add-Ons page my PC antivirus (Eset) display following page.

![antivir-treat](https://user-images.githubusercontent.com/2806752/190176457-054596ea-d07f-41e0-9ccc-0b052ae6c330.png)

[2022-09-14 15:07] freaksarise2 opened #2389 "SQLSTATE[42S22]: Column not found: 1054 Unknown column"
Hi. In V6.3.4 Pro, I have the following query that I am attempting to run not only using the query addon but also within the query form utility. When I test the query in several validators, it passes. Current version of MySQL is 5.7. Below is the query and I will attach the stack trace details after. Thanks for any help.

SELECT ecTitles.entry_id AS ecTitlesID,ecTitles.title AS ecTitlesTitle,ecTit

[2022-09-14 15:15] freaksarise2 commented on #2389
I may have figured it out. If I do, I will follow up on this and post the solution and then we can remove this request. Let me check...

[2022-09-14 15:23] freaksarise2 commented on #2389
I believe I figured it out. I was selecting more than the ID in the nested IN sub queries. Let me try to delete this entire post. Thanks

[2022-09-14 15:24] freaksarise2 commented on #2389
Closing this since I determined it was not an issue just possibly an unclear error.

[2022-09-14 15:51] intoeetive commented on #2388
@Caleydon is that one of EEHarbor add-ons? If yes, can you tell the add-on name and version?

[2022-09-14 23:58] tjdraper opened #2390 "7.1.5 ee('CP/FilePicker') produced button throw's a JavaScript exception: Uncaught ReferenceError: FileField is not defined"
In my field type, I use a native file picker dialog, which I have done since EE 3 with `ee('CP/FilePicker')` However, in EE 7.1.5, this appears to be broken as the JavaScript _appears_ to be looking for a FileField? I don't know, it's hard to tell because it's minified JS and I find debugging JS I didn't write to be hard to debug in any event.

Here’s my code to produce the file picker link:

[cod

[2022-09-15 06:59] Caleydon commented on #2388
It's User 5.2.4 Add-on - https://eeharbor.com/user
The problem is causing by Version.php file in the user.phar
I am analyzed different and newer add-ons with .phar but they already didn't have such file with suspicious JS code.

I am very disappointed to see such dirty tricks with commercials add-ons in the EE CMS. Honestly, please, stop it!

In addition the User addon is not yet EE 7 ready.

[2022-09-15 12:16] compareshow commented on #508
This feature to split the database is very important. This is definitely a factor nowadays to choose a CMS.

This needs to be either in 'core' or a 'Pro' feature at least as this is a important requirement for serious business (who will definitely opt for Pro.)
@intoeetive @TomJaeger

All the best .

[2022-09-15 13:45] appricosa commented on #2303
Hi Dev Team, Thanks a lot for your valuable feedback.
I have been testing with 6.3.5 and the last updates 7.1.4 and 7.1.5.. so I thought you might hear my experience on this, too.
So with 7.1.4 my upload problem did not get solved right away, but at least the error messages changed to an obvious (read/write access) issue with the PHP Temp folder. Which is strange, because EE 6.3.5 and prior never

[2022-09-15 14:49] builtbyryde2022 commented on #2363
EE 7.1.5 and the issue is still occurring - @shbchk tried your suggestion but still no luck. Annoying as the channel entry page is super long

[2022-09-15 15:11] bakin1999 commented on #2388
Have verified that this happens on User v5.2.4

Latest release of User v5.4.2 does not have this issue and is not flagged by eset.  Would you be able to upgrade to latest release

[2022-09-15 18:17] ops-andy commented on #2388
@Caleydon Just letting you know that there are no dirty tricks. Packet TIde owns both ExpressionEngine and EE Harbor. In no way did we insert malicious code or other such matter into the phar files. We've had issues with ESET and false positives before. We're working to ensure this add-on is on their whitelist to avoid these issues in the future. The best current option though is to update to User

[2022-09-15 18:55] Caleydon commented on #2388
@ops-andy I just want to continue using the (multiple-times) purchased module. So I will request to provide clean and safe version.

You just said that Packet Tide knew an issue like this. But they didn't warn customers with User add-on license about conflict with ESET antivirus and not provide any explanation and solution / replacement in order to prevent this scenario.

[2022-09-15 19:11] ops-andy commented on #2388
@Caleydon apologies for any confusion. I believe you're misinterpreting what I'm saying. We have had issues with ESET before. However we have never had a report of an issue with the User add-on until a day or so ago when you and another person reported this. The previous issue was with Assets. We simply applied to ESET to whitelist the add-on and their software no longer recognizes it as a threat.

[2022-09-15 21:08] robinsowell commented on #2260
Thanks for the heads up- EE Harbor dev is taking a look at it, we do replicate.  I'm closing it out in the EE issues, but it's on the internal tracker for SEEO.  I think they have the image stuff fixed and under review- not so sure about the subfolder.

[2022-09-15 21:09] #2260 closed, assigned to nobody

[2022-09-16 09:44] shbchk opened #2393 "BadMethodCallException when replacing an old file with new one with the same name"
EE 7.1.5, trying to replace file via "resolve conflict" dialog, getting this:

[code]

[2022-09-16 14:28] robinsowell commented on #2363
Man, this one is weird to reproduce.  But I've been testing Yulya's latest changes in this commit and I haven't been able to break it.  https://github.com/ExpressionEngine/ExpressionEngine/commit/472e994cbf608f84913a0a2c3bc260ad8a27e493

On EE 7.1.5, I just replaced the layout.js and common.min.css files with those and so far, it's been dead solid.  But if anyone wants to test and confirm, that wo

[2022-09-18 18:49] CreativePoweredGeek opened #2395 "Exported Channel Set fails on Import"
**Description of the problem**
I exported a channel set out of my local environment for  EE7.1.5 site and when I import it into my staging site I get the error below

**How To Reproduce**
Steps to reproduce the behavior:

1. export a Channel Set from one EE 7.1.5 site
2.Import into another EE 7.1.5 site
3. See error below

**Error Messages**

<pre><code>
Error Caught
Call to undefined function Exp

[2022-09-19 00:59] CreativePoweredGeek commented on #2395
I tried a different Channel set... and while the error wasn't the same I did still get an error:
[code]

[2022-09-19 01:36] CreativePoweredGeek commented on #2395
Sorry to spam my own thread...  I also just had my PHP version updated to the latest (8.1.4 to match my local env)  and the issue persists

[2022-09-21 15:21] intoeetive commented on #2395
@CreativePoweredGeek thank you for the report.

It looks like `exec` is not available on your system. You should be able to enable it in `php.ini`, or talk to your hosting provider about enabling it.

Not sure about 'rte' error though. Just to let you know, we're working on another system which will replace Channel Sets - but it's also important to know where it fails, so we don't step into same p

[2022-09-22 16:35] ic360-com opened #2399 "Incorrect site_id value for new Fields"
I'm working on an EE 6.3.4 site at the moment and have just created some new Fields.

Having received a load of errors on one Template (running the Reefine add-on) I noticed all these new Fields had a site_id value of '0' instead of '1'. Manually changing these to '1' has fixed the Reefine errors, but why were they set to '0' in the first place?

The exp_sites table show only one row, with a site_

[2022-09-23 07:54] #2390 closed, assigned to nobody

[2022-09-23 07:54] #2363 closed, assigned to nobody

[2022-09-23 11:23] jcogs-design opened #2401 "Getting php warnings when using Low Variables on EE6 Pro"
Have an installation that uses EE Pro - works fine on staging server but when same configuration put on Laravel Valet local test server (i.e. domain.test) Low Variables throws out strpos() needle warnings for each Low Variable being evaluated in a template. Error of the form:

The line referenced appears to be coming from the `parse` function in mod.low_variables.php.

The issue appears to be rema

[2022-09-23 12:58] jcogs-design commented on #2401
Can confirm that applying the fix from the https://github.com/ExpressionEngine/ExpressionEngine/commit/168623bf98309c5b448e67d898afeaea556857d2 patch to the EE6.3.5 code fixes the issue.

i.e. replace line 122 in EE6 version with
[code]

[2022-09-23 13:31] #2393 closed, assigned to nobody

[2022-09-23 14:46] bakin1999 commented on #2401
Thank you for the report.  This will be in the next release of Low Variables very soon.

[2022-09-23 14:46] #2401 closed, assigned to nobody

[2022-09-23 14:47] litzinger opened #2403 "Checkboxes have too large of a click area"
Tested in EE 6 and 7. This is an issue because we have users clicking areas far away from the actual checkboxes themselves, and inadvertently selecting a checkbox because they are display: block, so they stretch the entire width of their container. IMO this is a usability issue, and in our case it's actually causing excess support issues because of mis-clicks.

![checkbox-groups](https://user-imag

[2022-09-23 15:49] CreativePoweredGeek commented on #2395
@intoeetive Everything I have read says that enabling exec is a security threat...  is it safe to do this?  I have never needed to have this enabled before.

[2022-09-23 18:58] CreativePoweredGeek commented on #2395
Also, I checked with my hosting... they say it is...

[2022-09-26 11:45] #2395 closed, assigned to nobody

[2022-09-26 14:17] intoeetive commented on #2395
@CreativePoweredGeek give a try to to just-released 7.1.6 version. It should solve the `exec` error

[2022-09-26 17:53] jcogs-design opened #2407 "Access to more information about Structure Linked page from Grid Field variable"
Structure provides a handy field that can be dropped into a Grid to allow editors to select a page within the site to link to.
In generating the drop-down that appears in the Grid, Structure uses the Title of the page linked to in Structure to differentiate between pages.
However when you want to access the link selected in a template the only value made available is the URL of the page being link

[2022-09-27 01:26] PaulBaileyAtChan opened #2408 "[EE6/7] Template group side-bar should be hidden when editing specific template partials, variables, and routes"
When editing a specific template in the EE6/7 Control Panel, the side-bar which lists template groups is hidden, to allow more horizontal space for the editor. This occurs for all user templates, and for the system templates (messages, email, members).

But the side-bar *isn't* hidden when editing template partials, template variables, and template routes. There's no good reason for this, and they

[2022-09-27 05:42] intoeetive commented on #2408
@PaulBaileyAtChan I don't know if you're actually aware, but in EE7 we have "Toggle Sidebar" button that allows you to hide secondary sidebar same way that it is possible with primary sidebar. It becomes visible when you hover the area

![image](https://user-images.githubusercontent.com/752126/192441864-8c70d409-a0f8-4a9f-8140-d9c1ee5d415e.png)

[2022-09-27 05:53] intoeetive commented on #2399
@ic360-com in EE6 (and I believe it's same in EE5, but did not check) new fields by default are created with `site_id` equal `0` which means they can be shared through MSM sites.

If an add-on has issue with that, it's most likely that the add-on needs to be updated

[2022-09-27 05:54] intoeetive commented on #2403
@ajohnson FYI

[2022-09-27 08:16] ic360-com commented on #2399
All the site_id values in this installation were set to '1'... but the new fields I created were set to '0'. Shouldn't they be the same?
Does the "create new field" function in EE check to see what the current site's site_id value is when creating the new field?

[2022-09-27 08:42] intoeetive commented on #2399
If the fields were created on older versions of EE they might be restricted to a site.

But when creating field from control panel in EE6, the fields are created as shared, not restricted to current site (so site_id is 0)

[2022-09-27 09:05] jcogs-design opened #2409 "Option choices for URL field within Grid are ignored until field saved"
If you create (or change an existing field to) a URL field within a Grid the option choices (allowed schema, placeholder) are ignored until the grid field is saved.

EE 6.3.5
(if relevant, via Firefox Developer 105)

[2022-09-27 09:29] ic360-com commented on #2399
OK, I see. So in this case... it would be best for me to:
a) change all the current site_ids in the database to 0, to make sure there are no further issues.
b) talk to the Reefine add-on developer, to see if there's a fix required.
Thanks Yuri.

[2022-09-27 09:42] intoeetive commented on #2399
If the add-on does not work correctly with fields that have site_id set to 0 then IDK if changing that would help the issue.

I believe fixing the add-on should be the way to go

[2022-09-27 09:42] #2399 closed, assigned to nobody

[2022-09-27 17:32] PaulBaileyAtChan commented on #2408
Aha, I don't think I'd registered that yet. Sounds good. If you think it makes this issue irrelevant, feel free to close.

[2022-09-27 19:07] PaulBaileyAtChan opened #2410 "[EE6/7?] Select dropdown fields can't be added as columns in the CP entry manager"
It looks like EE6 (and EE7?) can't add custom fields which use the Select Dropdown fieldtype as columns in the CP entry manager. None of the custom fields I have (~10) which use that fieldtype appear in the drop-down menu to be added as columns. I haven't seen any issues with other fieldtypes, but obviously it would be good if a wider check could be done.

[Tested in EE6.3.5]

[2022-09-27 22:58] tjdraper opened #2411 "7.1.6 ee('CP/FilePicker') produced dialog shows "loading…" forever if file field is not one of the fields"
In my field type, Ansel, I use a native file picker dialog. And we recently [fixed a related bug](https://github.com/ExpressionEngine/ExpressionEngine/issues/2390), but now that it's partially working, I've discovered more bugs.

In this bug, if there are no files/images present in the source directory, and there is no file field, the dialog never shows "no results found" It only continues to show

[2022-09-27 23:02] tjdraper opened #2412 "7.1.6 ee('CP/FilePicker') produced dialog produces a console error when clicking "upload" if no file field is present"
In my field type, Ansel, I use a native file picker dialog. And we recently [fixed a related bug](https://github.com/ExpressionEngine/ExpressionEngine/issues/2390), and I've [opened a new related bug](https://github.com/ExpressionEngine/ExpressionEngine/issues/2411).

In this bug, if a native file field is not present in the field set for the channel, clicking the upload button on the dialog will

[2022-09-28 19:16] tjdraper commented on #2412
Wait, the linked PR says it’s removing the ability to upload in the modal. But that ability has always been available until now and I’m specifically enabling it in my call to CP/FilePicker. So is removing the ability the correct thing to do?

[2022-10-02 08:40] netz0 opened #2414 "Excluding admin or staff users from channel notifications"
Using the comments functions to interact with users on a channel entry the Enable comment notification setting in a Channel would be more useful if specific users or emails could be excluded.

We want to be notified when users enter a comment but not when we reply back.

Being able to exclude specific emails would be useful or even better, specify a member group/role to be excluded entirely.

[2022-10-03 05:10] PaulBaileyAtChan opened #2415 "Comment expiration message (and other user-facing messages in comment_lang.php) should be modifiable via the EE CP"
This is both a specific and general request.

### Specific.

When an older entry is closed for comments, using the **Comment expiration** channel setting, in place of the comment form EE displays the message "Commenting is not available in this channel entry". There are a number of issues here:

- It's not possible to tell EE *not* to display the message.
- It's not possible to change the message

[2022-10-03 08:01] liamcrean opened #2416 "Access to the CK Editor and Redactor API via add-on settings"
Seems like pro would be a great time to introduce a little more control over RTE.

In particular common problems like selecting the types of heading available from the styles menu (rarely do we want to offer H1 as an option to editors - v bad SEO), or greater control over images (flex/grid), for example.

Both editors have API's that allow fairly easy settings control via JSON (I believe). Wygwam

[2022-10-03 20:44] litzinger commented on #2412
I'm with TJ on this one... why remove the option to upload though the modal? That functionality has been in place since... EE 3?

[2022-10-04 12:31] Yulyaswan commented on #2412
Looks like I mixed some parts
Working on it now.
We will leave  functionality how it should be, with the Upload button

[2022-10-04 15:57] mvdesign commented on #2412
I guess it's probably self-evident, but I'm getting this through the native RTE CKEditor image/upload tool, too.

[2022-10-04 17:33] TomJaeger commented on #2415
@PaulBaileyAtChan Thanks for passing this along, this is good feedback.  We're aiming to do a fairly large scope on the comments module soon.  If you have any additional feed back or thoughts we'd love to hear it!

[2022-10-04 17:36] TomJaeger commented on #2416
Thanks for passing this along. I believe most (if not all) of this is set to be released in 7.2  Specifically in this PR. https://github.com/ExpressionEngine/ExpressionEngine/pull/2339

[2022-10-04 17:50] PaulBaileyAtChan commented on #2415
Thanks, Tom. I was just looking through the docs, and since the conditional `{if comments_expired}` exists, I'm not sure that there's a good reason for EE to display *anything* by default when comments are expired for an entry. If anything is needed it can be triggered using this conditional, and that meets most of what I'm asking for above. So in this case I don't think there's really a need for

[2022-10-05 13:53] jcogs-design opened #2417 "Type Error - Editing Channel Layout"
EE6.3.5 php 8.0

Triggering a type error when saving a channel layout. Not sure what is trigger (happened after an edit to add a new tab, but otherwise no changes made).

Posted because sometimes the cause of the type error is apparent and can be fixed without detailed diagnosis of what happened in this instance etc...

Stack trace attached
![Screenshot 2022-10-05 at 14-49-16 TypeError - Expressio

[2022-10-06 10:21] jcogs-design opened #2420 "Crash when using new filesystem api / deleteDir()"
**Description of the problem**
Hitting the "clear cache" button in JCOGS Image on an EE7.1.5 generates this error from the new Filesystem files

This function works without problem on EE6.3.5 and earlier (and I think on earlier versions of EE7).

**How To Reproduce**
Process some images in JCOGS Image that get written to its cache, then hit the button to delete the cache from Image CP.

**Error Me