[2020-09-07 08:41] intoeetive commented on #474
@gfive I wasn't able to replicate this with the setup you've mentioned. Is there anything else that should be done in order to get this error?
Also, does the message look ok if you fetch it with your mail client or view in web interface?

[2020-09-07 09:23] gfive commented on #474
Using Gmail pop3.
Mail receives okay, header and body are okay.

Only in EE no body and header

[2020-09-08 19:21] #379 closed

[2020-09-08 19:34] #72 closed

[2020-09-08 19:34] #283 closed

[2020-09-08 20:23] #53 closed

[2020-09-09 07:18] intoeetive commented on #474
@gfive let's please stick conversation to this GitHub issue, which is where it belongs... copying your last comment here:

Would you be able to try with different (non-Gmail) email account?

[2020-09-09 13:25] robinsowell commented on #426
Pull request was merged, closing.

[2020-09-09 13:25] #426 closed

[2020-09-09 13:26] robinsowell commented on #309
Closing as fix has been merged: https://github.com/ExpressionEngine/ExpressionEngine/pull/336

[2020-09-09 13:26] #309 closed

[2020-09-09 13:29] robinsowell commented on #344
Closing as fix was merged and released: https://github.com/ExpressionEngine/ExpressionEngine/pull/348

[2020-09-09 13:29] #344 closed

[2020-09-09 13:32] robinsowell commented on #306
Closing as patch merged and released: https://github.com/ExpressionEngine/ExpressionEngine/pull/307

[2020-09-09 13:32] #306 closed

[2020-09-09 13:46] robinsowell commented on #335
This is fixed as of 5.4 (currently stability), though I'm not sure of the pull request, so could have been earlier. Closing.

[2020-09-09 13:46] #335 closed

[2020-09-09 14:43] #383 closed

[2020-09-09 15:41] albertopriore commented on #487
Does anyone have updates on this issue?

[2020-09-10 14:04] intoeetive commented on #487
I have submitted pull request #512  that possibly fixes this. Honestly I don't quite like it because it's sort of hacky, but it solves the problem

[2020-09-10 19:30] murtaugh opened #513 "Add a filter for live/published in the Entry Manager"
**Is your feature request related to a problem? Please describe.**
I need to see entries that are live on a site and not waiting for their entry date to hit.

[2020-09-10 19:32] murtaugh opened #514 "increase the number of fields listed on field manager page in the CP"
The default of 10 items in a list often isn't sufficient; scrolling through a longer list is more efficient (and more useful, since I can look at and compare more items at a time) than paging through them.

A setting to customize this value would be great.

[2020-09-10 19:36] bsrweb commented on #514
+1 to thsi feature request!

[2020-09-10 19:40] CreativePoweredGeek commented on #514
+1 as well

[2020-09-11 05:18] intoeetive commented on #513
@murtaugh can you add a bit more explanation to this? Like, what would should be dropdown options and what be the entries list for each of those

[2020-09-11 05:22] intoeetive commented on #514
what list is being referred here? The entries list is defaulting to 25 entries in EE 5.3, and I think it's same also for files and members

[2020-09-11 06:02] hockeymikey opened #515 "Search attitubte in channel:entries doesn't work with tags, only static hardcoded values"
**Description of the problem**
I'm using the following tag in a template:
{exp:channel:entries show_future_entries="yes" dynamic="no" channel="news" search:end_page="{value}"}
It returns no values when the tag is used in the search attitbute. But, when I replace it with the actual number (say 63) it works. I've tried many other ways like using embedded values, or a value given from a parent tag su

[2020-09-11 14:56] murtaugh commented on #514
I'm looking at a new 5.3.2 install and the default is 10 for fields.

[2020-09-11 14:56] murtaugh commented on #514
For both All Fields and fields within a group.

[2020-09-11 15:06] murtaugh commented on #513
Sorry, I wasn't very clear:

I need a way to filter between entries that have hit their entry date and those that have not.

No matter what date filter I select, I get all future posts as well as entries that match the date filter, i.e., if I select "Last 24 Hours" I get all future entries along with all entries from the last 24 hours.

In my particular case, I'm working with a site that manages a

[2020-09-11 16:45] murtaugh opened #516 "add "ungrouped" as a filter to the list of All Fields"
Unless you have very good short name hygiene, it's impossible to determine which fields are in groups and which aren't, and you can't filter to see only fields that aren't in a group.

[2020-09-11 16:59] murtaugh opened #517 "when you Save & Close a field in a group, bring me back to that field group"
The vast majority of the time, I am working on fields in groups. When I finish working on a field in a group, more often than not I want to return to the list of fields in that group, not the list of all fields (which, since it has no group labels, means I have to re-click into the group I'm working in).

It would also be useful to add group labels to the full list of fields, but not an ideal alte

[2020-09-14 09:19] intoeetive commented on #514
Ok, so it's about `Field Manager` page. Thank you

[2020-09-14 15:31] robinsowell opened #518 "Relationship fields have 'Include in search' option that doesn't do anything"
**Description of the problem**

<img width="408" alt="Screen Shot 2020-09-14 at 11 29 26 AM" src="https://user-images.githubusercontent.com/1181219/93105890-963ac400-f67d-11ea-8e47-5834716c7cda.png">

The search option doesn't seem to do anything.  It either needs to be removed or the related data needs to pull up the entry when searched.

**How To Reproduce**

**Environment Details:**
 - Version:

[2020-09-15 21:07] robinsowell commented on #288
Noting that for now, Hop Introvert is definitely worth a look! https://expressionengine.com/add-ons/hop-introvert

[2020-09-15 22:56] gabbathehutt commented on #518
Yes, this is really frustrating.

[2020-09-17 01:56] sdoherty0 opened #522 "Session delete_old_data() is deleting sessions it should not be with no regard to cookie settings."
**Description of the problem**

The delete_old_data() in the libraries/Session.php class is called whenever a session is constructed. When it is called it deletes 'expired' sessions. However, the code is based on whoever happens to land on that page at a given time. The $this->session_length depends on whether the user is an admin or not. If an admin is logged in and happens to trigger this, then

[2020-09-17 09:41] iHassan opened #523 "Fatal error: Uncaught Error: __clone method called on non-object in system\ee\legacy\libraries\Table.php:997"
**Description of the problem**
I'm trying to create pagination using Table library on a module. The table is showing fine if there is no pagination but when there is pagination then I'm getting the error.

I've used this method to set base url for pagination in my mcp class:
[https://docs.expressionengine.com/latest/development/legacy/libraries/table.html#set_base_urlurl](https://docs.expressionen

[2020-09-17 10:52] intoeetive commented on #523
@iHassan can you try this and let us know if that works:
replace the line that says
`$url = clone $this->base_url;`
with this code
[code]

[2020-09-17 12:08] iHassan commented on #523
@intoeetive Thanks for the response!

This fix seems to work. Now the script is not breaking. But I think there's another issue somewhere in this library (If it's not an issue from my end).

So the docs state that we will get table html and pagination html like this:

[code]

But I'm unable to get pagination_html data from this. My total rows are 6 and pagination limit is set to 2.
I've searched *

[2020-09-17 12:12] intoeetive commented on #523
Do you have specific reason to use `ee()->table`and not `ee('CP/Table')`? https://docs.expressionengine.com/latest/development/services/table.html

`ee()->table` is legacy and should not really be used for the new code (also, we can't fully support it for the same reason)

[2020-09-17 12:21] iHassan commented on #523
@intoeetive TBH the only reason I'm using `ee()->table` and not `ee('CP/Table')` is because I can't find the documentation for pagination for if I use `ee('CP/Table')`. The CP\Table docs only mention setting up the data but not the pagination and I really need to implement pagination as I'll have a lot of records.

[2020-09-17 12:23] intoeetive commented on #523
This is because you need to use separate `CP/Pagination` service for pagination https://docs.expressionengine.com/latest/development/services/pagination.html

I must admin the documentation is missing complex examples, but you can find a lot of those in EE itself in first-party Addons folder

[2020-09-17 12:24] iHassan commented on #523
Also if it's worth anything, I'm trying to convert the famous Audit Pro addon to the new version as author has abandoned the addon after v2. I'll migrate the addon, I'm planning to add it to add-on store for free so others can take benefit from it.

[2020-09-17 12:27] iHassan commented on #523
Oh, that's a great idea, I did looked at the `CP\Pagiantion` service.  I'll try to look at the first-party Addons examples and see if I can work something out.

[2020-09-18 16:21] #523 closed

[2020-09-22 10:08] intoeetive commented on #522
@sdoherty0 thank you for the report! It looks like this might be causing the "premature logout" issue indeed. We're investigating this deeper now.

[2020-09-23 22:50] sdoherty0 commented on #522
I have further found that if the automatically log on in future visits "auto_login" form field is checked that the session will be recreated from the cookie. But if it is not, then it won't. I think this behavior has masked the errant delte_old_data() behavior by preserving those users with the checkbox checked. But that is not the intended function of that checkbox. It really is functioning as a

[2020-09-25 18:38] murtaugh opened #532 "Deleting a template group's index results in a confirmation but also fails"
In EE 5.3.2 I tried to delete the index template of a template group. I got a message that it was successful, but it still existed.

**How To Reproduce**

1. Create template group.
2. Delete the index template.
3. You get a confirmation message, but will fail.

<img width="443" alt="Screen Shot 2020-09-25 at 2 34 52 PM" src="https://user-images.githubusercontent.com/308752/94303831-76888300-ff3c-1

[2020-09-25 19:54] murtaugh opened #533 "allow the choice of tabs versus spaces in template editing"
A small thing, but: If I edit with the built-in editor, I get spaces in my templates. I'd prefer to be able to select tabs.

[2020-10-01 17:19] silenz88 opened #534 "Timestamp.php on line 28"
Strict Standards: DateTime::__construct(): We selected 'Europe/Berlin' for 'CEST/2.0/DST' instead in /htdocs/foobar/system/ee/EllisLab/ExpressionEngine/Service/Model/Column/ColumnObject/Timestamp.php on line 28

This warning appears multiple times on single-entry pages.

EE version 5.3.2
PHP Version 7.2.33

[2020-10-02 18:20] inconsiderate commented on #481
That is true, but I would prefer a CP or config option that disabled template editing for everyone, including superadmins. It's not possible to change member group settings for superadmins.

[2020-10-06 17:48] murtaugh opened #536 "missing and inconsistent SMTP error displays"
If you go to Pending Activation and select a member and then "Resend Activation Email", the next page loads whether or not the SMTP process threw an error, so if it fails, it fails invisibly — in fact the UI will give you the green confirmation message that the messages were sent.

However, if you use the Communicate form to send a message to someone directly, you *will* get a verbose error explai

[2020-10-07 05:03] nep opened #537 ""Pending" member group is not an option in Member Manager group filter"
**Description of the problem**
On the main Members page, you can filter by member group, but "Pending" does not show up in this menu:

/admin.php?/cp/members

**How To Reproduce**
Steps to reproduce the behavior:
1. Go to the Member manager. It's pretty easy to confirm.
2. You CAN get to this if you go to Member groups, and then click on the number next to Pending:
admin.php?/cp/members&group=4

*

[2020-10-09 10:18] intoeetive commented on #532
The template is actually being deleted, it's just being recreated right after (if you check the contents, it should be empty) - and this happens if you have "set templates as files" setting turned on.

So as such, the message is correct

Do you think there needs to be another message saying the template has been automatically created? (I'd say no)

[2020-10-09 10:31] intoeetive commented on #537
Thank you for the report!

This might have been omited for a reason, since there is "Pending Activation" link in sidebar.

Provided there is sufficient functionality in EE5 and this will be changed in EE6, we will likely not work on this one - but if you feel there is strong reason to implement this in v5, please communicate!

[2020-10-09 10:34] intoeetive commented on #534
@silenz88 can you provide full error sreen or message (with backtrace, if available)? I have a feeling that this is related to certain add-on, not CMS in its core - can you narrow this down to certain field / tag / functionality?

[2020-10-09 13:42] intoeetive commented on #388
@tjdraper I totally get your point! I do have a suspect however that `@` was added to suppress notices, which are not uncommon with PHP image manipulation depending on how server is set up.

While we will probably not be touching the working code here, in the new code that we write we try - and will be - to avoid `@` suppression.

[2020-10-09 14:45] tommymcgahee opened #539 "Matrix file fields hide attached files when a user lacking file upload directory permissions edits entry"
**Description of the problem**
When a user edits an entry with matrix file fields and user lacks permission to access the file fields' corresponding file upload directories, the entry appears to conform to the user's group permission set and "hides" the uploaded files. The entry saves in this state and the files are removed from the site but NOT deleted. Visually this removes the uploaded file ico

[2020-10-09 15:05] intoeetive commented on #539
@tommymcgahee can you confirm this is issue with Matrix field and not EE's Grid field? If so, would you mind sending this to help@eeharbor.com instead? Thank you!

[2020-10-09 15:53] murtaugh commented on #532
Makes sense, but I think the fact that index pages have a special status that isn't reflected in the UI results in confusion.

Here are some thoughts, some good, some maybe not:

- When editing an index template, place a small note on the Edit Template page informing users about the nature of index templates.
- Make index templates un-deletable via the CP. Users can still clear them out if they wa

[2020-10-14 14:52] litzinger opened #540 "Profiler service missing DefaultSection class"
**Description of the problem**
The Profiler service attempts to load a `Section\DefaultSection` class if trying to add a section that is not default/native EE.

`$class = __NAMESPACE__."\\Section\\DefaultSection";`

**How To Reproduce**
Add a non-default call to the addSection method, e.g.

[code]

**Environment Details:**
 - Version: 5.3 & 6.0a

[2020-10-14 17:05] nep commented on #501
Having just encountered this painfully, and remembering that I've had this same situation multiple before, can I extend this to ask that the CP log also record all Entry deletions and by who?

[2020-10-14 18:54] joshconner opened #542 ""Name your site" text visible when sidebar closed"
"Name your site" text is still visible and cut off only when sidebar is closed on a site that doesn't yet have a Name set in the General Settings. Issue isn't present once a site name is applied.

<img width="332" alt="Screen Shot 2020-10-14 at 2 50 16 PM" src="https://user-images.githubusercontent.com/479358/96032709-11ce9300-0e2d-11eb-96c3-42644e2034d8.png">

[2020-10-14 19:19] frshjb373 opened #543 "Toggle broken in bloq element (may just be a bloqs issue?_"
When you click toggle in bloq element nothing happens...looks like the styling needs to be addressed as well.
![Screen Shot 2020-10-14 at 12 18 16 PM](https://user-images.githubusercontent.com/7178139/96035210-8f87a400-0e17-11eb-9f4c-e461e763e0cf.png)

[2020-10-14 19:21] stephengalbraith opened #544 "After Save of Entry - "Date" tab becomes "date""
When an entry is in the 'saved' state (either right after creation or after saving an entry) the "Date" tab goes lowercase to "date".

<img width="1181" alt="Screen Shot 2020-10-14 at 3 20 28 PM" src="https://user-images.githubusercontent.com/45797159/96035371-f06fa600-0e30-11eb-9027-52d24f1726dc.png">

<img width="1169" alt="Screen Shot 2020-10-14 at 3 20 40 PM" src="https://user-images.githubuse

[2020-10-14 19:46] MaxLazar opened #545 "[grid] Delete row button working only on icon click, not to button."
To delete a row needs to click precisely on the trash icon. If you click on the button outside of it, is no action or error.

![image](https://user-images.githubusercontent.com/925802/96038007-8bb64a80-0e34-11eb-8abd-00d1da7d2950.png)

[2020-10-14 19:53] MaxLazar opened #546 "[grid] The color field panel overflow issue in the row"
The color field panel overflow issue in the grid row. macOS, Chrome/FF

![image](https://user-images.githubusercontent.com/925802/96038365-04b5a200-0e35-11eb-929c-48ae98701646.png)

[2020-10-14 20:28] frshjb373 opened #547 "menu manager - ability to add custom icon and more flexible nesting"
Would be nice to have ability to add a custom icon to the menu manager items. Additionally, would be great to pull a nested item out and drag as a top level.

[2020-10-14 20:49] litzinger commented on #543
This is a Bloqs issue, not an EE issue. I'll be reviewing all my add-ons in the coming days and issuing updates so they're EE 6 compatible.

[2020-10-14 20:58] robinsowell opened #548 "Template routes don't work properly with static segments"
**Description of the problem**
If you have a static segment, routes don't always work like they should.

**How To Reproduce**
Create template named 'test' put 'I am test' on it.

Make a route to that template: `some/fake/thing/{page:pagination}` and require segments=no.

some/fake/thing-test/
some/fake/thing-test/P4

Those should both work, but some/fake/thing/ does not.  It just shows the default

[2020-10-15 05:18] #543 closed

[2020-10-15 05:20] intoeetive commented on #501
@nep this is on our radars - thank you!

[2020-10-15 12:07] liamcrean opened #549 "RTE - margin after block-level elements"
Small visual spacing issue - there's no padding/margin between elements in the default set of commands for RTE - quick test - needs something like this:

[code]

_(wasn't sure how to add EE6 tag)_

[2020-10-15 12:44] pixiwooh opened #550 ""Deprecated" error messages on the Control panel's Overview page"
Just installed EE 6.0.0-b.1 on a PHP 7.3.22 environment.

Login in. Redirected to the Control panel's Overview page and got these error messages on top of the page (Overview page only).

`
Deprecated
idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated

ee/legacy/libraries/Typography.php, line 2602

    Severity: E_DEPRECATED

Deprecated
idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated

ee/leg

[2020-10-15 13:01] intoeetive commented on #549
@liamcrean would you mind adding a screenshot illustrating the issue?

[2020-10-15 13:18] intoeetive commented on #550
@pixiwooh thanks for the report!

Can you confirm 2 things:
- your PHP version is also reported by EE (in Utilities -> PHP Info) is 7.3.22
- the line 2602 in `system\ee\legacy\libraries\Typography.php` is the line that says
```$parts['host'] = idn_to_ascii($parts['host'], 0, defined('INTL_IDNA_VARIANT_UTS46') ? INTL_IDNA_VARIANT_UTS46 : 0);```

[2020-10-15 13:22] pixiwooh commented on #550
I confirm those 2 assertions Yuri.

[2020-10-15 14:03] litzinger opened #551 "RTE doesn't work in Grid"
I'm testing out Bloqs in EE6, and the RTE field (the field formerly known as Wygwam) grid.js file is missing a lot of code compared to wygwam's grid.js file. It's missing the sorting, fluid, and clone destroy methods etc. I can only assume this is why it isn't working in a Grid field, and subsequently Bloqs.

[2020-10-15 14:05] litzinger commented on #543
Just noting this is already fixed for the next Bloqs release.

[2020-10-15 15:04] frshjb373 opened #552 "Grid row missing when selecting 1 min and add row button hidden"
Grid field doesn't show a row even when specifying min/max 1 for field count. It must be added manually by clicking add new row. If several fields included in the grid, the "No rows created Add new row" is centered and may get pushed out of users view making it confusing to add new rows. The row should be there by default when 1 min/max is added to grid field, right?

![Screen Shot 2020-10-15 at 8

[2020-10-15 15:04] frshjb373 opened #553 "Grid row not added by default when setting 1 min for rows AND add row button hidden unless scrolled."
Grid field doesn't show a row even when specifying min/max 1 for field count. It must be added manually by clicking add new row. If several fields included in the grid, the "No rows created Add new row" is centered and may get pushed out of users view making it confusing to add new rows. The row should be there by default when 1 min/max is added to grid field, right?

![Screen Shot 2020-10-15 at 8

[2020-10-15 16:04] Caleydon opened #554 "CP Translations area - number of displayed items on the page can't changed"
CP Translations area - Selector to change number of displayed items on the page doesn't work. Still displaying 25 items per page.

Please see the video
https://vimeo.com/468606526

[2020-10-15 17:05] blue-dreamer opened #555 "EE6 - Sidebar collapse toggle isn't obvious"
**Description of the problem**
After install I went to close the sidebar but couldn't see the toggle anywhere. I eventually found it by hovering over the site name label.

**Possible Solution**
Make the toggle visible at all times.

[2020-10-15 17:17] blue-dreamer opened #556 "Accessibility issues"
**Description of the problem**

Several text elements don't meet level AA, for instance inactive tab text, field instructions and grid column headings on the publish page.

Many form fields don't have associated labels, on publish page that seems to be for most fields.

Fieldsets are missing LEGEND tags

**Possible Solution**
Tweak so the CP is at least level AA.

**Additional context**

Some orga

[2020-10-15 17:29] blue-dreamer opened #557 "EE6 - Preview button shouldn't be always visible"
Preview button is visible even when preview has not been enabled for that channel.

Not all channels need a preview so it should only show when enabled.

[2020-10-15 17:45] blue-dreamer opened #558 "EE6 - On the fly image tag pair?"
Using a tag pair to output an image complete with height/width/alt attributes, there's nothing mentioned in the docs about how to apply on the fly modifications.

For instance if I have my image tag pair how do I apply on the fly manipulations?

Example generic code:

[code]

[2020-10-15 18:08] ops-andy commented on #552
@frshjb373 this seems to be a duplicate of #553 correct?
I'm going to close this one in favor of the other, but let me know if that is incorrect.

[2020-10-15 18:08] #552 closed

[2020-10-15 23:58] stephengalbraith opened #559 "EE6 - Feature Request - Further options for native RTE"
It would be nice to have more options for the native RTE, the ones I am specifically thinking of is the superscript and subscript formatting options.

[2020-10-16 05:38] dankingsley commented on #559
Just to add a couple more specifics from me here too:
- would be helpful to have an edit source code button.
- when creating a link, it would be good to have options to be able to edit the target and select the type of link etc (email, url, Structure?!)

[2020-10-16 12:47] ops-andy commented on #558
This is already supported, we're going to update that in the docs and push that with the next beta release. We'll try and get some sample code here for you soon as well.

[2020-10-16 12:54] ops-andy commented on #556
@blue-dreamer thanks for pointing this out. While we've announced that we want to move toward better accessibility, we know we still have a long way to go and these kinds of items are definitely already on the list.

[2020-10-16 14:02] ops-andy commented on #557
![image](https://user-images.githubusercontent.com/55093827/96268009-82dd8a00-0f96-11eb-9103-f6e90351478d.png)
![image](https://user-images.githubusercontent.com/55093827/96268151-b3252880-0f96-11eb-9b79-b482bbc86a35.png)

[2020-10-16 14:03] #557 closed

[2020-10-16 14:20] blue-dreamer commented on #556
Good to know thanks!

[2020-10-16 14:20] blue-dreamer commented on #558
That's good to hear!

[2020-10-16 15:43] robinsowell opened #560 "Fluid fields- add ability to set a limit on how many times a field can be used in a given Fluid Field entry."
**Is your feature request related to a problem? Please describe.**

The use case where it came up- we have a grid field, we only want one grid with multiple rows, but users keep adding multiple grid fields instead.

You can specify limits in Grid & Relationships as a way to confine the quantity of rows/relationships and this would be great to have on the Fluid Field also.

[2020-10-16 22:22] litzinger commented on #559
Yeah, I noticed the link button was missing a lot of options that previous version of CKEditor had. We rely heavily on the hooks to add entries/pages to the link dropdown menu, populated by Structure. I like the minimal options, but the current link button is _too_ minimal :)

[2020-10-16 23:05] mcfarlandonline opened #561 "Ability to Duplicate and/or Export/Import Fieldtypes from the Field Manager"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to recreate common fieldtypes from scratch in the Field Manager. Often, I may have already created the fieldtype I want, I just need to change its Name + Short Name.

When building a new website, I like to start out with 4 core fieldtypes. (3 are grid fields containing text or textarea fields, and

[2020-10-17 16:50] avnerw commented on #559
A simple request for new RTE/CKEditor:

- Basic styling of paragraph tags, heading tags, and lists, blockquotes, etc. similar to what the native "Classic" theme of CKEditor 5 does.
- At the moment, at least from what I can see, there is no styled spacing between tags which can make editing difficult and visually not pleasing.

[2020-10-17 17:09] avnerw opened #562 "RTE basic styles"
The new native RTE lacks basic styling for some tags, specifically related to spacing between tags, and some tags, like H1 has unconventional style applied. For example. If a number of paragraphs follow each other, there is no margin-bottom styling for the tag, so all paragraphs are visually not pleasing.

The same happens if a heading tag is followed by a paragraph, followed by a list style, foll

[2020-10-18 20:17] skookie000 opened #563 "EE6 - Relationship Multiple Selection toggle has no effect"
The "Allow multiple relationships?" toggle in the field setting for relationships has no effect and defaults to allow multiple relationships in the entry.

Steps to repeat:
- Create a relationship field, set to allow multiple relationships, save, verify in entry.
- Turn multiple relationships toggle off, save.
- Verify in entry that multiple entries can be added and saved.

EE6 beta 1.

[2020-10-18 20:20] skookie000 opened #564 "EE6 - Change the Relationship Selection Process"
The new relationship selection process, while visually beautiful, is still a drop-down menu approach and increases time to select the right option, and the high likelihood of missing the field all-together.  The hidden options means the only context is the field name, and the length of the option name can be hidden by devices.  In the current implementation, the modal moves with the browser scroll

[2020-10-18 20:24] skookie000 opened #565 "EE6 - Entry Modal Does not preserve dark mode"
Entry modal will appear in light mode even when dark mode is set.

Steps to reproduce:
- Put CP in dark mode.
- In edit list, select multiple entries to edit.
- Click edit dropdown, then submit.
- Get blinded by white.

This also works when adding a new entry via relationship modal.  I'm assuming all entry modals would have this issue.

EE 6 beta 1.

[2020-10-19 01:55] skookie000 opened #566 "EE6 - Status is uppercase (cont.)"
Statuses are displayed as uppercase due to CSS, and not because they actually are.  Parts of the system works as case-sensitive, and getting the actual status casing means looking at the source or the database.  There's no functional value in having CSS make them all uppercase.

Statuses should be displayed as case-sensitive, exactly what's in the database.

Repeat of https://github.com/Expression

[2020-10-19 06:00] nix79 opened #567 "css not loaded on installation page"
hi,
I've tried EE 6 installing it under a subdirectory but the css of installation page (admin.php) has an absolute path that does not consider the subdir so it is not loaded. in any case it is possible to proceed with the installation.

thanks

[2020-10-19 06:28] intoeetive commented on #550
@pixiwooh I had a look at this and it looks like rather there's an issue with your PHP version. It seems that your PHP build has been compiled with really old ICU library. In your phpinfo ICU version number should be greater than 4.6 - can you check that? (just to give you idea, in my installation of PHP 7.3.17 ICU version is 64.2)

[2020-10-19 07:36] intoeetive commented on #567
@nix79 thank you! This will be addressed in next beta release

[2020-10-19 07:51] pixiwooh commented on #550
@intoeetive indeed the CIU version is 4.2.1 according to PHPinfo... weird, so it is a host matter? I'll reach out to host provider to ask.

[2020-10-19 07:52] intoeetive commented on #550
Unless you have self-managed server, then you should talk to your hoster about that @pixiwooh

[2020-10-19 07:54] pixiwooh commented on #550
I'm glad this is not a EE bug then ;) Thank you, I can't wait to use this new version on clients projects.

[2020-10-19 08:01] #550 closed

[2020-10-19 08:45] nix79 commented on #567
great!

[2020-10-19 10:16] avnerw opened #568 "Edit Partial Template - Content input field height"
The content input field for Partial Templates has an inline style height set of only 63px which is hardly enough to see any code in it. Suggest setting this to a larger min-height, like in EE5.  It also does not seem to be scrollable on an iPad Pro.

![Screen Shot 2020-10-19 at 12 56 02 PM](https://user-images.githubusercontent.com/17215743/96432055-09030600-120d-11eb-9123-f612afbbde0e.png)

[2020-10-19 12:24] intoeetive commented on #568
Thank you! This will be addressed in next EE6 beta release

[2020-10-19 14:31] JasonBoothman opened #569 "EE6 - Display how many members are in each member role and allow us to filter members by member role."
**Is your feature request related to a problem? Please describe.**
With EE6's new design, it looks like there is no way to see how many members belong to a specific member role. This would make it more difficult to determine if a member role is being used or not and who belongs to that member role.

**Describe the solution you'd like**
In the current version of EE the Member Group has the count of

[2020-10-19 14:33] intoeetive commented on #565
Thank you for reporting this! Fix will be provided in next EE6 beta release

[2020-10-19 15:01] intoeetive commented on #456
We are planning to address this in the next EE6 beta release

[2020-10-19 15:02] intoeetive commented on #549
closing as duplicate of https://github.com/ExpressionEngine/ExpressionEngine/issues/562

[2020-10-19 15:02] #549 closed

[2020-10-19 15:24] JasonBoothman opened #570 "EE6 - Nested categories have cascading CSS issues?"
This may be intended, but the styling on nested categories looks odd with the indentation as well as the borders. You can view this anywhere categories are displayed and include multiple levels (Parent Category field when editing a category, Editing an entry with categories assigned to it, etc.).

The nested categories are indented, have a border on the left, and in some cases (if you go three lev

[2020-10-19 15:44] JasonBoothman opened #571 "A checkbox field's 'Check All' text doesn't actually 'check all'."
For any checkbox field if you click the checkbox next to the 'Check All' text, it will work as expected and check/uncheck all options. If, however, you click the 'Check All' text (which is linked), it will check the checkbox directly next to it, but won't actually trigger selecting/unselecting all the options.

A quick way to see this in action is to create a new member role.

1. Click 'Members'.

[2020-10-19 18:29] inoatech opened #572 "EE6 - Flyout menu does not accommodate long list of channels"
Second-level flyout menu does not accommodate long list of channels. It only shows the last few, depending on screen height. Would be nice if it had a scroll bar when needed.

[2020-10-19 18:32] inoatech opened #573 "EE6 - Show Entry type / Channel"
In the new EE6 edit entry screen, there is no indication of entry type / channel.

In EE5 this was indicated by breadcrumb nav above the entry form.

When dealing with more than a few channels, this is a really helpful indicator of where one is.
It'd be great if something like this could be restored.

[2020-10-19 18:42] Caleydon opened #574 "Typo in utilities_lang.php file"
FIle: utilities_lang.php

Variable: validate_addresses_desc
Word: corret

[2020-10-19 18:46] inoatech commented on #573
Maybe {Channel} could come between "ENTRIES" and "EDIT ENTRY" and also be a link to the filtered entries for the channel?

[2020-10-19 18:59] inoatech opened #575 "EE6 - Statuses with FFFFFF as highlight color become invisible"
In EE5, highlight color was used as background for statuses. If white was used, status text would still be black.

In EE6, statuses with FFFFFF as highlight color (or other light color?) become invisible when editing a channel.

Perhaps the problem is reversed in dark mode?

EE5:
<img width="166" alt="Screen Shot 2020-10-19 at 1 58 01 PM" src="https://user-images.githubusercontent.com/245898/96499

[2020-10-19 19:29] avnerw opened #576 "Preview of Entry when using Grid fields"
**Preview with grid field limited**
If you have an entry which uses grid fields with a number of columns (or grid fields inside a fluid field), and click the Preview button to view the live entry on the right, you cannot drag to the left to make the preview side larger beyond a certain point, as the grid fields do not collapse.

This makes the preview pane about the size of a mobile phone screen,

[2020-10-19 19:38] VarenSwaab opened #577 "Index page not editable in Template Manager"
I'm logged in as Super Admin using the Template Manager to edit the default index template. When I try to save the edit I get an error:

Forbidden You don't have permission to access /***.php on this server.

I checked permissions on the file and it's 666 and the template folder 777. Other templates I create in the Template Manager in the same template group are perfectly editable. Just this one f

[2020-10-19 20:32] JasonBoothman opened #578 "Empty button in grid column when minimum rows condition is active."
If you set a minimum requirement to a grid field and only have the minimum rows for an entry, the trash icon disappears (as it should), but the button border still remains, leaving a blank button (see attachment screenshot).

![grid-minimum-rows](https://user-images.githubusercontent.com/4921348/96508136-24c7d580-1228-11eb-8fcf-e4096e929e54.png)

[2020-10-20 05:28] intoeetive commented on #578
Thank you! We will fix this in next beta release

[2020-10-20 05:30] intoeetive commented on #577
@VarenSwaab is this new install or upgraded site? What's actually `***.php`? EE templates are saved as `.html` files, not `.php` so the error might be referring to something else

[2020-10-20 05:43] VarenSwaab commented on #577
Yuri,

The site is a new install. The “***.php” is simply because I'm obscuring the real name of the file. The file being referenced in the error isn’t a template file, it’s the renamed “admin.php” file.

Varen

[2020-10-20 07:06] intoeetive commented on #563
Thank you for reporting this! The fix is planned for next beta release

[2020-10-20 07:11] intoeetive commented on #566
Since this has already been reported, I'm going to close this one and add EE6 label to the other one. Thank you for reporting - we will look into how this can possibly be addressed

[2020-10-20 07:11] #566 closed

[2020-10-20 07:17] intoeetive commented on #577
@VarenSwaab I have a feeling that there's something with your settings that has not been migrated properly. Can you confirm that your `***.php` file (the one referenced in error) actually exists in site root directory and that it's the renamed `admin.php` from EE6 setup?
Also, when editing template, do you access the page via renamed `admin.php` or `/system/` (check what's actually displayed in br

[2020-10-20 14:57] ops-andy commented on #570
confirmed that I see the same styling

[2020-10-20 15:05] ops-andy commented on #572
@inoatech can you provide a screenshot please so we know where to replicate this.
thanks

[2020-10-20 15:12] ops-andy commented on #573
I'll submit this to be reviewed. You can see the channel entry is in via the Options tab (if it's not hidden by the channel's publish layout), but I can see where you're coming from and the missing breadcrumb
![image](https://user-images.githubusercontent.com/55093827/96606226-0b289b80-12c5-11eb-85d9-2c2eceae172e.png)

[2020-10-20 15:13] ops-andy commented on #573
for reference EE5 Breadcrumb:
![image](https://user-images.githubusercontent.com/55093827/96606374-3612ef80-12c5-11eb-9600-4f1126452652.png)

[2020-10-20 15:38] TomJaeger commented on #576
Took a peek at this one and was able to replicate it.  It looks like the grid field doesn't snap into responsive mode when in live preview.

[2020-10-20 16:10] ops-andy opened #579 "EE6 - test"
**Description of the problem**

**How To Reproduce**
Steps to reproduce the behavior:

**Error Messages**

<pre><code>

</code></pre>

**Screenshots / Videos / Template Code**

**Environment Details:**
 - Version: [e.g. 5.0.1]
 - PHP Version [e.g. 7.1]
 - MySQL Version [e.g. 5.7]
 - OS: [e.g. Linux, macOS, Windows]
 - Web Server: [e.g. Apache, nginx, MAMP, etc.]

**Possible Solution**

**Additiona

[2020-10-20 19:04] avnerw commented on #576
Thanks!

[2020-10-20 19:24] VarenSwaab commented on #577
@intoeetive There was no migration since this is a fresh install in a fresh server space. I do have MSM setup but the domain I'm seeing this problem with is the main domain, not a satellite domain.

When editing the template it's being accessed through the renamed admin.php template. This is the url with the actual file name redacted: https://*****.com/*****.php?/cp/design/template/edit/1

[2020-10-20 20:58] rowansentesy commented on #330
+1 to this!

[2020-10-20 21:20] VarenSwaab opened #580 "Image processing for member profile images (avatars)"
It would be very helpful for image processing to be applied to member photo uploads

Currently, without any image processing, embedding member photos in the front-end templates is a very high bandwidth proposition. Most people upload selfies so storing them and showing them is very inefficient.

I have not been able to come up with any alternative other than severely limiting the size of the uploa

[2020-10-21 14:13] ops-andy commented on #576
This will be fixed in a future overall responsive design update of the CP.

[2020-10-21 17:16] frshjb373 opened #581 "Can't log in as member"
Getting following error after trying to log in as user:

Exception Caught
There was a database connection error or a problem with a query. Log in as a super admin or enable debugging for more information.
mysqli_connection.php:117

Additionally, there is the option to login and redirect to "other." Why not just include a radio for CP homepage so super admin doesn't have to manually set that redire

[2020-10-21 18:02] litzinger opened #582 "ft.toggle.php has an empty $info array"
**Description of the problem**
As the title says, the ft.toggle.php file has:

`var $info = array();`

It should be:

[code]

Bloqs is displaying the field option as `toggle`, not `Toggle` because of this. I can update Bloqs to fix the display, but still noting the inconsistency in the ft properties.

**Environment Details:**
 - Version: 5.3 & 6b

[2020-10-21 18:12] inoatech commented on #572
Thanks Andy. Here's one.

<img width="638" alt="ScreenShot" src="https://user-images.githubusercontent.com/245898/96762560-09cba180-139f-11eb-99c0-e752fa3eec54.png">

[2020-10-21 18:49] mcfarlandonline opened #583 "Error Caught on Edit Entry / Publishing Page"
EE 6.0.0-b.1
PHP Version 7.4.11
10.3.25-MariaDB

I updated from 5.3.2 to the EE6 beta, and everything looked good on the front and backend, until I tried to view or edit my entries. (Or even create a new one). I only have 3 channels, and all entries respond the same way. The interface is un-themed, but the appropriate fields still show up.

This is the error message I'm getting:

![screencapture-a

[2020-10-22 05:12] intoeetive commented on #583
@mcfarlandonline what are the field options for you 'Fluid Content' field? Can you list them or add screenshot. If you can't access that page, screenshot from EE5 is good as well

[2020-10-22 05:26] intoeetive commented on #581
@frshjb373 we need just few more details to replicate and address this.
What permissions does the member have that you tried to log in as? (check Member Roles and Access Overview sidebar links in profile). What URL did you try redirect to?

Can you also try setting "Error Visibility" to "Visible to everyone" in Debugging & Output settings as well as setting `$debug = 1;` in `index.php` and `admin.

[2020-10-22 13:29] pyrobob83 commented on #583
@intoeetive I'm getting this too, specifically when there's a Grid available to the Fluid where the Grid contains a File field.  Standalone File fields work fine in a Fluid and even Grids without a File column work fine - but a File inside a Grid inside a Fluid gives this error.  Hope that helps!

[2020-10-22 14:16] avnerw opened #584 "Live Preview shows blank preview when using subdomain"
I have tested this on an upgraded site from 5.3.2 to 6 beta (using MSM), as well as a new EE6 beta installation (using only the preinstalled Default Site).

1. Under System Settings, when the URL and Path Settings -> Default base URL is set to https://domain.com/sub, the Live Preview shows the blog page.

2. When I change the above settings to https://sub.domain.com, the Live Preview shows a blank

[2020-10-22 14:23] avnerw commented on #584
I should also add that on 5.3.2 using the same test as above with or without subdomain, both cases the live preview works.

[2020-10-22 15:23] robinsowell commented on #568
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:23] #568 closed

[2020-10-22 15:24] robinsowell commented on #562
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:24] #562 closed

[2020-10-22 15:24] robinsowell commented on #559
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:24] #559 closed

[2020-10-22 15:25] robinsowell commented on #563
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:25] #563 closed

[2020-10-22 15:25] robinsowell commented on #551
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:25] #551 closed

[2020-10-22 15:26] robinsowell commented on #546
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:26] #546 closed

[2020-10-22 15:26] robinsowell commented on #553
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:26] #553 closed

[2020-10-22 15:26] robinsowell commented on #545
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:26] #545 closed

[2020-10-22 15:26] robinsowell commented on #544
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:26] #544 closed

[2020-10-22 15:27] robinsowell commented on #567
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:27] #567 closed

[2020-10-22 15:27] robinsowell commented on #456
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:27] #456 closed

[2020-10-22 15:27] robinsowell commented on #565
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:27] #565 closed

[2020-10-22 15:27] robinsowell commented on #574
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-22 15:27] #574 closed

[2020-10-22 15:39] mcfarlandonline commented on #583
@intoeetive , similar to @pyrobob83 , I'm also using a File Grid inside of the Fluid field. Other fields include a textarea, grid, and text input field.

<img width="437" alt="Screen Shot 2020-10-22 at 8 35 21 AM" src="https://user-images.githubusercontent.com/20441129/96896135-04736300-1442-11eb-861b-e8bc6e5cf4ab.png">

<img width="256" alt="Screen Shot 2020-10-22 at 8 35 36 AM" src="https://user

[2020-10-22 15:50] dankingsley opened #585 "RTE doesn't have option to view source code"
Having just installed EE6 beta 2 and reviewed the added toolbar options for the RTE, there still isn't an option to edit the source code (a standard feature of Wygwam and other RTE's).

[2020-10-22 15:54] pyrobob83 opened #586 "INTL_IDNA_VARIANT_2003 is deprecated"
EE6.0.0-b.1 & EE6.0.0-b.2
Fresh EE install (started with b.1 and 1-clicked to b.2)

[code]

TJ suggests using INTL_IDNA_VARIANT_UTS46 instead and linked me to https://aaronparecki.com/2018/02/06/9/#:~:text=Apparently%20the%20idn_to_ascii%20function%20deprecated,default%20if%20none%20is%20specified

[2020-10-22 15:56] intoeetive commented on #585
"View source" is not a thing in CKEditor 5. The developers have some strong reasons to not include that feature: https://github.com/ckeditor/ckeditor5/issues/592
If it'll be ever implemented, we will add it to RTE

[2020-10-22 15:56] #585 closed

[2020-10-22 15:58] intoeetive commented on #586
@pyrobob83 what PHP version are you on? Is `intl` installed and what is `ICU` version reported by `phpinfo`?

[2020-10-22 16:03] pyrobob83 commented on #586
PHP7.3.0 and intl is installed:

ICU version | 4.2.1
ICU TZData version | 2009j
ICU Unicode version | 5.1

The weird thing is line 2602 is already referencing INTL_IDNA_VARIANT_UTS46, just from within this if statment:

[code]

[2020-10-22 16:06] pyrobob83 commented on #586
Sorry, I should have also mentioned it's only showing on the EE6 'Overview' screen - I can't seem to find any other screen in the CP that displays this

[2020-10-22 19:26] VarenSwaab commented on #577
@intoeetive I updated to beta 2 and no change with this issue. It's not a big problem for me since I use an external editor but it does indicate that there is some sort of funkiness going on. If you want to pursue let me know.

[2020-10-22 20:46] frshjb373 opened #587 "Addon description truncated without ability to see entire description"
Add-on excerpt text gets truncated with no option to view all text or click to addon info page.
![Screen Shot 2020-10-22 at 1 45 56 PM](https://user-images.githubusercontent.com/7178139/96928112-f38c1700-146c-11eb-9f3c-bbf8b77a072d.png)

[2020-10-22 20:59] frshjb373 commented on #581
When I save Debugging & Output to "Visible to everyone" it just reverts back to Hidden option selected on save.

Regardless, after setting debugging in admin and index.php files, I'm getting the following stack trace...looks like it coule be related to @litzinger's simple grids or bloqs?

[code]

[2020-10-22 21:04] VarenSwaab opened #588 "Channel Form Assets not Loading"
Using a simple Channel Form template I'm unable to load the stylesheet for advanced fields. I'm using the link provided in the documentation:

`<link href="{path='css/_ee_channel_form_css'}" type="text/css" rel="stylesheet" media="screen">`

Channel form works but the stylesheet gives a 404.

[2020-10-23 02:05] stephengalbraith opened #589 "{pagination_links} tag parameters do not work if line breaks exist"
This is also likely an issue with EE5. Just for my own purposes I like to layout my EE tags with breaks for readability later. This has always been fine with Channel Entries tags.

So for example: `{pagination_links always_show_first_last="yes" page_padding="1"}` properly produces:

<img width="388" alt="Screen Shot 2020-10-22 at 10 00 47 PM" src="https://user-images.githubusercontent.com/45797159

[2020-10-23 02:06] blue-dreamer opened #590 "Cannot delete grid row when there is only one row"
EE6.0.0-b.2

When you only have one grid row on a publish page you cannot delete it, the delete button is missing.

Steps to reproduce;

1. Create a Grid field and assign to a channel, I have File field, Text field and RTE fields for my test
2. Add a couple of grid rows
3. Delete any row, the delete button isn't displaying

[2020-10-23 04:55] intoeetive commented on #581
Yes, this is clearly related to one of those addons - so closing this issue as it's not directly related to EE6.

[2020-10-23 05:07] intoeetive commented on #586
Looks like you have PHP compiled with really old ICU version. INTL_IDNA_VARIANT_UTS46 has been introduced un ICU 4.6 which was long before PHP 7.3.
But - you are already second person reporting this issue, so we should probably look into more reliable solution than just checking PHP version

[2020-10-23 07:48] intoeetive commented on #577
I am unable to replicate this so far. Did you make any changes in `admin.php` file? (or any other EE files except `config.php`) Is there anything specific in the index template itself?
Lastly, any addons installed that are not bundled with EE?

[2020-10-23 08:30] intoeetive commented on #588
This worked on my testing. How does the full compiled link look like? (the one that gives 404)

[2020-10-23 08:33] intoeetive commented on #578
Fixed in [beta 2](https://docs.expressionengine.com/v6/installation/changelog.html#beta-2-release-october-22-2020)

[2020-10-23 08:33] #578 closed

[2020-10-23 08:36] intoeetive commented on #582
Thank you - we'll address this in beta 3.

[2020-10-23 08:50] intoeetive commented on #584
@avnerw can you check if you have any warning error messages in browser developer console when opening live preview on subdomain? I think you might be restricted because of cross-domain issues

[2020-10-23 11:49] avnerw commented on #584
@intoeetive I do get the cross-domain error plus another one.
Although in EE5.3.2 this works fine without any Cross-Origin erros.

Here it is (replaced my real domain with sub.domain.com):

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://sub.domain.com/index.php?ACT=26&channel_id=2&entry_id=14. (Reason: CORS header ‘Access-Control-Allow-Origin’

[2020-10-23 12:34] litzinger commented on #581
@frshjb373 can you create a ticket on BoldMinded.com and include that call stack output? Thanks!

[2020-10-23 13:01] pyrobob83 opened #591 "Allow field Instructions to be customized per-channel they are shared by"
Now that individual fields can be shared by multiple channels, it's often the case that the instructions for the field need to differ between channels.  I'll let you guys think up the best way to implement this, but my suggestion would be leaving the default Instructions as part of the field, but allowing an override when setting up Publish Layouts.  This would be non-breaking for past site upgrad

[2020-10-23 13:11] litzinger commented on #581
@intoeetive I'll take a look at this, but the File field is being called just as it would be if it were a native EE field. It's not doing anything special: https://github.com/litzinger/file-field/blob/master/src/FileField.php#L79-L83

[2020-10-23 13:15] litzinger commented on #581
Also, the actual error is about a missing EE db table

`Base table or view not found: 1146 Table 'dbname.exp_upload_no_access' doesn't exist`

[2020-10-23 13:16] frshjb373 opened #592 "Channel Entry Field Rules/Conditional logic in channel entry"
Ability to use conditional logic and rules for displaying/hiding fields in a channel entry.

Example attached from a different application...
![Screen Shot 2020-10-23 at 6 15 31 AM](https://user-images.githubusercontent.com/7178139/97008094-3eeb0780-14f7-11eb-8d7a-30462423a320.png)

[2020-10-23 13:22] litzinger commented on #581
FWIW, I don't see the `exp_upload_no_access` table in my EE6 install either, but there are a lot of references to the `legacy/models/file_upload_preferences_model.php` model in the EE6 codebase. Is it possible that the `exp_upload_no_access` table didn't get properly created during the install process?

[2020-10-23 13:52] intoeetive commented on #592
Just to clarify - you are referring to using this in CP Publish Layouts, right @frshjb373 ?

[2020-10-23 13:54] frshjb373 commented on #592
Yes, I would imagine that would be the ideal place for permitted admin/dev to configure that logic.

[2020-10-23 13:58] litzinger commented on #581
I have 2 EE5 sites, both have the `exp_upload_no_access` table. Josh upgraded an EE5 site to EE6, and his EE5 install also had the `exp_upload_no_access` table. Is it possible the EE6 upgrade/install method is dropping this table when it shouldn't?

[2020-10-23 14:00] intoeetive commented on #581
@litzinger `exp_upload_no_access` should not exist in EE, but looks like it wasn't completely removed (and functions properly deprecated). We'll work on that - thanks for catching!

[2020-10-23 14:26] intoeetive commented on #583
@mcfarlandonline @pyrobob83 thank you! We'll deliver a fix in next EE6 beta release.

[2020-10-24 17:19] frshjb373 opened #593 "ability to use template tags in .css templates"
Would be great to have the ability to output template tags in .css files in template manager. This would be helpful for not having to implement inline CSS in many instances. For example, a color picker field value that can be used to output a value in css.

[2020-10-24 17:38] tjdraper opened #594 "Live Preview button visible when no Preview URL set; error when clicking "preview" button not visible unless page is scrolled all the way up"
The Preview button should be hidden when no preview URL is set as in EE 4/5.

However, I'm assuming this is a decision that's been made to show it and give an error instead, which is what happens now, so secondarily, when entry is scrolled, and "Preview" is clicked, the error is not shown until you scroll back to the top of the screen.

<img width="1196" alt="Screen Shot 2020-10-24 at 12 36 42 PM"

[2020-10-24 18:15] WinkingFrog opened #595 "EE6 - 1-Click Updater fails at Preflight Check"
Attempting to update from b1 to b2 using the 1-Click Updater I get the following message...

[code]

Originally I suspected this was a paths issue as I had moved the system folder outside the root, but having moved it back the same error was found.

This is on a MAMP Pro local development server

[2020-10-24 19:09] skookie000 opened #596 "EE6 - Broken Docs Link"
Developer log says:
"MemberGroup model has been removed from ExpressionEngine 6. Please use Role model instead."
Role Model links to https://docs.expressionengine.com/v6/development/v6-addon-migration.html#required-changes that is 404.

Side note, I have no idea what generated this message.  Some additional context of where/what triggered this would be helpful.

[2020-10-24 19:10] skookie000 commented on #596
v6 beta 2.

[2020-10-24 19:54] VarenSwaab commented on #588
The compiled url looks like this:
`<link href="https://***.dev/css/_ee_channel_form_css" type="text/css" rel="stylesheet" media="screen">`

It just refuses to load a file. I should note that I'm using MSM and this is a secondary site. So far everything else about the site works well.

[2020-10-24 19:58] VarenSwaab commented on #588
This is more of a feature request but I'm using the channel form on a site that needs to be very phone friendly. In past versions of EE, some fields rendered very poorly on a small screen. I notice there is still no option to load a cform stylesheet optimized for a small screen. Has this been addressed in EE6 or are phones still being treated poorly?

[2020-10-25 00:08] VarenSwaab opened #597 "MSM allows duplicate channel creation"
Honestly not sure if this is a feature or a bug but MSM is allowing for the creation of identical channel names (both long name and short name) in different sites. I'm new to MSM so I don't want to assume this is a bug but it seems like a bad idea and completely unnecessary to allow different sites identical channel names.

[2020-10-25 02:14] VarenSwaab commented on #577
@intoeetive I made no edits to admin.php except for the path and MSM specific overrides. Everything else seems to be working so I assume those edits are valid. I spent quite a bit of time trying to figure out any specific abnormality to the index.php file itself and can't find any. I played with permissions, set everything to 777 and it still didn't work. I can edit all other template files in tha

[2020-10-25 05:50] intoeetive commented on #597
According to the [docs](https://docs.expressionengine.com/latest/msm/code.html#specifying-multiple-sites-prepare-for-a-head-trip) you can have channel with same name on different sites. This has been done on purpose.

[2020-10-25 05:50] #597 closed

[2020-10-25 05:55] intoeetive commented on #588
so am I correct assuming you load the page from `siteB.com` and the `link href` points to `siteA.com`? Is the `channel:form` tag for channel that is on site A or site B?

As a general note, improving the front-end editing expirience is on our roadmap in the top list of priorities. However we're just not there yet. The `css/_ee_channel_form_css` is generally the same that for EE5, so you will not s

[2020-10-25 06:50] intoeetive commented on #584
@avnerw - thank you, I was able to replicate the issue. Because the approach live preview has changed in EE6, we might eventually classify this as a limitation, but for now I'm accepting it as a bug.

[2020-10-25 18:02] stephengalbraith opened #598 "Registering Member from CP fails if custom member field is marked as required, but does not appear in publish form"
I went to go register a new member from the CP and it kept failing on just the basic form:

<img width="1184" alt="Screen Shot 2020-10-25 at 1 58 15 PM" src="https://user-images.githubusercontent.com/45797159/97115006-60e8b380-16ca-11eb-9525-89a19434b517.png">

No error was actually appearing and then I realized that one of the custom fields I made was marked as required:

<img width="908" alt="Sc

[2020-10-26 13:34] ops-andy commented on #598
I was able to replicate.

[2020-10-26 14:26] ops-andy commented on #595
@WinkingFrog Thanks for submitting this. I've been unable to replicate as of yet even when moving my system folder above the public root. Before running the 1-click updat, did you ensure your paths were correct in Settings -> URL and Path Settings?
If not, can you ensure those are correct, if changes need to be made, make those then try the 1-click updater again.

[2020-10-26 14:49] #558 closed

[2020-10-26 16:03] AndiLeni opened #599 "Use a translation tool"
Currently, translating the control panel is a humongous amount of work, because all translations are handled in separated files.

The use of a translation tool like crowdin could make it easier for users to keep the translations up to date.

A translated backend is mandatory in many countries where english is not the primary language.

[2020-10-26 16:04] ops-andy opened #600 "testing automation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fea

[2020-10-26 16:19] #600 closed

[2020-10-26 16:19] ops-andy opened #601 "testing2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fea

[2020-10-26 18:45] #601 closed

[2020-10-26 20:02] VarenSwaab commented on #588
@intoeetive yes, that's correct.

This is good to hear. EE is not very mobile friendly, especially with fieldtypes. 87% of my users are on mobile devices and I have always struggled to work-around the shortcomings of the front-end channel form. Making EE more mobile friendly is a good way to keep it relevant and expand it's potential uses. IMHO.

[2020-10-26 22:55] mladen-dordevic opened #602 "No such property: 'status_model' on EllisLab\ExpressionEngine\Legacy\Facade"
**Description of the problem**
_check_for_data_errors function within Api_channel_entries class is trying to run get_disallowed_statuses method of status_model without loading status_model.

**Error Messages**

<pre><code>
Exception Caught
No such property: 'status_model' on EllisLab\ExpressionEngine\Legacy\Facade
ee/EllisLab/ExpressionEngine/Legacy/Facade.php:120

Stack Trace: Please include when

[2020-10-27 13:02] ops-andy commented on #602
@intoeetive can you confirm/followup on this, please.

[2020-10-28 10:23] intoeetive commented on #595
I haven't been able to replicate this either

[2020-10-29 06:27] intoeetive commented on #602
I was able to see the issue in EE 5.3.2 (does not exist in EE6). We will provide fix in next 5.x release

[2020-10-29 08:11] intoeetive commented on #588
@VarenSwaab for a moment I thought that I am able to replicate this, but only because I had `$assign_to_config['site_url']` set to wrong URL in `index.php` file for secondary site.
Also, I noticed that your compiled URL to CSS does not have `index.php` - if you have `Website index page` set to empty string in site settings, make sure you have `.htaccess` file in place https://docs.expressionengine

[2020-10-29 08:11] #588 closed

[2020-10-29 08:23] intoeetive commented on #577
@VarenSwaab my suspect it has something to do with your hosting environment, not EE in general.

When you go to `...system/user/templates/default_site/<default_group>/` - does it have `index.html` file and does that file have correct permissions?
Also please double check `$assign_to_config['cp_url']` value in `admin.php` site

[2020-10-29 12:45] pixiwooh opened #603 "Missing hover label on the "split page" icon on RTE configuration module page."
I noticed that on Edit Configuration RTE module of EE 6.0.0-b.2 there's missing a hover label on the "split page" icon in the CP.

[2020-10-29 19:29] #589 closed

[2020-10-30 10:45] frshjb373 opened #604 "styling issue on template routes dropdown - needs padding on left of list items"
<img width="1187" alt="Screen Shot 2020-10-30 at 3 42 21 AM" src="https://user-images.githubusercontent.com/7178139/97696050-38faa680-1a62-11eb-8802-ef26eaa9b95e.png">

[2020-10-30 23:19] VarenSwaab opened #605 "Errors creating new field"
I was trying to create a new field using Reinos Maps Fieldtype and got the following error. I'm using EE6 beta 2 and Maps Fieldtype 2.1.3 (updated today).

Exception Caught

Unknown field MemberGroup.group_id

ee/ExpressionEngine/Service/Model/Query/Select.php:789

Stack Trace: Please include when reporting this error

#0 ee/ExpressionEngine/Service/Model/Query/Select.php(631): ExpressionEngine\Se

[2020-11-01 19:15] frshjb373 opened #606 "dialogue not opening to add file in File Manager > File Upload"
Unless I'm missing something, the dialogue box, "Choose File" field is not opening a dialogue box when clicked from the File Manager. Tested in latest Chrome and Safari on Mac.

[2020-11-02 06:10] #605 closed

[2020-11-02 06:12] intoeetive commented on #605
This error is originating from `Reinos\MapsFieldtype\Service\SettingsHelper->get_membergroups()` function. Please report it to the developer - or if there is more recent version, upgrade the add-on.

Having said that, in next beta we'll provide better error for cases like this reporting allowing people to easier identify the add-on that's causing issues

[2020-11-02 06:22] intoeetive commented on #606
In the file manager, the "Choose File" dialog is a stand-alone page, not a popup. This is same behaviour that of EE5 and it has not been changed.

[2020-11-02 16:55] frshjb373 commented on #606
@intoeetive, attaching console screenshot.
![Uploading Screen Shot 2020-11-02 at 8.53.26 AM.png…]()

[2020-11-02 16:57] ops-andy commented on #606
per screenshot, @frshjb373 is having an issue with the actual OS file selector not opening.

[2020-11-02 17:12] frshjb373 commented on #606
@ops-andy, confirmed it was a chrome ext. causing issue.

[2020-11-02 20:32] #606 closed

[2020-11-03 12:53] silenz88 commented on #534
When I use
[code]
I get 15 times the message above, no matter how high I set the entry-limit.

[2020-11-03 12:56] intoeetive commented on #534
@silenz88 so do I understand correctly that you get this error on front-end, not CP?
What fieldtypes are used in your `"blog"` channel?

[2020-11-03 12:59] silenz88 commented on #534
Yes, front-end.
That is the only template-code.
Changing which fields are displayed makes no difference.

Fieldtypes in that channel are 1x textarea and 1x grid.

Same result for other channels with orther fields.

[2020-11-03 13:01] intoeetive commented on #534
Do you still get the error if you temporary disable extensions?

[2020-11-03 13:16] silenz88 commented on #534
No difference with
`$config['allow_extensions'] = 'n';`
in config.php.

According to the template debugger, extensions are no longer called.

[2020-11-03 13:31] intoeetive commented on #534
I'm totally puzzled. Is this upgrade or new installation? If this is an upgrade, what EE version did you upgrade from?

[2020-11-03 16:03] #603 closed

[2020-11-03 19:37] litzinger opened #607 "Add support for add-on icons in EE6 sidebar"
Add-ons have icons, why not use them in the sidebar instead of just displaying the first letter of the add-ons name? Instead of using the default icon, add-ons could have a supplemental icon designed for smaller sizes to be used in the sidebar.

[2020-11-03 22:13] silenz88 commented on #534
This is an upgrade from EE 2.11.9.
Actually even an empty template set to 'static' produces the same result.
<img width="400" alt="dt" src="https://user-images.githubusercontent.com/6132998/98046224-1c77b900-1e2a-11eb-96a5-0ff847629850.png">

[2020-11-04 07:09] dankingsley commented on #607
Agreed! I've currently got 3 addons installed in my EE6 dev site all of which start with the letter S - it makes the collapsed sidebar not really that helpful.

[2020-11-04 08:55] intoeetive commented on #607
This is on our to-do list. However the main sidebar navigation is still expecting few other changes to be done, so this might not be implemented in initial 6.0 release

[2020-11-04 12:54] intoeetive commented on #534
This is probably an issue with your PHP config.
Please make sure you have `date.timezone = 'Europe/Berlin'` set in your `php.ini`
On certain hostings it is also reqired to have `.user.ini` file with same content

[2020-11-05 00:21] blue-dreamer opened #608 "Grid thumbs are too big"
I'm testing grid publish field layout with fields: File, Text, RTE and Relationship (single), in EE6.0.0-b.2.

When adding an image file the thumb is pretty huge (380px wide), and because that takes up a lot of horizontal space it squashes the other fields too much.

The solution is to use a smaller thumb image to allow other fields some breathing space. It's hard work for authors using a 200px wi

[2020-11-05 09:33] silenz88 commented on #534
date/time support | enabled
timelib version | 2017.09
"Olson" Timezone Database Version | 2018.9
Timezone Database | internal
Default timezone | Europe/Berlin

[2020-11-05 09:49] intoeetive commented on #534
Can you try resaving EE date & time settings (in particular, the timezone) under General Settings?
Also if you are testing logged in, resave your profile's date & time settings as well

[2020-11-05 13:15] silenz88 commented on #534
No effect.

I did some digging. The timestamps that throw the error are unique in the whole database.
And they are all from the column 'create_date' in 'exp_consent_request_versions'.

int(1603490841)
int(1600854822)
int(1600948811)
int(1600952719)
int(1603456487)

[2020-11-05 19:18] ops-andy commented on #279
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:18] #279 closed

[2020-11-05 19:18] ops-andy commented on #554
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:18] #554 closed

[2020-11-05 19:18] ops-andy commented on #581
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:18] #581 closed

[2020-11-05 19:19] ops-andy commented on #582
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:19] #582 closed

[2020-11-05 19:19] ops-andy commented on #583
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:19] #583 closed

[2020-11-05 19:19] ops-andy commented on #586
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:19] #586 closed

[2020-11-05 19:19] ops-andy commented on #589
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:20] ops-andy commented on #590
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:20] #590 closed

[2020-11-05 19:20] ops-andy commented on #594
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:20] #594 closed

[2020-11-05 19:20] ops-andy commented on #596
resolved in beta-3: https://expressionengine.com/blog/expressionengine-6-public-beta-3

[2020-11-05 19:20] #596 closed

[2020-11-05 19:21] ops-andy commented on #431
resolved in EE6. Will be resolved in 5.4 as well on release.

[2020-11-05 19:21] #431 closed

[2020-11-05 19:53] frshjb373 commented on #604
@intoeetive looks like same styling issue in file dropdown in @litzinger's Simple Tables & Grid with a file field.

[2020-11-06 11:59] intoeetive commented on #604
This is fixed in [EE 6 beta 3](https://expressionengine.com/blog/expressionengine-6-public-beta-3)

[2020-11-06 11:59] #604 closed

[2020-11-06 15:32] pyrobob83 opened #613 "Fluid Field 'Add Field' dropdown display issues in EE6.0.0-b3"
When editing an entry with existing Fluid Field content, adding a new field to the Fluid Field via the "+" buttons have some styling/UI issues:

1.  The dropdown doesn't cover settings cog and "+" button from lower fields
2.  The width of the dropdown is too narrow forcing most sub-field titles to wrap
3.  When sub-field titles do wrap, the line-height is such that you can't tell what's a continua

[2020-11-06 15:52] pyrobob83 opened #614 "2x Fluid Field usability improvment feature requests:"
Feature Requests for Fluid Fields to improve UX:

1.  Add faster way to collapse individual fields - eg: add 'collapse' button alongside settings cog and + buttons or introduce double-click on sub-field titles to expand/collapse individual sub-fields (or both?!).  Right now there's a two-step process: click settings cog then click collapse - which is very cumbersome when trying to collapse a bunch

[2020-11-06 16:48] pyrobob83 commented on #608
+1 on this.  I understand that the old size made it hard to see sometimes, but perhaps a compromise for the thumbnails as a whole would be a smaller initial thumbnail but with a hover-to-zoom type function.  Maybe even make the 'zoom' version the original aspect ratio so banners etc can be viewed without the forced square crop?

[2020-11-06 17:15] pyrobob83 opened #615 "File selection issue from a File Grid field inside a Fluid Field"
EE6.0.0-b3 has issues with a File Grid inside a Fluid Field:

Steps to replicate:
1. Setup a File Grid field and make that available to a Fluid Field and make that available to a channel
2. Edit an entry and try to either select an existing file (file manager does pop up, but does nothing) or upload a new one (error thrown & file not selected, but it does get uploaded)

Error shown in File Manager

[2020-11-06 18:04] pyrobob83 opened #616 "RTE Toolbar doesn't render from inside a Grid Field that's inside a Fluid Field"
In 6.0.0-b3, there's an issue with the RTE toolbar not rendering, but only when inside a Grid Field inside a Fluid Field:

![EE6 0 0-b3_RTE_inside_Grid_inside_Fluid](https://user-images.githubusercontent.com/8193519/98399092-29113280-201f-11eb-911d-1065a230ef2e.jpg)

I tested this with a standalone Rich Text field assigned both directly to the channel and as the only sub-field in my Test Fluid Fie

[2020-11-06 18:39] pyrobob83 opened #617 "Grid Min/Max not being obeyed when used inside a Fluid"
6.0.0-b3 - Grid Fields inside a Fluid Field don't obey Min/Max rows per the Grid field settings:

![EE6 0 0-b3_GridMinMaxInsideFluid](https://user-images.githubusercontent.com/8193519/98402530-aee3ac80-2024-11eb-9f69-62771ed002b4.jpg)

[2020-11-06 20:21] frshjb373 opened #618 "After changing a field type from EEHarbor's "Assets" to "File" field type still showing Asset field in edit entry."
When creating a field and saving as Assets and then modifying that field and converting it back to a "File" field, the field is still an Assets field and dialogue box when adding a new image.
![Screen Shot 2020-11-06 at 12 19 40 PM](https://user-images.githubusercontent.com/7178139/98411177-7515a480-202a-11eb-9037-dc8fa68cf23c.png)
![Screen Shot 2020-11-06 at 12 20 08 PM](https://user-images.githu

[2020-11-06 21:15] robinsowell opened #619 "Add ability to sort display order in fluid field 'Add' dropdown..."
It would be nice if you could custom order the fields you you add to your fluid field and have the 'Add' dropdown on publish respect that custom order.

[2020-11-06 21:17] #416 closed

[2020-11-06 21:57] frshjb373 opened #620 "Channels > Publish Layouts save is required for new field to show in entry"
After creating a new field and adding to a field group that's already selected in a channel, if a publish layout exists for that channel, you have to save the publish layout first before that new field shows in the entry. This wasn't the case in ee5 so not sure if this a bug or new behavior.

[2020-11-06 22:01] #602 closed

[2020-11-07 20:59] smaida opened #621 "exp:channel:form removes config items set by ee()->config->set_item()"
**Description of the problem**
We recently updated CartThrob to set config variables globally on the core_boot hook. The EE documentation suggests that we should be able to set config items with ee()->config->set_item() and then retrieve them later with ee()->config->item().

This seems to be true broadly except that there is at least one instance where EE replaces the config array without preserv

[2020-11-09 13:54] ops-andy commented on #621
@intoeetive can you confirm this please.

[2020-11-09 16:27] litzinger opened #623 "Add cache clearing option for the JumpMenu"
The `clear_caching` function lumps the Jump Menu clearing in with the `all` option. For backwards compatibly, if an add-on needs to clear the Jump Menu cache, it has to call `ee()->functions->clear_caching('all');`, which may nuke too much of the cache. To make it compatible with EE 5 and 6, and give add-ons the option of clearing just the Jump Menu cache, what if the following change is made?

[c

[2020-11-09 18:19] frshjb373 commented on #620
It was a text input field on a publish layout for "super admin" user group. I was logged in as super admin when creating the field and saving it to channel.

[2020-11-09 18:59] mladen-dordevic opened #625 "Control Panel Entries hover menu overflow"
In the Control Panel  hovering over "Entries" item in the lefthand side menu shows a quick channel list. This list does not scroll, so having 30+ channels, or small height window, it will cut off the top section of the list including the "View All" item. Scrolling moves the background instead of channel list.

EE 6.0.0-b.3

[2020-11-09 19:11] mladen-dordevic opened #626 "Entries list sort_col param not preserved on the next page"
Control Panel listing Entries: when sorting by column other that Date, url param sort_col is not preserved when switching to the next page using pagination.

For example, sorting entries by entry_id will dynamically update url:
admin.php?/cp/publish/edit&search_in=titles_and_content&perpage=25&sort_col=column_entry_id&sort_dir=asc

but pagination url don't preserve that parameter.

EE 6.0.0-b.3

[2020-11-10 06:09] intoeetive commented on #625
Thank you for the report. However I'm going to close this one, since we already have issue for this https://github.com/ExpressionEngine/ExpressionEngine/issues/572 , which we'll take care of.

[2020-11-10 06:09] #625 closed

[2020-11-10 07:42] intoeetive commented on #598
This has been fixed in beta 3 release

[2020-11-10 07:42] #598 closed

[2020-11-10 13:50] ops-andy commented on #620
@frshjb373 I still can't replicate this. Is this happening consistently? can you see the attached screen recording and let me know if I'm trying to replicate this correctly?
![field_issue](https://user-images.githubusercontent.com/55093827/98682261-b9a68600-2331-11eb-9193-3a7af4cbf03b.gif)

[2020-11-10 20:12] mladen-dordevic opened #628 "Control Panel sidebar not sticky"
Please consider making sidebar in Control Panel scroll independently of the content of the main window as when the main windows has a scroll content it scrolls sidebar as well and prevents a user from making a quick pick of nav items.

EE 6.0.0-b.3

[2020-11-10 22:42] skotos opened #629 "CP Addon screen background is red (body has button--danger class)"
An enabled firefox extension (maybe poorly written extension at that) can influence the rendering of the CP Addons Page.

EE: 6.0.0-beta3
Browser: Specific to Firefox 78.3.1esr with Audio Equalizer extension enabled.

Code, (with my debug statements): **system/ee/ExpressionEngine/View/_shared/modal_confirm_delete.php**:33
[code]
Results from above console.logs:

element | Firefox with Audio Equali

[2020-11-10 23:16] skotos commented on #629
If modifying cp_form_submit is not an option, would this patch work:
[code]

( might break IE8 :smile: )

[2020-11-10 23:25] skotos commented on #629
This patch is closer to the original code:
[code]

[2020-11-12 00:53] VarenSwaab opened #631 "The {count} variable is broken in {exp:channel:entries} tag"
The {count} variable is broken in the channel:entries tag  when  the search:field="" parameter is used.

This example works and {count} increases one numeral for each entry:
[code]
This example does not work. The {count} parameter stays at "1" for each entry:
[code]

[2020-11-13 10:08] intoeetive commented on #621
@smaida am I correct assuming you are not making cross-site submissions to other MSM site?
If so, the following change should work - can you confirm that?
[code]
Though if you have CartThrob configured on one site and the form is placed on another one, you'll probably have the same issue. In that case, you'd need to add config item to each MSM site.

I could suggest using `ee('Config')->getFile()-

[2020-11-13 13:14] intoeetive commented on #631
@VarenSwaab I wasn't able to replicate that on latest EE6 beta.
Please make sure this is not some kind of variable conflict (e.g. because of nesting the code) and also try to convert field to search by into simple text field (if it's not already).
Closing the issue for now, but if you still can replicate this even if it's the only code that you have, please reopen with a comment

[2020-11-13 13:14] #631 closed

[2020-11-13 14:32] smaida commented on #621
@intoeetive

I can confirm that we're not making cross-site submissions and that the suggested change does resolve the issue.

FWIW, I do plan on reworking how we're handling our own config data. Also, that is a helpful note regarding Channel_form_lib. We've been slowly migrating away from legacy EE can CartThrob code, so I'll note this in our backlog.

[2020-11-13 17:29] VarenSwaab commented on #631
Yuri, The code shown above was the only code on the page during my testing so the possibility of any conflicts with any other code or nesting is not possible. This error has been reproduced on my site on various pages using various approaches.

[2020-11-13 20:49] rowansentesy opened #637 "MSM: Add a way to hide sites from site switcher"
**Is your feature request related to a problem? Please describe.**
I was surprised to find out that I couldn't hide a site from the MSM switch_to menu. I presumed that by toggling the 'Website Online' option in the /cp/msm/edit screen that if set to 'off' the site would be hidden. A client of ours has old legacy sites that they don't want in the switcher, but aren't ready to delete them.

**Descri

[2020-11-13 21:13] rowansentesy opened #638 "MSM: Site Switcher does not redirect to the proper CP URL"
**Description of the problem**
When following the documentation here: https://docs.expressionengine.com/latest/msm/overview.html
for a client EE install with 3 MSM sites, we noticed that there were some notable issues related to image uploads in entries not being shown or behaving properly due to cross-domain limitations.
I went through the process of setting up the 'site_name' and 'cp_url' in the

[2020-11-13 21:27] jaredchesebro opened #639 "Error Uploading tiff Files in File Manager"
### Description of the problem
Uploaded a tiff file in file manager and got an error.

### How To Reproduce
Steps to reproduce the behavior:
1. Try uploading a tiff image to a directory in file manager.

### Error Messages
[code]

### Screenshots
**Error:**
![error](https://user-images.githubusercontent.com/21958491/99122141-a524f080-25b2-11eb-9114-658377272c9d.png)

**File Directory Settings:**
!

[2020-11-16 16:24] joshconner opened #640 "Bad Cookie Policy link"
On https://u.expressionengine.com the cookies policy link in the cookie banner redirects to https://ellislab.com/cookie-policy, which doesn't exist any more.

[2020-11-16 22:01] carolinecblaker opened #642 "Empty save in fields, channels, add-on settings"
Env- new install on vagrant/homestead PHP 7.3

Control panel:
Saving existing entries, field preferences, channel preferences, and add-on settings have all yielded false saves - where I thought it saved, the system moved along like it saved, but I had to go back and re-make the same changes again, only to have it save finally the second time.

First:
Created new channel, channel did not exist. Onc

[2020-11-17 08:55] avnerw opened #645 "Show Entry Link on Entry and Entries listing"
Problem: A content editor cannot easily access the published entry's link anywhere, neither on the Entry edit page, or on the Entries listing page. The Preview feature is great, but a direct link to the published link, if it exists publicly, will be a very nice  enhancement that is probably easy to implement.

Here are some screenshots of how this can be shown:

**Entry page before, without extern

[2020-11-17 08:58] chrisdaviesweb opened #646 "Existing files cleared on Channel Form submission"
Submitting a channel form via AJAX where an entry is being 'edited' and contains a 'file grid' field, causes any **existing** **files** to be cleared.

Submitting the exact same form without AJAX, works correctly. Existing files are NOT cleared.

It is possible to replicate this, using a very basic channel, containing a 'file grid' field:

[code]

To simplify, I have tested with a basic AJAX submi

[2020-11-17 16:10] Therealskythe commented on #304
We should be able to upload ANY file to our CMS.
There is an infinite number of formats and EE only knows a small fraction, so if EE knows or likes the file type I'm trying to upload does absolutely not matter.

The problem here is not that we have to build around this lack of support via *mime_whitelist_additions*, but that EE is trying to create thumbnails for a file type it does not support jus

[2020-11-18 14:03] ops-andy commented on #640
resolved. thanks.

[2020-11-18 14:03] #640 closed

[2020-11-18 14:47] ops-andy commented on #642
@carolinecblaker is this something that you can reproduce every time or does it randomly happen?

[2020-11-18 15:16] ops-andy commented on #646
@chrisdaviesweb can you confirm this only happens if you load the channel form and make no changes and then submit? I can replicate it in that manner. However, If I load the channel form, add another row to the file grid with an image, it doesn't seem to erase previous entries for me.
It's a bug either way, but just making sure we're seeing similar results.

[2020-11-18 15:16] ops-andy commented on #646
also noting this happens in EE5.3 as well.

[2020-11-18 15:32] robinsowell commented on #638
The site switcher has never been intended to actually switch the domain/base url when used.  As you note, it's setting a cookie and then using that to determine which site's info to show on the current base url.  We could consider that a feature request, though.  It's basically a different way of approaching site switching.  I know the developers have been looking into some alternatives, as there

[2020-11-18 16:35] chrisdaviesweb commented on #646
@ops-andy Just checked and thats the same here. It's only if the field isn't modified that the files are wiped on save.

[2020-11-20 15:41] tymrtn opened #649 "Image upload failure with error"
**Description of the problem**
I recently upgraded from EE 1.x all the way to EE 5.32. Non-image files upload without issue, but when using the File Manager to upload images, I encounter a PHP library error and it fails to complete the upload:
<img width="961" alt="Screen Shot 2020-11-20 at 4 25 38 PM" src="https://user-images.githubusercontent.com/4305058/99819161-64e3e600-2b4f-11eb-8332-8e52b942

[2020-11-23 06:31] intoeetive commented on #649
@tymrtn please go to Settings -> Content & Design in the CP and select image resizing protocol that is used on your server. It looks like this setting "got lost" somewhere in the upgrade process.

[2020-11-23 13:56] #618 closed

[2020-11-24 11:03] shbchk opened #652 "Date field options"
Hi!
I think EE Date Field needs some improvements:

1. Content editors gets confused all the time with Localized or Fixed. It would be very helpful to have one of these set by default and hide selectors from entry form.

2. Also Date Field needs First day of week setting (maybe in member profile?)

3. And, of course, custom format (just date, without time, for example).

[2020-11-24 11:09] shbchk opened #653 "Show selected categories at the top when editing entry"
Please make Categories UI in CP more like new Relationships field - it's great!

![Current UI not so great](http://shbchk.tmweb.ru/i/ee.png)

[2020-11-24 11:30] shbchk opened #654 ""Collapse" checkbox in Publish Layouts does not work"
I checked several "Collapse" checkboxes in Publish Layout, but that doesn't affect my entry form at all.

[2020-11-24 11:32] shbchk commented on #654
One:
![1](https://user-images.githubusercontent.com/12234507/100088786-b9de6f80-2e61-11eb-82c1-00e9dbf7a206.png)

And two:
![2](https://user-images.githubusercontent.com/12234507/100088783-b945d900-2e61-11eb-9e55-bc1ff80d13a7.png)

[2020-11-24 22:49] creativearc-paul commented on #474
I'm showing similar behavior in EE 5.4.

With both gmail.com and a standard Plesk server POP account, the following occurs:

- Mail IS properly checked. e.g. if I write two emails, two emails are pulled
- A channel entry IS created
- Said channel entry DOES have the proper title..

but that's where it stops.

Even with a body field set, it's simply being ignored.

If I enable Allow overrides in em

[2020-11-25 16:52] acutedeveloper opened #656 "Edit relationship field entries directly from a channel entry"
**Is your feature request related to a problem? Please describe.**
To help improve workflow, for a relationship field, It would be useful to see a option to edit a relationship entry directly from the channel entry you are linking from.

**Describe the solution you'd like**
For there to be a button that will allow editing of a entry item within the relationship field next to the current delete but

[2020-11-25 21:28] ops-andy commented on #584
resolved in v6-beta4

[2020-11-25 21:28] #584 closed

[2020-11-25 21:28] ops-andy commented on #618
resolved in v6-beta4

[2020-11-25 21:28] ops-andy commented on #617
resolved in v6-beta4

[2020-11-25 21:28] #617 closed

[2020-11-25 21:28] ops-andy commented on #616
resolved in v6-beta4

[2020-11-25 21:28] #616 closed

[2020-11-26 00:18] tyssen opened #657 "Unable to locate the model you have specified: rte_toolset_model in matrix field"
I'm just testing out the 6b4 upgrade on a local version of a site (running PHP 7.0) and so far things seem fine except when I try to edit a page that contains a matrix field with an RTE.

On an edit page that has one of those fields, the page renders (unstyled) until it reaches the matrix field and then there is:

If I try and edit the field itself, I get the same message.

[2020-11-26 12:50] intoeetive commented on #626
Fixed in [EE 6 beta 4](https://expressionengine.com/blog/expressionengine-6-beta-4)

[2020-11-26 12:50] #626 closed

[2020-11-27 09:59] intoeetive commented on #657
This is problem with Matrix, not EE. We will address it in the EE6-compatible Matrix version in the nearest future.

[2020-11-27 09:59] #657 closed, assigned to nobody

[2020-11-27 10:28] intoeetive commented on #649
@tymrtn I'm assuming the above fixed your problem, so closing this issue. If you still expirience the problem, please reopen it

[2020-11-27 10:28] #649 closed

[2020-11-27 11:04] intoeetive commented on #639
Thank you for the report. This will be fixed in EE6 RC1

[2020-11-27 14:25] tymrtn commented on #649
Yes, that worked actually. Thanks!

[2020-11-28 16:37] bhavinzwt opened #658 "Validation error issue of relationship field"
I have an issue of the required error is not removed after any changed with selected new entry in the relationship field? Because I can't submit the form due to this improper validation in the beta 4.

Screenshot: https://eecms.slack.com/files/UUJMLAEPL/F01G9HSGTFA/image.png

Slack Link: https://eecms.slack.com/archives/C04CUNNR9/p1606361023148400

[2020-11-28 16:44] bhavinzwt opened #659 "Field wise specific error does not show in the new member form."
When I am trying to register new member and submit the form and if there will be some error like password does not match or any other error for specific field. But there is only showing the one common error on the form.
So I can not get the exact error for exact field.
![image](https://user-images.githubusercontent.com/58025684/100521012-0b229200-31c7-11eb-9bba-39fe4ce68bcd.png)

[2020-11-29 11:34] Bhavin9898 opened #660 "Scroll issue in the relation field when scrolling the web page."
When the relation field popup is opened then scroll the web page then that time relation field popup is also moving with page. I don't know this effect is right or wrong but if it is wrong then we should solve it.

Video is attached here.
[New Entry_ Contact _ ExpressionEngine.zip](https://github.com/ExpressionEngine/ExpressionEngine/files/5612061/New.Entry_.Contact._.ExpressionEngine.zip)

[2020-11-29 11:39] Bhavin9898 opened #661 "How can we create the custom relation field for the addon?"
I am trying to create the custom relation field for the member list. But When I changed the name of the "Relate Entry" button using the below Jquery then it is affected for all the relation field on that page.

`ee()->javascript->set_global([
			'relationship.publishCreateUrl' => ee('CP/URL')->make('publish/create/###')->compile(),
			'relationship.lang.creatingNew' => lang('creating_new_in_rel'),

[2020-11-30 10:35] shbchk opened #662 "Can not update Beta 3 to Beta 4"
Hello!

All i see when i click the button is:
_Updating EE6 from 6.0.0-b.3 to 6.0.0-b.4
Downloading update..._
And thats it.

PHP 7.1.33 / MySQL 5.6

Here is the video: https://drive.google.com/file/d/1H71ZdLCbC--cefBEcQ6agSDfSi2C7W-y/view?usp=sharing

[2020-11-30 10:37] intoeetive commented on #662
Sometimes download takes a while.
Can you try once again but having your browser dev console open and check if you get any error in there?

[2020-11-30 10:51] shbchk commented on #662
Yes, it took a while, but finally updated. Thank you!

[2020-11-30 10:51] #662 closed, assigned to nobody

[2020-11-30 13:10] intoeetive commented on #661
As the function name says, you're manipulating globals here - which are reusable by all fields/components on the page.
In the current state of Relationship component, there is not much room for customization if you need to create different field type.
You would likely need to create your own component that would work on top of "relationship" javascript.
Since this is neither bug report not feature

[2020-11-30 13:10] #661 closed, assigned to nobody

[2020-11-30 14:36] intoeetive commented on #646
When file upload is involved, AJAX calls need to be somewhat more complex.

[This example](https://stackoverflow.com/a/28024824/157570) works fine, no files are lost

[2020-11-30 14:36] #646 closed

[2020-11-30 18:30] ops-andy commented on #660
@Bhavin9898 apparently this is expected as all the other similar type menus behave the same way. thanks

[2020-11-30 18:30] #660 closed, assigned to nobody

[2020-11-30 19:12] gb-lin opened #663 "Category group permissions issues"
When assigning category group permissions system/index.php?/cp/categories/groups/edit/1

The options are not outputting the correct Role role_id => role_name but index => role_id. When using CategoryGroup->can_edit_categories, the index of the selected options are returned which do not match the role_id.

For example, if I add Category edits permissions to Developer Role (role_id = 7). On the cate

[2020-11-30 19:17] ricklecoat opened #664 "'Show Extra Publish Controls' channel setting should be removed"
**Description of the problem**
Not a bug really, just a leftover setting from earlier versions that is now redundant and should be removed from the CP UI, as it does nothing.

**How To Reproduce**
1. View a Channel's publishing form; it will have the usual array of green Save buttons (and maybe a blue Preview button) at the top and at the bottom.
2. In that Channel’s settings, toggle the 'Show Ext

[2020-12-02 15:07] WinkingFrog commented on #595
Had the same problem with the beta 3 to beta 4 update. This turned out to be an issue with the Themes Path. I noticed in the control panel that the path was set to '/' by default (on my installation anyway), and when I set it correctly the update ran as expected.

Not sure if this is something that is a result of moving the system folder, or an issue with the default value EE creates in config at

[2020-12-02 16:01] blue-dreamer opened #666 "EE5.4.0 File grid field not outputting image width/height values"
When using File grid cannot output width/height/description values for an image manipulation.

Sample File grid template code:

[code]
This should output width/height values for the "square" image manipulation.

[2020-12-02 16:06] blue-dreamer commented on #666
Sorry having a duh moment. This works (need to wrap image in an extra tag!):

[code]

[2020-12-02 16:40] blue-dreamer opened #667 "Member roles CP access 'Access footer helper links' -> New Ticket Has no effect"
~Field "Access footer helper links" suggests "Choose which links this role can access in the CP footer." - EE6 doesn't have footer links.~

~Might need to update this to reflect the new UI and where these links can be found.~

Updated: New Ticket option under Cp Footer Links has no effect on Member Roles

[2020-12-02 16:45] blue-dreamer opened #668 "Super admin roles"
I note that the Super admin role allows things like _disabling_ CP access, channel access, file manage access etc.

This could allow super admins being locked out of the CP and other areas?

[2020-12-02 16:50] aasun opened #669 "EE 6 RTE field enhancements"
Two feature requests for the new RTE field in EE 6:

1. Add a "source" button to reveal the HTML source of the field contents to allow for custom HTML editing.

2. Add the ability to restrict the height of the field.  Otherwise, long text requires constant scrolling from mid/bottom back to top to be able to click the formatting buttons to apply formats.  It's virtually unusable like this.  Even wi

[2020-12-02 17:57] clif-ave opened #670 "Website online?"
Settings => Website online? Always on regardless of changing. No error message, just success "Preferences updated". Noticed this with beta1 and continues to beta 4. Using current versions of chrome and firefox on current windows 10.

[2020-12-03 06:10] intoeetive commented on #670
Please check whether you have this setting set as config override in `config.php` file.
In this case, even though the updated configuration is saved to the database, the convig override takes precedense and will be used. This is true for any setting that is available as config override.

[2020-12-03 06:10] #670 closed, assigned to nobody

[2020-12-03 11:35] fccotech opened #671 "RTE: URL to file_dir replacement"
EE 5.3.4 In the RTE addon, file ft.rte.php line 524 this is executed on the to-be-saved data:

`$data = str_replace($d['url'], "{filedir_{$d['id']}}", $data);`

This wil replace an URL to a corresponding upload location filedir_ tag.

This pretty trivial,  what happens if an upload location has the URL "/" -> it will replace all HTML tags.

My suggestion would be to only replace url's with a full

[2020-12-03 22:18] #666 closed, assigned to nobody

[2020-12-05 04:40] MaxLazar opened #672 "[6.0.0-b.4] Missing translation for invalid_characters_in_username"
Missing translation for invalid_characters_in_username
![image](https://user-images.githubusercontent.com/925802/101234019-14f63a80-368a-11eb-8ae0-dacf009c1081.png)

[2020-12-05 07:07] MaxLazar opened #673 "[6.0.0-b.4] Entry bulk edit styles looks not accurate"
[6.0.0-b.4] Entry bulk edit styles looks not accurate
![image](https://user-images.githubusercontent.com/925802/101236348-90fa7d80-369e-11eb-8370-3bb654f32f80.png)

[2020-12-05 08:32] PaulBaileyAtChan commented on #673
Can't help mentioning the clunkiness of "1 selected entries" and "Editing 1 entries", as well as the dodgy number agreement of "Any fields submitted will overwrite that field's stored content". Scope for lots of copy-editing polish here.

[2020-12-05 11:13] ricklecoat opened #674 "Overwriting existing member_ids during a member import fails"
**Description of the problem**
When importing member data from an XML file: if that member data includes a member_id tag, and if that id number matches the id number of an existing member, EE is supposed to overwrite the existing member with the new data (it gives a reminder about this beforehand). However, instead of overwriting the data, the import simply fails with an error.

**How To Reproduce

[2020-12-05 22:09] stephengalbraith opened #675 "CP Categories Manager - UI Style Issue"
When adding categories to parents, left padding seems to be missing on children of parent categories.

<img width="257" alt="Screen Shot 2020-12-05 at 5 07 45 PM" src="https://user-images.githubusercontent.com/45797159/101266408-8c74aa00-371c-11eb-8145-193f56ec1bcb.png">

EDIT: then on Entries Manager, padding is needed between the category options and Add Category button (grey line hits directly

[2020-12-07 15:55] #638 closed

[2020-12-07 16:32] ops-andy commented on #667
We still have footer links in the sidebar footer that is affected by these options. However, I've noticed that the "New Ticket" option doesn't seem to affect anything.

With "New Ticket" selected:
![image](https://user-images.githubusercontent.com/55093827/101377188-82b78780-387f-11eb-8fde-0440058c0002.png)

Without "New Ticket" selected:
![image](https://user-images.githubusercontent.com/55093827

[2020-12-07 16:41] ops-andy commented on #671
Just as a note, I was not able to replicate any issues in EE6 with the new RTE field. @fccotech if you get a chance, please test with the new 6.0-beta and let me know if you can still replicate the issue. If so, can you please provide some screenshots to help us replicate. thanks

[2020-12-07 20:10] #672 closed, assigned to nobody

[2020-12-08 07:52] helmi-pts opened #676 "Crop type in Image Manipulation issue"
I tested EE6 beta 4 by upgrading from EE5.4.

If I already have an existing Crop type settings in Files, {my_image:crop} will output cropped but not resized image. Updating the crop value and resyncing the folder doesn't seem to have any effect.

To mitigate this, create another Crop type setting and {my_image:crop_2} will output the image correctly. (which is cropped and resized).

[2020-12-08 08:02] helmi-pts opened #677 "EE6: Add member_group id parameter in Registration Form Tag"
This request is not part of a problem or bug, but rather a nice thing to have.

**Describe the solution you'd like**
It would be nice and practical to have something like

`{exp:member:registration_form member_group="12"}`

so that we can control which member group a user can register to on the frontend. For example, we can have a customer registration form page and also a supplier registration fo

[2020-12-08 09:59] jude-lobo opened #678 "XID constant not generating in chrome."
**Description of the problem**
I have created a custom addon, in which there are forms. The `<input type="hidden" name="XID" value="{XID_HASH}" />` input field does not generate the XID token in the DOM, so when submitting the form it gives the usual "This form has expired" error.

This issue however only occurs in Chrome, works fine on Firefox.

**How To Reproduce**
Steps to reproduce the behavio

[2020-12-08 13:05] ops-andy commented on #678
@Instabash can you share your add-on code that generates the form? I'm not able to replicate in Chrome on EE 5.3.2
![image](https://user-images.githubusercontent.com/55093827/101487374-1777bf00-392c-11eb-99c8-05155bebcbee.png)

[2020-12-08 14:09] jude-lobo commented on #678
OK, this is the code that is used in the .mcp file:

[code]

And this is the html in my view file:
[code]

[2020-12-09 02:53] MaxLazar opened #679 "[6.0.0-rc.1] Current avatar is erased if Save Setting and do not choose a new avatar file in CP profile"
[6.0.0-rc.1] Current avatar is erased if Save Setting and do not choose a new avatar file in CP profile

MacOs, Chrome 86.0.4240.198, PHP 7.3.8

![1208215153cstj2](https://user-images.githubusercontent.com/925802/101567921-bb4e8280-399f-11eb-84d2-d9d5626e431c.gif)

[2020-12-09 03:28] tjdraper opened #680 "EE 6 Grid JS is doing weird things to my field type markup"
When using Ansel in a grid field in EE6, EE appears to be doing strange things to the markup of my field. My field uses tables and my suspicion is that EE6's grid JS is being way too broad with its selectors and selecting the markup in my field type as well as its own when adding rows etc. We've actually had similar problems to this before and Kevin Cupp got to the bottom of it and fixed it in EE'

[2020-12-09 07:01] stinhambo opened #681 "Pages module to show in left navigation"
**Is your feature request related to a problem? Please describe.**
It's a problem in that I have to manually add a link to the Pages module. Pages are a fundamental part of any website so not having them visible when activated seems a little odd to me.

**Describe the solution you'd like**
I'd like to see Pages have equal importance with Entries, Channels and Categories

**Describe alternatives yo

[2020-12-09 19:59] shbchk opened #682 ""Save Template Revisions" label inconsistency"
I've noticed an inconsistency in the template revisions settings:
![upto5](https://user-images.githubusercontent.com/12234507/101680626-046f0700-3a72-11eb-94cd-d2cea9b9e414.png)

[2020-12-09 20:20] shbchk commented on #658
- Resolved #658 where validation errors where not cleared on required Relationship fields in the Entry Publish Form.

Sorry, but i still having this error with rc1:
![err](https://user-images.githubusercontent.com/12234507/101682562-d6d78d00-3a74-11eb-9dac-3ca4b3cb66fa.png)

And also with the File Grid:
![err-img](https://user-images.githubusercontent.com/12234507/101682602-e656d600-3a74-11eb-8252

[2020-12-09 21:07] shbchk opened #683 "Sticky publish controls"
![sticky](https://user-images.githubusercontent.com/12234507/101687328-63854980-3a7b-11eb-8ab4-a0045643b752.png)

It would be very handy to have these tabs and buttons always on top of viewport. I have a lot of fields and i hate scrolling :-)

[2020-12-10 08:33] shbchk opened #684 "Relationship Field: hide channel selection if there is nothing to choose"
![relationship](https://user-images.githubusercontent.com/12234507/101741497-2e104880-3adb-11eb-9048-991384c64f74.png)
Channel dropdown feels like total waste of space when there is only one channel to choose from.

[2020-12-10 10:08] shbchk commented on #658
Oh. Now i can not reproduce the validation error i mentioned above, but found another problem: you can save an entry without image if it was removed from file grid. Validation fails in this case.

![sss](https://user-images.githubusercontent.com/12234507/101757758-96195b80-3ae8-11eb-9043-301dbefa1189.png)

[2020-12-10 10:15] shbchk opened #685 "Renaming tabs in Publish Layout"
It would be nice to have an option to rename any tab in Publish Layout, including default "Publish" tab.

[2020-12-10 15:13] shbchk opened #686 ""Website online?" Yes, and i can't change this"
I'm kind of surprised that i will be the first to report this.
[See for yourself](https://drive.google.com/file/d/1l9iE1bHZRXiDV3cCK2yjNVfxjgY0cqlI/view?usp=sharing)

_rc1
PHP Version 7.1.33
MySQL 5.6_

[2020-12-10 15:27] TomJaeger commented on #686
Thanks for submitting this, along with the video.

Any chance you can confirm it's not set in your config file (and that the config file has permissions to be written from PHP)?

Running a series of tests locally as well.

[2020-12-10 15:45] shbchk commented on #686
$config['is_system_on'] = 'y';
config.php is set to 644

[2020-12-10 15:46] ops-andy commented on #686
we've confirmed this now. The config item is being set during the 1-click update.

[2020-12-10 17:00] mightywiley opened #687 "Cannot Create New Entries in 2 Channels (losing the Channel in the Entry Form)"
**Description of the problem**

I've been creating entries in the two affected Channels for several months without a problem. Several days ago I began hitting an error on Submit with two Channels. Apparently the "Channel" parameter is lost. On the Options tab there is no Channel below the words "Channel this entry should be submitted to."

**How To Reproduce**
Steps to reproduce the behavior:
1. I

[2020-12-10 17:23] shbchk opened #688 "CSS templates transferred with MIME type text/html"
Just noticed a warning in Chrome Console:

Using CSS templates, linking them as CSS:
`<link rel="stylesheet" type="text/css" media="all" href="{stylesheet='template_group/css_template'}" />`

Those CSS templates is set to CSS type.

_rc1
PHP Version 7.1.33
MySQL 5.6_

[2020-12-10 17:30] shbchk commented on #688
By the way, manual describes only CSS templates. What about linking other types — JS, for example?

[2020-12-10 20:33] gb-lin opened #689 "Base64Native unserialize notice()"
Not too sure if this is a bug or implementation error but it's not doing this on our EE5 installation with the same code.

We're seeing

[code]

We have this in our add-on

[code]

On EE6, somehow by the time it reaches here `/system/ee/ExpressionEngine/Service/Model/Column/Serialized/Base64Native.php` the $db_data is already base64_decoded so it throws the notice. I confirm that on the EE5 instal

[2020-12-10 20:50] shbchk commented on #688
If i link CSS template without {stylesheet} variable, MIME warning doesn't appear.
`<link rel="stylesheet" type="text/css" media="all" href="/template_group/css_template" />`

[2020-12-11 00:14] gb-lin commented on #689
Actually I think it was caused by one of the database script that we ran. It's no longer an issue.

[2020-12-11 00:14] #689 closed, assigned to nobody

[2020-12-11 09:03] intoeetive commented on #688
I'm not getting this error in Chrome 87. Could it be that you have some rules on server side (globally or in .htaccess), or load balancer, that's messing the headers?
`/index.php?css=site/style.v.1607676746` and `index.php/site/style` are both served with header
`Content-Type: text/css;charset=UTF-8`

[2020-12-11 09:15] shbchk commented on #688
You should try to embed it in a template with {stylesheet='template_group/css_template'} variable, not accessing it directly

[2020-12-11 09:25] intoeetive commented on #688
Exactly what I did.
Is this any different from what you had?
[code]

[2020-12-11 10:04] shbchk commented on #688
I have a very standard virtual hosting, and i believe there is nothing can mess with the headers.
[Here](https://drive.google.com/file/d/171lwbhzu0M_zov5aL71vwYMJjuf2E7Y7/view?usp=sharing) is the screencast

[2020-12-11 10:10] intoeetive commented on #688
Thank you for the screencast - I was able to replicate this when using hidden template (prefixed with `_`)

[2020-12-11 10:26] intoeetive commented on #688
Upon some investigation, I am going to classify this as "not a bug".

Since the template is hidden, it should not be accessible with a direct link or via `{path=}` variable. The default template (or 404) is served, and it has content type of `text/html`

It is also correct that hidden templates are still available with `{stylesheet=}` tag, as it's processing things differently.

https://docs.expre

[2020-12-11 10:26] #688 closed, assigned to nobody

[2020-12-11 10:36] shbchk commented on #688
But template is not hidden — underscore was in template_group name, not template itself.

Anyway, after renaming template_group from '_css' to 'css-group' the issue still here.

UPD: [new screencast](https://drive.google.com/file/d/1fFOV8g4fw3QwSJ2juqL89v8a46yZm6cJ/view?usp=sharing)

[2020-12-11 10:48] intoeetive commented on #688
Can you try opening the link that Chrome is showing you in the new tab? I noticed you have a rule for `index.php` removal and my suspect is that it does not respect `?css=` in URL

[2020-12-11 10:57] shbchk commented on #688
.htaccess:
https://paste.ofcode.org/sBGR2RMgWaTCku3DEtg3hW

When i open that link in the new tab, nothing happens. I mean there is no warnings and content-type is correct text/css;charset=UTF-8.

[2020-12-11 10:59] intoeetive commented on #688
So you do get correct file contents when opening in new tab?
What if you remove/disable `.htaccess` - do you still get that error?

[2020-12-11 11:02] intoeetive commented on #658
@shbchk would you mind creating separate issue for this Grid validation thing?

[2020-12-11 11:02] #658 closed, assigned to nobody

[2020-12-11 11:33] shbchk opened #690 "File Grid validation fails after removing image"
You can save an entry without image if it was removed from file grid. Validation fails in this case.
![screenshot](https://user-images.githubusercontent.com/12234507/101896337-e90f1380-3bb9-11eb-9aeb-1332b33d5663.png)

[2020-12-11 13:03] intoeetive commented on #659
Fixed in RC1

[2020-12-11 13:03] #659 closed, assigned to nobody

[2020-12-11 13:35] dougblackjr commented on #686
@shbchk Was this an upgrade from a previous version?

[2020-12-11 13:36] shbchk commented on #686
Yep. From Beta 4.

[2020-12-11 14:41] shbchk commented on #688
My hosting provider went down, so I made clean install on different server. And you are right — the problem lies with the htaccess file.

I got it from EE installation manual: https://docs.expressionengine.com/v6/installation/best-practices.html#removing-indexphp-from-your-urls

So maybe it needs some editing?

[2020-12-11 15:23] dougblackjr commented on #686
@shbchk Did you have the `$config['is_system_on'] ` set to `'y'` when you ran the upgrade? Just wanted to check if this was adding this to the config during the upgrade process

[2020-12-11 15:30] #675 closed, assigned to nobody

[2020-12-11 15:32] TomJaeger commented on #675
FYI Fix for this has been merged into release 6.0.0 branch

[2020-12-11 15:44] shbchk commented on #686
I'm not sure about this particular update, sorry. Maybe it was set with previous update from beta 3 to beta 4.

But i know for a fact that i didn't set it in config.php in the first place, always used toggle in CP

[2020-12-11 15:51] dougblackjr commented on #686
@shbchk It looks like this behavior was removed in EE6. Was this an upgrade from an EE5 or earlier version?

[2020-12-11 15:55] shbchk commented on #686
No, it was clean EE6 install at the beginning

[2020-12-11 18:13] pstalker-oxford commented on #251
I have discovered the same issue using version 5.4. Hosting is by Nexcess so environment should be OK. Easy enough to avoid, when I knew what was causing the problem. Thanks for this posting!

[2020-12-11 18:56] shbchk commented on #688
Grand Finale:

It did the trick, no more console warnings.

Thanks all :)

[2020-12-11 19:09] #686 closed, assigned to nobody

[2020-12-11 19:13] #459 closed

[2020-12-12 02:10] tjdraper opened #691 "EE6 addon.setup.php aliases key doesn't work for the FilePicker class"
In Ansel, I have the following as my `aliases` key in addon.setup:

[code]

However, I'm still getting the following error:

[code]

<img width="1231" alt="Screen Shot 2020-12-11 at 8 06 41 PM" src="https://user-images.githubusercontent.com/3803475/101969853-65bae580-3bec-11eb-9c4a-6f5c4ab9bd78.png">

You can see I do have `ExpressionEngine\Addons\FilePicker\Service\FilePicker\FilePicker` as an al

[2020-12-14 04:19] mcfarlandonline opened #693 "File Grid Upload Times Out - Only Uploads Five Images"
EE 6.0.0-rc.1
PHP Version 7.4.13
10.3.27-MariaDB

I have a File Grid field within a Fluid Field. When I try to bulk upload images to this File Grid field, it times out after uploading 5 images, and shows no more progress on the 6th image onward. The File Grid field also doesn't error-out or save the 5 images that finished uploading. I then have to reload the entry page and manually insert the 5 im

[2020-12-15 00:06] jaredchesebro opened #694 "Add Option To Stack Fields Inside Grid Row"
**Is your feature request related to a problem? Please describe.**
The grid UI is degraded when user has added more than 3 - 4 fields in a grid field. When using a screen sized between tablet and laptop the lack of a horizontal scrollbar is also an issue.

![Screen Shot 2020-12-14 at 4 11 54 PM](https://user-images.githubusercontent.com/21958491/102151461-cc781300-3e27-11eb-81bd-e085951fc70c.png)

[2020-12-15 00:41] aasun opened #695 "RTE field Heading 1, Heading 2, Heading 3 output the wrong tags"
While editing with the RTE field in the EE CP, choosing Heading 1 outputs an <h2> tag on the template.  Heading 2 outputs an <h3> tag, and Heading 3 outputs an <h4> tag.

No errors are produced, just the wrong tags are used.  That paragraph style dropdown only shows headings 1, 2, and 3 options.

I can see where this is happening in the CK editor library.
/themes/ee/rte/scripts/ckeditor.js

Line 5

[2020-12-15 05:58] intoeetive commented on #695
This behavior is default as provided by CKEditor 5. We did not change that, as it looks like their team had strong reasons to do it that way - unless EE community makes us think otherwise.

[2020-12-15 17:31] pyrobob83 commented on #695
I understand not allowing H1 tags in an RTE since you should only ever have one per page and you can use either the entry Title or a custom text field for that... but to call an H2 "Heading 1" doesn't make sense to me at all.  Can we customize this somewhere that's not hacking the core files?

[2020-12-15 23:27] VarenSwaab commented on #577
I'm revisiting this topic because even after numerous reinstalls in my Nexcess account (supposedly tuned for EE), I still get the same error saying:

**Forbidden
You don't have permission to access /renamed_admin.php on this server.**

I'm now certain this isn't an MSM issue as my installs have been single site only. I also don't think this is a misconfiguration on my part as I've installed EE cou

[2020-12-16 12:42] intoeetive commented on #577
Thanks, we'll look at this once again. Is this EE6 only, or you also have this problem in EE5?

[2020-12-16 13:23] ops-andy commented on #577
@VarenSwaab while many people use external editors, there are many many who do not. We plus we want to make sure everything works as expected.
Trying to make sure I have everything replicated to test:
**EE Version:** this happens on all Beta versions of EE6 and Rc.1
**MSM site?** This happens on both MSM and single-site installs
**CP access url/:** https://[domain].com/[renamed admin].php
**Permis

[2020-12-16 14:21] ops-andy commented on #693
Thanks for reporting. I've been able to replicate this.

[2020-12-16 15:10] ops-andy commented on #690
confirmed this seems to be a bigger issue with File grid validation. I was able to set the minimum rows 1 in the field, yet an entry saved successfully with 0 rows being added.

[2020-12-17 05:24] avnerw commented on #694
I experienced this as well. Working on an 12.9" iPad Pro, a Grid Field with more than 4 columns that goes beyond the margins of the normal CP layout becomes annoying. So I used the [MX CP CSS & JS Addon](https://expressionengine.com/add-ons/mx-cp-css-js) by Max Lazar to change the CSS breakpoint of 768px for Grid Fields to a higher value.  But an option settings would probably be the better way to

[2020-12-17 18:06] aasun opened #696 "eecli.php file not installed with one-click update from EE 6 beta to EE 6 release"
I see the eecli.php file included in the manual EE 6 download.  But, that file was not installed in my EE 6 beta > RC1 > Release one-click update dev site.

[2020-12-17 20:49] ops-andy commented on #575
this was resolved in EE6
![image](https://user-images.githubusercontent.com/55093827/102542214-74d3e480-407f-11eb-9781-dfd7d0683439.png)

[2020-12-17 20:49] #575 closed

[2020-12-18 01:10] digicali opened #697 "Registration form - custom field not saved"
When you use a custom field tag in registration form, it's not saved.
The new member always have empty custom fields

Example. I created a custom field with the shortname main_computer

[code]

[2020-12-18 10:17] shbchk opened #698 "Category Group ID not shown in CP except URL"
Hey, guys!

I do not know, bug or feature request, but i can't find anywhere Category Group ID. Except URL, of course.

[2020-12-18 10:33] shbchk commented on #683
Thanks!

[2020-12-18 10:33] #683 closed, assigned to nobody

[2020-12-18 15:16] ops-andy opened #699 "Cannot upload m4a files even with $config['mime_whitelist_additions']"
from Slack: https://eecms.slack.com/archives/C04CUNNR9/p1608303764395100
added the following mime whitelist addtions:
[code]
And still cannot upload m4a files. I also tried adding those MIME types to `mimes.php` and still could not upload the files.

![image](https://user-images.githubusercontent.com/55093827/102630088-1871d300-411a-11eb-959b-db3ffb82f4ec.png)

[2020-12-18 15:42] digicali opened #700 "Login with email for login form"
For some applications, a username doesn't make sense. Also, some people prefer to login with an email.
It will be great to have this option for login form.

[2020-12-18 16:52] ops-andy commented on #699
I was able to upload the m4a file to both EE 5.4 and EE 6.0 with the following MIME exceptions in my config.php
[code]

[2020-12-18 19:24] VarenSwaab commented on #700
I agree, it also makes for better options when using a social login service. I'd like to see this feature too.

[2020-12-19 20:10] digicali opened #701 "Channels across multiple websites"
It will useful to be able to use a channel on multiple websites powered by EE.
Right now, each site have specific channels when you enable multiple sites options.

[2020-12-19 20:24] stephengalbraith commented on #701
Are you meaning for channels to be available in the CP across multiple sites? Otherwise, https://docs.expressionengine.com/latest/msm/code.html states that the `site` parameter is available on several tags, including the Channel module (`exp:channel:entries` for example) so multiple sites can show channels across any site.

[2020-12-19 20:46] shbchk commented on #700
Giving only one choice (username and not email) is kind of outdated website behaviour, i agree. It needs updating, preferably along with the social sign-ins :)

[2020-12-19 21:18] acutedeveloper opened #702 "Cannot search files from the entry file picker"
When I am editing a entry that has a file field type. I am unable to search files that have been uploaded.

**Version of EE**
6.0.0

**Steps to reproduce**
Ensure you have uploaded files. Duh! On a entry file field click "Choose from existing". In the modals search field, type a known term.

**Expected behaviour**
When a term is entered the list should show a list of filtered results.

**Actual be

[2020-12-19 22:23] digicali commented on #701
I see. is it also possible to send content to a channel located in site A from site B ?

[2020-12-19 22:27] digicali commented on #701
Ok, i just tested and it works. This suggestion can be closed

[2020-12-19 22:27] #701 closed, assigned to nobody

[2020-12-19 23:04] OtherAliasNash commented on #669
I would back the: Add a "source" button to reveal the HTML source of the field. This has always featured in previous versions and other field types of this nature. Not an enhancement but a requirement from my perspective. Would really need the "source" button back....please :)

[2020-12-20 02:16] digicali opened #703 "A file field cannot send content to another site"
I'm using the File Field on a multiple websites powered by EE 6

A user can create tickets from site B to channel Tickets on site A.
For all data it works except files.
I add the hidden field for the data folder (ID 5)
<input type="hidden" name="fd_attachment_directory" value="5"/>
But nothing is send to this folder.

[2020-12-20 03:41] digicali opened #704 "Adding a comment FORM to a channel does not work"
not matters the settings of a channel, always this message displayed

"Commenting is not available in this channel entry."
(commenting is enabled for the channel)

I even enabled Comments for the members role.

[2020-12-21 02:13] digicali opened #705 "error_handling = inline tag not working for login form"
I'm always redirect to the custom messages page.

[2020-12-21 02:28] digicali opened #706 "Detecting addons with old members management"
If an addon is installed with previous member management, the option to install it should be disabled
with a warning message to upgrade to a recent version.
Same when you upgrade a site from ee5 to ee6, all addons having old members management should be disabled before the upgrade.
otherwise, I have the feeling it can create a mess.
By installing Simple Registration addon, I already experimented a

[2020-12-21 06:19] intoeetive commented on #669
Unfortunately "view source" is not yet possible with CKEditor 5: https://github.com/ExpressionEngine/ExpressionEngine/issues/585

[2020-12-21 06:22] intoeetive commented on #706
Unfortunately we don't see a solution that would be both working and not return false positive / false negative results.

If you have any suggestions for the actual algorythm that you could share, please do so.

[2020-12-21 07:06] intoeetive commented on #705
Looks like this parameter is not available and has been added to docs by mistake.

[2020-12-21 08:00] intoeetive commented on #704
I have not been able to replicate this.

Note that this might be affected with "Comment expiration" setting for channel.

If you are positive this is related to a bug in EE, please provide more details on how to replicate it.

[2020-12-21 08:05] intoeetive commented on #702
This has worked well on my test.
@acutedeveloper can you confirm you have pressed `Enter` upon entering the search term? If you did, was there any kind of javascript error in browser's console?

[2020-12-21 09:13] intoeetive commented on #697
Custom member fields that have "Show in registration?" setting turned on can be used in member registration form, but please note you need to address those by ID and not name, e.g. `m_field_id_6`

We'll be updating docs on that matter.

[2020-12-21 09:13] #697 closed, assigned to nobody

[2020-12-21 15:09] nickpuglisi opened #707 "CP Templates No Longer Syncing with Database"
Since upgrading to EE6 (worked fine in EE5+), the template manager in CP no longer syncs, and is showing an almost cached version of my templates.

The template files, which are saved as files, are still showing old revisions and NOT what is in the Control Panel. Something as easy as on my domain I have a blank folder called /dev/ and I wrote "hello" (no formatting or HTML) and it shows active in

[2020-12-21 15:12] intoeetive commented on #707
So just to confirm, you can see the same content in CP and in template file, but not on site front-end pages?

Can you try clearing your caches? And does the content still remain unsynchronized after you hit "save template" in CP?

Lastly, are you by chance using some load balancer or CDN?

[2020-12-21 15:16] nickpuglisi commented on #707
Hey @intoeetive - Basically I save the content in CP, and it saves to the database but does not update (or read) the file located in system/user/templates. Those are almost frozen in time...

Yes, I cleared all EE caches, and my browser/DHCP cache.

I'm using BitBucket, no load balancer. My gitignore does not have any EE customizations.

[2020-12-21 15:23] intoeetive commented on #707
So is your site actually hosted with BitBucket?

On tranditional hostings, I would suggest to check directory/file permissions, however I'm not sure what is the corresponding act on BitBucket. I would think that since the directory is not gitignored, BitBucket prevents your app (EE) from writing to it, but that's purely my guess.

I would suggest that you investigate this on BitBucket front (or op

[2020-12-21 15:33] nickpuglisi commented on #707
No, it's hosted in a DigitalOcean droplet. I checked file permissions and the folder is chmod 777'ed, so that shouldn't be an issue? I can certainly add it to gitignore and see if it works.

[2020-12-21 15:38] intoeetive commented on #707
Unless you have auto-deploy running like every minute, not having folder in gitignore shouldn't be an issue

Does the system work vice versa, e.g. if you update the file, you can see the changes reflected in control panel.

Also, can you clarify this: "I have a blank folder called /dev/" - do you refer to template group in CP or anything else?

And just in case, double check that you don't have `s

[2020-12-21 15:40] nickpuglisi commented on #707
I have `save_tmpl_files` set to y in config.

Yeah, gitignore did nothing.

For reference – 

/dev/ is just a template folder, I edited /dev/index/ from the Control Panel, and it's showing some very old version of the code (from like weeks ago).

[2020-12-21 15:41] nickpuglisi commented on #707
Also confirmed all files/folders in /user/templates are 777.

[2020-12-21 15:42] intoeetive commented on #707
What's the full path to the folder you are checking?

[2020-12-21 15:44] nickpuglisi commented on #707
Was able to find the issue; when upgrading to EE6, I had to force the push from Bit to sync the new files back (since the upgrade occurred on the server and not locally... which it _should_ have). In doing so, it reset ALL file permissions, including the directories being properly 777'ed but not the html files within :-|

[2020-12-21 15:45] #707 closed, assigned to nobody

[2020-12-21 16:21] digicali commented on #704
Comments are enabled for the site
Comments are enabled for the channel
Comments are enabled for the Members role
What else to check?

[2020-12-21 16:22] intoeetive commented on #704
In your Channel preferences, look for "Comment expiration" - it it's set and entry is "too old", the comments will not be accepted

[2020-12-21 16:38] CharlottesvilleMedia opened #708 "SQLSTATE[HY000]: General error: 1116 Too many tables; MySQL can only use 61 tables in a join:"
Just upgraded 5.4 to 6.0 and getting this when trying to load site index:

SQLSTATE[HY000]: General error: 1116 Too many tables; MySQL can only use 61 tables in a join:
SELECT t.entry_id, t.channel_id, t.forum_topic_id, t.author_id, t.ip_address, t.title, t.url_title, t.status, t.view_count_one, t.view_count_two, t.view_count_three, t.view_count_four, t.allow_comments, t.comment_expiration_date, t

[2020-12-21 16:40] digicali commented on #704
The settings was at 0 by default, removing it = still the same

[2020-12-21 16:43] digicali commented on #704
It's actually always coming back to 0

[2020-12-21 16:49] intoeetive commented on #708
Woof. Can you confirm the CP shows your ExpressionEngine version as 6.0.0?

Can you post the contents of your site index template (particularly interested in `exp:channel:entries` call)

[2020-12-21 16:51] digicali commented on #704
Precision : the channel is displayed on a site B and created on site A with the correct tag site="'

[2020-12-21 16:54] digicali commented on #704
Code
`{exp:comment:form channel="ch_tickets" site="sitename" return="tickets" entry_id="{segment_2}"}`

[2020-12-21 16:55] intoeetive commented on #704
If you add to the tempate (within your `exp:comment:form` tag) following tags, what do you see?
`{if comments_expired}comments_expired{/if}`
`{if comments_disabled}comments_disabled{/if}`
`{comment_expiration_date}`

And also within`{exp:channel:entries}` tag
`{comment_expiration_date}`

[2020-12-21 17:31] digicali commented on #704
For channel, nothing is displayed
For comments section: comments_disabled is displayed.

[2020-12-21 17:36] digicali commented on #704
I fixed the issue. I had to enable commenting for site B. Sorry for the report but not obvious that you need to enable comments on a site B if a channel and comments are managed by site A

[2020-12-21 17:45] intoeetive commented on #704
Good, glad to hear you have it working now.

[2020-12-21 17:45] #704 closed, assigned to nobody

[2020-12-21 21:34] digicali commented on #706
I will recommend a big change like adding a setting to addon to make them ee6 compliant. It EE6 is a new big start, it make sense for better reliability. When, you upgrade a site, you should also disable all addons before applying the update. wordpress was a mess in the past because of this kind of problem.

[2020-12-21 23:32] PDXMan1 opened #709 "EEv6 UI Improvement - Fixed width menus causing excessive channel name and directory name txt wrapping."
<img width="564" alt="Screen Shot 2020-12-21 at 3 07 11 PM" src="https://user-images.githubusercontent.com/6145078/102831284-3a7c8700-43a0-11eb-802e-b4fbfd059107.png">
<img width="510" alt="Screen Shot 2020-12-21 at 3 03 23 PM" src="https://user-images.githubusercontent.com/6145078/102831298-46684900-43a0-11eb-8bfd-a7a05db09c99.png">
Some of my clients work in the complex, and often a wordy, world

[2020-12-22 00:25] PDXMan1 opened #710 "EEv6 UI Improvement - Add a way to remove references to EE Support from CP"
I would like to globally turn off advertisements for software support from companies other than my own.

My clients have had me on retainer (some for over 16 years) to provide EE software support, and any links advertising other support alternatives have not only been confusing in the past, but they could also seem as though they were competing with me for business.

I can appreciate why this may

[2020-12-22 16:05] shbchk opened #712 ""Hide field" switch doesn't hide field in publish form"
But i can hide it with "collapse" option in channel publish layout.

[2020-12-22 17:09] ebeauchamps opened #713 "Upgrading from EE6 RC to EE6.0.0 and system go offline at next connection"
I am on MAMP 5.7 with PHP 7.4.2
I upgraded from within the app from EE6 RC to EE6.0.0
The CP was displayed
I did not change any settings
I logged out
I closed MAMP
I started MAMP again
I visited my local site
The site is OFFLINE

What can I do rather than installing again?
Thanks

EDIT:
I can access the CP....
Probably related to PR #711

[2020-12-22 17:11] dougblackjr commented on #713
@ebeauchamps This should be addressed in #711. But to clarify, are you saying you can't access your admin panel either?

[2020-12-22 17:12] ebeauchamps commented on #713
No I cannot

[2020-12-22 17:13] ebeauchamps commented on #713
oops, sorry I can, my bad!!!!!!!!!
OK, I changed the setting back to ONLINE

[2020-12-22 17:17] dougblackjr commented on #713
You should be able to access it in your general settings (https://ee6.test/admin.php?/cp/settings/general)
![Screenshot from 2020-12-22 12-16-38](https://user-images.githubusercontent.com/6020323/102915337-9fdb8100-444f-11eb-8bce-e2ed6f1aa8ec.png)

[2020-12-22 17:17] ebeauchamps commented on #713
Leaving it opened waiting for the PR
Thanks @dougblackjr

[2020-12-22 17:19] frshjb373 commented on #710
Plus one to this...

[2020-12-22 20:08] Colbitron commented on #628
Edit: my bad. I'm rereading this and it's clear to me now this is a bit different than my issue. Apologies.

[2020-12-22 21:04] litzinger opened #714 "Color Picker events are not fired on Grid settings page"
When trying to define a Color Picker field as a Grid column, the React component's events are not triggered when you add a new column. The same thing happens in Bloqs (since it's very similar to Grid). This is the JS I added to Bloqs so I can add a Color Picker field:

[code]

Once the Grid field is saved with a Color Picker column, and the settings page reloads, the Color Picker kicks in.

I had

[2020-12-23 01:52] digicali opened #715 "More fields type for members section"
It will be awesome to have the same fields management for members, like channels.
Missing Checkboxes right now and File for a project.

[2020-12-23 02:12] digicali opened #716 "form_class tag not working for registering and login forms"
When the tag form_class is added, it's not followed.
Even when you add the tag include_assets="no"
Works fine with channels.

[2020-12-23 03:02] VarenSwaab commented on #715
I agree and especially image manipulation for the member photo.

[2020-12-23 03:07] frshjb373 opened #717 "Members link on sidebar navigation doesn't appear when creating a new user role"
The members link is missing from sidebar when logged in as a newly created user role that allows for creating members. When accessing path manually in URL, `/cp/members` I can get to the members page fine so doesn't look like a permission issue. Please let me know if you would like me to dm and/or email screenshots of user role and/or setup.

[2020-12-23 06:23] Colbitron opened #718 "Can't see all of sidebar dropdown menu if there are too many sub-items"
My company has 27 channels and we use them all. Depending on the height of a given user's browser window on desktop (and possibly font size), they would not be able to see them all under the "Entries" section on the sidebar. This would normally not be a problem, but you can't scroll on the "dropdown" (dropside?) menu, which makes it a problem for the average Joe content creator.

![Screen Shot 202

[2020-12-23 08:17] intoeetive commented on #572
Solution suggested in https://github.com/ExpressionEngine/ExpressionEngine/issues/718 (does add a potentially ugly scrollbar however)

[code]

[2020-12-23 08:17] intoeetive commented on #718
@Colbitron thank you for the suggested solution!
This issue has already been reported (so closing as duplicate of https://github.com/ExpressionEngine/ExpressionEngine/issues/572), and it's definitely in our priories list, just need to figure out right solution without ugly scrollbars etc.

[2020-12-23 08:17] #718 closed, assigned to nobody

[2020-12-23 08:58] intoeetive commented on #667
This has been fixed in EE 6.0.0

[2020-12-23 08:58] #667 closed, assigned to nobody

[2020-12-23 10:05] intoeetive commented on #716
The parameters work well in login form.

And - they are not available on member registration, so you can't expect them to work. Also not mentioned anywhere on the docs (Channel Form is completely different thing unrelated to members)

However I'm keeping this issue as feature request to add those parameters to member forms other than login.

[2020-12-23 10:10] intoeetive commented on #712
This did work well on my test in channel that did not have publish layouts assigned (if there are layouts assigned they have higher precedence)

If you still expirience this problem on channels without layouts, please reopen this issue with more information on how to replicate this, preferrably with screenshots.

[2020-12-23 10:10] #712 closed, assigned to nobody

[2020-12-23 10:29] intoeetive commented on #708
@CharlottesvilleMedia can you try changing the line 2498 in `mod.channel.php` from
`$chunks = array_chunk($fields, 50);` to `$chunks = array_chunk($fields, 40);` (this is not final fix, just wondering if that makes the SQL error go away)

And, we really need to know how your `exp:channel:entries` tag looks like in order to get this fixed

[2020-12-23 13:25] CharlottesvilleMedia commented on #708
It's definitely 6.0.0. After your first note I went through my template and cleaned up all my code paying careful attention to the exp:channel:entries tags and I'm no longer getting that error (this is without making the php edit you suggested in your second message). I'm not exactly sure what fixed it, but I'm grateful for your prompt attention to this issue, Yuri. спасбо!

[2020-12-23 13:29] intoeetive commented on #708
Ok - if you by chance have the initial template version saved as revision, I'd be grateful, otherwise - we'll dig internally. Thanks!

[2020-12-23 15:16] valsopi opened #719 "Issues with posting emojis"
Having trouble posting emojis on fields.

![image](https://user-images.githubusercontent.com/10436870/103010982-772fb600-4539-11eb-9df4-c65c817d39c4.png)

**Version:**
EE 6.0.0 (however it does happen on EE 5.x.x, tried it). It's an upgrade from 5.x (and 5 was from 3).

**Environment:**
ubuntu 18.04, nginx, php 7.2, MySQL 5.7

[2020-12-23 18:43] ebeauchamps opened #720 "Minor: "member group(s)" keys remaining in language files"
31  occurrences of "member_group" found in 16 files

![Capture d’écran 2020-12-23 à 19 42 00](https://user-images.githubusercontent.com/1823359/103027925-0f886380-4557-11eb-9373-8093b8ef5082.png)

![Capture d’écran 2020-12-23 à 19 42 23](https://user-images.githubusercontent.com/1823359/103027930-11eabd80-4557-11eb-84a9-6068535d56c0.png)

[2020-12-23 21:17] frshjb373 opened #721 "Entries nav sidebar showing "0" in list"
Looks like when channel named using number (i.e. "404", name of that channel is showing as "0" in sidebar)

![Screen Shot 2020-12-23 at 1 14 02 PM](https://user-images.githubusercontent.com/7178139/103037546-f1077580-4520-11eb-829a-272a198517ee.png)

[2020-12-23 21:24] ebeauchamps opened #722 "[i18n]: untranslatable strings are visible in Access Overview"
EE 6.0.0
PHP 7.4.2 running locally on MAMP
I am displaying the CP in French
Looking at the Access Overview within my profile, I can still see English words were I only expect French in the ADD-ONS section
- Consent
- Relationships
I do not find those 2 keys to be translated, I think they are both missing.

![Capture d’écran 2020-12-23 à 22 22 02](https://user-images.githubusercontent.com/1823359/1

[2020-12-24 09:11] Sungodragon commented on #508
Any plans for this in EE6 or will need to wait for EE7?

[2020-12-24 09:22] ebeauchamps opened #723 "Harmonize the CP: "users" or "members"? "in this group" or "with this role"?"
Firstly, throughout the CP, and especially in the Member section, EE6 is using both terms, "users" and "members"

Then, while you have started to change the wording from "member group(s)" to "role(s)", I can still see plenty of sentences such as "users in this group...."

In the French translation, I decided to remove all instances of "...in this group" to put "...with this role" instead (when it'

[2020-12-24 09:29] ebeauchamps opened #724 "File manager should not list index.html files, especially when only images are allowed"
File manager should not list and display index.html files, especially when only images are allowed (see Default installed theme with EE6)

[2020-12-24 10:26] intoeetive commented on #722
@ebeauchamps would you mind adding the following:
[code]
to`consent_lang.php` and
[code]
to `fieldtypes_lang.php` (if that makes no difference, then add to `content_lang.php` or `settings_lang.php`)

[2020-12-24 10:39] ebeauchamps commented on #722
consent_lang.php updated: OK
settings_lang.php updated: OK (no dice with either fieldtypes_lang or content_lang)

Please add those in a future released.

Thanks!

[2020-12-24 10:39] #722 closed, assigned to nobody

[2020-12-24 10:46] intoeetive commented on #722
Thanks!
We'll try to include this into next minor release
We might end up putting `relationship_module_name` in dedicated file, so you might need to move your translation then.

[2020-12-24 11:24] intoeetive commented on #679
This has been fixed in EE 6.0.0 release

[2020-12-24 11:24] #679 closed, assigned to nobody

[2020-12-24 11:27] intoeetive commented on #587
For the time being, full description text is visible in tooltip when hovering the text

[2020-12-24 11:28] intoeetive commented on #676
This has been fixed in EE 6.0.0 release

[2020-12-24 11:28] #676 closed, assigned to nobody

[2020-12-24 11:29] intoeetive commented on #668
This has been fixed in EE 6.0.0 release

[2020-12-24 11:29] #668 closed, assigned to nobody

[2020-12-24 11:36] intoeetive commented on #654
This has been fixed in EE 6.0.0 release

[2020-12-24 11:36] #654 closed, assigned to nobody

[2020-12-24 11:39] intoeetive commented on #621
The fix has been released in EE 5.4.0 and 6.0.0

[2020-12-24 11:39] #621 closed

[2020-12-24 12:10] ebeauchamps opened #725 "[i18n] - missing key in the new Jump menu"
This key "**More than 10 results found, please refine your search**" cannot be found and therefore cannot be translated into my language

![Capture d’écran 2020-12-24 à 13 08 02](https://user-images.githubusercontent.com/1823359/103087840-1e1f5b00-45e9-11eb-8bc8-7d825d8b8f32.png)

FWIW, I am also experiencing non-recurring problems where the Jump menu is displayed in English though my settings are

[2020-12-24 14:41] intoeetive commented on #725
Thanks - will be resolved when https://github.com/ExpressionEngine/ExpressionEngine/pull/726 gets merged (or you can pull that branch straigt away)

FYI, I added `6.x` branch to https://github.com/EllisLab/EE-Language-French/tree/6.x (which is currently just branched off `master` so has no EE6 strings). Please submit pull request there when you think translation is in good shape.

Thank you very m

[2020-12-24 15:55] intoeetive commented on #719
@valsopi what field type is that field ID 51?
Also, what collation does `exp_channel_data_field_51` have? (`utf8mb4_unicode_ci` is the expected one)

[2020-12-24 17:02] intoeetive commented on #724
This seems to be problem with `ThemeInstaller`. Besides theme installation, `index.html` does not show up in upload directory if only images are allowed.

[2020-12-24 17:07] intoeetive commented on #680
This has been fixed in EE 6.0.0

[2020-12-24 17:38] ebeauchamps commented on #725
Thanks. I should be able to commit the French translation for 6.0.0 in a few hours (Happy Christmas!)

[2020-12-24 21:26] RK311y opened #728 "Loading Third-Party Language Files Automatically"
## Overview

I have a basic third-party addon that creates a new custom [Fieldtype](https://docs.expressionengine.com/latest/development/fieldtypes.html). This addon does NOT utilize [Modules](https://docs.expressionengine.com/latest/development/modules.html#update-file-function-reference) or [Extensions](https://docs.expressionengine.com/latest/development/extensions.html#activating-and-updating)

[2020-12-25 03:32] ODDCODE opened #729 "Upload Images"
When I tried to upload more than 8 images, it will only upload 5, and throw a message with letter and number.

{"file_id":30,"site_id":1,"title":"SBDYODC001B4-4.jpg","upload_location_id":6,"mime_type":"image\/jpeg","file_name":"SBDYODC001B4-4.jpg","file_size":430520,"description":null,"credit":null,"location":null,"uploaded_by_member_id":1,"upload_date":1609391343,"modified_by_member_id":1,"modifi

[2020-12-25 06:47] intoeetive commented on #729
This looks like the same issue as https://github.com/ExpressionEngine/ExpressionEngine/issues/693
If you could post the message you've got into that thread, we'd highly appreciate!

[2020-12-25 06:47] #729 closed, assigned to nobody

[2020-12-25 08:58] intoeetive commented on #623
@litzinger we'll add this for 6.0.1

[2020-12-25 10:50] Caleydon opened #730 "Correct Doc URLs in the CMS"
I found out randomly in the EE code that URLs pointed on EE online documentation doesn't exists because they are changed. Please see an example below.

File: /system/ee/installer/config/config_tmpl.php

Doc URL: https://docs.expressionengine.com/latest/general/system_configuration_overrides.html
It shoulld be new one: https://docs.expressionengine.com/latest/general/system-configuration-overrides.

[2020-12-25 11:41] Caleydon opened #731 "Installation wizard - allow select the language if exist"
I am working on Slovak translation of the EE. I also translated CMS installation wizard. Then I realized the wizard no offer chose different language.

Feature request: Could you please add a feature that will autodetect languages in the folder /system/ee/installer/language/ ? And if the CMS will detect more than "english" folder, installation wizard sould offer selector to change his language.

[2020-12-25 12:19] Caleydon opened #732 "Control panel font doesn't support foreign languages characters"
I am working on Slovak translation of the EE. I found out the font family used in the Control panel doesn't support a special characters for foreign languages. In my case it should support Latin extended charset. But for the other future EE CP translations it could be bigger problem.

![special-characters](https://user-images.githubusercontent.com/2806752/103134683-4ecbc700-46b3-11eb-8e8c-77b92967

[2020-12-25 14:01] intoeetive commented on #732
I can't replicate this, seems to looks fine to me:
![image](https://user-images.githubusercontent.com/752126/103136562-23080b80-46ca-11eb-869b-47844ded69ca.png)

If you inspect element in browser's console and navigate to "computed styles" - what does it say about actual fonts used (at the very bottom)?
![image](https://user-images.githubusercontent.com/752126/103136590-63678980-46ca-11eb-8b9a-2bc

[2020-12-25 18:56] ebeauchamps opened #733 "[i18n] - New Jump menu remains displayed in English even if user is set to another language"
EE6.0.0
PHP 7.4.2 on MAMP

My User, a Super Admin, is set to view the CP in French, but General setting remains set to English: the Jump Menu is then displayed in English (at 90%).

![Capture d’écran 2020-12-25 à 19 53 25](https://user-images.githubusercontent.com/1823359/103140781-2d86cd00-46eb-11eb-870b-61b081da6e2b.png)

![Capture d’écran 2020-12-25 à 19 54 15](https://user-images.githubusercon

[2020-12-25 22:59] digicali opened #734 "Maximum number of fields for members registration?"
I added more fields for members but no content is recorded after id 6
Example:

`<input type="checkbox" name="m_field_id_7" class="custom-control-input" id="m_field_id_7" value="YES">
  <label class="custom-control-label" for="m_field_id_7">I'm an Expert</label>`

[2020-12-25 23:11] digicali commented on #734
it was because the field was not enabled in registration settings. Sorry about that.

[2020-12-25 23:11] #734 closed, assigned to nobody

[2020-12-26 10:30] nix79 opened #735 "php escapeshellarg()"
hi,
updating from 5.4.0 to ee 6 there is this message:
Warningescapeshellarg() has been disabled for security reasonsee/ExpressionEngine/Library/Filesystem/Filesystem.php, line 288
Severity: E_WARNING{"messageType":"success","message":"Cleaning up","nextStep":"selfDestruct"}

I'm on a shared hosting where they can't enable escapeshellarg()

[2020-12-26 16:36] ebeauchamps opened #736 "[i18n] - repository: committing language files to the main repo (here) instead of EllisLab's"
Right now, we still have to commit our language files to the extra-old Ellis Lab (!) repo.

I suggest that you should accept language files for 6.x to be committed to the main ExpressionEngine repo (in /user/language/)

[2020-12-27 12:40] simonmalz opened #737 "Uploading images to a file grid doesn’t work"
I’m working with the official release of EE6.

When uploading several images to a file grid, only one shows up. The others are saved within the files, but don’t show up within the entry.

Uploading images one by one seems to work though.

[2020-12-28 14:13] TomJaeger commented on #736
Thanks for passing this along.  We've had a few conversations on it internally.  We're aiming to formally cross the bridge Jan 2021 (when we're back in the office).

If you have other thoughts or ideas on this front, we would love to hear them!

[2020-12-28 15:12] ebeauchamps commented on #736
The nice thing with the current EllisLab repo is that the English language files are isolated form other changes. So as a translator, you can very easily follow the changes made to the lang files. If you add tag or commit comparison, you can indeed pinpoint immediately to the changes that are to be conducted to your own files. But for that, you will have to create another repo dedicated to the Eng

[2020-12-28 15:29] Colbitron commented on #718
Thanks for cross-posting the potential solution over there and I apologize for the duplicate issue (seems I'm always using different keywords than everyone else when searching).

[2020-12-28 17:01] pyrobob83 opened #740 "On-the-Fly Image Manipulations Don't Update When An Image Is Replaced"
TL;DR :- On-the-Fly Image Manipulations Don't Update When An Image Is Replaced

The 'cached' image manipulations in the /_resize/ directory that are created on-the-fly via the template (eg `<img src="{content:file:resize width='100' height='100'}" alt="" />`) do not clear/update if a CMS user **replaces** the original file via the standard image conflict resolution dialogue.

When using traditiona

[2020-12-28 19:13] tjdraper commented on #680
Confirmed.

[2020-12-28 19:13] #680 closed, assigned to nobody

[2020-12-28 21:16] pyrobob83 commented on #737
I get the same issue, though in my case the File Grid is within a Fluid Field (I have not tested a standalone File Grid).

This next part might be a separate issue, but this is how I noticed this, so I'll go ahead and mention it... let me know if I should open a new issue.  After this happens for me in my File Grid inside a Fluid Field and I try to "Choose Existing" to manually add images one by o

[2020-12-29 08:41] simonmalz commented on #737
I actually have the same setup, @pyrobob83 described it in better detail. My File Grid is also within a Fluid Grid. After uploading, only one image shows up while the others aren’t displayed in the File Manager.

[2020-12-29 13:00] reinos opened #741 "ee('CP/GridInput') in combination with eeTableReorder() disabled sorting"
Using --> https://docs.expressionengine.com/latest/development/services/table.html#using-as-a-grid-input

it seems that, when using `ee('CP/GridInput')` in combination with `$('table').eeTableReorder()` it disable the sorting at all.

**The same code is working on EE5 and it seems there is no break change on this part.**

[code]

The JS
[code]

[2020-12-29 18:57] PDXMan1 opened #742 "logged_in_role_id not working in templates yet"
The docs for v6 look correct: https://docs.expressionengine.com/latest/templates/conditionals.html#logged_in_role_id

In a template, I had to use {logged_in_group_id} in my conditional to get things working though.

{if logged_in_group_id == '10' OR logged_in_group_id == '17'} display something {/if}

[2020-12-30 14:37] frshjb373 opened #743 "Entry preview doesn't display split 50/50 column split screen properly when fields like grid are very wide."
Large grid fields in entry causing preview to display the entire edit entry page and not splitting 50/50 as it should. Happy to provide more details if needed.

[2020-12-31 00:00] jphansen80 opened #744 "When selecting a directory for the RTE to use (custom toolset), it randomly selects another directory"
**Description of the problem**
When selecting a directory for the RTE to use (custom toolset), it randomly selects another directory.

**How To Reproduce**
Steps to reproduce the behavior:

1. Go to Addons > RTE Editor
2. Select a toolset
3. Select an Upload Directory
4. Open a channel entry and use the "New Image or File" dialog; it shows the incorrect upload directory

**Additional context**
On

[2020-12-31 00:00] jphansen80 commented on #744
I can provide a video of reproducing the bug upon request.

[2020-12-31 10:36] mufi-siebird opened #745 "File Field throws error in backend if you first click on "Upload New" and after click on "Choose Existing""
I am seeing a weired bug in ExpressionEngine v5.3.0, v5.4.0 and v6.0.0 (basically in all builds). File field choosing and existing file throws console error.

**How To Reproduce**
1. Add a File field into any channel.
2. Create or Edit entry and go to that field field. (Open console debugger)
3. Click on "Upload New" button. Close that popup without uploading any file.
4. Click on "Choose Existing

[2020-12-31 23:37] rowansentesy opened #746 "Custom Fieldtype - {options:my_field_name} not available in Channel Form"
This is an issue dating back to EE3 I believe, and I am curious about why this functionality was disabled.

In system/ee/ExpressionEngine/Addons/channel/libraries/channel_form/Channel_form_lib.php line 2834, there is reference to a $this->custom_option_fields array. This section is commented out in EE3 - EE6.

We are updating one of our addons for EE6, and my idea was to enable the {option:FIELD_N

[2021-01-02 11:20] quaimaker commented on #192
Isn't better with #EE6.

You can't really work with it in Safari.

https://user-images.githubusercontent.com/76868679/103456286-e7d29180-4cf4-11eb-89ca-ee5a62c0e316.mp4

**Environment Details:**

Version: 6.0.0
MacOS 11.1
Safari 14.0.2

[2021-01-02 21:13] digicali opened #747 "Count is not displayed right value when two channels are displayed on the same page"
I have two channels displayed on one page.
The result of the first channel is always displaying 1 for count because the second channel only find one record.
Maybe I do not use the clear method to display the number of records for a channel but the documentation about is confusing.

[2021-01-03 19:25] litzinger opened #748 "Restricted to only 1 tab group per page"
It appears that the JS that binds events for tab groups has too broad of a scope. If I add a second `tab-wrap` to the publish page, clicking the tab in the second group toggles the display of the main tabs (Publish, Date, etc). This is pretty limiting, and. not expected behavior. The events should be bound to each `tab-wrap` so they behave independently of other tab instances.

[2021-01-04 09:53] intoeetive commented on #742
Thanks for the report @PDXMan1

This appears to be both code error and error in the docs (the correct variable name would be `logged_in_primary_role_id`). We'll get this fixed for 6.0.1 release, meanwhile you can still use `logged_in_group_id` variables, it's not being removed in 6.x

[2021-01-04 09:56] intoeetive commented on #747
@digicali can you post the template code you have so we replicate the error. Thanks!

[2021-01-04 09:58] intoeetive commented on #744
@jphansen80 which ExpessionEngine version do you have? It it is EE6, is it the released 6.0.0 or one of the betas?

[2021-01-04 10:56] intoeetive commented on #740
@pyrobob83 thanks for the detailed report - we'll get this fixed in 6.0.1

Thank you for deeper thinking on template tag caching as well! This is not an issue however - the seemingly-random part of file name is not totally random but represents the combination of manipulation parameters as defined in template, so it will not change with file update

[2021-01-04 11:34] intoeetive commented on #746
@rowansentesy are you building a fieldtype? Based on what I see in the docs, [`{options:my_field_name}`](https://docs.expressionengine.com/latest/channels/channel-form/overview.html#optionsmy_field_name) should be available if you have your fieldtype declare itself with `extends OptionFieldtype` (similar to what `ft.checkboxes.php` does) - did you by chance try that?

As for the code that's commen

[2021-01-04 13:45] digicali commented on #747
Example
this first code display the number of news
` <span class="badge badge-pill badge-light">{exp:channel:entries channel="ch_blog" }{if count == absolute_results} {count}{/if}{/exp:channel:entries}
                                                    </span>`
                                                    and this second code display the content of one specific record

[2021-01-04 13:48] intoeetive commented on #737
@pyrobob83 would you mind posting that as separate issue? We are trying to stick to one problem per GitHub issue.

I'm going to close this one as we already have duplicate issue https://github.com/ExpressionEngine/ExpressionEngine/issues/693

[2021-01-04 13:49] intoeetive commented on #693
This seems to happen with any File Grid on drag&drop upload, not isolated to Fluid

[2021-01-04 14:01] intoeetive commented on #747
If you have `{segment_2}` set to entry ID that I would say this is expected behaviour. Try adding `dynamic="no"` to the first `exp:channel:entries` call

[2021-01-04 14:19] digicali commented on #747
Thanks, it's working but still not logical for me :-)

[2021-01-04 14:19] #747 closed, assigned to nobody

[2021-01-04 14:30] intoeetive commented on #747
`{exp:channel:entries}` tag is designed to dynamically "catch" the entry by checking for entry ID or url_title in the URL. If it's found, single entry is displayed, so you'll get just one loop of the tags. If you want it to loop through all entries, you need to specify `dynamic="no"`

[2021-01-04 15:15] rowansentesy commented on #746
Hi @intoeetive,
Thanks for the response to this. I think that is the exact tip I was looking for. I will try the `extends OptionFieldtype` suggestion.
Yes, we are updating a fieldtype & addon to be EE6 compatible and looking at ways to make it better and more compliant with recent EE core work.

Thanks again, I will keep you posted.
Rowan

[2021-01-04 15:16] intoeetive commented on #746
Sounds good!

I'll close this issue - please reopen or open new one if you experience any issues

[2021-01-04 15:48] jphansen80 commented on #744
Hi Yuri,

It's the released EE6 6.0.0.

Jimmy
________________________________
From: Yuri Salimovskiy <notifications@github.com>
Sent: Monday, January 4, 2021 4:58 AM
To: ExpressionEngine/ExpressionEngine <ExpressionEngine@noreply.github.com>
Cc: Jimmy Hansen <jphansen@uga.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ExpressionEngine/ExpressionEngine] When selecting a directory for the

[2021-01-04 16:53] pyrobob83 commented on #737
@intoeetive #693 doesn't appear to be the exact same issue as this.  Even if uploading less than 5 images to a File Grid field and all images are technically uploaded successfully, only 1 row in the grid actually remains visible after the uploads complete.  Here's a video that hopefully explains this issue.  In this video, I'm dragging in 3 images, which all do get uploaded to the correct director

[2021-01-04 16:55] simonmalz commented on #737
That’s exactly the problem I have. Thank you for the video, @pyrobob83.

[2021-01-04 16:57] pyrobob83 commented on #737
UPDATE: I just tested this same "Image Gallery" File Grid as a 'standalone' field (ie, not inside a Fluid) and it does the same thing.

[2021-01-04 17:14] intoeetive commented on #737
Thanks @pyrobob83!

@TomJaeger this seems to be separate Javascript issue, can we ensure it gets addressed as well?

[2021-01-04 17:21] maneeshblr opened #751 "Duplicate queries"
Environment:
EE Version: 6.0.0 (upgraded from 3.5.11)
PHP 5.6.39
MySQL 5.7.31
Web Server: Apache 2.4.6
OS: Centos 7

I enabled Debugging in the Administration Control Panel to root cause some of the severe performance issues in EE6.0.0 where server started crashing during peak traffic hours every day. This never happened for many years that EE3.x was running. The first clue is that there are lot m

[2021-01-04 17:48] pyrobob83 opened #752 "File Manager Modal Caching Issues on Entry Edit Screen"
The client-side caching of the files that show in the File Manager popup from File or File Grid fields when editing an entry doesn't allow the File Manager list/thumbnails to update after various changes and because it's a modal, not even a hard refresh helps.  For example:

1) After dragging images (single or multiples) into a File Grid, the image(s) is/are uploaded, but clicking "Choose Existing

[2021-01-04 19:32] ops-andy commented on #698
edited title for clarity.

[2021-01-04 20:22] PDXMan1 opened #753 "admin.php $debug = 1; in new install"
In the admin.php file, Error Reporting is set to "$debug = 1;  All errors shown regardless of authorization"

I believe it should either be set to the stated default of zero, or the instructions immediately above it should be rewritten.

[2021-01-05 03:31] rowansentesy commented on #746
Hey @intoeetive,

I am carrying on with this and used the `extends OptionFieldType` as you suggested, referencing the `ft.checkboxes.php` and that seems to be OK, although not providing me with what I'm needing here.

I'm still having trouble with how to register the fieldtype in the `public $custom_option_fields` array (Channel_form_lib.php line 28).

I can't find any examples of where this array

[2021-01-05 04:55] rob-pearson opened #754 "Create an option to remove the control panel banner"
Currently in the control panel (EE 6.0.0) the foremost item is a large banner announcing EE6.  This takes up roughly 1/3 of the most important screen real estate of the default admin screen.  It would be great to have an option to turn the banner off.

[2021-01-05 06:46] stinhambo opened #755 "File list doesn't refresh after sync"
**ExpressionEngine ver:** 6.0.0

**Expected behaviour:** File list should refresh after successful file sync, Sync buttons should disappear.

**Current behaviour:** After sync, Sync Client Logos title remains, Sync Files buttons remain and file list doesn't show unless you refresh the page or you click on the left hand folder link.

[2021-01-05 08:19] intoeetive commented on #748
@litzinger it looks like you already know how to fix it - is there any chance you could submit pull request for this? All the latest 6.x code is in https://github.com/ExpressionEngine/ExpressionEngine/tree/6.x

[2021-01-05 08:42] intoeetive commented on #746
@rowansentesy do I understand the problem correctly that the options for the 'OptionFieldType' are not being populated in Channel Form?
I think the `option_fields` needs to be built by checking which of actually installed fieldtypes extend `OptionFieldType` - however also need to make sure it does not have any side implications. That being said, we probably can't provide any solution before 6.0.1

[2021-01-05 11:28] intoeetive commented on #251
@pstalker-oxford can you drop copy of your `phpinfo()` output? Unable to replicate this on 5.4 and 6.0, so probably isolated to certain environment setup

[2021-01-05 19:02] rowansentesy commented on #746
Hey @intoeetive
Thanks for the info & update. I have discussed it with the Hop Studios team and we are interested in forking & submitting a pull request. I will be in touch if we have any questions.
@HopStudios-Development  @gilbert-hop

Thanks,
Rowan

[2021-01-05 19:51] digicali opened #758 "PHP specs check"
Some hosting providers put the value of memory_limit = -1 (unlimited)
Some when you try to EE6 checker on it, it says

ExpressionEngine Server Compatibility Wizard
Oops, there was an error

To complete the wizard check, the following error(s) must be addressed:

[2021-01-06 04:45] stinhambo commented on #510
This happens in EE 6.0.0 too. To set the toggle to off, I have to toggle on then off again.

[2021-01-06 04:59] tyssen opened #759 "Can't create new fields"
**Description of the problem**
I'm working on a site that's been upgraded from 2.11.9 to 5.4.0. The site used to have Matrix but I ran the importer to copy all the data to grid fields and then went through and deleted the Matrix fields.

I didn't do the deletion of the fields until after I'd done the upgrade and every time I deleted a Matrix field, I'd get an error about the fieldtype not existing

[2021-01-06 08:22] intoeetive commented on #758
@digicali thanks for catching - that's an interesting one!

Would you by chance be willing also to work on providing a fix for this? You could start by forking off https://github.com/ExpressionEngine/ExpressionEngine/tree/6.dev branch and then submitting pull request against it.

[2021-01-06 08:29] intoeetive commented on #759
@tyssen you are mentioning "an error about the fieldtype not existing" - which fieldtype does it reference? Can you confirm it actually does not (or does) exist? I think you might have some fieldtype that wasn't properly migrated from EE2 to EE5

[2021-01-06 09:32] pixiwooh opened #760 "wrong doc url into config.php file"
EE6 : In the system/user/config/config.php file, the URL to the doc (line 6) about system configuration overrides is written with underscores in place of hyphens, so it leads to a 404 page.

[2021-01-06 09:33] #760 closed, assigned to nobody

[2021-01-06 09:46] tyssen commented on #759
@intoeetive The error I got when deleting the old Matrix fields was about `ft.matrix.php` not existing.

[2021-01-06 09:51] intoeetive commented on #759
And just to confirm, that file DOES exists in `system/user/addons/matrix` location?

[2021-01-06 09:56] tyssen commented on #759
Well it did, but then I deleted it, because it's not an EE5-compatible version and I was going to stop using it.

[2021-01-06 09:57] tyssen commented on #759
But to clarify, it was in place when I was getting those errors previously.

[2021-01-06 10:01] intoeetive commented on #759
Well if the file was NOT in place this case this is expected behavior. You should have `ft.` file in place if you have certain fieldtype installed.
If you needed to remove the fields, they are all removed when fieldtype in uninstalled.

Having said that, we'll see if someone here will be able to replicate it and then address it if it's a bug indeed.

[2021-01-06 21:58] gilbert-hop commented on #746
@intoeetive I created a pull request that enables the custom option fieldtype declaration. Please have a look :)

[2021-01-06 23:26] nickpuglisi opened #762 "Channel Form: Select "Relationships" Not Saving"
Hey there,

Noticing this issue from EE5 and now EE6. When using Channel Form and using the provided code to supply with a single-selection from a Relationship.

Using this code:
`<select name="my_field_name" id="my_field_name">
        {options:my_field_name}
            <option value="{option_value}"{selected}>{option_name}</option>
        {/options:my_field_name}
    </select>`

And replacing

[2021-01-06 23:47] tyssen commented on #759
Based on your last comment, I backtracked to the 2.11.9 version of the site and uninstalled the incompatible fieldtypes (Matrix and Content Elements), exported the database, then re-imported it into the 5.4 version and ran the updater again.

I then tried to create a new field and got the same `General error: 1364` error again.

[2021-01-07 00:18] tyssen commented on #759
I thought upgrading to v6 might help, but the same problem exists there too.

[2021-01-07 02:42] stephengalbraith commented on #762
The docs should be an answer to your question given the code you provided: https://docs.expressionengine.com/latest/channels/channel-form/fields.html#relationship-field

`<select name="my_field_name[data][]" id="my_field_name">
  {options:my_field_name}
    <option value="{option_value}"{selected}>{option_name}</option>
  {/options:my_field_name}
</select>`

the name of the relationship field shou

[2021-01-07 10:04] intoeetive commented on #762
Thanks @stephengalbraith !

@nickpuglisi can you confirm that solves your issue?

[2021-01-07 14:33] kippenblinky opened #763 "Icons missing on addons page"
Just installed EE 6.0 and when I go to the Addons page all the icons are missing.
![Screen Shot 2021-01-07 at 15 22 56](https://user-images.githubusercontent.com/45204314/103904480-9c0d5700-50fd-11eb-9b1c-059606399899.png)

[2021-01-07 17:03] silenz88 opened #764 "Entry revisions appear under wrong username"
EE 5.3.2 upgraded from 2.11.9.

I'm experiencing a weird issue with entry revisions. Namely that seemingly random entry revisions (of entries created after the update) show the screen name of the first super-admin (member_id 1) as author, although that account is definitvely never used to log-in and/or edit entries.

I stumbled upon this due to another issue, that seems to be related to revisions

[2021-01-08 07:02] maneeshblr opened #765 "Server out of memory with EE6.0.0"
I have noticed that EE6.0.0 is consuming significantly more resources than EE3.5.x (prior to upgrade).

Environment Details:
Centos 7
Apache 2.4.6
MySQL 5.7.31
PHP 5.6.39

When EE3.7.x is updated to EE6.0.0, the server runs out of memory in about five minutes, and crashes. This is happening on a moderately busy site (~1M pages a day) running on a 64GB server, with PHP (pre-fork) RAM allocation at

[2021-01-08 07:05] maneeshblr commented on #751
On a fresh installation on Ubuntu 18.04.7 and PHP 7.2.24, here are the duplicate queries:

Site Homepage
Duplicate Queries (ee6p0p0)
    3 ×
    SHOW COLUMNS FROM `exp_member_data`

    #system/ee/ExpressionEngine/Service/Model/MetaDataReader.php L:166 ExpressionEngine\Model\Content\VariableColumnGateway::getFieldList()

    4 ×
    SELECT Permission_permissions.permission_id as Permission__permis

[2021-01-08 14:13] ops-andy commented on #743
@frshjb373 can you just send over screenshot?

[2021-01-08 14:30] ops-andy commented on #745
@mufi-siebird I can replicate the console error. Can you confirm that this isn't breaking anything for you though? Just want to make sure I'm fully replicating on my end. thanks.

[2021-01-08 14:33] mufi-siebird commented on #745
It does break all the JS code that triggers after that error. for example, If I try to add an entry (from side modal) modal will never call due to that error. All working JS breaks after that error in short.

[2021-01-08 14:36] ops-andy commented on #745
ah yes. I see that now. Thanks for the follow-up.

[2021-01-08 16:31] silenz88 opened #766 "URL in comments is neither shown nor editable (in CP)"
**Description of the problem**
Title says it.

There is a bullet point below the mail address, but the URL is not shown.

The possibility to edit the URL is a feature that once existed and everyone asks about.

[2021-01-08 16:46] robinsowell opened #767 "Setting the 'search excerpt' field in a Fluid field"
In the channel settings, you can select a Fluid field to use as the 'search excerpt'.  When you do, it will combine all of the fluid field's field's data to make the excerpt, which is likely not desirable.

For example, I had an entry with a fluid field that had to textareas and a grid with several text fields.   My excerpt looked like:

`I have booty in my content Some more fluid content. tradd c

[2021-01-08 17:08] appricosa opened #768 "CP login > Label on submit button is not translated after submit"
Refers to file
**system/ee/ExpressionEngine/View/account/login.php** line 34

I have been trying to translate the "authenticating ..." label that show up during the login process.
Editing the CP translation file had no effect, so I had a closer look at the login template.

`<fieldset class="last">
			<?=form_submit('submit', $btn_label, 'class="'.$btn_class.'" data-work-text="authenticating..." ta

[2021-01-10 18:54] shbchk opened #769 "Reusing just created relationship entry in a multiple rows of a grid field"
I have a grid field with relationship field in it.

When i create new entry using "new entry" button in a relationship form, i can't reuse this freshly created entry in a next row of a grid field. Entry exist, but cannot be found.

![created](https://user-images.githubusercontent.com/12234507/104132228-dd676600-538c-11eb-8edd-af3683654a00.png)

[2021-01-10 18:56] shbchk commented on #769
It works after saving entry though

[2021-01-11 22:10] digicali opened #774 "Search Templates field is missing when you open a template"
I do not know if it's a bug or not so I'm creating this feature request.
I was nice in version 5 to search in templates from an opened template. The field is now gone when you open one.

[2021-01-13 18:38] aasun opened #777 "Scaling SVG file "thumbnails" in CP interface"
**Is your feature request related to a problem? Please describe.**
SVGs can't be cropped into thumbnails like other pixel graphics.  But, currently, they are scaled for width, and the height is left proportionate, which leaves portrait-oriented SVGs to overlay the CP interface elements making it difficult to interact with the edit form. This is especially cumbersome on grid fields with rows and ro

[2021-01-13 18:50] aasun opened #778 "Update resize_crop EE 6 image manipulation for more control in creating a sized thumbnail for template use."
This is a repost of the original feature request updated now that EE6 has a resize_crop image manipulation.
https://github.com/ExpressionEngine/ExpressionEngine/issues/79

**Is your feature request related to a problem? Please describe.**
In responsive, mobile-first design, it's often desirable to have images that are the same proportion to one another. In many "listing" types of pages, responsive

[2021-01-13 23:11] tymrtn opened #779 "Unable to use One Click Update in EE 5.4"
**Description of the problem**
No One Click Update available in EE5.4 install

**How To Reproduce**
Steps to reproduce the behavior:
1. Update to EE5.4 from EE5.3.2
2. Observe absence of Update button.

**Screenshots / Videos / Template Code**
Screenshot: https://share.getcloudapp.com/qGulWONR

**Environment Details:**
 - Version: 5.4
 - PHP Version 7.1

[2021-01-14 16:42] litzinger opened #781 "Make ColorPicker React element similar to Relationships"
The ColorPicker and Relationship field are both React components, but they're written very differently, and their output to the DOM is also different. Relationship fields are rendered with a wrapping div that contains the settings and field name, and even after the React component calls `render()` the wrapping div remains in the DOM, and the contents of the wrapping div is where the component is a

[2021-01-15 13:32] digicali opened #783 "Exception when I delete a member"
When i get spammers trying to register with some kind of username, I got this exception if I want to remove them

Exception Caught
SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'recent_member' at row 1:
UPDATE `exp_stats` SET `total_members` = 90, `recent_member` = 'Your Prize to 5OOOO USD!\n https://johr.page.link/SCPw', `recent_member_id` = 199
ee/legacy/database/d

[2021-01-15 18:09] Colbitron commented on #192
Yeah, I've got several people in my company that use Safari as their primary browser. Can confirm this is happening exactly as quaimaker shows on our Macs running across different versions.

I assume this is a javascript problem given what's happening. When turning on the debugger in Safari and enabling it to stop on all exceptions, I do see that it errors in the `jquery.js` sent from the themes d

[2021-01-17 14:46] shbchk opened #785 "Warning about unsaved changes"
Noticed that EE doesn't warn you about unsaved changes when you leave or close the page.

[2021-01-17 14:59] shbchk commented on #653
To replace broken image above:

It is impossible to tell which countries is checked unless you scroll down the entire list
![screenshot-2021 01 17-17_54_10](https://user-images.githubusercontent.com/12234507/104846816-7ea26f00-58ed-11eb-9884-504583483d2d.png)

[2021-01-17 15:40] shbchk opened #786 "Page moves to the top after saving new entry in a relationships modal"
... so you have to scroll down to the field again. Here is the video:
https://drive.google.com/file/d/1FnGF_LN2naMobdI0skPUSyBdnlGcotmy/view?usp=sharing

[2021-01-17 20:32] shbchk opened #787 "Partial not parsed inside Grid when it is only used in conditional"
It's kind of strange bug. I don't even know where to start. It's hard to explain (_especially for a non-native english speaker :-)_).

So. I got:
1. `video_preview_partial` responsible for image output;
2. `credits` template with the bug

Partial and Template can be found [here](https://drive.google.com/drive/folders/1r1TL08rM6nO4cYFAqJ0rHjZE7tnl5cMf?usp=sharing)

### The bug
`{film_images_grid li

[2021-01-18 22:24] PDXMan1 opened #789 "Textarea row height ignored by new UI"
Textarea row height (as set in field preferences) is being totally ignored in Edit/New Entry.

The default height is used regardless of settings forcing my content publishers to keep having to stretch text-areas taller to work on content.

This is extra challenging now that the font in those windows is nice and big.

Let me know if you have any questions.

[2021-01-18 23:06] murtaugh opened #790 "Edit publish layout: add "move to [tab name]" dropdown"
It can be tough to drag and drop fields from the bottom of a long list to the tab you want to the field to be in. It's easy to miss your drop target, especially if you are having to drag and scroll at the same time.

**Describe the solution you'd like**
Alongside the "hide" and "collapse" options, a new select box that lets you select the tab you want to move the field to. Ideally, selecting a tab

[2021-01-18 23:13] murtaugh opened #791 "Edit publish layout: do not refresh the page on tab deletion"
When you delete a tab, the page refreshes without saving changes. This is very frustrating, as you can lose a lot of work without warning or confirmation.

**Describe the solution you'd like**
Best solution: Allow tab deletion without refreshing the page or submitting the form.
Alternative solution: Insert a confirmation that lets the user know they're about to refresh the page and may lose un-sav

[2021-01-18 23:16] murtaugh opened #792 "Edit publish layout: allow tab renaming"
Because I can't rename existing tabs, I have to delete existing tabs, then create a new one. This means I have to move fields out of the existing tab, create a new tab, then move fields into the new one (or alternatively create the new tab first, then move fields to it, then delete the old one).

**Describe the solution you'd like**
Allow users to rename tabs.

[2021-01-18 23:45] murtaugh opened #793 "Edit publish layout: add "note" or "section title" objects"
Sometimes tabs aren't sufficient for organizing fields in a publish layout.

I really like the features of the Publish Notes addon (https://github.com/amphibian/publish_notes.ee_addon) — namely allowing me to place arbitrary chunks of text into a publish form — but the workflow and UX aren't great. (This is no fault of the addon dev — the workflow they've created is the best it can be given the na

[2021-01-19 08:06] shbchk commented on #792
I second that
https://github.com/ExpressionEngine/ExpressionEngine/issues/685

[2021-01-19 08:09] shbchk commented on #785
Thanks for accepting , Yuri!

[2021-01-19 11:05] intoeetive commented on #374
Closing this one as duplicate of https://github.com/ExpressionEngine/ExpressionEngine/issues/599

[2021-01-19 11:05] #374 closed

[2021-01-19 12:09] intoeetive commented on #792
I'm closing the other issue (https://github.com/ExpressionEngine/ExpressionEngine/issues/685) as this one has more details.

If we give this approval, would any of you be willing to work on this feature?

[2021-01-19 12:10] #685 closed, assigned to nobody

[2021-01-19 12:25] intoeetive commented on #777
@aasun can you provide screenshot so we could better understand how the problem looks like on your side?

[2021-01-19 12:31] intoeetive commented on #778
@aasun since we already have issue on GitHub for this, can you post this as comment on https://github.com/ExpressionEngine/ExpressionEngine/issues/79 instead? I'll have to close this one as duplicate.

And would you by chance be willing/capable to work on this if it gets formal approval?

[2021-01-19 12:31] #778 closed, assigned to nobody

[2021-01-19 12:55] blue-dreamer opened #794 "Wrong ACT value being passed to native email form"
**Description of the problem**

The wrong ACT value being passed to the ACT field using native email form:

`<input type="hidden" name="ACT" value="{AID:Email:send_email}" />`

**How To Reproduce**
Steps to reproduce the behavior:

Email form is added inside a channel entries tag (single entry), I'm passing the entry Title as the email Subject in a hidden field.

The single entry template is cache

[2021-01-20 21:53] Colbitron opened #799 "Color Picker inconsistent with letter casing when using manual swatches"
I ran into this issue because I don't capitalize my letters when I write my colors in CSS. It's not a super big deal, but it seems that the swatch validation behavior does an exact match comparison between the lower cased version of my colors that I entered manually in settings (in the textarea) and the upper cased version the form supplies. This means that since they do not match technically, the

[2021-01-21 00:29] mediagirl opened #800 "File Chooser not displaying on Text Input field"
EE 6.0.0

If you enable "Show File Chooser" on an Text Input field, the file chooser DOES NOT display on the entry edit form. If you change the field to a Textarea field, the file chooser DOES display correctly on the entry form.

[2021-01-21 00:37] mediagirl opened #801 "Missing database row when upgrading"
I upgraded an EE install from EE 2.x to EE 6 today and came across a bug.

After the upgrade, logging into the control panel as the SuperAdmin user (member_id = 1) produced this error:
`Call to a member function getAllRoles() on null`

I resolved the error by adding a new row into the exp_member_data table with the value of "1".

[2021-01-21 09:52] shbchk commented on #792
I'd love to, but i have no such skills =\

[2021-01-21 13:47] intoeetive commented on #184
`channel` is not listed as supported parameter for `siblings` in EE documentation and even though it does change things - that's not the change people would expect. It is restricting the output based on what channel the sibling belong to, not on the channel where relationship is set. As such - classifying this as feature request to add parameter that would limit siblings based on in what channel t

[2021-01-21 13:59] intoeetive commented on #763
@kippenblinky I was only able to replicate this issue when having `index.php` poiting to wrong system directory path. Is this by chance your issue as well?

If not, can you tell us more about your setup (e.g. fresh install or update, where is the system directory, whether you renamed any files, is this MSM etc.)

[2021-01-21 14:42] #663 closed, assigned to nobody

[2021-01-21 14:42] #474 closed

[2021-01-21 14:43] #639 closed

[2021-01-21 15:10] intoeetive commented on #801
@mediagirl Can you check if record is present in `exp_member_data` on EE2 site database before the upgrade?

[2021-01-21 18:25] mediagirl commented on #801
I just checked and the row for member_id 1 IS NOT in the EE2 database table.

[2021-01-21 19:43] digicali opened #804 "Edit Relationships with Channel form - Few issues"
I'm using the code below to edit the relationship assigned to an entry.

1. first issue, bug:  The order is not saved when the field is edited. Always keep the same order
2. How to display only items in the relationships section that are open? cannot find a way
3. How to display the content of a field in the relationship section. cannot find a way.
4. How to display the relationships that are owne

[2021-01-21 22:01] murtaugh opened #807 "Built-in WordPress imports"
I know data imports are probably already on your mind, but it would be a strong strategic move to ensure that EE can seamlessly import WordPress data.

Ideally the import process would be able to create channels and fields as required by the data. Making onboarding easy for WP users would be a great sales tool.

[2021-01-22 06:54] intoeetive commented on #801
That should not be the case normally.
But we'll consider doing sanity check on members when performing upgrade to ensure records that are already missing will be re-created.
As such, classifying this as feature request

[2021-01-22 15:54] shbchk opened #808 "Conditional error with relationships"
I got this conditional and it works well in this simple form:
[code]
But it doesn't work if i make it more complex, like this:

[code]

Getting this error:
[code]

[2021-01-22 16:19] shbchk commented on #808
Same code, but without `parents:grid_field:relationship_field`, works well in another channel, so it's a relationships issue, i guess.

[2021-01-22 17:31] digicali commented on #804
Update, we solved the problem with a tricky solution but the ticket should move as feature request to make it more simple. What we did? we replaced the title of relationships with custom tags to handle all cases :-)

[2021-01-22 19:31] mediagirl commented on #801
Ah, got it. I'm not sure why the row wasn't present in that table previously. Thank you for taking a look.

[2021-01-22 19:31] #801 closed, assigned to nobody

[2021-01-22 19:53] ops-andy commented on #684
fixed in 6.0.1

[2021-01-22 19:53] #684 closed, assigned to nobody

[2021-01-22 19:53] ops-andy commented on #705
fixed in 6.0.1

[2021-01-22 19:53] #705 closed, assigned to nobody

[2021-01-22 19:53] ops-andy commented on #691
fixed in 6.0.1

[2021-01-22 19:53] #691 closed, assigned to nobody

[2021-01-22 19:53] ops-andy commented on #703
fixed in 6.0.1

[2021-01-22 19:53] #703 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #696
fixed in 6.0.1

[2021-01-22 19:54] #696 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #572
fixed in 6.0.1

[2021-01-22 19:54] #572 closed

[2021-01-22 19:54] ops-andy commented on #708
fixed in 6.0.1

[2021-01-22 19:54] #708 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #721
fixed in 6.0.1

[2021-01-22 19:54] #721 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #725
fixed in 6.0.1

[2021-01-22 19:54] #725 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #742
fixed in 6.0.1

[2021-01-22 19:54] #742 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #623
fixed in 6.0.1

[2021-01-22 19:54] #623 closed

[2021-01-22 19:54] ops-andy commented on #714
fixed in 6.0.1

[2021-01-22 19:54] #714 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #740
fixed in 6.0.1

[2021-01-22 19:54] #740 closed, assigned to nobody

[2021-01-22 19:54] ops-andy commented on #735
fixed in 6.0.1

[2021-01-22 19:54] #735 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #693
fixed in 6.0.1

[2021-01-22 19:55] #693 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #713
fixed in 6.0.1

[2021-01-22 19:55] #713 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #737
fixed in 6.0.1

[2021-01-22 19:55] #737 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #753
fixed in 6.0.1

[2021-01-22 19:55] #753 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #733
fixed in 6.0.1

[2021-01-22 19:55] #733 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #744
fixed in 6.0.1

[2021-01-22 19:55] #744 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #695
fixed in 6.0.1

[2021-01-22 19:55] #695 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #730
fixed in 6.0.1

[2021-01-22 19:55] #730 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #768
fixed in 6.0.1

[2021-01-22 19:55] #768 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #783
fixed in 6.0.1

[2021-01-22 19:55] #783 closed, assigned to nobody

[2021-01-22 19:55] ops-andy commented on #717
fixed in 6.0.1

[2021-01-22 19:55] #717 closed, assigned to nobody

[2021-01-22 19:57] jphansen80 commented on #744
Nice, thanks!

Jimmy
________________________________
From: Andy Mc <notifications@github.com>
Sent: Friday, January 22, 2021 2:55 PM
To: ExpressionEngine/ExpressionEngine <ExpressionEngine@noreply.github.com>
Cc: Jimmy Hansen <jphansen@uga.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ExpressionEngine/ExpressionEngine] When selecting a directory for the RTE to use (custom toolset), it

[2021-01-22 20:04] digicali commented on #804
Update: there are stil issue with the order field. Detected something. If the items are not assigned yet, values of order field are skipped. Also, many times, when you just want to change the order, it just doesn't work. You enter values and save but still the previous order.

[2021-01-22 22:50] murtaugh opened #810 "Edit entry: Offer insight into the values of collapsed fields"
Fields in publish layouts that are collapsed give no indication whether a user has submitted data to them.

There should be some indication that collapsed field isn't empty. As I see it there are two options:

1. Collapsed fields could give some visibility to their saved values. I recognize this gets less straightforward when you take all field types into account.

[code]

2. Fields that are norma

[2021-01-23 15:50] blairliikala commented on #694
I like everything about this idea.

[2021-01-25 18:21] dpkingjr opened #811 "CSS Bug with Control Panel in 6.0.1"
After fresh install of 6.0.1 control panel has RED background color on several pages. When looking at the CSS inspector in Chrome 87, I can see a button class that looks to be over-broad. See attachment.
![2021-01-24_13-51-19](https://user-images.githubusercontent.com/362308/105748536-47951480-5f10-11eb-998f-747b82c72ae2.png)

[2021-01-25 18:25] intoeetive commented on #811
@grimsmath this must be caused by one of your Chrome extensions. Can you let us know which ones you have installed? And whether disabling any of those is helping to solve the issue?

[2021-01-25 18:37] dpkingjr commented on #811
Found it. It was a browser extension.

[2021-01-25 18:37] #811 closed, assigned to nobody

[2021-01-25 18:40] intoeetive commented on #811
@grimsmath can you tell us which one was that?

[2021-01-25 18:42] dpkingjr commented on #811
It is this extension:
![2021-01-25_13-42-39](https://user-images.githubusercontent.com/362308/105750840-38639600-5f13-11eb-99e5-34495e19ad11.png)

[2021-01-25 18:43] dpkingjr commented on #811
I just uninstalled it and the problem went away. Re-installed it to see if the problem came back and it did.

[2021-01-25 19:04] intoeetive commented on #811
Thank you! We'll investigate to see if we can avoid conflicts

[2021-01-26 13:38] omejelle opened #812 "Saving member role logs you out and prevents you from logging in again"
I just installed a fresh copy of EE 6.0.1. Once it was installed, i logged in, then i went to roles, clicked on the super admin role and hit "save" (not having changed anything).
This brought me back to the login screen. When i tried to log in with my credentials i get the message "You are not authorized to perform this action". Seems like i am logged in, but dont't have rights to enter the CP.

[2021-01-26 13:59] digicali opened #813 "Cannot Login after changing cookie domain"
Maybe the cookie domain field should be validated to be a domain. is it mandatory?
I put just a name on cookie domain that was not related to the website.
Like MySuperCookie
And then after saving and editing few other things, I was logged out.
Impossible to login again. No matters the browser, clearing cache, cookies, etc.
I had to go to the database and edit the cookie domain field as an empty fi

[2021-01-26 15:53] robinsowell opened #817 "Simpler commerce- you can't add new items."
Install the simple commerce add-on and hit 'Add Items'.  It pulls up all of the entries, you can select entries to be items.

Checkbox a few, scroll to the bottom and select 'Add Item' and submit- it just reloads the list of entries to select from.

[2021-01-26 16:27] digicali opened #820 "Edit Profile not working"
Very strange, using 6.0.1 version. The Edit profile field is not working. The value are not updated. Old scripts updating other member fields works but this new one doesn't want to update the data.

{exp:member:edit_profile
                          return="myprofile"
        inline_errors="yes"
		include_assets="no"
		datepicker="yes"
        class="form-validate"}

[2021-01-26 16:42] digicali commented on #820
Not a bug. I just forgot to enable Show in profile option but not easy to remember that it's mandatory

[2021-01-26 16:42] #820 closed, assigned to nobody

[2021-01-26 18:35] benya opened #822 "Replace obsolete captcha with Google captcha"
Captcha which is now practically useless in our time. It is better to replace it with Google or any other analogue

[2021-01-26 19:53] jcogs-design commented on #822
If we are going to do this, it would be even more functional to see if the "snaptcha" addon can be integrated with EE6 - and so side-step the need for catpcha's completely!

https://putyourlightson.com/plugins/snaptcha-ee

[2021-01-27 20:28] robinsowell opened #823 "Communicate page in CP, checkboxes disabled"
Odd one- so on Communicate page, only my Superadmin and my member group are selectable to mail to:

<img width="426" alt="Screen Shot 2021-01-27 at 3 26 28 PM" src="https://user-images.githubusercontent.com/1181219/106049394-105f6880-60b4-11eb-9140-72cd952528b1.png">

I'm not sure why.  I'm also thinking maybe just don't show guest and banned, as it can be confusing.  But then folks get confused i

[2021-01-27 22:09] benya opened #824 "{exp:stats} tag doesn't work"
I wanted to display the number of records on the site.

`{exp:stats channel="new"}{total_entries}{/exp:stats}`

and for some reason it shows me the number 23, although in fact in channel 359 there are records

When I go to the statistics module (Tools -> Utilities -> Statistics: ) and there I update the slider, then the site will temporarily show the correct number of entries in the channel, but t

[2021-01-28 08:03] mustafa-online commented on #694
That would be great 🥇

@jaredchesebro , Can you share your code please? I need it

[2021-01-28 14:26] melbazany opened #826 "Approving Pending Members causing PHP error - "Call to undefined method ExpressionEngine\Controller\Members\Members::pendingMemberNotification()""
When a client has been trying to approve Pending Members (EE 6.0.1, PHP 7.3). I am able to log in as a Super Admin, go to each Member individually and update their Role manually - the 'Approve' just isn't working, which is what my client uses to grant permissions easily.

Occurring when on URL: /admin/index.php?/cp/members

![Screen Shot 2021-01-28 at 9 00 23 AM](https://user-images.githubusercont

[2021-01-28 14:53] #192 closed

[2021-01-28 14:53] #817 closed, assigned to nobody

[2021-01-28 15:04] #812 closed, assigned to nobody

[2021-01-28 15:55] #826 closed, assigned to nobody

[2021-01-28 23:51] VarenSwaab opened #828 "A random bug editing template name results in failure"
I've reported this bug during the beta but was unable to follow through. Unfortunately, it's still haunting me on an irregular basis. I'm hosting on Nexcess with a standard setup. PHP version is 7.3, EE version is 6.01.

The bug happens when trying to change the name of an existing template. It happens randomly and only affects a few of the templates but on those templates it happens each time. I

[2021-01-29 08:12] intoeetive commented on #828
@VarenSwaab is this basically same issue that https://github.com/ExpressionEngine/ExpressionEngine/issues/577 ? If so, would you mind adding this video and text as comment on that issue instead?

[2021-01-29 11:38] pstalker-oxford commented on #669
Please do reinstate the </> 'view code' button. This was a critical function of versions 5 and earlier, particularly for checking for formatting errors. Now I feel I am working blind. I understand that this a consequence of upgrading to CKEditor 5. In EE could we have the option of reverting to CKEditor 4?

[2021-01-29 17:03] intoeetive commented on #669
[Wygwam](https://eeharbor.com/wygwam) is built on CKEditor 4, so you may consider that

[2021-01-29 19:52] robinsowell opened #833 "Can't have an RTE and a Wygwam field in the same channel"
Pretty sure it's a ckeditor collision, as they're using different versions.  In which case...I'm not sure which is actually 'buggy' if either.  It might be handled best by documenting it in Wygwam for v6?

[2021-01-29 20:20] litzinger opened #834 "Redis->delete() is deprecated, but still called."
The Cache_redis->delete() function needs to be updated:

[code]

[2021-01-29 21:16] robinsowell opened #837 "PHP 8 channel form issue "Unknown named parameter $data""
Have a channel with a date field in it.  Make a channel form and use the custom field loop:
[code]

You'll get an error in php 8
[code]
The exact line is:

``` $res = call_user_func_array(array(&$ft, $method), $parameters);```

I can't figure it out.  It doesn't do it with a textarea field and I dump out all of those params and still don't see what's up.

[2021-01-30 11:12] pstalker-oxford commented on #669
Great suggestion. I had forgotten about Wygwam, which I see I last purchased in 2014. Thanks for your help.

[2021-01-30 13:58] jvanschaijik opened #838 "avatars erased unintentionally"
Editing a custom field (textarea) under the "Personal settings" tab on the back-end member profile area also erases the avatar (even though I don't touch any buttons in that section). This happens when editing on my own (super admin) account, and also when editing another members account.
This does not happen on the front end, where I have separate templates for editing the avatar and editing the