[2022-10-06 16:33] aebgreene opened #2423 "EE7 Issue"
RTE are sometimes outputting images correctly and other times outputting the url to the image versus showing it.

[2022-10-07 20:34] chunkitdesign opened #2424 "able to select multiple file upload locations on the File, field type"
**Is your feature request related to a problem? Please describe.**
Yes. Currently, the file field type only allows **All** directories or only **ONE** directory.

**Describe the solution you'd like**
It would be nice if I could choose multiple file directories in the new File Fieldtype, similar to EEHabor Assets. Please see the [screenshot](https://www.dropbox.com/s/e8fz4lp3m24y2cp/CleanShot%20202

[2022-10-11 07:41] TomJaeger commented on #2241
What version of PHP are you running on the server?

Sent from my iPhone

[2022-10-11 08:30] Yulyaswan commented on #1325
EE 6.3.5, Safari
<img width="1167" alt="Screenshot 2022-10-11 at 10 29 05" src="https://user-images.githubusercontent.com/23382425/195039514-09e0a7b9-e24d-4d7e-9b60-6c554745a420.png">

[2022-10-11 08:43] tyssen commented on #2241
@TomJaeger Sorry, I don't actually remember which site this was for anymore, lol.

[2022-10-11 20:33] shbchk commented on #653
Can it be moved to the top of to-do list? Pretty pleeeaase :)

[2022-10-12 13:43] Yulyaswan commented on #653
working on it

[2022-10-13 09:18] intoeetive commented on #2420
This has been resolved in EE 7.1.6 via https://github.com/ExpressionEngine/ExpressionEngine/pull/2406

[2022-10-13 09:18] #2420 closed, assigned to nobody

[2022-10-13 09:19] intoeetive commented on #2423
Please provide more details on how the issue can be replicated

[2022-10-13 09:33] #2408 closed, assigned to nobody

[2022-10-14 01:39] PaulBaileyAtChan opened #2430 "[EE6/7?] Bug: Allowed roles settings are lost when template is edited by a user without access to these settings"
When a template is edited / saved by a user account which has edit access to the template, but **doesn't have** access to the template **Access** and **Settings** tabs (that is, **Manage settings & access** is unchecked for this template group in the role settings, under **Template group access**), the **Allowed roles** for the template appear to be cleared.

This causes the template, and any rela

[2022-10-14 02:16] PaulBaileyAtChan opened #2431 "[EE6/7?] Code generated by preset picture / image HTML button can't be edited, despite being presented as editable"
The HTML button editor available in the CP at **Settings** > **HTML Buttons**, and **My Profile** > **HTML Buttons**, can be used to add buttons, and edit the HTML tags that they produce. The "Preset Buttons" at the bottom of the editor allow common tags to be added, and mostly they work as expected.

However, in the case of the picture / image preset button (shown as a cloud with an up-arrow), th

[2022-10-14 06:31] agun opened #2432 "Slow query with Structure when using channel:title parameter"
**Description of the problem**
There is an issue with Structure when using the channel:title="channel:field" parameter. The issue is only seen when there are a lot of Structure entries (in my case 600+), and also lots of fields (100+ across the entire site). These entries are spread across a few channels. The issue is that there is 1 query that is taking almost **2 seconds** to run every time the

[2022-10-17 06:03] agun opened #2435 "Pro search throws an error if using more than one results tag in a template, and you search by keyword"
**Description of the problem**
Using multiple {exp:pro_search:results} tags in a template, and then searching by "?keyword" the following error is thown:

[code]

**How To Reproduce**
Steps to reproduce the behavior:
On a single template, I have 1 {exp:pro_search:form} tag with a keyword search input, and a category select input. I also have 2 {exp:pro_search:results} tags, each using a different

[2022-10-17 08:04] agun opened #2436 "Files (using native file manager) should have an 'alt text' field"
**Is your feature request related to a problem? Please describe.**
When adding/editing a new file via the native EE file manager (EE7), you can add in a Title, Description, Credit and Location. This is great, but it would be nice to be able to add in a specific 'Alt text' field to help with accessibility.

It's confusing for authors to use the 'title' or 'description' field for alt text (they have

[2022-10-18 18:35] robinsowell opened #2437 "Horizontal grid fields can 'blow out'"
It's happening to file location manipulations plus custom fields so it seems to be persistent no matter how those tables are being displayed.  If you resize the page, they break out of container:

![grid-fields-trim](https://user-images.githubusercontent.com/1181219/196515415-07c85256-55c8-4bea-a27e-d3cc27273456.png)

[2022-10-19 12:46] ops-andy opened #2438 "Low Variables - Variables loose Variable Type when upgrading from EE6 to EE7"
**Description of the problem**
Using Low Variables in EE6 I setup a Checkbox Group, Date, and Grid variable. After 1-click upgrading to EE7, all three of those variables are now of the type "Textarea".
Once in EE7, If I change my variable back to its original variable type all settings are retained.

**How To Reproduce**
Steps to reproduce the behavior:
1. Setup Low Variables in EE6 with multiple

[2022-10-19 20:07] robinsowell opened #2439 "Channel form asset tag 404s"
[Per the docs](https://docs.expressionengine.com/latest/channels/channel-form/overview.html#including-assets), this should link to the channel form css:

`<link href="{path='css/_ee_channel_form_css'}" type="text/css" rel="stylesheet" media="screen">`

Link it creates looks ok, but it 404s.  That's on EE 7.1.6

[2022-10-20 05:26] intoeetive commented on #2439
@robinsowell can you check if this is not the case here? https://github.com/ExpressionEngine/ExpressionEngine/issues/588#issuecomment-718460813

[2022-10-21 09:40] jcogs-design opened #2446 "<> markers get replaced by [] in text fields when accessed through relationship"
If you put text that includes an html tag into a text field and a template renders it the html tag is carried through unchanged.

e.g.

[code]
If access the same field through a relationship field the angle brackets are replaced with square ones.
[code]
This (unsurprisingly) has an effect on how the HTML template output is rendered.

EE6.3.5 // php 8.0.24

[2022-10-21 10:05] #1294 closed, assigned to nobody

[2022-10-21 10:05] #1425 closed, assigned to nobody

[2022-10-21 10:05] #1981 closed, assigned to nobody

[2022-10-21 10:05] #1465 closed, assigned to nobody

[2022-10-21 10:05] #2129 closed, assigned to nobody

[2022-10-21 10:05] #98 closed

[2022-10-21 10:06] #1633 closed, assigned to nobody

[2022-10-21 10:07] #919 closed, assigned to nobody

[2022-10-21 10:09] #1897 closed, assigned to nobody

[2022-10-21 10:10] #2403 closed, assigned to nobody

[2022-10-21 10:25] #484 closed

[2022-10-22 15:47] jcogs-design opened #2452 "URL Helper / base_url() method returns wrong values"
[URL Helper](https://docs.expressionengine.com/latest/development/legacy/helpers/url-helper.html) is documented as a utility library to assist in the manipulation of URLs.

The [base_url()](https://docs.expressionengine.com/latest/development/legacy/helpers/url-helper.html#base_urluri---protocol--null) method is documented as having a feature to prefix the base_url of the EE site to a supplied rel

[2022-10-23 08:00] tboelskifte commented on #1790
Also, if we could add instructions to the Title field, we could avoid this:

https://www.dropbox.com/s/coa6exw9wieoswq/ee-title-field-misalignment.jpg

This of course only happens when changing the layout for a channel, to have the Title and URL Title on the same line. But for us with medium-strength OCD, it's an abomination ;-)

[2022-10-23 10:18] #1903 closed, assigned to Yulyaswan

[2022-10-23 12:42] intoeetive commented on #2435
@agun I was not able to replicate this so far. Would you mind sharing your template code here?

[2022-10-24 02:36] agun commented on #2435
No problem @intoeetive ... this is in a template called /filter/services.html :

[code]

This is for a health related website, so doing a keyword search such as:
https://www.mydomain.com/filter/services/?keywords=brain

...will result in the error. Just using categories it works fine:

https://www.mydomain.com/filter/services/?category=27|28

If I remove one of the "results" tags, then it works fi

[2022-10-24 07:48] #516 closed

[2022-10-24 07:48] #258 closed

[2022-10-24 08:36] #2410 closed, assigned to nobody

[2022-10-24 08:48] #2430 closed, assigned to nobody

[2022-10-24 08:57] #2431 closed, assigned to nobody

[2022-10-24 09:23] intoeetive commented on #2452
It looks like it has been this way since at least EE3.

I believe we need to have the docs updated here.

Thanks for pointing this out!

[2022-10-24 09:45] intoeetive commented on #2446
@jcogs-design so far I wasn't able to replicate this using text field with default settings and a simple template:
[code]
I guess something else is needed to replicate?

[2022-10-24 09:46] jcogs-design commented on #2446
I'll see if I can work out what else is going on and report back. Site is running a bunch of add-ons (esp. Publisher) and so it may be that there is some weird cross-talk effect going on.

[2022-10-24 12:21] #2361 closed, assigned to nobody

[2022-10-24 12:51] #656 closed, assigned to nobody

[2022-10-24 13:06] captainFishcake opened #2457 "Developer log recurs after deletion"
Developer log message recurs after deletion:

Every-time I delete it, it comes back after 20 minutes or so.

Running EE 6.3.5

[2022-10-24 13:14] intoeetive commented on #2457
Once you delete message from developer log, it will appear there again when the corresponding code it triggered (in your case, the legacy member template is accessed).

This is expected behavior

[2022-10-24 13:14] #2457 closed, assigned to nobody

[2022-10-24 13:34] #2438 closed, assigned to intoeetive, matthewjohns0n

[2022-10-24 17:45] #2435 closed, assigned to intoeetive

[2022-10-24 17:47] #653 closed, assigned to nobody

[2022-10-24 18:07] #2411 closed, assigned to nobody

[2022-10-24 18:07] #2412 closed, assigned to nobody

[2022-10-25 14:52] #2437 closed, assigned to Yulyaswan

[2022-10-26 10:44] #1249 closed, assigned to nobody

[2022-10-27 18:08] #2452 closed, assigned to nobody

[2022-10-27 20:15] litzinger commented on #1882
~~Was this going to get back-ported to v6 too?~~

Disregard, I just downloaded the 6.4 DP and see that the code is in there.

[2022-10-28 06:12] #1882 closed, assigned to nobody

[2022-10-28 12:39] maneeshblr opened #2481 "License checking code stalls database server"
In the PHP file Access.php (in system/ee/ExpressionEngine/Addons/pro/Service/Access/ folder), there is a function called "requiresValidLicense". It is running this query:

[code]
This query may be okay for databases where the exp_members table contains only few thousand rows. For tables that contain larger number, say 250k rows, it becomes a major bottleneck for the database server.

On a moderate

[2022-10-29 09:18] shbchk opened #2482 ""Pages" tab cannot be hidden from a publish layout"
EE 7.1.6

I can't hide the "Pages" tab from a publish layout - it just won't respond to clicking on the eye icon.

[2022-10-29 09:29] shbchk opened #2483 "EE 6.3.5 is trying to get `members.dismissed_banner`, which doesn't exist. But there is `members.dismissed_pro_banner`"
This is weird one, I guess.

After importing mysql dump from production server to local dev server, EE suddenly throw this error at me:

[code]

I rolled back previous dump, but nothing changed - the exception was still there, both on front and in CP.

For some unknown reasons EE 6.3.5 is trying to get `members.dismissed_banner`, which doesn't exist. But there is the `dismissed_pro_banner` column

[2022-10-29 17:10] eric-lamb62 opened #2484 "FTP Library and PHP 8.1"
In PHP 8.1, the `ftp_connect` function was changed to return an instance of  `FTP\Connection` instead of the previous "resource" other versions returned. Within the FTP library though, it only checks for a resource. You can read more on that here:
https://www.php.net/manual/en/function.ftp-connect

And to verify the issue, here (in 6.x):
https://github.com/ExpressionEngine/ExpressionEngine/blob/e0

[2022-10-31 07:15] intoeetive commented on #2483
`dismissed_banner` and `dismissed_pro_banner` are different fields serving different purposes.

It looks like you did not run the updater script to 6.3.5 properly, which adds the `dismissed_banner` field.

[2022-10-31 07:15] #2483 closed, assigned to nobody

[2022-11-01 01:02] jcogs-design opened #2490 "Add wait cursor when File / Image Sync is running"
**Is your feature request related to a problem? Please describe.**
When you Directory Sync on a File location the process is handled via some kind of async process. The only way of telling that this is running is the moving line in the progress indicator - but this starts small and may take a few seconds to appear. When the sync process is triggered the mouse pointer remains in its default state,

[2022-11-01 01:02] tjdraper commented on #2412
@bryannielsen @Yulyaswan As of [ExpressionEngine 7.2.0 DP 14](https://github.com/ExpressionEngine/ExpressionEngine/releases/tag/7.2.0-dp.14), which, as far as I can tell, has the commits referenced in the MR that fix this, I'm still seeing this same behavior. I have to have a native file field on the entry page in order for the file picker to behave correctly.

If these commits aren't in DP 14 ple

[2022-11-01 01:04] tjdraper commented on #2411
@bryannielsen @Yulyaswan As of [ExpressionEngine 7.2.0 DP 14](https://github.com/ExpressionEngine/ExpressionEngine/releases/tag/7.2.0-dp.14), which, as far as I can tell, has the commits referenced in the MR that fix this, I'm still seeing this same behavior. I have to have a native file field on the entry page in order for the file picker to behave correctly.

If these commits aren't in DP 14 ple

[2022-11-01 06:38] #2484 closed, assigned to nobody

[2022-11-01 08:38] ssssct opened #2491 "Add `{logged_in_primary_role_short_name}` to Global Member Single Variables"
**Is your feature request related to a problem? Please describe.**
We need  `{logged_in_primary_role_short_name}` to be added in Global Member Single Variables.
So we can use it in the templates to build classnames, image names, paths, whatever without using conditionals.

[2022-11-02 13:00] bryannielsen commented on #2412
@tjdraper sorry for the misunderstanding, we were testing using a textarea with file picker and not the filepicker code snippet you had in #2390

I tested the latest fix from Yuri with your code and confirmed the bug as well as the fix.  This fix should be in the next DP

[2022-11-03 09:30] jamesseavers opened #2497 "Relationship looping pair tags not working with category parameter"
When working with parents or siblings in relationships tag pairs, using the category parameter returns no results (effectively breaks it).

The bug was introduced on commit 6e95a79517e20330b892df557dcd48d199d06cf4 with the following code on Line 71 of system/ee/legacy/libraries/channel_entries_parser/components/Relationship.php:

[code]

This code should actually be:

[code]

As the code is checki

[2022-11-03 15:08] robinsowell opened #2498 "Pro variables file field portability"
Per report:
If you save a link to an image using a stand-alone Low Variable the value chosen is written to a file in the _variables template directory and the content comprises the full URL to the image.

If you put an image field into an LV grid and pick / save the same image, LV saves the filedir definition of the image path to the db.

What this means is when you move the site from a staging se

[2022-11-04 11:27] #2389 closed, assigned to nobody

[2022-11-04 20:18] bryannielsen commented on #2481
@maneeshblr thanks for bringing this to our attention.  Would it be possible for you to send us a partial export/dump of your database that only includes the following tables `exp_members, exp_members_roles, exp_members_role_groups, exp_roles_role_groups`?  We understand the sensitive nature of member data so it would be fine to give us the minimal amount of data from the `exp_members` table.  You

[2022-11-06 16:45] jcogs-design opened #2499 "Deleting individual items from developer log doesn't delete the item"
Have an EE2 site updated to EE6.
After update site reported 7 items in developer log.
3 items relate to things happening before the update so deleted those.
After deleting get a positive confirmation that items deleted and the clicking away from list and back again shows the reduced number correctly.
But after some (I am not sure how long) time the three deleted items return... :(

EE6.3.5 / php 8

[2022-11-07 08:49] liamcrean opened #2500 "Grid reordering with images is v. buggy"
When adding images to file grid, or grid fields and then trying to reorder the rows with drag behaviour the UI feedback is jittery. It's a bit of lottery whether or not the row dragged up will appear above the field (usually not, sometimes moving a few rows down even). It's not that great without images, but with, it feels like a safecracking level of sensitivity and the UI indicators for row plac

[2022-11-07 14:27] TomJaeger commented on #2500
Hi Liam,

Thanks for posting this.  What version of ExpressionEngine is this on?

[2022-11-07 14:38] TomJaeger commented on #2499
Hi @jcogs-design

Thanks for posting this one.. Any chance you can keep an eye on the Date time on the log notifications to confirm they are duplicates?

[2022-11-07 14:39] chrisdaviesweb commented on #1879
Still seeing this in PHP 8+ and EE 7.1.6

[2022-11-07 14:44] liamcrean commented on #2500
Hi Tom

Latest build: 7.1.6

Ta

[2022-11-08 03:18] tyssen opened #2502 "Error relating to Assets which using entry preview"
When trying to preview an entry that has an Assets fieldtype, I get a couple of warnings:

followed by:

    #0 user/addons/assets/ft.assets.php(1486): array_filter()
    #1 user/addons/matrix/ft.matrix.php(3091): Assets_ft->pre_process()
    #2 user/addons/matrix/ext.matrix.php(170): Matrix_ft->replace_tag()
    #3 [internal function]: Matrix_ext->_parse_tag_pair()
    #4 user/addons/matrix/ext.m

[2022-11-09 14:00] TomJaeger commented on #2502
@tyssen  Thanks for getting in touch about this. Unfortunately version 4.0.3 doesn't' support EE 7.  I'd recommend upgrading to the most recent version.  I believe from there you should be in good shape!

(It also looks there's been additional live preview items addressed in Assets since 4.0.3)

https://eeharbor.com/assets/changelog

[2022-11-10 00:52] tyssen commented on #2502
@TomJaeger The reason Assets hasn't been updated is because it doesn't show as being available to update on the Add-ons updates tab. I've been operating under the assumption that all EE Harbor add-ons will show as updates being available in the control panel. Is that not the case?

[2022-11-11 18:27] bnetz opened #2505 "Deprecation notice in ee/ExpressionEngine/Addons/stats/mod.stats.php, line 167"
After updating to EE7 + PHP8 we get the following notice:
[code]

**Environment Details:**
 - EE 7.2
 - PHP 8.1.12

[2022-11-14 06:15] intoeetive commented on #2502
@tyssen the "updates" tab shows the available updates based on the files present. I.e. it will show you if you have newer add-on files, but did not run update script for it. It does no check anything remotely (yet!)

[2022-11-15 12:37] Yulyaswan commented on #2490
Hi @jcogs-design !
What version of ExpressionEngine is this on?

[2022-11-15 14:00] jcogs-design commented on #2490
EE 6.3.5

[2022-11-15 14:50] ops-andy opened #2518 "RTE - Images not being deleted"
**Description of the problem**
Images in RTE are not deleted unless you interact with the RTE field before saving.

**How To Reproduce**
Steps to reproduce the behavior:
1. Create an RTE field using Redactor and a channel to use the field
2. Add an image to the field and save your entry.
3. Navigate back to the entry editor (If not still there), click on the image you just inserted and select "Del

[2022-11-15 22:26] agun opened #2520 "Pro Variables to allow Relationship fields"
**Is your feature request related to a problem? Please describe.**
I often need to create a site wide footer link group (very common on sites these days). Previously in Low Variables I would great a Grid field, and then use a Playa relationship field within the grid. Then an author can create one or more 'lists' of entries to which I can add into the footer (ie About us, with a list of About us en

[2022-11-15 22:33] agun commented on #2432
I'm sure that there is a better way to do this, but it would be great to get some caching on the _get_page_titles() function in the sql.structure.php file. An example of the basic caching I've added is below. Currently for each upgrade that I do to the site, I'm having to re-add this into the core of EE (otherwise each page slows down by 2-3 seconds!).

    private function _get_page_titles($sql_f

[2022-11-15 23:08] robinsowell commented on #1851
Definitely seem to be a couple of problems.

First, not sure why we need ALL of the custom fields.  I was debugging one, search had a channel parameter on it, only searching 'blog', which had 1 group with 3 fields in it.  So it really only needs to include those 3.  But it was pulling more than 50 and then getting truncated.  Not sure there's a reason for that, but worth a look.

The reason it's t

[2022-11-15 23:27] PaulBaileyAtChan commented on #1851
@robinsowell Thanks for marking it as accepted. :-) I have no clue about the MySQL restrictions, but batching together results sounds like the right approach. Looking at the code, it's almost as if that was attempted as a solution at some point, but only partially implemented.

I'd be wary of seeing my patch as a reason to defer looking at this seriously. It does feel like a significant bug to me

[2022-11-16 11:45] jcogs-design opened #2521 "Add some checking for blank base_path setting ..."
**Is your feature request related to a problem? Please describe.**
EE6.4.0 - but apparently true also for EE7...

The Control Panel setting for Base Path does not apply any validation check if the entry is blank (for some reason it is not a required parameter).

Related to this - if the base_path value is blank and entry for "Themes Path" is set to `{base_path}themes/` EE does not attempt to valid

[2022-11-16 14:34] pyrobob83 commented on #1472
Adding to this, can we please add a visual indication if already-related entries have since been closed like Playa used to do?  The simple green & red dots are very useful.

[2022-11-16 14:46] intoeetive commented on #1472
@pyrobob83 can you add a screenshot of what you're thinking about? (also separate new issue might work better for this  feature request)

[2022-11-16 15:29] intoeetive commented on #2521
@bryannielsen you probably have the most knowledge here.

What do you think about solutions proposed? (I don't really like the idea of stopping people from updating, but maybe we could do this as part of post-update checks?)
I believe also empty `{base_path}` is sometimes causing issues with 1-click updates

[2022-11-16 19:08] pyrobob83 opened #2522 "Add visual status indicator to Relationship field, similar to how Playa used to"
**Is your feature request related to a problem? Please describe.**
Once entries are related in a Relationship field, there's no way to quickly identify the status of those entries:
<img width="178" alt="image" src="https://user-images.githubusercontent.com/8193519/202270179-ff1c0e51-0c74-403e-ac24-b731bbb0298d.png">

**Describe the solution you'd like**
A simple colored dot somewhere in the UI to

[2022-11-16 19:08] pyrobob83 commented on #1472
Done! https://github.com/ExpressionEngine/ExpressionEngine/issues/2522. But for what it's worth, I agree that the UX suggestions in this issue are worthwhile too, particularly links to edit the entries directly from the Publish screen where they're being related from.

[2022-11-16 20:15] jelle-burodeng opened #2523 "`exp:channel:category_archive` tag renders incorrectly when there are several `{categories}` pairs inside"
This code returns unexpected results in EE 7.2.0
[code]
The above code renders as
[code]
It should render as
[code]
This only happens if you have 2 or more instances of the categories tag pair in the exp:channel:category_archive loop
If there is only 1 categories pair everything works fine

[2022-11-16 22:24] robinsowell opened #2525 "7.2 channel entry tag wrong results with 'not' in channel param."
In both 7.2 and 6.4 there appears to be a bug in the channel entry tag when the channel parameter has the 'not' specifier in it.

ex: I have an entry in the 'about' channel with the url title 'about'.  This tag?  Does not pull it back:

```{exp:channel:entries channel="not blog" url_title="about|about-overview" dynamic="no"}```

This tag does

```{exp:channel:entries channel="about" url_title="abo

[2022-11-17 12:00] jamesseavers opened #2526 "When viewing entries in the admin the page limit and total results are incorrect when using categories as a display column"
**Description of the problem**

When viewing entries in the admin the page limit and total results are incorrect when using categories as a display column.

1. View a set of entries for a channel with categories associated.
2. Select Categories to show as a column.

https://user-images.githubusercontent.com/14070252/202440432-7cc2ab5a-a386-4d8d-8e5f-069d1120c282.mov

**Environment Details:**
Versi

[2022-11-17 14:29] intoeetive commented on #2498
On my testing with Pro Variables on EE7, I got different results.

When using Grid with File column, the data are only saved to database (not file) and the file format is correct in the form of `{file:1:url}`

Using the built-in File dropdown variable type is saving the full path indeed.

I think we need to consider replacing all built-in PV variable types with EE fieldtypes - this will make code

[2022-11-17 14:33] intoeetive commented on #1851
I investigated this and it looks like switching to approach used by channel:entries tag would require a lot of code changes. So I can't say where that lays in priorities for us, considering that we have now much more powerful Pro Search module bundled with ExpressionEngine

[2022-11-17 14:34] intoeetive commented on #2520
Related to comment: https://github.com/ExpressionEngine/ExpressionEngine/issues/2498#issuecomment-1318723006 - @TomJaeger FYI

[2022-11-17 14:55] intoeetive commented on #2526
Thank you for reporting. We are aware of this problem, as it has been been reported in https://github.com/ExpressionEngine/ExpressionEngine/issues/987 - so closing this as duplicate, but will try to review the problem soon.

[2022-11-17 14:55] #2526 closed, assigned to nobody

[2022-11-17 15:27] intoeetive commented on #2523
Tested and can confirm the issue. It also seem that things have been this way for a while in EE, if not always. `category_archive` tag is currently designed to have only single `categories` pair in it.

[2022-11-18 09:03] intoeetive commented on #2045
@Yulyaswan can you check if this is still relevant?

[2022-11-18 10:14] intoeetive commented on #2173
With the latest changes in Grid (including ability to stack the cells vertically) this is no longer relevant. Closing out.

[2022-11-18 10:14] #2173 closed, assigned to nobody

[2022-11-18 10:15] intoeetive commented on #2096
This has been merged and released.

[2022-11-18 10:15] #2096 closed, assigned to nobody

[2022-11-18 10:20] intoeetive commented on #2482
I wasn't able to replicate this in EE 7.2.0

Closing out, but if you still are facing this issue, please check for any javascript errors in browser console - feel free to reopen with more details

[2022-11-18 10:20] intoeetive commented on #2423
Closing out since we did not receive further information. Please reopen if you are able to provide more details.

[2022-11-18 10:20] #2423 closed, assigned to nobody

[2022-11-18 10:21] intoeetive commented on #2409
Fixed in referenced PR

[2022-11-18 10:21] #2409 closed, assigned to nobody

[2022-11-18 10:28] shbchk commented on #2482
Yes, the issue is still there in 7.2.0

![image](https://user-images.githubusercontent.com/12234507/202680783-31949fc4-169c-4a76-b6cc-fd12c39d882a.png)

[2022-11-18 10:35] shbchk commented on #2482
I can't reopen, btw :)

[2022-11-18 10:38] intoeetive commented on #2356
@ops-andy @TomJaeger we need to return to discussing this. We had reasons to always show preview button, but I think switching off "Allow Preview" in channel prefs should force it to be hidden

[2022-11-18 10:40] intoeetive commented on #2482
@Yulyaswan can you check?

[2022-11-18 10:42] #2348 closed, assigned to nobody

[2022-11-18 12:20] intoeetive commented on #2299
This should be fixed as of current EE v 7.2.0

[2022-11-18 12:20] #2299 closed, assigned to nobody

[2022-11-18 12:37] intoeetive opened #2532 "Wrong field fetched when exp:member:edit_profile used on same page with exp:channel:entries"
On my install, I had channel field ID 1 being Grid.

I also created member field ID 1, text.

If I place exp:member:edit_profile on same page with exp:channel:entries, I get this error

This is related to the fact that `custom_fields` property is set and contains channel fields when member fields are initiated

[2022-11-18 13:16] ic360-com opened #2533 "Field Notes"
Much like the with the Template Notes... sometimes it would be really useful to be able to add Notes to Fields in the Edit Field form... which are invisible from the Edit Entry form... and meant for use only by those with Field editing permissions.
For example:
"In the future, this Select form field could be expanded to include other product discount types, by changing the variable options/values

[2022-11-18 13:23] intoeetive commented on #2134
The options are automatically populated only if you use
[code]
tag. If you construct the form manually, you need to populate the options manually as well

[2022-11-18 13:23] #2134 closed, assigned to nobody

[2022-11-18 13:23] intoeetive commented on #2081
This is correct pre-existing behavior. The fields in Profile Edit form are addressed by their "technical" name (e.g. m_field_id_9), not their short name. The documentation is not 100% clear on this, we'll have it updated

[2022-11-18 13:23] #2081 closed, assigned to nobody

[2022-11-18 18:59] robinsowell commented on #2107
@intoeetive adding on to this- it should have created 2 more consent request records, one for Performance and one for Targeting consents.  If they aren't there, you get that null error in the cp profile when you go to view/edit your consents.

<img width="1159" alt="image" src="https://user-images.githubusercontent.com/1181219/202782084-eabb6456-1515-4cbf-a8b9-b42798742355.png">

[2022-11-19 02:43] pyrobob83 commented on #2500
Happening for me too in 7.2.0 - specifically a File Grid field with just the image and one other text field for the alt text.  It's pretty much unusable to reorder the rows in both Firefox and Chrome.

[2022-11-19 15:27] chunkitdesign opened #2538 "Please bring back the Filter Channel Input box when Entries is hovered at the sidebar."
**Is your feature request related to a problem? Please describe.**
In EE5, when the label of Edit is hovered, there is a Filter Channel Input box at top; and this is very useful when we have more than 70 channels. However, since upgrading to EE6, this feature is gone. Right now, all 70+ channels are shown when the Entries are hovered. It is very overwhelming to my clients. May you please bring bac

[2022-11-20 22:53] tyssen commented on #2502
I've now upgraded to EE 7.2.0 and Assets 4.1.2 and still getting similar errors except now the first on the page is:

Field with ID 560 exists but it's not used on the page that I'm trying to preview.

[2022-11-21 05:16] intoeetive commented on #2538
@chunkitdesign while not direct solution, just mentioning that editors can still go to "all entries" page and filter the channels there

[2022-11-21 05:16] intoeetive commented on #2502
@bakin1999 can you check this?

[2022-11-21 07:15] Yulyaswan commented on #2045
I can't reproduce anything like this.
most of the pro elements have inline styles or use specific classes

[2022-11-21 07:23] Yulyaswan commented on #2045
@meatpaste if you still have this problem could you please provide more specific info, maybe a screenshot?

[2022-11-21 12:55] intoeetive commented on #2311
@ic360-com I wasn't able to replicate this with a basic channel form.
Could be related to specific fields you are using or extensions that you have. Or specific configuration.
Is there a chance you could narrow down the problem?

[2022-11-21 13:33] ops-andy commented on #2482
@shbchk I've tried this many different ways and several browsers and still cannot replicate it.  Can you let us know what add-ons you have installed. Also, have you tried disabling extensions ( `$config['allow_extensions'] = 'n';` ) and seeing if this still happens.  Thanks!

[2022-11-21 14:51] bytebaby opened #2541 "PDF-Problem with Moblog 3.3.0"
A customer of mine uses the moblog, see down-syndrom.org/de/blog.  He had sent a PDF with it. Since then, when you click the "Check Now" button in the moblog interface, the PDF is thrown wildly into directories, see:

<img width="308" alt="image" src="https://user-images.githubusercontent.com/21154749/203084461-5e797203-35a5-424b-b76a-f5c821daf01b.png">

In addition, the following error message ap

[2022-11-21 14:59] bytebaby opened #2542 "Moblog 3.3.0: German charakters not encoded"
German characters like ÄÜöß are **sometimes** not encoded:

<img width="560" alt="image" src="https://user-images.githubusercontent.com/21154749/203085447-11cf4b72-7fad-49a8-bca8-8993f75c9e88.png">

I don't have any problems with Mac "Mail", but if the customer sends an email to the Moblog via the iPhone, then "umlauts" are not encoded.

PHP 7.4
EE 7.2

[2022-11-21 15:10] bytebaby commented on #2541
If I deactivate the moblog, then no new PDF instances are generated either. The email address used to send a moblog post seems to have been burned.

[2022-11-21 16:04] #2505 closed, assigned to intoeetive

[2022-11-21 16:18] shbchk commented on #2482
Hmm. Turned off extensions via config.php, tried to hide Pages tab again - no luck. After that I changed the order of tabs and saved:

![cf608c46-797e-44c3-8ff3-06bb6d211679](https://user-images.githubusercontent.com/12234507/203100090-a6028fdb-5d76-4f26-ad7b-65ac0afb4f30.png)

Now I can hide Pages tab, but seeing those warnings.

Here is the screencast: https://drive.google.com/file/d/1EJyHb7PgXo

[2022-11-21 16:19] shbchk commented on #2482
Addons installed:
![5aaa8d7c-06ea-45e7-bc01-fa474a957289](https://user-images.githubusercontent.com/12234507/203105360-c8b21827-844c-461b-aec6-3716f86f479d.png)

[2022-11-21 17:02] chunkitdesign commented on #2538
@intoeetive, thanks for your reply. The issue is that since we have more than 73 channels, hovering over "Entries" will create a long list which overwhelms the editors. In EE5, the listing box is limited to a certain height with a Filter input box which is very useful. Instead of scrolling through the long list to find the channel entry one wants to add or edit, I type "TH," and all the theatre-re

[2022-11-21 17:02] #2497 closed, assigned to intoeetive

[2022-11-21 17:05] #2525 closed, assigned to nobody

[2022-11-21 17:19] #2532 closed, assigned to intoeetive

[2022-11-21 17:34] shbchk commented on #2482
I guess, I can fix this by creating new layouts for every channel. But what was it and how to avoid this in a future?

[2022-11-21 18:03] #2491 closed, assigned to nobody

[2022-11-21 18:35] #2439 closed, assigned to nobody

[2022-11-22 15:15] ops-andy opened #2549 "New File Manager may not correctly render files correctly in MSM site when using `.env.php`"
**Description of the problem**
When using `.env.php` to configure paths, files may not render correctly on the front-end when using a file field.

**How To Reproduce**
Set up an MSM site
Refactor `config.php` to use `.env.php`
Add a file field with data
Try to render field on the front-end.

[2022-11-22 15:31] intoeetive commented on #2432
I have investigated this and (while caching might actually solve this particular issue) found that this might be actually problem in EE core. Fetching ChannelEntry model would perform joins on all data tables for custom fields, even if you specify that you only need certain fields.

In some cases, like this one, this creates huge joins that take a while to execute.

We need to look into optimizing

[2022-11-22 16:27] matthewjohns0n opened #2550 "Pro search does not support IPv6 IP addresses"
**Description of the problem**

When using IPv6, pro search does not allow you to search because the database column is too short.

**Screenshots / Videos / Template Code**

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/11818941/203367866-8094df10-5d54-4e6a-b4f3-8a577b9dce12.png">

**Possible Solution**

Make the length of the ip_address column longer.

[2022-11-22 21:14] #2107 closed, assigned to nobody

[2022-11-22 22:22] agun commented on #2432
Thanks @intoeetive ... very much agree with you. For the moment, I'll need to leave the caching on this function (as it really is causing a very slow load, and it will only get worse as the site grows), but hopefully we can get this optimised at some point.

Thanks for looking into it.

[2022-11-22 23:51] mcfarlandonline opened #2553 "Channel parameter -- buggy behavior in v 6.4 -- home channel"
EE version 6.4 - MSM site
PHP 7.4

I'm not sure if this is related to issue [#2525](https://github.com/ExpressionEngine/ExpressionEngine/issues/2525) or not, but we're experiencing odd behavior in one of our MSM sites.

Oddly enough, the issue seems to be occurring only in the Home channel; and it was only happening in 1 of the 2 sites of the MSM install.

I had to remove the channel parameter fro

[2022-11-23 08:58] #2045 closed, assigned to Yulyaswan

[2022-11-23 10:12] intoeetive commented on #2432
@agun  can you try using the code from the pull request referenced here? I believe it should significantly speed up your query, but I don't have reliable way to test.

[2022-11-23 14:33] intoeetive commented on #2549
We figured out the user had incorrect setup in config file. Will need to have example for MSM sites using `.env.php` added to the docs

[2022-11-23 15:13] TomJaeger commented on #1879
Hi @chrisdaviesweb we're taking a peek at this one currently.. any chance you can check and see if you have https://www.php.net/manual/en/book.intl.php library installed?

If its easier, you could send us your PHP info page output on slack.

[2022-11-23 15:39] chrisdaviesweb commented on #1879
Hi @TomJaeger - I've just checked. I see the following for 'Intl'.
![intl](https://user-images.githubusercontent.com/51822011/203587510-90475b0a-49c0-4120-938d-cc2606e1d7d1.png)

[2022-11-23 19:39] #2550 closed, assigned to matthewjohns0n

[2022-11-23 22:25] agun commented on #2432
Hey @intoeetive ... I've now done some tests using the current core (no fix), my caching hack, and your new code (all tested on 7.2).

In a nutshell ... your fix works brilliantly! It's roughly as fast as my caching hack (maybe milliseconds slower, but not enough to worry about).

The current core (no fix) takes at least 2.5seconds LONGER to load than both the cache hack and your fix.

Thank you!

[2022-11-24 06:44] shbchk opened #2557 "Layout lists are not working with `index='{index}'` parameter inside other lists"
EE 7.2.0

[Docs reference](https://docs.expressionengine.com/latest/templates/layouts.html#using-layout-lists-together)

How to reproduce:

Create templates `test/index` and `test/layout`.

`test/index` contents:

[code]

`test/layout` contents:

[code]

Output:

[code]

[2022-11-24 08:29] shbchk commented on #1663
Any news on modifiers chaining?

[2022-11-24 12:57] intoeetive commented on #1663
@shbchk Nope, not yet (the issue for that is https://github.com/ExpressionEngine/ExpressionEngine/issues/136)

[2022-11-24 13:48] #2432 closed, assigned to intoeetive, matthewjohns0n

[2022-11-24 14:32] intoeetive commented on #2553
@mcfarlandonline does this only happen when displaying the entries from a site other than you're currently viewing? Or each time whenever `site` parameter is used?

[2022-11-24 14:47] intoeetive commented on #2557
@shbchk just tested your templates, everything worked as expected (titles shown).
Would anything else be interfering here for you?

[2022-11-24 16:28] shbchk commented on #2557
Hmm 🤔
But what can interfere here? There are no other tags in those templates. And this issue remains in other templates with different tags. Where should I look, what do I need to poke?

[2022-11-24 16:28] roberthallatt opened #2559 "Rich Text Editor field does not load base styles for HTML tags on initial page load in EE v 7.2.1"
When attempting to use the rich text editor field type (Redactor full), the HTML content remains un-styled after the page is loaded. The only way to get styles to show up correctly is by toggling between source code and design view.

The bug seems to affect new and existing fields and defining a custom stylesheet makes no difference.

https://user-images.githubusercontent.com/7095139/203831436-285

[2022-11-25 08:08] intoeetive commented on #2557
Try disabling extensions first.

I would also think some fieldtypes could interfere, but if this the only code you have (no custom fields called) then probably not

[2022-11-25 08:16] intoeetive commented on #2559
This appears to only be issue if you have Wygwam and RTE (CKEditor 4 and CKEditor 5) on same page. Which is something that is outside of things we can fix

[2022-11-25 08:16] #2559 closed, assigned to nobody

[2022-11-25 08:42] shbchk commented on #2557
Extensions disabled via config file with `$config['allow_extensions'] = 'n';`

I even added `disable="categories|category_fields|custom_fields|member_data|pagination"` to the entries tag. Still nothing.

[video-convert-1669365274026.webm](https://user-images.githubusercontent.com/12234507/203936929-8fb6ccda-db23-4772-a232-120aaa8e9184.webm)

Sometimes I feel like I should start over by reinstallin

[2022-11-25 09:10] intoeetive commented on #2557
So the debugger is showing the variables correctly, but they don't get through in templates.
Which makes me wonder if `{index}` variable has a conflict. Maybe you have partial or global variable called `{index}`?

[2022-11-25 09:22] shbchk commented on #2557
It surprised me, but, actually, I have! I mean, there are blank `index.html` files in `_partials` and `_variables` folders. Was :)

I think I created them a long time ago, when my system folder was under webroot (for another project) and it migrated unnoticed into the new one.

Thanks!

[2022-11-25 09:34] intoeetive commented on #2557
I wonder if those could have been created automatically at some point? In such case this might be a bug.

We'll need to test this more internally.

Thanks for reporting!

[2022-11-25 09:37] shbchk commented on #2557
No need, those files were definitely created manually — they were not truly blank, there was a redirect to 404 inside.

[2022-11-25 09:46] #2557 closed, assigned to nobody

[2022-11-25 10:40] intoeetive commented on #1514
Thinking through it, we'd need to perform the check during the validation request. Then have the javascript perform checks whether we should display alert when save is triggered. And then if necessary display alert similar to this https://github.com/ExpressionEngine/ExpressionEngine/pull/2378

[2022-11-25 10:44] intoeetive commented on #1354
Just to give an update on this, through the time we've seen multiple issue when the code in `addon.setup.php` files is throwing errors when upgrade is run. And unfortunately, there's nothing we can do here, until we disallow PHP in `addon.setup` files (which is something that we consider)

This is because the updater script is not full-blown EE, but only offers subset of features.

At this moment.

[2022-11-25 10:44] #1354 closed, assigned to nobody

[2022-11-25 10:45] intoeetive commented on #1539
Closing as new file manager has been introduced in EE7 and things reported here are not relevant anymore

[2022-11-25 10:45] #1539 closed, assigned to ajohnson

[2022-11-25 12:27] shbchk opened #2561 "Multi-level relationship tags cause timeout when used in conditional without quotes"
EE 7.2.1

[Docs link](https://docs.expressionengine.com/latest/templates/conditionals.html#embedding-tags)
![6e7d9d9e-142a-4a22-9486-b790475629f0](https://user-images.githubusercontent.com/12234507/203981046-6c0dc944-0b5c-4c89-b270-5219d4a7ed13.png)

But, if I do not use quotes and braces in this example, EE breaks with fatal error.

**This line works:**
`{if "{parents:program_awarded_films_grid:a

[2022-11-25 12:55] #1762 closed, assigned to nobody

[2022-11-25 12:56] intoeetive commented on #1690
@ops-andy this seems to be still an issue with the add-ons Store

[2022-11-25 12:57] intoeetive commented on #1682
Just noting that this still hasn't been addressed as of EE 7.2

[2022-11-25 13:09] #1660 closed, assigned to nobody

[2022-11-25 13:09] #2101 closed, assigned to nobody

[2022-11-25 13:28] intoeetive commented on #1815
Assuming this refers to search on "Field" page in CP, searching by field short name works as of EE 7.2

[2022-11-25 13:28] #1815 closed, assigned to nobody

[2022-11-25 13:29] #1813 closed, assigned to nobody

[2022-11-25 13:29] intoeetive commented on #1741
Closing as we did not receive any follow-up on this issue

[2022-11-25 13:29] #1741 closed, assigned to nobody

[2022-11-25 13:34] intoeetive commented on #1532
This does not seem to be an issue when tested using latest EE. Closing

[2022-11-25 13:34] #1532 closed, assigned to nobody

[2022-11-25 13:50] intoeetive commented on #1219
The search-as-you-type feature in Entry Manager has been improved since this has been reported. In some edge cases (like if you type exactly 1 character in a second) there might be some issues, but generally we consider this fixed

[2022-11-25 13:50] #1219 closed, assigned to nobody

[2022-11-25 13:50] intoeetive commented on #1286
The search-as-you-type feature in Entry Manager has been improved since this has been reported. In some edge cases (like if you type exactly 1 character in a second) there might be some issues, but generally we consider this fixed

[2022-11-25 13:50] #1286 closed, assigned to nobody

[2022-11-25 14:13] intoeetive commented on #1215
I have looked at this again and I believe the error message is correct for the end user. It might misguide if you're add-on developer, but for the general user if settings should exist but you can't set those - this means the add-on is not functional.

It might be worth to have some "sanity check" script for add-on developers, but that would be a whole different thing

[2022-11-25 14:13] #1215 closed, assigned to nobody

[2022-11-25 14:31] intoeetive commented on #1209
In latest EE 6 and 7 the Grid is responsive, so will now also work good with live preview

[2022-11-25 14:31] #1209 closed, assigned to nobody

[2022-11-25 14:31] intoeetive commented on #1192
Closing this as we weren't able to replicate in any way

[2022-11-25 14:31] #1192 closed, assigned to nobody

[2022-11-25 14:32] intoeetive commented on #1167
This is fixed in recent EE versions

[2022-11-25 14:32] #1167 closed, assigned to nobody

[2022-11-25 15:05] intoeetive commented on #1146
In EE 7 (and EE 6 with Pro) we have reviewed the list of cookies that is being set, reducing the list of those that are needed. We also added the ability to manage the cookie lifetime in Control Panel.

The changes make this feature request mostly irrelevant. Closing out, if you have specific request related to cookie management in EE 7, please submit as new GitHub issue

[2022-11-25 15:05] #1146 closed, assigned to nobody

[2022-11-26 19:44] shbchk opened #2564 "File manager performance"
EE 7.2.1
Over 10 000 images in the system, stored locally, most of them in one directory.
Compatibility Mode is off.

It takes almost half a minute to load the file manager (in modals too):

![649258b2-a070-41da-a1be-c67a50b6ac18](https://user-images.githubusercontent.com/12234507/204106352-cf9a0a7f-30a6-4013-b84c-d6f43b26b0d1.png)

[2022-11-27 14:14] bnetz commented on #2505
Problem still persists after upgrading to 7.2.1

[2022-11-28 13:37] intoeetive commented on #1145
In EE 7.1 and 6.4 we rolled in a lot of optimization changes, which includes model query caching and reducing duplicate queries.

It is also possible to set Redis or Memcached as caching in EE preferences.

I believe that with these changes this request is not relevant and can be closed

[2022-11-28 13:37] #1145 closed, assigned to nobody

[2022-11-28 13:38] intoeetive commented on #952
@blairliikala I don't think we can do that automatically, because this would essentially break URL Title validation for cases when it's not provided. I believe the add-ons that do import (or other kinds of entry creation) would need to implement URL title updating / creation within themselves as a configurable behavior

[2022-11-28 13:39] intoeetive commented on #921
We are going to add `codemirror_fontsize` system configuration override for this. I think setting it to value like `0.9rem` would make font size more in line with the rest of text in CP

[2022-11-28 13:42] intoeetive commented on #898
I will have to close this as it does not contain sufficient details to replicate. It also has been a while since it has been reported, and we have made significant updates to Relationship field processing since, so it is not relevant.

[2022-11-28 13:42] #898 closed, assigned to nobody

[2022-11-28 13:42] intoeetive commented on #896
Just want to add that I like this feature request, however in order to implement it we'll likely need to add some extra database tables and manipulations.

If we calculate the stats live on each page load, that might create too heavy load on large websites. If we store this information however (like we have `total_entries` for channel) we need to consider open/closed entries, entry dates, channels

[2022-11-28 13:42] intoeetive commented on #889
Closing as we did not get any further updates (and also Relationship field received updates since this has been reported)

[2022-11-28 13:42] #889 closed, assigned to nobody

[2022-11-28 13:42] intoeetive commented on #843
I have looked into this and making this possible would require too much effort and at the same break the easiness of setting up File Grid field. Getting the instructions in first column is possible if instead of File Grid you use Grid with File being first column

[2022-11-28 13:42] #843 closed, assigned to nobody

[2022-11-28 13:43] intoeetive commented on #810
While this would work well for shorter field, I see some potential UX issue if the field is multi-line or contains a lot of data. Then collapsing the field would not really save much space.

I do see this being useful though, but we need to make sure it's controlled with a separate setting.

We could use the data in the format how it's being displayed in Entry Manager columns here

[2022-11-28 13:44] intoeetive commented on #794
This could be related to missing record for `send_email` in `exp_actions` table.

Closing this issue as we did not get any reliable way to replicate this

[2022-11-28 13:44] #794 closed, assigned to nobody

[2022-11-28 13:45] intoeetive commented on #792
@Yulyaswan is this something you could work on? I think we'd need a pencil icon and open modal upon click, however I'm not sure if editing tab name before saving would not cause data loss...

[2022-11-28 13:46] intoeetive commented on #791
@Yulyaswan is this something you can work on? The reload only happens if you add a tab and delete it prior to saving the layout, so I think this is Javascript issue

[2022-11-28 13:46] intoeetive commented on #786
@Yulyaswan can you check whether this is still an issue in latest EE? (and if not, close it)

[2022-11-28 13:47] intoeetive commented on #759
This is quite weird issue, and also seems to be specific to the specific EE installation (which could include some broken database record?)

I will close this issue, but if you'll be able to provide more details on how we can reliably replicate this, please comment and I will reopen

[2022-11-28 13:47] #759 closed, assigned to nobody

[2022-11-28 13:47] intoeetive commented on #748
@Yulyaswan can you check whether we still have this issue, and if yes - provide some fix for it?

[2022-11-28 13:47] intoeetive commented on #706
Considering the time that has passed since EE6 with the Roles system has been released, we can close this issue

[2022-11-28 13:47] #706 closed, assigned to nobody

[2022-11-28 13:47] intoeetive commented on #677
This is possible as of now by using `primary_role` parameter

[2022-11-28 13:47] #677 closed, assigned to nobody

[2022-11-28 13:54] #673 closed, assigned to nobody

[2022-11-28 13:58] intoeetive commented on #645
While we can't reliably get entry URL using default setup (as preview URL could be different from actual URL for this entry) we can certainly get that info if Pages or Structure is installed

[2022-11-28 14:11] #913 closed, assigned to nobody

[2022-11-28 14:13] intoeetive commented on #1025
Just noting that if / when we'll implement this, it needs to be done together with https://github.com/ExpressionEngine/ExpressionEngine/issues/2350 / https://github.com/ExpressionEngine/ExpressionEngine/issues/619

[2022-11-28 14:55] intoeetive commented on #642
Will have to close it as we did not receive any further information

[2022-11-28 14:55] #642 closed

[2022-11-28 15:01] intoeetive commented on #620
Closing as it has been 2 years since the report and received no further information

[2022-11-28 15:01] #620 closed

[2022-11-28 15:13] intoeetive commented on #2350
Just found that we had this feature requested previously already in https://github.com/ExpressionEngine/ExpressionEngine/issues/619, so closing as duplicate

[2022-11-28 15:13] #2350 closed, assigned to nobody

[2022-11-28 15:13] intoeetive commented on #614
Both issues have been addressed in EE7 Fluid field UI

[2022-11-28 15:13] #614 closed

[2022-11-28 15:15] intoeetive commented on #592
[Conditional fields](https://docs.expressionengine.com/latest/control-panel/field-manager/conditional-fields.html) have been implemented

[2022-11-28 15:15] #592 closed

[2022-11-28 15:20] intoeetive commented on #570
@Yulyaswan can you check this and either fix or close this issue?

[2022-11-28 15:22] intoeetive commented on #555
As of EE 7.2, the toggle is always visible when sidebar is hovered

[2022-11-28 15:22] #555 closed

[2022-11-28 15:23] #539 closed

[2022-11-28 15:27] intoeetive commented on #453
It is now possible to display Entry IDs together with entry titles in Relationship field.

I believe this covers the needs here and makes this issue redundant

[2022-11-28 15:28] intoeetive commented on #433
Closing as we did not get any updates on this issue

[2022-11-28 15:28] #433 closed

[2022-11-28 15:31] #2549 closed, assigned to intoeetive

[2022-11-28 15:33] intoeetive commented on #429
This is not relevant for the supported versions of EE 6 and EE 7, so closing out

[2022-11-28 15:36] #388 closed

[2022-11-28 15:39] #361 closed

[2022-11-28 15:50] intoeetive commented on #247
I believe we can close this as Relatioships parser got updates in EE6 and 7 and we got no further reports on this issue

[2022-11-28 15:50] #247 closed

[2022-11-28 16:04] shbchk opened #2568 "EE adds unwanted symbols to {if no_result} output"
EE 7.2.1 adds this line to `{if no_results}none{/if}` output: `{!-- ra:00000000687845e100000000664c16a2 --}`

Resulting in `'none{!-- ra:00000000687845e100000000664c16a2 --} '`

I am saving this output as a layout variable and later I need to put it in a conditional `{if layout:variable != 'none'}`, but this conditional, obviously, doesn't work.

Can we get rid of this line?

**Template code:**
[c

[2022-11-28 16:08] shbchk commented on #2568
BTW, `{if no_results}` doesn't always work with grids.

[2022-11-28 17:08] robinsowell opened #2570 "Pro Variables MySQL error saving 'Select Entries' type variable with null"
Make a Pro Variable, type 'Select Entries' set display to type 'Drag n Drop'.  Save.

Now- go to the variables page for the group that variable is in.  Save the group without selecting an entry in that 'Select Entry' field and you get a mysql error.

<img width="1239" alt="image" src="https://user-images.githubusercontent.com/1181219/204339123-80fee91b-cc61-4dd1-a60b-3996ff16013d.png">

[2022-11-28 18:23] dougblackjr opened #2571 "EE7.2.2 Throwing Warning on exp:channel:categories With Empty Categories"
**Description of the problem**

Displayed warning after using `{exp:channel:categories}` tag with debug on:
![image](https://user-images.githubusercontent.com/6020323/204352257-c1241ec8-1de4-4a44-89b3-eff7a32cf148.png)

**How To Reproduce**
Steps to reproduce the behavior:
1. Create template with `{exp:channel:categories}` tag.
2. Run loop with an empty category.

For example,
[code]
**Error Messa

[2022-11-29 02:14] PDXMan1 commented on #2553
I work with @mcfarlandonline (who is on vacation this week). The use of, or absence of, the site="" parameter doesn't change the outcome/bug. We did find that we could use the channel="" parameter and leave it empty, and the content still shows up. Both installs of EE where this is happening (now a second one with v6.4.1) are site ID #1.

[2022-11-29 10:00] shbchk commented on #2564
Well, I guess it is time to give a try to the new Cloud Files adapter and move those thousands of files to Digital Ocean Spaces :)

[2022-11-29 20:26] bnetz commented on #2505
Solved with 7.2.2, thanks!

[2022-11-30 07:12] intoeetive commented on #2571
@dougblackjr can you clarify what you call "Run loop with an empty category"?

[2022-11-30 07:39] intoeetive commented on #2553
@PDXMan1 can you DM me (or email yuri@packettide.com) the actual templates you're using? And (if possible at all) the DB dump with sensitive info obfuscated.
No one here was able to replicate your issue using just the code provided, so we feel like the problem is either in template tags combination or the exact site setup that you have

[2022-11-30 08:47] intoeetive commented on #1615
Quick investigation shows there's no easy & reliable way we could make that work though different environments.

So one would need to use `return` parameter for such cases.

Will keep the issue open however for time-consuming but reliable implementation

[2022-11-30 08:58] intoeetive commented on #2125
I believe the reason we don't do this is that on the setups where `system` folder is above web root the directory with backups is not accessible over HTTP.

So to achieve this we'd first need to add some methods to serve the files from protected folders via ACT requests

[2022-11-30 09:01] jelle-burodeng commented on #2125
True. so something like Link Vault

[2022-11-30 09:03] intoeetive commented on #2099
@robinsowell has there been any update or we can close this issue?

[2022-11-30 09:06] intoeetive commented on #1887
The pull request has been merged and released: https://github.com/ExpressionEngine/ExpressionEngine/pull/1895

[2022-11-30 09:06] #1887 closed, assigned to intoeetive

[2022-11-30 09:14] dougblackjr commented on #2571
@intoeetive Sure! So, in the template I run this:

[code]

I have two categories in this category group that have no entries in them. This is when I get the notice thrown.

If I do this:

[code]

Then the warning disappears.

[2022-11-30 09:14] intoeetive commented on #481
I don't think we can afford disabling template editor for superadmins, as the template settings are only accessible through CP interface

[2022-11-30 09:14] #481 closed

[2022-11-30 09:28] intoeetive commented on #243
@robinsowell do you chance know the reasons why email length is forced to be not greater than username length?

[2022-11-30 10:20] intoeetive commented on #2571
I wasn't able to replicate :(

Is there anything in the embed that might be affecting the output?

[2022-11-30 10:23] intoeetive commented on #51
I'd like to get some ideas from people on how this could be implemented, if we decide to.

Like, would it be a per-channel setting? Or per-category-group setting? Or anything else?

[2022-11-30 10:27] dougblackjr commented on #2571
@intoeetive Nothing I can see. Here's a video walkthrough: https://www.loom.com/share/c6ae57b78d7149efbf9b1816309ea8d3

[2022-11-30 10:36] intoeetive commented on #833
We got this reported in https://github.com/ExpressionEngine/ExpressionEngine/issues/2559 as well.

I was able to confirm this is collision of CKeditor 4 and CKEditor 5 - you can't have those on same page.

Added this to Wygwam docs: https://github.com/packettide/wygwam/pull/50

[2022-11-30 10:36] #833 closed, assigned to nobody

[2022-11-30 12:06] Yulyaswan commented on #786
Yes, it's still here. Will work on it

[2022-11-30 12:52] Yulyaswan commented on #570
For me, it looks like on screenshot.
It would be nice to hear @ajohnson opinion on styling this part.
<img width="634" alt="Screenshot 2022-11-30 at 12 50 14" src="https://user-images.githubusercontent.com/23382425/204800848-4f18008e-f661-4a47-adc7-728b2d2c1193.png">

[2022-11-30 14:10] jamesseavers opened #2577 "Control Panel publish/edit entry pages have missing files"
When working with an entry in the Control Panel that has a Redactor field, there is a missing file 404 generated in console (it's more likely a wrong file location):

Failed to load resource: the server responded with a status of 404 (Not Found)
WEBROOT/redactor.min.js.map

In this and all other CP pages there is another 404:

Failed to load resource: the server responded with a status of 404 (Not

[2022-11-30 16:36] bakin1999 commented on #2349
Closes this:

https://github.com/ExpressionEngine/ExpressionEngine/commit/278941b5057a7f6f3bc24a6f7280df12ebfe05b3

[2022-11-30 16:36] #2349 closed, assigned to nobody

[2022-11-30 16:48] intoeetive commented on #2571
I think this might be related to the other `channel:entries` tag in this template. Can you send me the full template code, including the layout template and `project-block` partial?

[2022-11-30 16:51] intoeetive commented on #593
Appears we already have an older issue where this has been requested: https://github.com/ExpressionEngine/ExpressionEngine/issues/202

Closing as duplicate

[2022-11-30 16:51] intoeetive commented on #2415
I think we should not change the default behavior here, as it would break the existing installations.

Using `{if comments_expired}` however should completely cover what is being requested here.

I also must note that the default theme that ships with EE currently has this block inside comment form:
[code]
Probably including it into the documentation as example might be good idea - @ops-andy

[2022-11-30 16:51] intoeetive commented on #2302
We have updated the documentation to properly describe the behavior

[2022-11-30 16:51] #2302 closed, assigned to nobody

[2022-11-30 18:04] matthewjohns0n commented on #2505
Awesome, glad to hear it!

[2022-11-30 20:10] VarenSwaab opened #2583 "Request for member avatar global variable"
I would like to see a global variable for the logged in user avatar filename

[{logged_in_avatar_filename}]

[2022-11-30 20:36] PaulBaileyAtChan commented on #2415
I can confirm that using this empty tag:

`{if comments_expired}{/if}`

disables the built-in message for expired comments. It's not intuitive, and it's a bit of a hack, but it's simple and works, so I'm happy to see it as a solution here. Second the suggestion to document this more fully, though.

And that's enough to close this issue from my side of things. Thanks!

[2022-11-30 21:44] shbchk commented on #2564
Oh my god, how slow those are! I never tried S3 before and thought it might be faster, but it's really not.

When I tried to open the Sync Directory page for a directory of 10000 images that I've uploaded to Digital Ocean Spaces (_it was very long and painful_), I got this error:

`Fatal error: Maximum execution time of 300 seconds exceeded in C:\OpenServer\domains\vurchel.local\sstm\user\addons\c

[2022-11-30 22:54] robinsowell commented on #2553
Hrm- I think I see what's going on, it's getting the channel id wrong sometimes- I think when it's MSM and the same channel name exists on both/multiple sites.  Not ALWAYS but sometimes.  Probably an array index somewhere.

Testing on a site having the issue.

I'm on site 1 on the frontend, but if I look at queries in debug:

<img width="1763" alt="Screen Shot 2022-11-30 at 5 50 20 PM" src="https: